.vt{
	vertical-align:top;
}
.pr{
	position:relative;
}
.grey{
	color:#bfbfbf;
}
.tc{
	text-align:center;
}
.s-pa15{
	padding:15px;
}
.mod-lottery{
	font-size:14px;
}
.mod-lottery input,.mod-lottery textarea,.lottery-dropdownlist{	
	border:1px solid #d9d9d9;
	width:142px;
	line-height:24px;
	font-size:12px;
}
.mod-lottery input{	
	height:24px;
	padding-left: 5px;
	padding-right: 25px;
	width: 112px;	
}
#citypicker{
	cursor:pointer;
}
.mod-lottery textarea{
	width:132px;
	height:70px;
	line-height:20px;
	padding:2px 5px;
}
.mod-lottery label{
	display:inline-block;
	width:58px;
	text-align:right;
	margin-right:4px;
}
.lottery-search,.gradient-bg-green{
	width:100%;
	height:29px;
	line-height:29px;
	display:block;
	color:#fff;
	font-weight:600;
	text-align:center;
	background-color:#10b47d;
	background-image: -moz-linear-gradient(top , #10b47d, #3dc094 100.0%);
	background-image: -webkit-linear-gradient(top , #10b47d, #3dc094 100.0%);
	background-image: -o-linear-gradient(top , #10b47d, #3dc094 100.0%);
	background-image: -ms-linear-gradient(top , #10b47d, #3dc094 100.0%);
	background-image: linear-gradient(top , #10b47d, #3dc094 100.0%);	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.mod-lottery .lottery-search{
	color:#fff;
}
.lottery-search:hover{
	background-color:#0fa875;
	background-image: -moz-linear-gradient(top , #0fa875, #3cba90 100.0%);
	background-image: -webkit-linear-gradient(top , #0fa875, #3cba90 100.0%);
	background-image: -o-linear-gradient(top , #0fa875, #3cba90 100.0%);
	background-image: -ms-linear-gradient(top , #0fa875, #3cba90 100.0%);
	background-image: linear-gradient(top , #0fa875, #3cba90 100.0%);
	-webkit-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	-ms-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.lottery-search:active{
	background-color:#0fa875;
	background-image: -moz-linear-gradient(top , #3cba90, #0fa875 100.0%);
	background-image: -webkit-linear-gradient(top , #3cba90, #0fa875 100.0%);
	background-image: -o-linear-gradient(top , #3cba90, #0fa875 100.0%);
	background-image: -ms-linear-gradient(top , #3cba90, #0fa875 100.0%);
	background-image: linear-gradient(top , #3cba90, #0fa875 100.0%);
}
.mod-lottery .lottery-result a,.gradient-bg-gray{
	height:20px;
	line-height:20px;
	display:inline-block;
	color:#fff;	
	text-align:center;
	padding:0 10px;
	background-color:#b8b8b8;
	background-image: -moz-linear-gradient(top , #b8b8b8, #c9c9c9 100.0%);
	background-image: -webkit-linear-gradient(top , #b8b8b8, #c9c9c9 100.0%);
	background-image: -o-linear-gradient(top , #b8b8b8, #c9c9c9 100.0%);
	background-image: -ms-linear-gradient(top , #b8b8b8, #c9c9c9 100.0%);
	background-image: linear-gradient(top , #b8b8b8, #c9c9c9 100.0%);
	-moz-border-radius:2px 2px 0 0;
	-webkit-border-radius:2px 2px 0 0;
	border-radius:2px 2px 0 0;
}
.mod-lottery .lottery-result a:hover{
	background-color:#8b8b8b;
	background-image: -moz-linear-gradient(top , #8b8b8b, #ababab 100.0%);
	background-image: -webkit-linear-gradient(top , #8b8b8b, #ababab 100.0%);
	background-image: -o-linear-gradient(top , #8b8b8b, #ababab 100.0%);
	background-image: -ms-linear-gradient(top , #8b8b8b, #ababab 100.0%);
	background-image: linear-gradient(top , #8b8b8b, #ababab 100.0%);
	-webkit-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	-ms-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.mod-lottery .lottery-result a:active{
	background-color:#ababab;
	background-image: -moz-linear-gradient(top , #ababab, #8b8b8b 100.0%);
	background-image: -webkit-linear-gradient(top , #ababab, #8b8b8b 100.0%);
	background-image: -o-linear-gradient(top , #ababab, #8b8b8b 100.0%);
	background-image: -ms-linear-gradient(top , #ababab, #8b8b8b 100.0%);
	background-image: linear-gradient(top , #ababab, #8b8b8b 100.0%);
}

.mod-lottery .lottery-result-win a,.gradient-bg-orange{	
	background-color:#f56f2f;
	background-image: -moz-linear-gradient(top , #f56f2f, #f88249 100.0%);
	background-image: -webkit-linear-gradient(top , #f56f2f, #f88249 100.0%);
	background-image: -o-linear-gradient(top , #f56f2f, #f88249 100.0%);
	background-image: -ms-linear-gradient(top , #f56f2f, #f88249 100.0%);
	background-image: linear-gradient(top , #f56f2f, #f88249 100.0%);	
}
.mod-lottery .lottery-result-win a:hover{
	background-color:#f45e16;
	background-image: -moz-linear-gradient(top , #f45e16, #f77334 100.0%);
	background-image: -webkit-linear-gradient(top , #f45e16, #f77334 100.0%);
	background-image: -o-linear-gradient(top , #f45e16, #f77334 100.0%);
	background-image: -ms-linear-gradient(top , #f45e16, #f77334 100.0%);
	background-image: linear-gradient(top , #f45e16, #f77334 100.0%);	
}
.mod-lottery .lottery-result-win a:active{
	background-color:#f45e16;
	background-image: -moz-linear-gradient(top , #f77334, #f45e16 100.0%);
	background-image: -webkit-linear-gradient(top , #f77334, #f45e16 100.0%);
	background-image: -o-linear-gradient(top , #f77334, #f45e16 100.0%);
	background-image: -ms-linear-gradient(top , #f77334, #f45e16 100.0%);
	background-image: linear-gradient(top , #f77334, #f45e16 100.0%);
}

.lottery-trigger,.ui-datepicker-trigger{
	background-color:#f5f7f7;
	background-image: -moz-linear-gradient(top , #f5f7f7, #ffffff 100.0%);
	background-image: -webkit-linear-gradient(top , #f5f7f7, #ffffff 100.0%);
	background-image: -o-linear-gradient(top , #f5f7f7, #ffffff 100.0%);
	background-image: -ms-linear-gradient(top , #f5f7f7, #ffffff 100.0%);
	background-image: linear-gradient(top , #f5f7f7, #ffffff 100.0%);
	border:0;
	border-left:1px solid #ebebeb;	
	width:23px;
	height:24px;
	position:absolute;
	right: 1px;
	top: 1px;
	_top:3px;
	cursor:pointer;
}
.lottery-trigger i,.ui-datepicker-trigger i{
	background:url(./img/i-arrow-bottom-green.png?__sprite) no-repeat;
	display:block;
	width: 11px;
	height: 6px;
	position: relative;
	font-size:0;
}
.lottery-trigger i{
	top: 9px;
	left: 6px;
}
.ui-datepicker-trigger{
	_overflow:hidden;
}
.ui-datepicker-trigger i{
	top: 0;
	*top: 7px;
	left: 6px;
	*left: -1px;
}
.lottery-dropdownlist{	
	position: absolute;
	top: 26px;
	_top:28px;
	right: 0;
	background: #fff;
	border-top: 0;
	text-indent:5px;
	display:none;
	text-align:left;
	z-index:2;
}
.lottery-dropdownlist li{
	cursor:pointer;
}
.lottery-dropdownlist li:hover{
	background:#e8eaeb;
}
