/* yj 20130328 */

/**  【Line2~22】已不再用，可以去掉 **/
/*.heatsite{ height:275px; overflow: hidden;}*/
/*.heatsite span{ margin-left: -3px!important; margin-right: -7px !important;}*/
/*.heatsite-list{ float: left; height:280px; width: 128px; padding-right: 3px; letter-spacing:0; word-spacing:0; text-align:left; overflow: hidden; border-right: 1px solid #F3F3F3; margin-right: 5px;}*/

/*.heatsite-list li{ margin-top: 4px;}*/
/*.heatsite-list a {*/
    /*display: block;*/
    /*overflow: hidden;*/
    /*line-height: 31px;*/
    /*height: 31px;*/
    /*width: 100%;*/
    /*text-indent: 8px;*/
    /*margin-left: 4px !important;*/
    /*white-space:nowrap; width: 100px; overflow: hidden;*/

    /*padding-left: 28px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 3px 5px !important;*/
    /*background-image: url(http://th.hao123.com/resource/th/icon/dailynews-little.png);*/
/*}*/
/*.heatsite-list a:hover{ background-color: #e8eaeb;}*/



.toolbar-v{ background: #F5F7F7; height: 280px; overflow: hidden;}
.toolbar-v a{ _display: inline; zoom: 1;}

.toolbar-v .box-bot{
    padding: 0;
    line-height: 28px;
}
.toolbar-v .box-bot a{ display: block; padding: 5px 0; height: 23px; overflow: hidden;}
.toolbar-v .img{ position: relative; margin-bottom: 5px; padding-left: 0;}
.toolbar-v .img a{ height: auto; padding: 0;}
.toolbar-v .img a:hover{ background: none;}
.toolbar-v .img .i-toolbar{ position: absolute; left: 6px; top: -5px;}
.toolbar-v img{ margin-left: 8px; border: none;}
.toolbar-v .i-toolbar{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 3px 3px;
    margin-left: 0;
    *margin-top: 0;
    float: left;
}
.toolbar-v .toolbar_menu,
.toolbar-v .toolbar_menu a{ cursor: pointer; display:inline-block; padding-left: 3px;}
.toolbar-v .toolbar_menu a:hover{ text-decoration: underline; color: #00B075; background:none;}
.toolbar-v dd{ padding-left: 5px;}

.i-toolbar{ background: url(./img/i-lastnum-bg.png?__sprite) no-repeat; text-align: center; text-indent: -2px; color: #fff; overflow: hidden; -webkit-text-size-adjust: none; font: normal 10px/17px Tahoma;}
.i-toolbar-0,
.i-toolbar-1,
.i-toolbar-2{ background: url(./img/i-topnum-bg.png?__sprite) no-repeat;}
.toolbar-v dd em{ float: right; color: #00b075; margin-right: 5px; font-size: 12px;}

.toolbar-v-rtl .i-toolbar{ float: right; text-indent: 2px; margin: 3px 0; margin-left: 5px;}
.toolbar-v-rtl dd { padding-left: 0; padding-right: 5px;}

.toolbar-v-rtl .img .i-toolbar { left: auto; right: 3px;}
.toolbar-v-rtl .toolbar_menu { padding-right: 5px;}
.toolbar-v-rtl dd em { float: left;}

.toolbar-v .toolbar_menu a{padding-bottom:10px;padding-top:10px;}