.userbar-wrap {
    background: #1c81e5;
    width: 100%;
    position: relative;
    height: 50px;
    margin: 0 auto;
}

html {
    background-color: #ffffff !important;
}

.mod-muslim-prayer {
    position: relative;
    margin: 0 auto;
    width: 960px;
}

.mod-muslim-prayer .title-wrap {
    position: relative;
    width: 100%;
    height: 76px;
    margin: 17px 0;
}

.mod-muslim-prayer .title {
    position: relative;
    margin-right: 90px;
    color: #4a9900;
}

.mod-muslim-prayer .title-h {
    font-size: 28px;
}

.mod-muslim-prayer .title-s {
    font-size: 18px;
    padding-top: 8px;
}

.mod-muslim-prayer .title-i {
    position: absolute;
    display: inline-block;
    width: 74px;
    height: 74px;
    background: url("../img/i-title.png?__sprite") no-repeat;
}

.mod-muslim-prayer .download-wrap {
    position: relative;
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.mod-muslim-prayer .bkimg {
    position: relative;
    display: block;
    width: 960px;
    height: 360px;
}

.mod-muslim-prayer .wrap {
    overflow: hidden;
}

.mod-muslim-prayer .nav-item-list {
    position: relative;
}

.mod-muslim-prayer .nav-item {
    float: right;
}

.mod-muslim-prayer .ui-nav {
    position: relative;
}

.mod-muslim-prayer .ui-nav p {
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -35px;
    z-index: 1;
    cursor: pointer;
    width: 30px;
    height: 70px;
    background-color: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.mod-muslim-prayer .prev {
    right: 0;
}

.mod-muslim-prayer .next {
    left: 0;
}

.mod-muslim-prayer .arrow-prev, .mod-muslim-prayer .arrow-next {
    position: absolute;
    display: block;
    width: 14px;
    height: 20px;
    top: 25px;
    left: 12px;
}

.mod-muslim-prayer .arrow-prev {
    background: url("../img/i-switch-right.png?__sprite") no-repeat;
}

.mod-muslim-prayer .arrow-next {
    left: 9px;
    background: url("../img/i-switch-left.png?__sprite") no-repeat;
}

.mod-muslim-prayer .ui-nav .switch {
    position: absolute;
    height: 26px;
    background-color: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    bottom: 10px;
    right: 20px;
    border-radius: 13px;
    padding-left: 13px;
}

.mod-muslim-prayer .switch-item {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 6px;
    margin-right: 13px;
    cursor: pointer;
    background: url("../img/i-switch.png?__sprite") no-repeat;
}

.mod-muslim-prayer .switch-item-current {
    background: url("../img/i-switch-cur.png?__sprite") no-repeat;
}

.mod-muslim-prayer .download-link {
    position: absolute;
    min-width: 176px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    padding: 0 5px;
    right: 100px;
    bottom: 105px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.mod-muslim-prayer .sub-btn, .mod-muslim-prayer .download-link {
    background-color: #1c81e5;
    border-bottom-color: #186ec3;
}

.mod-muslim-prayer .sub-btn:hover, .mod-muslim-prayer .download-link:hover {
    background-color: #2290fe;
    border-bottom-color: #1d7bd8;
}

.mod-muslim-prayer .interaction {
    position: relative;
    width: 918px;
    border: 1px solid #e7e7e7;
    padding: 15px 20px;
    margin: 20px auto;
}

.mod-muslim-prayer .vote {
    width: 918px;

}

.mod-muslim-prayer .ina-title-wrap {
    position: relative;
    border-bottom: 1px solid #cccccc;
}

.mod-muslim-prayer .ina-icon {
    position: absolute;
    right: 1px;
    bottom: 10px;
    display: inline-block;
}

.mod-muslim-prayer .ina-i-vote {
    width: 28px;
    height: 23px;
    background: url("../img/i-vote.png?__sprite") no-repeat;
}
.mod-muslim-prayer .ina-i-feedback {
    width: 24px;
    height: 24px;
    background: url("../img/i-feedback.png?__sprite") no-repeat;
}

.mod-muslim-prayer .ina-title {
    position: relative;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    padding-right: 40px;
}

.mod-muslim-prayer .ina-border {
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
    border-bottom: 1px solid;
}

.mod-muslim-prayer .ina-b-vote {
    border-bottom-color: #ef4d41;
}


.mod-muslim-prayer .ina-content {
    position: relative;
    width: 100%;
}

.mod-muslim-prayer .ina-content {
    padding-top: 19px;
}

.mod-muslim-prayer .vote-item {
    position: relative;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    color: #888888;
    padding: 2px 0 6px 24px;
    margin-left: 16px;
}

.mod-muslim-prayer .vote-radio {
    position: absolute;
    left: 0;
    top: 4px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/i-radio.png?__sprite") no-repeat;
    cursor: pointer;
}

.mod-muslim-prayer .vote-radio_check{
    top: 2px;
    background: url("../img/i-radio-check.png?__sprite") no-repeat;
}

.mod-muslim-prayer .sub-btn {
    width: 112px;
    height: 42px;
    line-height: 42px;
    margin: 28px auto;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    overflow: hidden;
    cursor: pointer;
}

.mod-muslim-prayer .ina-content .sub-btn_click {
    cursor: default;
    background-color: #a7afad;
    border-bottom-color: #8e9593;
}
.mod-muslim-prayer .f-form{
    border: 1px solid #e6e6e6;
    background-color: #f8f9fa;
    border-radius: 2px;
    padding: 28px 0;
}
.mod-muslim-prayer .email{
    display: block;
    width: 271px;
    height: 30px;
    line-height: 30px;
    margin-right: 42px;
    margin-top: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    font-size: 14px;
}
.mod-muslim-prayer .textarea{
    display: block;
    width: 810px;
    height: 68px;
    margin: 0 auto;
    border-top-color: #d0d0d0;
    border: 1px solid #e6e6e6;
    padding: 10px;
    overflow: hidden;
    border-radius: 2px;
    font-size: 16px;
}

.mod-muslim-prayer .tip{
    position: absolute;
    right: 50px;
    color: #cccccc;
}

.mod-muslim-prayer .tip-feed{
    top: 55px;
    font-size: 16px;
}
.mod-muslim-prayer .tip-email{
    bottom: 107px;
    font-size: 14px;
}



