<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>F.I.S</title>
    <meta name="description" content="写份报告吧，屌工逆袭高工">
    <meta name="author" content="zhangyunlong">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="css/reveal.css">
    <link rel="stylesheet" type="text/css" href="css/theme/night.css">
    <link rel="stylesheet" type="text/css" href="lib/css/zenburn.css">
    <!-- 打印成PDF -->
    <link rel="stylesheet" type="text/css" href="css/print/pdf.css" media="print">
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <div class="reveal">
        <div class="slides">
            <section><!--inline[docs/index.md]--></section>
            <section><!--inline[docs/next.md]--></section>
        </div>
    </div>
    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>
    <script src="js/index.js?__inline"></script>
</body>
</html>