.ui-popup-mask { background-color:#000; height:100%; width:100%; left:0; top:0; filter:alpha(opacity=30); opacity:0.3; overflow:hidden; position:fixed; z-index:1998; }
.ui-popup { position:fixed; z-index:1999; border:3px solid #00AD73;	background:#fff; font-size:12px; background-color:#fafdfd; }
.ui-popup .popup-title-wrap { position:relative; height:30px; line-height:30px; font-weight:bold; font-size:14px; border-bottom:1px solid #d7d7d9; }
.ui-popup .popup-title { color:#444544; }
.ui-popup .i-popup-close{ color:#b1e1d0; font-weight:bolder; }
.ui-popup .i-popup-close:hover { color:#a0d0a0; cursor:pointer; }
.ui-popup .popup-button-wrap{ position:absolute; bottom:0px; padding-top:5px; padding-bottom:5px; }

/*** ltr ***/
.ui-popup.ltr .popup-title { float:left; margin-left:18px; }
.ui-popup.ltr .i-popup-close{ float:right; margin-right:10px; color:#b1e1d0; font-weight:bolder; }
.ui-popup.ltr .popup-button-wrap { right:0px; padding-right:10px; }

/*** rtl ***/
.ui-popup.rtl .popup-title { float:right; margin-right:18px; }
.ui-popup.rtl .i-popup-close{ float:left; margin-left:10px; color:#b1e1d0; font-weight:bolder; }
.ui-popup.rtl .popup-button-wrap { left:0px; padding-left:10px; }