body .mod-skin-trans {
	visibility: visible;
	float: left;
	padding-right: 10px;
}
.header-fixed .mod-skin-trans,.header-fixed .mod-skin-trans+.userbar_split {
	display: none;
}
.mod-skin-trans .i-st-btn {
	height: 26px;
	line-height: 26px;
	border: 1px solid #039266;
	/*border-color: #8F8085 #1DCA90 #1DC990 #8F7D83;*/
	border-top-color: #027955;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	cursor: pointer;
	background-color: #039266;
	color: #ffffff;
	font-size: 13px;
	padding-left: 6px;
	padding-right: 6px;
	margin-top: 12px;
	transition: all .2s;
}
.mod-skin-trans .i-st-btn:hover {
	background-color: #11C08A;
	border-color: #11C08A;
	border-top-color: #0D976D;
}
.mod-skin-trans .i-st-ico {
	float: right;
	width: 20px;
	height: 20px;
	margin-top: 3px;
	margin-left: 4px;
	display: inline;
}