body #fbMod{
    display: block;
}
.fb-mod_btn {
    text-align: right;
    position: relative;
    z-index: 1;
    overflow: visible;
    display: inline-block;
    padding: 2px 10px 3px;
    border: 1px solid #999;
    border-bottom-color: #888;
    margin: 0;
    text-decoration: none;
    text-align: center;
    font: normal 13px/normal 'lucida grande',tahoma,verdana,arial,sans-serif;
    white-space: nowrap;
    cursor: pointer;
    color: #333;
    background-color: #eee;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f6f6),to(#e4e4e3));
    background-image: -moz-linear-gradient(#f5f6f6,#e4e4e3);
    background-image: -o-linear-gradient(#f5f6f6,#e4e4e3);
    background-image: linear-gradient(#f5f6f6,#e4e4e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6',EndColorStr='#e4e4e3');
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #fff;
    zoom: 1;
    *display: inline;
}

.fb-mod_btn:hover,.fb-mod_btn:focus,.fb-mod_btn:active {
    border-color: #777 #777 #666;
}

.fb-mod_btn:active {
    border-color: #aaa;
    background: #ddd;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fb-mod_btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.fb-mod_btn.icon:before {
    content: "";
    position: relative;
    top: 1px;
    float: right;
    width: 10px;
    height: 12px;
    margin: 0 0 0 .5em;
    /*background: url(../fb-icons.png) 99px 99px no-repeat;*/
}

.fb-mod_btn.edit:before {
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: 0 0;
}

.fb-mod_btn.add:before {
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: -10px 0;
}

.fb-mod_btn.secure:before {
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: -20px 0;
}

.fb-mod_btn.prev:before {
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: -30px 0;
}

.fb-mod_btn.next:before {
    float: left;
    margin: 0 .5em 0 -0.25em;
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: -40px 0;
}

.fb-mod_btn-confirm {
    border-color: #29447e #29447e #1a356e;
    color: #fff;
    background-color: #5b74a8;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#637bad),to(#5872a7));
    background-image: -moz-linear-gradient(#637bad,#5872a7);
    background-image: -o-linear-gradient(#637bad,#5872a7);
    background-image: linear-gradient(#637bad,#5872a7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#637bad',EndColorStr='#5872a7');
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #8a9cc2;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #8a9cc2;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #8a9cc2;
}

.fb-mod_btn-confirm:hover {
    border-color: #29447e #29447e #1a356e;
}

.fb-mod_btn-confirm:active {
    border-color: #29447e;
    background: #4f6aa3;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fb-mod_btn-special {
    border-color: #3b6e22 #3b6e22 #2c5115;
    color: #fff;
    background-color: #69a74e;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#75ae5c),to(#67a54b));
    background-image: -moz-linear-gradient(#75ae5c,#67a54b);
    background-image: -o-linear-gradient(#75ae5c,#67a54b);
    background-image: linear-gradient(#75ae5c,#67a54b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#75ae5c',EndColorStr='#67a54b');
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #98c286;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #98c286;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #98c286;
}

.fb-mod_btn-special:active {
    border-color: #3b6e22;
    background: #609946;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fb-mod_btn.disable {
    z-index: 0;
    border-color: #c8c8c8;
    color: #b8b8b8;
    background: #f2f2f2;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fb-mod_btn-confirm.disable {
    color: #fff;
    border-color: #94a2bf;
    background: #adbad4;
}

.fb-mod_btn-special.disable {
    color: #fff;
    border-color: #9db791;
    background: #b4d3a7;
}

.fb-mod_btn-fuck,.fb-mod_btn-fuck:active {
    background: #bad5ee;
    border: 1px solid #a0b8d2;
    border-bottom-color: #8da9c1;
    color: #3b5998;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fb-mod_btn-fuck:hover {
    background: #8ab3d3;
    border: 1px solid #7fa1bc;
    color: #fff;
}

.fb-mod_loader {
    zoom: 1;
    display: inline-block;
    *display: inline;
    width: 16px;
    height: 16px;
    margin: 15px auto;
    background: url(../fb_mod_loading.gif) no-repeat;
}

.fb-mod {
    position: fixed;
    top: 180px;
    top: 100px\0;
    _position: absolute;
    _top:expression((document).documentElement.scrollTop+180);
    overflow: hidden;
    left: 0;
    z-index: 90;
    font-family: "Helvetica Neue",Arial,sans-serif;
    display: inline-block;
    width: auto;
}

.fb-mod_side {
    background: #456bb6;
    width: 36px;
    height: 186px;
    float: left;
    margin-right: -1px;
    position: relative;
    z-index: 9;
}

.fb-mod_side a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 36px;
    height: 30px;
    position: relative;
    line-height: normal;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
}

.fb-mod_side a:hover {
    background-color: #5175bc;
}

.fb-mod_side a em {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1px;
    margin-left: 3px;
    font-style: normal;
    color: #fff;
    font: bold 10px/11px 'lucida grande',tahoma,verdana,arial,sans-serif;
    line-height: 1.28;
    height: 13px;
    overflow: hidden;
    line-height: 1.28;
    background-color: #f03d25;
    border: 1px solid #d83722;
    border-bottom: 1px solid #c0311e;
    border-top: 1px solid #e23923;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 rgba(0,39,121,.3);
    -moz-box-shadow: 0 1px 0 rgba(0,39,121,.3);
    box-shadow: 0 1px 0 rgba(0,39,121,.3);
    display: none;
}

a.fb-mod_side_logo,a.fb-mod_side_logo:hover {
    background-color: transparent;
    height: 47px;
    border-bottom: 1px solid #3b5d9f;
    margin-bottom: 5px;
    background-position: 0 0;
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    cursor: pointer;
}

a.fb-mod_side_home {
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: 0 -55px;
}

a.fb-mod_side_friend {
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: 0 -86px;
}

a.fb-mod_side_messages {
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: 0 -117px;
}

a.fb-mod_side_notifications {
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: 0 -148px;
}

a.fb-mod_side_home_cur {
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: 0 -241px;
}

a.fb-mod_side_friend_cur {
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: 0 -272px;
}

a.fb-mod_side_messages_cur {
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: 0 -303px;
}

a.fb-mod_side_notifications_cur {
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: 0 -334px;
}

a.fb-mod_side--new em {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.fb-mod_wrap {
    border: 1px solid #c1d1e6;
    float: left;
    position: relative;
    overflow: hidden;
    -ms-transition: width .3s ease-out;
    -webkit-transition: width .3s ease-out;
    -moz-transition: width .3s ease-out;
    -o-transition: width .3s ease-out;
    transition: width .3s ease-out;
}

.fb-mod_wrap,.fb-mod_tbar,.fb-mod_c,.fb-mod_tip {
    width: 400px;
}

.fb-mod_c {
    height: 360px;
    background: #fff;
    position: relative;
}

.fb-mod_login {
    position: absolute;
    top: 0;
    z-index: 91;
    width: 100%;
    height: 100%;
    background: #e7ebf1;
    text-align: center;
    display: none;
}

.fb-mod_c_loading {
    position: absolute;
    top: 0;
    z-index: 92;
    width: 100%;
    height: 100%;
    background: #e7ebf1;
    text-align: center;
    display: none;
}

.fb-mod_c_loading .fb-mod_loader {
    margin-top: 40%;
}

.fb-mod_login_btn {
    padding: 12px 30px;
    font-size: 13px;
    font-weight: normal;
}

.fb-mod_login_label {
    margin-top: 130px;
    margin-bottom: 20px;
    color: #3b5997;
    font-size: 15px;
    white-space: nowrap;
}

.fb-mod_tbar {
    height: 35px;
    background: #d1e3f8;
    position: relative;
}

.fb-mod_usrinfo {
    float: right;
    font-size: 15px;
    padding: 0 15px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    display: inline-block;
}

.fb-mod_usrinfo a {
    font-weight: bold;
    color: #3b5997;
}

.fb-mod_logout,.fb-mod_refresh {
    float: right;
    margin-top: 5px;
    position: relative;
    z-index: 1;
    overflow: visible;
    display: inline-block;
    padding: 2px 10px 3px;
    text-decoration: none;
    text-align: center;
    font: normal 13px/normal 'lucida grande',tahoma,verdana,arial,sans-serif;
    white-space: nowrap;
    cursor: pointer;
    zoom: 1;
    *display: inline;
    background: #bad5ee;
    border: 1px solid #a0b8d2;
    border-bottom-color: #8da9c1;
    color: #3b5998;
}

.fb-mod_refresh {
    float: left;
    margin: 5px 0 0 10px;
    width: 22px;
    height: 22px;
    padding: 0;
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-color: #bad5ee;
    background-position: -36px -19px;
}

.fb-mod_logout:hover,.fb-mod_refresh:hover {
    background-color: #8ab3d3;
    border: 1px solid #7fa1bc;
    color: #fff;
}

.fb-mod_refresh:hover {
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-color: #8ab3d3;
    background-position: -36px 1px;
}

.fb-mod_close {
    width: 20px;
    height: 36px;
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-color: #456bb6;
    background-position: -36px -74px;
    float: left;
    border-radius: 0 3px 3px 0;
    color: #fff;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
}

.fb-mod_tip {
    background-color: rgba(0,0,0,0.5);
    background: #000\\9;
    filter: alpha(opacity=50);
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    z-index: 99;
    display: none;
    top: 0;
}

.fb-mod_tip span {
    position: relative;
    color: #fff;
}

.fb-mod_body {
    overflow: auto;
    position: relative;
    height: 100%;
}

.fb-mod_body_loader {
    background: #e7ebf1;
    border: 1px solid #d8dfea;
    width: auto;
    height: 40px;
    overflow: hidden;
    margin: 15px;
    margin-top: 0;
    display: none;
    pointer-events: none;
    text-align: center;
}

.fb-mod_body_loader .fb-mod_loader {
    margin-top: 13px;
}

.fb-mod_ct {
    padding: 15px;
    padding-left: 10px;
}

.fb-mod_avatar {
    float: right;
    width: 50px;
    height: 50px;
    padding-left: 10px;
    overflow: hidden;
}

.fb-mod_avatar img {
    vertical-align: top;
}

.fb-mod_submit_wrap {
    overflow: hidden;
    zoom: 1;
    border: 1px solid #b4bbcd;
}

.fb-mod_submit {
    border: 0;
    background: #fff;
    height: 40px;
    _overflow-y: visible;
    width: 96%;
    padding: 5px 2%;
    vertical-align: top;
    -ms-transition: height .1s ease-out;
    -webkit-transition: height .1s ease-out;
    -moz-transition: height .1s ease-out;
    -o-transition: height .1s ease-out;
    transition: height .1s ease-out;
}

.fb-mod_submit_bar {
    background: #f2f2f2;
    border-top: 1px solid #e6e6e6;
    height: 29px;
    overflow: hidden;
    display: none;
    position: relative;
}

.fb-mod_submit_bar .fb-mod_loader {
    float: left;
    margin: 7px 10px;
    display: none;
}

.fb-mod_submit_btn {
    float: left;
    margin: 3px;
    padding-right: 15px;
    padding-left: 15px;
}

.fb-mod_submit_wrap--focus .fb-mod_submit_bar {
    display: block;
}

.fb-mod_list {
    line-height: 1.5;
    font-size: 13px;
}

.fb-mod_li {
    padding: 15px;
    padding-left: 20px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #e9e9e9;
}

.fb-mod_li_author {
    color: #3b5998;
    text-decoration: none;
}

.fb-mod_li_author:hover {
    text-decoration: underline;
}

.fb-mod_li_avatar {
    float: right;
    width: 50px;
    height: 50px;
    padding-left: 10px;
    overflow: hidden;
}

.fb-mod_li_avatar img {
    vertical-align: top;
}

.fb-mod_li_c {
    overflow: hidden;
    zoom: 1;
}

.fb-mod_li_actice {
    line-height: 1.5;
}

.fb-mod_li_bar {
    height: 25px;
    line-height: 25px;
    color: #999;
    font-size: 12px;
}

.fb-mod_li_bar a {
    color: #8a9bdb;
    text-decoration: none;
}

.fb-mod_li_bar a:hover {
    text-decoration: underline;
}

.fb-mod_li_close {
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 18px;
    text-align: center;
    font-family: Tahoma;
    color: #adbdd5;
    width: 15px;
    height: 15px;
    line-height: 14px;
    overflow: hidden;
    display: none;
}

.fb-mod_li_close:hover {
    background: #6584b2;
    color: #fff;
}

.fb-mod_li_photo {
    text-align: right;
}

.fb-mod_li_photo img {
    vertical-align: top;
    margin: 10px 0;
    max-width: 300px;
}

.fb-mod_li_video {
    margin: 5px 0;
    background: #f7f7f7;
    border: 1px solid #e2e2e2;
    height: 73px;
    overflow: hidden;
    padding: 5px 0;
    padding-left: 5px;
    font-size: 12px;
}

.fb-mod_li_video_cover {
    float: right;
    width: 130px;
    height: 73px;
    line-height: 73px;
    /*text-align: center;*/
    overflow: hidden;
    /*padding-left: 10px;*/
    *display: block;
    *font-size: 63.73px;
    *font-family: Arial;

    text-align: right !important;
    padding-right: 5px !important;
}

.fb-mod_li_video_cover img {
    vertical-align: middle;
}

.fb-mod_li_video_c {
    overflow: hidden;
    zoom: 1;
}

.fb-mod_li_video_t {
    color: #3b5998;
    text-decoration: none;
}

.fb-mod_li_video_t:hover {
    text-decoration: underline;
}

.fb-mod_li_video_des,.fb-mod_li_video_caption {
    color: #999;
    text-decoration: none;
}

.fb-mod_li_link .fb-mod_li_video_cover {
    width: 100px;
}

.fb-mod_li--hover .fb-mod_li_close {
    display: inline-block;
}

.fb-mod_placeholder {
    height: 1px;
    font-size: 0;
}

.fb-mod--fixed .fb-mod_ct {
    position: fixed;
    background: #edeff3;
    z-index: 91;
    width: 400px;
    padding: 0;
    width: 380px;
}

.fb-mod--fixed .fb-mod_avatar {
    display: none;
}

.fb-mod--fixed .fb-mod_tip {
    top: auto;
    bottom: -20px;
}

.fb-mod--fixed .fb-mod_submit {
    margin: 1.5% 3%;
    width: 90%;
    height: 18px;
    border: 1px solid #b4bbcd;
}

.fb-mod--fold .fb-mod_wrap {
    width: 0;
    border: 0;
}

.fb-mod--fold .fb-mod_close {
    width: 13px;
    background-image: url(../img/fb/fb_mod_rtl.png?__sprite);
    background-position: -36px -111px;
}

.fb-mod--login .fb-mod_login {
    display: block;
}

.fb-mod--login .fb-mod_usrinfo,.fb-mod--login .fb-mod_logout,.fb-mod--login .fb-mod_refresh {
    display: none;
}

.fb-mod--loading .fb-mod_c_loading {
    display: block;
}

.fb-mod--pulling .fb-mod_body_loader {
    display: block;
}

.fb-mod--submiting .fb-mod_submit_bar .fb-mod_loader {
    zoom: 1;
    display: inline-block;
    *display: inline;
}

.fb-mod--submiting .fb-mod_submit {
    background: #fafafa;
}

.fb-mod_side a,.fb-mod_refresh,.fb-mod_refresh:hover,.fb-mod_close {
    /*background-image: url(../fb_mod_rtl.png);*/
}

.fb-mod_loader {
    background-image: url(../fb_mod_loading.gif);
}

.fb-mod {
    *width: 460px;
}

.fb-mod--fold {
    *width: 60px;
}

.fb-mod--fixed .fb-mod_submit {
    border: 1px solid #b4bbcd;
}

.fb-mod--fixed .fb-mod_submit_wrap {
    padding: 5px 10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .fb-mod--fixed .fb-mod_ct {
        left: 56px;
    };
}

.snsshare_box_ltr {
    left: 0;
    right: auto;
}

.fb-mod_panel_li {
    display: block;
    background: #fff;
    border-bottom: 1px solid #e3e8f0;
    padding: 5px;
    color: #333;
    position: relative;
    overflow: hidden;
}

.fb-mod_panel_li:hover {
    background: #f4f6f9;
}

.fb-mod_panel_li_avatar {
    float: left;
}

.fb-mod_panel_li_c {
    padding: 0 5px;
    overflow: hidden;
}

.fb-mod_panel_li_name {
    font-weight: bold;
}

.fb-mod_panel_li_time {
    color: #999;
}

.fb-mod_panel_li_bar {
    position: absolute;
    right: 5px;
    top: 10px;
}

.fb-mod_c_friend,.fb-mod_c_notifications,.fb-mod_c_messages {
    overflow: auto;
}

.fb-mod_c_notifications .fb-mod_panel_li_info {
    display: inline;
}

.fb-mod_c_friend .fb-mod_panel_li_info {
    color: #999;
    padding: 0 5px;
}

.fb-mod_c_friend .fb-mod_panel_li_name a {
    color: #3b5998;
}

.fb-mod_c_friend .fb-mod_panel_li_name a:hover {
    text-decoration: underline;
}

.fb-mod_panel_nonewmsg {
    color: #999;
    padding: 5px;
}

.fb-mod_li_likeded {
    color: #999!important;
    cursor: default!important;
    text-decoration: none!important;
}

.fb-mod {
    overflow: visible!important;
    top: 163px!important;
}

.fb-mod_bubble {
    position: relative;
    background: #ef3d25;
    border: 1px solid #d83722;
    width: 50px;
    height: 27px;
    line-height: 27px;
    border-radius: 4px;
    margin-left: -59px;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.3));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.3));
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.fb-mod_bubble:after,.fb-mod_bubble:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.fb-mod_bubble:after {
    border-color: rgba(239,61,37,0);
    border-left-color: #ef3d25;
    border-width: 7px;
    top: 50%;
    margin-top: -7px;
}

.fb-mod_bubble:before {
    border-color: rgba(216,55,34,0);
    border-left-color: #d83722;
    border-width: 7px;
    top: 50%;
    margin-top: -7px;
}

.fb-mod_bubble {
    -moz-box-shadow: none;
    -webkit-filter: none;
    filter: none;
}

.fb-mod_panel_li_avatar {
    float: right;
}

.fb-mod_panel_li_bar {
    left: 5px;
}

.fb-mod_bubble {
    margin-right: -59px;
}

.fb-mod_bubble:after {
    border-right-color: #ef3d25;
    border-left-color: transparent;
}

.fb-mod_bubble:before {
    border-right-color: #d83722;
    border-left-color: transparent;
}

.fb-mod_bubble:after,.fb-mod_bubble:before {
    right: 100%;
}

.fb-mod--fold .fb-mod_wrap {
    height: 230px;
    width: 1px;
    *width: 0;
}

.fb-mod_close {
    height: 35px\0;
    border-radius: 3px 0 0 3px\0;
}

.fb-mod_bubble:after {
    border-left-color: #EF3D25\0;
    border-right-color: transparent\0;
}

.fb-mod_bubble:before {
    border-left-color: #D83722\0;
    border-right-color: transparent\0;
}

.fb-mod_bubble {
    position: absolute;
}


.snsshare_box{
    position:fixed;top:352px;_position:absolute;
    _top:expression((document).documentElement.scrollTop+352);
    background-color:#D4DCE6;z-index:949;
}
#snsShareBtn {color:#5A73A8;text-align:center;width:36px;padding-bottom:4px;padding-top:4px;cursor:pointer;}
#snsShareBtn .snsshare_icon {width:18px;height:18px;background:url(../img/i-sns-identify.png?__sprite) no-repeat;margin:2px auto;}
#snsShareList {width:36px;overflow:hidden;height:0px;position:relative;text-align:center;}
.snsshare_box_ltr{left:0;}
.snsshare_box_rtl{right:0;}
.snsshare_box .snsshare_icon, .snsshare_box .snsshare_shareicon{display:block;}
.snsshare_box .snsshare_icon{margin:10px auto 0;width:24px;height:24px;}
.snsshare_button_fb{background:url(../img/i-sns-fb.png?__sprite) no-repeat;}
.snsshare_button_te{background:url(../img/i-sns-te.png?__sprite) no-repeat;}
.snsshare_button_gps{background:url(../img/i-sns-gps.png?__sprite) no-repeat;}
.snsshare_button_ou{background:url(../img/i-sns-ou.png?__sprite) no-repeat;}
.snsshare_button_pr{background:url(../img/i-sns-pr.png?__sprite) no-repeat;}
.snsshare_button_zm{background:url(../img/i-sns-zm.png?__sprite) no-repeat;}
.snsshare_button_fb:hover{background:url(../img/i-sns-fb-hover.png?__sprite) no-repeat;}
.snsshare_button_te:hover{background:url(../img/i-sns-te-hover.png?__sprite) no-repeat;}
.snsshare_button_gps:hover{background:url(../img/i-sns-gps-hover.png?__sprite) no-repeat;}
.snsshare_button_ou:hover{background:url(../img/i-sns-ou-hover.png?__sprite) no-repeat;}
.snsshare_button_pr:hover{background:url(../img/i-sns-pr-hover.png?__sprite) no-repeat;}
.snsshare_button_zm:hover{background:url(../img/i-sns-zm-hover.png?__sprite) no-repeat;}
