/** 分类导航区样式*/
.box-sort {overflow: hidden;}
.sortsite{ white-space: nowrap; overflow: hidden; border: 1px solid #E3E5E6; border-bottom:1px solid #dcddde; background: #fafcfc;}
.sortsite dt{ height: 30px; line-height: 30px; border-bottom: 1px solid #edeff0; color: #23C098; font-size: 14px; overflow: hidden; background:url(../img/btn-normal-bg.png?m=x) repeat-x;}
.sortsite dt.hover{border-bottom: 1px solid #cfd0d1; -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2); -o-box-shadow: 0 1px 2px rgba(0,0,0,0.2); box-shadow: 0 1px 2px rgba(0,0,0,0.2);}
.sortsite a:hover{text-decoration: none;}
.sortsite dt.click{background-position: 0 -31px;}
.sortsite a{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.sortsite dt a{_margin-right: 20px; font-weight: 600; padding-left: 10px;color: #49b18e;text-indent: 0px; _width: 89%;}
.sortsite dt a:hover{text-decoration: underline;}
.sortsite dt a span{float: right;margin-right: 10px;font-weight: 400;color: #3dc094;}
.sortsite dd{overflow: hidden;border-left:1px solid #fff;border-right:1px solid #fff;}
.sortsite dd a{color:#595959;line-height:31px; height:31px; width:93%; padding-left:10px;border-left:3px solid #fafafc;text-indent: 0px;}
.sortsite dd a:hover{ background:#e8eaeb;border-left: 3px solid #00ac73;}
.sortsite_more{ font-family: Verdana; text-align: right; text-indent: 0; background: #F9FAFA; position: absolute; right: 0px; top: 0; float: right;}

.box-onesort-big {position: relative;}
.box-onesort-big dd a{width: 242px;color:#a9a9a9;}
.box-onesort-big .link-name{font-weight: bold;}
.box-onesort-big dd a.have-pre-icon{width: 222px;}
.box-onesort-big .link-name{color: #595959;}
.box-onesort-big .link-description {margin-left: 10px;font-size: 12px;font-weight: normal;}
.box-onesort-big .i-sort-big {display: block;position: absolute;right: 25px;bottom: 20px;}

/*cool sort big image*/
.box-onesort-big .i-sort-big{background-image: url("../img/i-onesort-big.png");}
.i-sort-big.i-sort-games {width: 71px;height: 54px;background-position: -54px -243px;}
.i-sort-big.i-sort-gameweb {width: 61px;height: 56px;background-position: 0 -63px;}
.i-sort-big.i-sort-image {width: 63px;height: 63px;background-position: 0px 0px;}
.i-sort-big.i-sort-tv {width: 59px;height: 56px;background-position: -63px -297px;}
.i-sort-big.i-sort-movie {width: 53px;height: 60px;background-position: 0px -119px;}
.i-sort-big.i-sort-tieba {width: 61px;height: 61px;background-position: -62px -180px;}
.i-sort-big.i-sort-bank {width: 63px;height: 57px;background-position: 0px -296px;}
.i-sort-big.i-sort-music {width: 63px;height: 63px;background-position: -63px 0px;}
.i-sort-big.i-sort-menhu {width: 61px;height: 56px;background-position: -61px -63px;}
.i-sort-big.i-sort-sports {width: 54px;height: 54px;background-position: 0px -242px;}
.i-sort-big.i-sort-software {width: 60px;height: 60px;background-position: -53px -119px;}
.i-sort-big.i-sort-shopping {width: 62px;height: 63px;background-position: 0px -179px;}