/*football样式*/
.mod-recommand .football-title{
	height: 30px;
	background: url(../img/scor-title-bg.png?__sprite) repeat-x;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #cbcbcc;
}
.mod-recommand .football-info{
	border-top: 3px solid #e5e6e6;
}
.mod-recommand .football-info-ul{
	padding: 0 13px;
	min-height: 260px;
}
.mod-recommand .football-item{
	border-bottom: 1px dashed #afb0b0;
	text-align: center;
}
.mod-recommand .football-item .item-container{
	padding: 12px 0 5px;
	margin: 1px 0;
}
.mod-recommand .football-item .item-content span{
	display: inline-block;
	height: 21px;
	line-height: 21px;
	margin: 0 30px;
	color: #505050;
}
.mod-recommand .football-item .item-content i{
	width: 24px;
	height: 24px;
	display: inline-block;
	*display: inline;
	*zoom:1;
	background: url(/resource/br/hotsiteside/championship-bra-a1.png);
	vertical-align: middle;
}
.mod-recommand .football-item .item-content .ie0e{
	background-position: 0 -250px;
}
.mod-recommand .football-item .item-content .ife0{
	background-position: 0 -75px;
}
.mod-recommand .football-item .item-content .iec7{
	background-position: 0 -300px;
}
.mod-recommand .football-item .item-content .ice0{
	background-position: 0 -375px;
}
.mod-recommand .football-item .item-content .ib68{
	background-position: 0 -150px;
}
.mod-recommand .football-item .item-content .if3e{
	background-position: 0 -275px;
}
.mod-recommand .football-item .item-content .i414{
	background-position: 0 -200px;
}
.mod-recommand .football-item .item-content .ifee{
	background-position: 0 -425px;
}
.mod-recommand .football-item .item-content .ibe2{
	background-position: 0 -450px;
}
.mod-recommand .football-item .item-content .iea7{
	background-position: 0 -25px;
}
.mod-recommand .football-item .item-content .i5e6{
	background-position: 0 -400px;
}
.mod-recommand .football-item .item-content .iad7{
	background-position: 0 -475px;
}
.mod-recommand .football-item .item-content .i788{
	background-position: 0 -50px;
}
.mod-recommand .football-item .item-content .ida5{
	background-position: 0 -325px;
}
.mod-recommand .football-item .item-content .ib8c{
	background-position: 0 -350px;
}
.mod-recommand .football-item .item-content .i609{
	background-position: 0 -125px;
}
.mod-recommand .football-item .item-content .i739{
	background-position: 0 -225px;
}
.mod-recommand .football-item .item-content .i92d{
	background-position: 0 -0px;
}
.mod-recommand .football-item .item-content .id43{
	background-position: 0 -175px;
}
.mod-recommand .football-item .item-content .i5e7{
	background-position: 0 -100px;
}
.mod-recommand .football-item-even .item-container{
	background-color: #f3f4f4;
}
.mod-recommand .football-item .item-info{
	margin-top: 5px;
	color: #a4a4a4;
}
.mod-recommand .football-item .item-info .football-day,
.mod-recommand .football-item .item-info .football-date{
	display: inline-block;
	margin-right: 3px;
}
.mod-recommand .football-item .item-info .football-place{
	display: inline-block;
	*display: inline;
	*zoom:1;
	text-overflow:ellipsis;
	white-space: nowrap;
	max-width: 88px;
	overflow: hidden;
	height: 18px;
	vertical-align: middle;
}
.mod-recommand .football-more{
	margin: 10px 13px;
}
.mod-recommand .football-more a{
	display: block;
	height: 29px;
	line-height: 29px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #119161;
	background-color: #00ae73;
	border-radius: 3px;
	color: #fff;
}
.mod-recommand .football-more a:hover{
	background-color: #04ba7c;
}
/*football样式*/