.box-search_keyboard {
    padding: 2px 1px;
}
.box-search {
    width: 834px;
    margin-top: 15px;
    margin-right: 98px;
}
.box-search_tab {
    position: relative;
    z-index: 8;

    margin-right: 173px;

    white-space: nowrap;
}
.box-search_tab a {
    float: right;

    margin-right: -1px;
    padding: 4px 12px 3px;
}
.box-search_tab a.cur {
    font-weight: 700;

    cursor: default;

    color: #1c81e5;
}
.box-search_sep {
    float: right;

    height: 6px;
    margin-top: 8px;
    margin-right: -1px;

    border-left: 1px solid #b3b3b3;
}
.box-search_inner {
    height: 68px;
}
.box-search_logo_wrap {
    position: relative;
    z-index: 6;

    float: right;

    width: 161px;
    height: 65px;
    margin: -13px 0 0 5px;
}
.box-search_logo dt,
.box-search_logo dd {
    padding: 10px 14px 10px 12px;

    cursor: pointer;
}
.box-search_logo_hide {
    display: none;
}
.box-search_logo img {
    width: 120px;
    height: 45px;
}
.box-search_form {
    padding: 3px 113px 5px 0;
}
.box-search_form .input {
    position: relative;
    z-index: 5;

    margin-right: 6px;
    margin-left: 0;
    /* for IE9 */
    padding-right: 1px\9\0;

    border: 1px solid #d9d9d9;
    border-top-color: #bfbfbf;
    border-left-width: 0;
    background-color: #fff;
}
.box-search_form .input input {
    font-size: 14px;
    line-height: 20px\9;

    float: right;
    overflow: hidden;

    width: 512px;
    height: 26px;
    margin-right: 1px;
    padding: 4px 9px 3px 0;

    border: 0;
    outline: none;
    background-color: #fff;
}
.box-search .sug-search {
    visibility: hidden;

    height: 0;
}
.btn-search {
    line-height: 35px;

    overflow: hidden;

    width: 90px;

    border-width: 0;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #2085e9;
    background-image: linear-gradient(#258bef, #248aee, #2287ec, #2085e9, #1e83e7, #1c81e5);
}
.btn-search_c {
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;

    float: left;

    width: 90px;
    height: 35px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border: 0;
    background: 0 0;
}
.box-search_hsrch {
    overflow: hidden;

    width: 640px;
    margin-right: 171px;
    padding-top: 2px;

    height: 15px;

    color: #919191;
}
.hsrch_title {
    font-weight: bold;

    margin-left: 8px;

    color: #919191;
}
.hsrch_word span {
    display: inline-block;

    margin-left: 15px;
}
.hsrch_word a {
    text-align: right;

    color: #919191;
}

/* 960 */
.w960 .input input {
    width: 433px;
}
.w960 .box-search {
    width: 740px;
    margin-right: 22px;
}
.w960 .box-search_hsrch {
    width: 562px;
}
