.w960 .hotsite-custom{
	width: 648px;
}
.w960 .custom_item{
	margin-right: 0px;
	margin-left: 7px;
	width: 119px;
}
.w960 .custom_item .btn{
	margin-right: 1px;
}
.w960 .custom_item span.ico-txt{
	margin-right: 1px;
}
.w960 .custom_item .btn{
	margin-right: 2px;
}
