.mod-pcf-evedn .royalty .big-wrap {
    position: relative;
    float: left;
    width: 247px;
    height: 155px;
    margin-top: 10px;
    margin-left: 10px;
}

.mod-pcf-evedn .royalty .big-wrap:hover, .mod-pcf-evedn .royalty .thumb:hover {
    border-color: #61a7ed;
}
.mod-pcf-evedn .royalty .big-wrap:hover .title-mask, .mod-pcf-evedn .royalty .thumb:hover .title-mask{
    background-color: #3e87d1;
    opacity: 1; 
    filter: alpha(opacity=100);   
}

.mod-pcf-evedn .royalty .big, .mod-pcf-evedn .royalty .big-img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.mod-pcf-evedn .royalty .title-mask {
    height: 25px;
}

.mod-pcf-evedn .royalty .big-title {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 25px;
    line-height: 12px;
    padding-left: 2px;
    overflow: hidden;
    color: #ffffff;
    font-size: 12px;
    z-index: 2;
}

.mod-pcf-evedn .royalty .text-wrap {
    position: relative;
    display: inline-block;
    float: left;
    width: 240px;
    height: 153px;
    margin-top: 10px;
    overflow: hidden;
    margin-left: 8px;
}

.mod-pcf-evedn .royalty .text {
    position: relative;
    display: block;
    height: 24px;
    line-height: 24px;
    width: 237px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    padding-left: 11px;
    color: #666666;
}

.mod-pcf-evedn .royalty .text:hover {
    text-decoration: underline;
    color: #1c81e5;
}

.mod-pcf-evedn .royalty .text:first-child {
    font-size: 14px;
    color: #3e87d1 !important;
}

.mod-pcf-evedn .royalty .thumb-wrap {
    position: relative;
    float: left;
    width: 508px;
    height: 100px;
    margin-left: 10px;
}

.mod-pcf-evedn .royalty .thumb {
    position: relative;
    display: inline-block;
    float: left;
    width: 120px;
    height: 98px;
    margin-right: 5px;
    overflow: hidden;
}

.mod-pcf-evedn .royalty .thumb-img {
    display: block;
    width: 100%;
    height: 100%;
}

.mod-pcf-evedn .royalty .thumb-title {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 25px;
    line-height: 12px;
    padding-left: 2px;
    color: #ffffff;
    font-size: 12px;
    z-index: 2;
    /*background: #3e87d1;*/
}
