body .hotsite_b{	width: 708px; float: left; margin-right: 10px;}
body .hotsite{ width: 710px; padding: 0px 1px; }
body .hotsite_link .hotsite span{float:left;*float:none; margin: 0px 4px 6px 4px;}
