/***********
* HTML5 特有标签格式化
*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden] {
	display: none
}