.userbar-btn {
    float: left;
    position: relative;
    visibility: visible !important;
}
.userbar-btn .btn-item {
    float: right;
    position: relative;
}
.userbar-btn .btn-item:hover {
    background-color: #0A69C9;
    background-color: rgba(0,99,199,0.96);
}
.userbar-btn .btn-item-anchor {
    display: block;
    width: 42px;
    height: 50px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
}
.userbar-btn .btn-item i {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.userbar-btn .btn-item-tips {
    position: absolute;
    right: 50%;
    margin-right: -81px;
    display: none;
    background-color: #0A69C9;
    background-color: rgba(0, 99, 199, 0.96);
}
.userbar-btn .btn-item:hover .btn-item-tips {
    display: block;
}

.userbar-btn .btn-item-tips p,.userbar-btn #shortCutBot a {
    height: 51px;
    width: 163px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 51px;
    cursor: pointer;
    font-size: 12px;
    color: #ffffff;
}
.userbar-btn .btn-addfav {
    width: 21px;
    height: 20px;
    margin-top: 15px;
    background: url(../img/addfav.png?__sprite) no-repeat;
}
.userbar-btn .btn-down {
    width: 17px;
    height: 17px;
    margin-top: 17px;
    background: url(../img/down.png?__sprite) no-repeat;
}
.userbar-btn .btn-sethome {
    width: 19px;
    height: 18px;
    margin-top: 16px;
    background: url(../img/setHome.png?__sprite) no-repeat;
}

/*has skin*/
.skin-on .userbar-btn .btn-item:hover,
.skin-on .userbar-btn .btn-item-tips {
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.8);
}

/*head fixed*/
.header-fixed-st .userbar-btn .btn-item-anchor {
    height: 40px;
}
.header-fixed-st .userbar-btn .btn-down {
    margin-top: 12px;
}
.header-fixed-st .userbar-btn .btn-addfav {
    margin-top: 10px;
}
.header-fixed-st .userbar-btn .btn-sethome {
    margin-top: 11px;
}