.w960 .box-search .box-search_wrap .box-search_form .input input {
	width: 460px;
}
.w960 .l-wrap .box-search {
	width: 750px;
	margin-left: 22px;
}
/* sug */
.w960 .box-search .sug-search,
.w960 .box-search .baidu_sug,
.w960 .box-search .baidu_video_sug {
	width: 469px;
}
/* hotSearchWords */
.w960 .box-search_hsrch {
	width: 562px;
}
.w1120 .box-search_hsrch {
	width: 640px;
}
