.nav-lv2 li {
	display: block;
	background-color: #f5f7f7;
}
.nav-lv2 a {
	display: block;
	border-right: 0 none;
	height: 30px;
	line-height: 30px;
	padding: 0 9px;
	color: #666;
	border-left: 1px solid #e3e5e6;
	border-right: 1px solid #e3e5e6;
	outline: none;
}
.nav-lv2 a:hover {
	background-color: #fff;
}

.nav-lv2_list {
	border-top: 1px solid #e3e5e6;
}
li.nav-lv2_more {
	background-color: #fbfbfb;
	background-image:-moz-linear-gradient(rgb(252,252,252) 0%,rgb(245,247,247) 100%);
	background-image:-webkit-gradient(linear,color-stop(0, rgb(252,252,252)),color-stop(1, rgb(245,247,247)));
	background-image:-webkit-linear-gradient(rgb(252,252,252) 0%,rgb(245,247,247) 100%);
	background-image:-o-linear-gradient(rgb(252,252,252) 0%,rgb(245,247,247) 100%);
	background-image:-ms-linear-gradient(rgb(252,252,252) 0%,rgb(245,247,247) 100%);
	background-image:linear-gradient(rgb(252,252,252) 0%,rgb(245,247,247) 100%);
	text-align: right;
	position: relative;
	z-index: 1;
	overflow: visible;
}
.nav-lv2_more a {
	border-bottom: 1px solid #e3e5e6;
	padding: 0;
	overflow: hidden;
}
.nav-lv2_more span {
	font-weight: bold;
	color: #4ac29a;
}
li.nav-lv2_more-show {
	background-color: #ebfcf7;
	background-image: none;
}
.nav-lv2_more-show a {
	border: 1px solid #ceded9;
}
.nav-lv2_more p {
	padding: 0 9px;
	line-height: 28px;
	border: 1px solid #fbfbfb;
	border-top: 2px solid #fbfbfb;
}
.nav-lv2_more-show p {
	border: 1px solid #fff;
	border-left: 0 none;
}
.nav-lv2_more-content {
	position: absolute;
	bottom: 0;
	right: 181px;
	background-color: #ebfcf7;
	border: 1px solid #ceded9;
	border-right: 0 none;
	display: none;
}
.nav-lv2_more-content li {
	width: 186px;
	background-color: #ebfcf7;
	border-right: 1px solid #ceded9;
}
.nav-lv2_more-content a {
	border: 0 none;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 0 9px;
	text-align: left;
}
.nav-lv2_more-content .first-child a {
	border-top:1px solid #fff;
}
.nav-lv2_more-content .last-child a {
	border-bottom:1px solid #fff;
}
.nav-lv2_more-content .noborder, .nav-lv2_more-content .noborder a {
	border-right: 1px solid #EBFCF7;
}
.nav-lv2_more-content .disabled a, .nav-lv2_more-content .disabled a:hover {
	background-color: #ebfcf7;
	cursor: default;
}
#navMoreContract {
	display: none;
}
.nav-lv2_more-show #navMoreContract {
	display: block;
}
.nav-lv2_more-show #navMoreExpand {
	display: none;
}
