/* history */
.hotsite-container {
    /*position: relative;*/
    overflow: hidden;
}
.hotsite-tabs {
    background: #fcfdff;
    visibility: visible !important;
}

.hotsite-tabs_btn {
    position: relative;
    display: block;
    float: left;
    padding: 0 30px;
    height: 27px;
    line-height: 27px;
    color: #454545;
    font-size: 13px;
    white-space: nowrap;
}
.hotsite-tabs_btn:hover {
    color: #00b075;
}
.hotsite-tabs .cur {
    color: #00b075;
    font-weight: bold;
}
.i-hotsite, .i-history,.i-hotsite-newtab {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/i-history-hotarea.png?__sprite) no-repeat;
    margin: 0 4px -1px 0;
    _margin-top: 5px;
}
.i-history {
    background: url(../img/i-history.png?__sprite) no-repeat;
}
.icon-new_red {
    position: absolute;
    right: 0px;
    top: 5px;
}
.cur .i-hotsite, .hotsite-tabs_btn:hover .i-hotsite {
    background: url(../img/i-history-hotarea-hover.png?__sprite) no-repeat;
}
.cur .i-history, .hotsite-tabs_btn:hover .i-history {
    background: url(../img/i-history-hover.png?__sprite) no-repeat;
}
.hotsite-hist_wrap {
    float: left;
    width: 956px;
    border: 1px solid #fff;
    border-bottom: 0 none;
    background: #fcfdff;
    position: relative;
    padding: 39px 0 45px;

    visibility: visible !important;
}
.hotsite-hist {
    height: 192px;
    /*padding: 0 22px;*/
    padding: 0 3.5%;
    position: relative;
    overflow: hidden;
}
.hist-block {
    display: block;
    _display:inline-block;
    width: 167px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    float: left;
    /*margin: 8px 7px 8px 8px;*/
    margin: 8px 1% 8px;
    background: #0bb079;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    z-index: 100;
}
.hotsite-hist_bg {
    height: 70px;
    width: 345px;
    margin: 64px auto 0;
    padding-left: 65px;
    color: #4ec19b;
    font-size: 14px;
    text-align: left;
    position: relative;
}
.hotsite-hist_bg i{
    background: url(../img/i-history-hist-bg.png?__sprite) no-repeat;
    height: 51px;
    width:55px;
    position: absolute;
    left: 0;
    top:0;
    display: block;
}
.hotsite-hist_bg span {
    display: inline-block;
    padding-top: 13px;
}
.hist-block_big {
    width: 349px;
}
.hist-icon {
    display: inline-block;
    width: 24px;
    height: 26px;
    margin: 0 6px -6px 0;
    _margin-top: 25px;
    background: url(../img/i-history-hist-icon.png?__sprite) no-repeat;
}
.hist-block_remove {
    display: block;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url(../img/i-history-remove-btn.png?__sprite) no-repeat;
    cursor: pointer;
    font-size: 0;
    display: none;
}
.hist-block_remove_hover {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.hist-block_img {
    *font-size: 70px;
}
.hist-block_img .hist-block_title {
    display: none;
}
/*metro*/

/*覆盖云笔记的按钮样式*/
.metro-hotsite-tabs i.i-notepad {width: 18px;background: url(../img/metro-notepad.png?__sprite) no-repeat;}
.metro-hotsite-tabs .cur i.i-notepad,.metro-hotsite-tabs .hotsite-tabs_btn:hover i.i-notepad {width: 18px;background: url(../img/metro-notepad-hover.png?__sprite) no-repeat;}
.metro-hotsite-tabs .close i.i-notepad,.metro-hotsite-tabs .cur:hover i.i-notepad {background: url(../img/notepad-close.png?__sprite) no-repeat;}

/*覆盖云导航的按钮样式*/
.metro-hotsite-tabs i.i-history {width: 15px;height: 14px;background: url(../img/metro-history.png?__sprite) no-repeat;}
.metro-hotsite-tabs .cur i.i-history,.metro-hotsite-tabs .hotsite-tabs_btn:hover i.i-history {background: url(../img/metro-history-hover.png?__sprite) no-repeat;}
/*.hotsite span, .heatsite-list, .hist-block, .hotsite-hist_bg {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-timing-function: ease-out;
    -o-animation-duration: 1s;
    -o-animation-fill-mode: forwards;
    -o-animation-timing-function: ease-out;
    -ms-animation-duration: 1s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.scroll-animate {
    -webkit-transform: translateX(960px);
    -moz-transform: translateX(960px);
    -o-transform: translateX(960px);
    -ms-transform: translateX(960px);
    transform: translateX(960px);
}
.right-in {
    -webkit-animation-name: rightIn;
    -moz-animation-name: rightIn;
    -o-animation-name: rightIn;
    -ms-animation-name: rightIn;
    animation-name: rightIn;
}
.left-out {
    -webkit-animation-name: leftOut;
    -moz-animation-name: leftOut;
    -o-animation-name: leftOut;
    -ms-animation-name: leftOut;
    animation-name: leftOut;
}
@-webkit-keyframes rightIn {
    0% {-webkit-transform: translateX(960px);}
    70% {-webkit-transform: translateX(-20px);}
    85% {-webkit-transform: translateX(10px);}
    100% {-webkit-transform: translateX(0);}
}
@-webkit-keyframes leftOut {
    0% {-webkit-transform: translateX(0);}
    100% {-webkit-transform: translateX(-960px);}
}
@-moz-keyframes rightIn {
    0% {-moz-transform: translateX(960px);}
    70% {-moz-transform: translateX(-20px);}
    85% {-moz-transform: translateX(10px);}
    100% {-moz-transform: translateX(0);}
}
@-moz-keyframes leftOut {
    0% {-moz-transform: translateX(0);}
    100% {-moz-transform: translateX(-960px);}
}
@-o-keyframes rightIn {
    0% {-o-transform: translateX(960px);}
    70% {-o-transform: translateX(-20px);}
    85% {-o-transform: translateX(10px);}
    100% {-o-transform: translateX(0);}
}
@-o-keyframes leftOut {
    0% {-o-transform: translateX(0);}
    100% {-o-transform: translateX(-960px);}
}
@-ms-keyframes rightIn {
    0% {-ms-transform: translateX(960px);}
    70% {-ms-transform: translateX(-20px);}
    85% {-ms-transform: translateX(10px);}
    100% {-ms-transform: translateX(0);}
}
@-ms-keyframes leftOut {
    0% {-ms-transform: translateX(0);}
    100% {-ms-transform: translateX(-960px);}
}
@keyframes rightIn {
    0% {transform: translateX(960px);}
    70% {transform: translateX(-20px);}
    85% {transform: translateX(10px);}
    100% {transform: translateX(0);}
}
@keyframes leftOut {
    0% {transform: translateX(0);}
    100% {transform: translateX(-960px);}
}*/
