.mod-sidebar-retie{
    position: relative;
    height: 450px;
    background-color: #ebebeb;   
}
.mod-sidebar-retie .ui-o{
	height: 70%;
}
.mod-sidebar-retie .reties{
	padding: 15px 15px 0;
}
.mod-sidebar-retie .retie-item{	
	margin-bottom: 15px;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
	padding: 2px 5px 6px;
}
.mod-sidebar-retie .retie-item:hover{
	box-shadow: 0px -1px 0px #01a3ef, 1px 0px 0px #01a3ef, 0px 0px 0px #01a3ef, -1px 0px 0px #01a3ef;
	border-bottom: 1px solid #01a3ef;
}
.mod-sidebar-retie .retie-item:hover p{
	color: #00618e;
}
.mod-sidebar-retie .retie-head{
	color: #bfbfbf;
}
.mod-sidebar-retie .retie-time{
	float: right;
}
.mod-sidebar-retie .retie-reply{
	float: left;
	margin-top: -5px;
}
.mod-sidebar-retie .retie-link{
	position: relative;
	display: block;
	border-radius: 1px;
}
.mod-sidebar-retie .retie-link p{
	line-height: 20px;
	color: #01a3ef;
	font-size: 13px;
	display: inline;
}
.mod-sidebar-retie .retie-link .hot{
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(../img/hot.png?__sprite);
	margin-right: 5px;
	vertical-align: middle;
}
.mod-sidebar-retie .reply-num{
	display: inline-block;
	min-width: 35px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #ff0000;
	margin-right: 3px;
	background: #ff4504;
	background: linear-gradient(to bottom, #ff7640, #ff4504);
	background: -webkit-gradient(linear, left top, left bottom, from(#ff7640), to(#ff4504));
	padding: 0 2px;
	height: 22px;
	line-height: 18px;
	border-top: 1px solid #ff0000;
	position: relative;
}
.mod-sidebar-retie .reply-num .trigger{
	display: inline-block;
	width: 0px;
	height: 0px;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	border-bottom: 4px solid #fff;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.mod-sidebar-retie .bottom-mask{
	height: 30px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: linear-gradient(to top,rgba(255,255,255,1),rgba(255,255,255,0));
	background: -webkit-gradient(linear,left bottom,left top,from(rgba(255,255,255,1)),to(rgba(255,255,255,0)));
	pointer-events: none;
}