
.box-lv2 {
	border: 1px solid #e3e5e6;
}
.box-lv2 dt {
	height: 28px;
	background-color: #f5f7f7;
	color: #00b075;
	font-size: 14px;
	line-height: 28px;
	border-bottom: 1px solid #edeff0;
	padding-right: 9px;
}
.box-lv2 dd {
	background-color: #fafcfc;
	padding: 5px 5px 5px 0;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	overflow: hidden;
	zoom: 1;
}
.box-lv2 a {
	display: block;
	float: right;
	color: #595959;
	width: 174px;
	/*_width: 142px;*/
	height: 28px;
	line-height: 28px;
	padding-right: 4px;
	margin-left: 10px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.box-lv2 a:hover {
	background-color: #e8eaeb;
}

.box-how li{
	_width:100%;
}
.item-title {
	display:block;
	background-image: url(../img/repeat-x_normal.png?__sprite);
	background-repeat: repeat-x;
	line-height:28px;
	border:1px solid #e3e5e6;
	border-bottom:1px solid #dcddde;
	color:#00b075;
	font-size:14px;
	font-weight:bold	
}
.item-title:hover {
	text-decoration:none;
	background-image: url(../img/repeat-x_hover.png?__sprite);
}
.item-title:active{
	background-image: url(../img/repeat-x_active.png?__sprite);
}
.box-how .extend{
	border-bottom:1px solid #edeff0;
	/*background-position:0 -31px*/
}
/*.box-how .extend:hover{
	background-position:0 0
}*/
.icon-title {
	background:url(../img/bg_how.png) 9px 8px no-repeat;
	display:inline-block;
	float:left;
	height:28px;
	width:30px
}
.b-icon-l
{
	background:url(../img/how-plus.png?__sprite) no-repeat;
	display:inline-block;
	float:right;
	height:28px;
	width:19px
}
.extend .b-icon-l
{
	background:url(../img/how-minus.png?__sprite) no-repeat;
}
.b-icon-r{
	background:url(../img/how-row-bottom.png?__sprite) no-repeat;
	display:inline-block;
	float:left;
	height:28px;
	width:27px
}
.extend .b-icon-r
{
	background:url(../img/how-row-top.png?__sprite) no-repeat;
}
.icon-bro {
	background:url(../img/bg_how.png) 0 -53px no-repeat;
	display:inline-block;
	float:left;
	height:28px;
	width:25px
}
.b-icon-bro
{
	display:inline-block;
	float:right;
	height:28px;
	width:20px
}
.b-icon-msie{
	
	background:url(../img/how-ie.png?__sprite) no-repeat
}
.b-icon-chrome
{
	background:url(../img/how-chrome.png?__sprite) no-repeat
}
.b-icon-firefox
{
	background:url(../img/how-firefox.png?__sprite) no-repeat
}
.b-icon-safari
{
	background:url(../img/how-safari.png?__sprite) no-repeat
}
.b-icon-opera
{
	background:url(../img/how-oprea.png?__sprite) no-repeat;
}
/*.icon-ie {
	background-position:0 -53px
}
.icon-chrome {
	background-position:0 -82px
}
.icon-ff {
	background-position:0 -114px
}
.box-how {
	padding-bottom:50px;
	padding-top:40px;
}*/
.item-content {
	padding:10px 9px 10px 0;
	color:#666;
	line-height:25px;
	background:#fafcfc;
	border-left:1px solid #e3e5e6;
	border-right:1px solid #e3e5e6;
	border-bottom:1px solid #dcddde;
	display:none;
}
.item-content li {
	padding-bottom:3px
}
.item-content .fl {	
	/*margin-right:7px*/
	width:22px;
}
.mod{
	overflow:hidden;
	*display:inline;
	padding-right:8px;
}
.item-content li
{
	display: block;
}

.item-content a {
	font-weight:bold;
	color:#2850a3
}

.item-content img {
	zoom:1;
	margin-left:9px;
	float: right;
}
.item-content-box{
 	 margin-top:5px; 	 
 	 overflow: hidden;
 	 zoom:1;
 }
.box-how h1 {	
	padding-top:5px;
	padding-bottom:10px;
	text-align:center;
	color:#00b075;
	font:bold 14px/33px "Microsoft Yahei","新細明體",Tahoma,Helvetica,sans-serif
}
.box-how .title_icon{
	background:url(../img/how-set-homepage.png?__sprite) no-repeat;
	display:inline-block;
	width:39px;
	height:33px;
	margin-bottom:-9px;
	margin-right:5px;
}
.box-uninstall .title_icon{
	background:url(../img/how-remove-homepage.png?__sprite) no-repeat;
}

.item-content img{width:48%;}
.box-about dd,.box-disclaimer dd,.about .custom{padding:10px 10px 13px;color:#666;}
.box-disclaimer dd,.about .custom{line-height:20px;}
.box-about .title{font-weight:600;padding:4px 0 10px;}
.box-about .desc{line-height:17px;}

dd.fl-imgLink{padding-bottom:15px;}
.fl-imgLink span{ display: inline-block; *display:inline;*zoom:1;width: 150px; overflow: hidden; vertical-align:top;white-space: nowrap;letter-spacing: normal;word-spacing: normal}        
.fl-imgLink a{display: block;color:#454545;width:100%;text-align:center;padding-top: 20px;line-height: 28px;float:left;height:auto;padding-left:0;}
/*.fl-imgLink a:hover{background: #ebebeb;}*/
.fl-imgLink img{ width: 116px; height: 46px; display: block;  margin: 0 auto; border:1px solid #f2f2f2;}

.intro{padding:0 5px 10px;line-height:17px;color:#595959;}
.intro .item{margin-top:10px;}
.intro .item_r{overflow:hidden;zoom:1;display:block;padding-right:5px;}
.intro .title{/*text-indent:20px;*/}
.intro .linkInfo{margin-top:20px;}
.intro .linkInfo p{margin-bottom:10px;}
.intro .linkInfo .t-hd{display:inline-block;width:220px;font-weight:600;}
.intro .linkInfo .t-show{/*display:inline-block;width:152px;*/color:#00ae74;padding-left:10px;padding-right:5px;}
.intro .linkInfo .r2 .t-show{height:48px;}
.intro .linkInfo .t-show img{width:116px;height:46px;border:1px solid #f2f2f2;vertical-align:top;}
.intro .linkInfo textarea{border:solid 1px #bababa;vertical-align:top;padding:7px;}
/*private*/
.links{margin-top:10px; background:#fff;border:solid 1px #c6d6e8; margin-bottom:0; padding:0; line-height:31px;}
.links_inner{ height:auto; padding-left:14px; padding-top:10px; padding-bottom:20px;}
.links .t{ letter-spacing:normal;font-weight:bold; line-height:30px; color:#5C645F;background: #F4F8FC url(../img/bg_x.png) repeat-x 0 0; padding-left:20px; zoom:1;/*fix ie6 padding*/ overflow:hidden;}
 
.imgLink span{display:inline-block; width:150px;height:100px;border:solid 1px #d9d9d9; overflow:hidden; margin:10px 4px 0 0;}
.imgLink span a{float:left;}
.imgLink span a img{width:148px;height:98px;margin:1px;}
.textLink span{display:inline-block; width:155px;height:30px;overflow:hidden;}

