.settings {
    float: left;
    position: relative;
    visibility: visible !important;
}
.settings-btn {
    position: relative;
    z-index: 12;
    visibility: visible !important;
    width: 18px;
    height: 19px;
    border: 1px solid #00af75;
    background: url(../img/i-settings-btn.png?__sprite) no-repeat;
    display: block;
}
.settings-dropdown,.settings-site {
    display: none;
}

/*----------more------------*/

.settings-site {
    display: block;
}

.settings-btn_open {
    background: url(../img/i-settings-btn-open.png?__sprite) no-repeat;
    border: 1px solid #bee2d6;
    border-bottom: 0 none;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}
.settings-dropdown {
    display: none;
    position: absolute;
    background-color: #ebfcf7;
    border: 1px solid #bee2d6;
    top: 19px;
    left: 0;
    width: 162px;
    overflow: hidden;
    z-index: 11;
}
.settings-site {
    display: block;
    overflow: hidden;
    padding: 5px 10px;
}
.settings-site li {
    display: block;
    float: right;
}
.settings-site a {
    display: block;
    width: 61px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    font-size: 12px;
    color: #454545;
}
.settings-site a:hover {
    background-color: #d9f3ea;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.settings-site .cur {
    color: #00ac72;
    cursor: default;
}
.settings-site .cur:hover {
    background-color: transparent;
}