html, body{
    background-color: #ffffff;
}

.l-wrap{
    width: 1120px !important;
}

.mod-sitemap-title{
    height: 18px;
    line-height: 18px;
    margin-top: 18px;
    font-size: 18px;
    font-weight: bold;
    color: #1c81e5;
}