.userbar-btn {
    float: right;
    clear: both;
    width: 220px;
    font-size: 12px;
    visibility: visible !important;
    position: relative;
    z-index: 2;
}
.userbar-btn .userbar-btn-item {
    float: right;
    margin-right: 1px;
    background: #00ad73; 
    height: 18px;
    line-height: 20px;
    padding: 0 7px 0 2px;
    color: #fff;
    border: 1px solid #009e69;
    text-decoration: none;
    width: 9px;
    overflow: hidden;
    white-space: nowrap;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    transition: width .4s ease;
    -webkit-transition: width .4s ease;
    -moz-transition: width .4s ease;
    cursor: pointer;
}
/*.userbar-btn a#setHome {
    width: auto;
}*/
body .userbar-btn .userbar-btn_click {
    background-position: 0 -578px;
}
.userbar-btn i {
    width: 19px; 
    height: 18px;
    display: inline-block;
    float: left;
}
.userbar-btn span {
    display: inline-block;
    line-height: 18px;
    overflow: hidden;
    *overflow: inherit;
}

.userbar-btn .userbar-sethome {
    background: url(../img/i-sethome-new.png?__sprite) no-repeat;
}
.userbar-btn .userbar-addfav {
    background: url(../img/i-addfav-new.png?__sprite) no-repeat;
}
.userbar-btn .userbar-down {
    background: url(../img/i-down-new.png?__sprite) no-repeat;
}
/*.userbar-btn .userbar-btn_click .userbar-sethome {
    background: url(../img/i-sethome-click.png) no-repeat;
}
.userbar-btn .userbar-btn_click .userbar-addfav {
    background: url(../img/i-addfav-click.png) no-repeat;
}
.userbar-btn .userbar-btn_click .userbar-down {
    background: url(../img/i-down-click.png) no-repeat;
}*/

body .mod-ff-sethome2 {
    z-index: 402;
    right: 4px;
    top: 24px;
    padding-top: 8px;
    width: 180px;
}
body .mod-ff-sethome2 .ui-bubble_in, body .mod-ff-sethome2 .ui-bubble_out {
    left: auto;
    right: 36px;
}
.mod-ff-sethome2 .ui-bubble_close {
    position: absolute;
    left: auto;
    right: 0;
    margin-right: 0;
    margin-left: -10px;
}
