.box-skin{visibility: hidden;}
#skin-bgimage{ position:absolute; width:100%; height:92%; z-index:-2; background-position:center 0; background-repeat:no-repeat;-webkit-transform:translate3d(0px, 0px, 0px); }