#embed-iframe-nav {
	width: 960px;
	height: 38px;
	margin-bottom: -1px;
	position: relative;
	z-index: 3
}
#embed-iframe-wrapper {
	border: 1px solid;
	border-color: #d7ddde #d7ddde #cacccc #dfe4e6;
	overflow: hidden;
	background-color: #fcfdff;
	padding: 10px;
	height: 265px;
}
#embed-iframe-nav i {
	display: inline-block;
	width: 40px;
	height: 37px;
}
#embed-iframe-nav .nav-item {
	position: relative;
	float: right;
	line-height: 32px;
}
#embed-iframe-nav .nav-item,
#embed-iframe-nav .nav-item a,
#embed-iframe-nav .nav-item p
{
	text-align: center;
	display: block;
	height: 38px;
	color: #fff;
	font-size: 14px;
}
#embed-iframe-nav .nav-item span,
#embed-iframe-nav .nav-item i
{
	vertical-align: middle;
	margin-left: 10px;
}
#embed-iframe-nav .nav-item i
{
	margin-top: -5px;
}
#embed-iframe-nav .nav-item span{
	margin-top: 4px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
#embed-iframe-nav .space {
	float:right;
	width: 20px;
	line-height: 38px;
	height: 38px;
	background: url(./space-bg.png?__sprite) no-repeat;
}
#embed-iframe-nav .first{
	background: url(./space-bg-right.png?__sprite) no-repeat;
}
#embed-iframe-nav .last{
	background: url(./space-bg-left.png?__sprite) no-repeat;
}
#embed-iframe-nav .home, #embed-iframe-nav li.last-nav{
	width: 218px;
}
#embed-iframe-nav .home i{
	background: url('./home-link.png?__sprite') no-repeat 0 0;
}
#embed-iframe-nav .news {
	width: 212px;
}
#embed-iframe-nav .news i{
	background: url('./news-link.png?__sprite') no-repeat 0 0;
}

#embed-iframe-nav .image {
	width: 212px;
}
#embed-iframe-nav .image i{
	background: url('./imgae-link.png?__sprite') no-repeat 0 0;
}
#embed-iframe-nav .movie {
	width: 212px;
}
#embed-iframe-nav .movie i{
	background: url('./movie-link.png?__sprite') no-repeat 0 0;
}
#embed-iframe-nav .current-right {
	background: url('./current-right.png?__sprite') no-repeat;
}
#embed-iframe-nav .first.current-right {
	background: url('./current-right-edge.png?__sprite') no-repeat;
}
#embed-iframe-nav .current-left {
	background: url('./current-left.png?__sprite') no-repeat;
}
#embed-iframe-nav .last.current-left {
	background: url(./current-left-edge.png?__sprite) no-repeat;
}
#embed-iframe-nav .nav-item {
	background: url(./link-bg.png?__sprite) repeat-x;
}
#embed-iframe-nav .nav-item.current {
	background: url(./current-bg.png?__sprite) repeat-x;
}
#embed-iframe-nav .nav-item.current a{
	color: #00AF71;
}
/*hover*/
#embed-iframe-nav .nav-item.hover a{
	text-decoration: none;
}
#embed-iframe-nav .nav-item.hover i{
   
	animation-name: shake;
	animation-duration: 0.12s;
	animation-timing-function: ease-in-out; 
	animation-iteration-count: 3;
	
	-moz-animation-name: shake;
	-moz-animation-duration: 0.12s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: 3;

	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.12s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 3;
	
	-o-animation-name: shake;
	-o-animation-duration: 0.12s;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count: 3;

	-ms-animation-name: shake;
	-ms-animation-duration: 0.12s;
	-ms-animation-timing-function: ease-in-out;
	-ms-animation-iteration-count: 3;
	
}
/*是否将nav-item固定在页面顶端*/
#embed-iframe-nav.embed-fixed {
	position: fixed;
	top: 0;
	z-index: 10;
}

#embed-iframe-loading {
	position: absolute;
	z-index:2;
	width: 960px;
	height: 400px;
	text-align: center;
}
#embed-iframe-loading .loading {
	margin-top: 80px;
	width: 45px;
	height: 44px;
}
#embed-iframe-loading .loading-desc {
	margin-top: 20px;
	color: #999;
}

/*动画定义*/
@keyframes shake {
    0% {margin-top: -5px;}
    50% {margin-top: -8px;}
    100% {margin-top: -5px;}
}
@-webkit-keyframes shake {
    0% {margin-top: -5px;}
    50% {margin-top: -8px;}
    100% {margin-top: -5px;}
}
@-moz-keyframes shake {
    0% {margin-top: -5px;}
    50% {margin-top: -8px;}
    100% {margin-top: -5px;}
}
@-o-keyframes shake {
    0% {margin-top: -5px;}
    50% {margin-top: -8px;}
    100% {margin-top: -5px;}
}
@-ms-keyframes shake {
    0% {margin-top: -5px;}
    50% {margin-top: -8px;}
    100% {margin-top: -5px;}
}