/*.mod-big-ad-switch {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}*/
.mod-big-ad-switch a {
    display: block;
}
.mod-big-ad-switch img {
    display: block;
    width: 300px;
    height: 250px;
}
/*.mod-big-ad-switch .nav-item-list {
    position: relative;
    float: left;
    height: 100%;
    z-index: 1;
}*/
/*.mod-big-ad-switch .nav-item {
    float: left;
}*/
/* loading */
.mod-big-ad-switch .ui-o{
    width: 300px;
    height: 250px;
    transition: opacity linear 0.6s;
    -webkit-transition: opacity linear 0.6s;
    -moz-transition: opacity linear 0.6s;
    -o-transition: opacity linear 0.6s;
    -ms-transition: opacity linear 0.6s;
    -khtml-transition: opacity linear 0.6s;
    opacity: 0;
    background-color: #ffffff;
}
.js-slide-on .ui-o {
    opacity: 1;
}
/* arrow */
.mod-big-ad-switch .slide-prev,
.mod-big-ad-switch .slide-next{
    position: absolute;
    width: 20px;
    height: 30px;
    background: blue;
    top: 50%;
    margin-top: -15px;
    background-color: #000;
	font-size: 24px;
	opacity: .4;
	filter: alpha(opacity=40);
	color: #CCC;
	line-height: 30px;
	text-align: center;
	font-family: arial;
    z-index: 1;
    visibility: visible !important;
}
.mod-big-ad-switch .slide-prev{
    left: 0;
    -moz-border-top-right-radius: 12px;
    -moz-border-bottom-right-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.mod-big-ad-switch .slide-next{
    right: 0;
    -moz-border-top-left-radius: 12px;
    -moz-border-bottom-left-radius: 12px;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.mod-big-ad-switch .slide-prev:hover,
.mod-big-ad-switch .slide-next:hover{
    color: #fff;
    cursor: pointer;
}

/* 显示模块 */
.side-mod-preload-big-ad-switch{
    border:0!important;
    background: transparent!important;
}
.side-mod-preload-big-ad-switch > *{
    visibility: visible!important;
}
