.mod-video .item {
	width: 95px;
	height: 136px;
	float: left;
	position: relative;
	/*margin-bottom: 10px;*/
	margin-right: 6px; 
}
.mod-video .item img {
	width: 100%;
	height: 100%;
}
.mod-video .item span {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 6px;
	color: #ffffff;
	font-size: 12px;
	background-color: #000000;
	background-color: rgba(0,0,0, 0.5);
}
.mod-video .wrap {
	float: left;
	overflow: hidden;
	height: 146px;
	margin-left: 10px;
}
.mod-video .o-slogan a {
	display: inline-block;
}
.mod-video .o-content {
	padding-top: 8px;
}
