@import url('/widget/anchorbar/anchorbar-c.css?__inline');
.mod-anchorbar{
	border-left-width: 0; 
	cursor: pointer;
}
.mod-anchorbar .anchor-nav{
	position: relative;
	z-index: 1;
	line-height: 40px;
	height: 40px;
	/**/font-size: 13px;	
	font-weight: 400;
	color: #5a5a5a;
	background-color: #fff;
}

.mod-anchorbar .anchor-prompt{
	display: none;
	height: 22px;
	line-height: 22px;
	padding: 0 10px;
	color: rgb(135,135,135);
	border-left: 1px solid #e3e5e6;
}

.mod-anchorbar .anchor-nav .ui-nav {
	width: 239px;
	position: relative;
}
.mod-anchorbar .anchor-nav .ui-nav .wrap {
	width: 219px;
	height: 40px;
	overflow: hidden;
	position: relative;
}
.mod-anchorbar .anchor-nav .nav-item-list {
	position: absolute;
	right: 0;
	list-style: none;
	white-space: nowrap;
	padding: 0;
}

.mod-anchorbar .anchor-nav .nav-item {
	display: inline-block;
	*display: inline;
    *zoom: 1;
	width: 219px;
	text-align: center;
}

.mod-anchorbar .anchor-nav .anchor-group{
	width: 207px;
	padding: 7px 2px 7px 10px;
	overflow: hidden;
	background-color: #fff;
}
.mod-anchorbar .anchor-nav .anchor-item{
	float: right;
	display: inline;
	overflow: hidden;
	margin-right: 8px;
	cursor: pointer;
}
.mod-anchorbar .anchor-nav .last{
	float: left;
	margin-right: 0;
}

.mod-anchorbar .anchor-nav .anchor-icon{
	float: left;
	height: 26px;
	width: 26px;
}
.mod-anchorbar .anchor-nav .anchor-title{
	float: left;
	height: 26px;
	width: 0;
	line-height: 26px;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	background-color: rgb(235,235,235);
}
.mod-anchorbar .anchor-nav .first .anchor-title{
	width: 105px;
}
.mod-anchorbar .anchor-nav .ctrl {
	position: absolute;
	left: 0;
}
