.mod-bottom-vote{
	padding-top: 15px;
	padding-bottom: 10px;
	height: auto;
	width: 210%;
}
.mod-bottom-vote .votePage,.mod-bottom-vote .resultPage{
	width: 941px;
	height: 100%;
	float: right;
	margin-right: 15px;
	display: inline-block;
}
.mod-bottom-vote .resultPage{
	width: 960px;
	height: 95px;
	position: relative;
	margin-top:-5px;
	margin-left: 0;
	margin-right: 15px;
}
.mod-bottom-vote .voteReview,.mod-bottom-vote .voteVote{
	position: relative;
	display: inline-block;
	float: right;
}
.mod-bottom-vote .voteReview a,.mod-bottom-vote  .voteReview img{
	width: 161px;
	height: 79px;
	display: block;
}
.mod-bottom-vote .voteVote{
	width: 711px;
	padding: 0 30px; 
}
.mod-bottom-vote .voteTitle{
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}
.mod-bottom-vote .voteTitle .voteTitle-check{
	float: left;
	color: #00b075;
	font-size: 13px;
	cursor: pointer;
}
.mod-bottom-vote .votes{
	display: inline-block;
	width: 105px;
	height: 24px;
	line-height: 24px;	
	overflow: hidden;
	cursor: default;
}
.mod-bottom-vote .bottomvoteIcon{
	display: inline-block;
	height: 16px;
	width: 16px;
}
.mod-bottom-vote .voteRadio{
	width: 12px;
	height: 12px;
	display: inline-block;
	background: url(../img/i-radio-normal.png?__sprite) no-repeat;
	cursor: pointer;
	margin-bottom: -1px;
	margin-right: 3px;
}
.mod-bottom-vote .voteRadio-hover{
	background: url(../img/i-radio-hover.png?__sprite) no-repeat;
}
.mod-bottom-vote .voteRadio-check{
	background: url(../img/i-radio-checkd.png?__sprite) no-repeat;
}
.mod-bottom-vote .voteBtnContatiner{
	position: absolute;
	left: 30px;
	top:32px;
	top:34px\9;
	width: 58px;
	height: 43px;
	background-color: #1db77e;
}
.mod-bottom-vote .voteBtnContatiner button{
	width: 100%;
	height: 100%;
	background: none;
	border: 0 none;
	color: white;
}

.mod-bottom-vote .voteItem{
	width: 72px;
	float: right;
	cursor: default;
}
.mod-bottom-vote .voteItem.seleced{
	border:1px solid #65ad94;
	margin-left: 6px;
	margin-right: -1px;
	margin-top: -1px;
}
.mod-bottom-vote .votePercentNum,.votePercentImage,.votePercentName{
	display: block;
	text-align: center;
}
.mod-bottom-vote .votePercentImage{
	height: 56px;
	width: 10px;
	margin: 1px auto 2px auto;
	border: 1px solid #d7d9d9;
	background-color: #e3e6e6;
	position: relative;
}
.mod-bottom-vote .votePercent{
	display: inline-block;
	width: 100%;
	border-left: 1px solid #65ad94;
	border-right: 1px solid #65ad94;
	border-bottom: 1px solid #65ad94;
	background-color: #6dbca1;
	height: 0%;
	position: absolute;
	bottom: -1px;
	right: -1px;
}
.mod-bottom-vote .votePercentName{
	display: inline-block;
	width: 100%;
	height: 15px;
	line-height: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mod-bottom-vote .votePercentName i{
	display: inline-block;
	width: 14px;
	height: 15px;
	background: url(../img/i-voteResult.png?__sprite) no-repeat;
	padding-left: 1px;
	color: white;
	font: 400 10px/17px Tahoma;
	text-align: center;
}
.mod-bottom-vote i.i-hide{display: none;}
.mod-bottom-vote span.backToVote{
	position: absolute;
	color: #00b075;
	left: 30px;
	top:-35px;
	font: 13px Tahoma;
	cursor: pointer;
}
.mod-bottom-vote .size30 .votes{
	height: 34px;
	line-height: 34px;	
	width: 160px;
}
.mod-bottom-vote .size30 .votes img{
	width: 30px;
	height: 30px;
}
.mod-bottom-vote .size30 .voteReview img{
	height: 125px;
}