/*hotsite*/
    .hotsite_b{ border: 1px solid;border-color:#d7ddde #d7ddde #cacccc #dfe4e6; position: relative; z-index: 2}
    .hotsite_wrap{width:100%;text-align: center;/*IE<=7 z-index hack*/ overflow: hidden; background-color: #fcfdff; *position: relative; padding-bottom: 3px;}



    .hotsite-custom{ display: none;}



     .hotsite{background-color: #fcfdff; overflow:hidden;padding:10px 10px 20px 10px;border: 1px solid;border-color:#FFF;border-bottom:none;float: left; width: 944px;}
        .hotsite-metro{ float:left;display: inline-block; *display:inline;*zoom:1;width: 117px; /*overflow: hidden; */vertical-align:top;/*position:relative;*/margin: 0 1px 1px 0;height: 98px;}        

        .hotsite .hotsite_link{padding-top: 10px;line-height: 28px;text-align:center;/*position:relative;z-index:1;*/}        

        .hotsite .more_trigger{border-top-color:#f56f2f;border-top-style:solid;border-width:5px;display:inline-block;vertical-align:middle;margin-top:2px;}
    

.hotsite .hotsite-for_tn {display: none;}

 .hotsite .more_links, .hotsite .search-form{ display: none; position: absolute; visibility: hidden;}
.hotsite-metro{position: relative;}
.hotsite-metro span.hotname{position: absolute;display: block;height: 14px;width: 100%;left:0;bottom:5px;color:white;font-weight: 700;}


.hotsite_wrap__s .hotsite-container{ height: 376px; }
.hotsite_wrap__s .hotsite-hist{height: 285px;}
.hotsite-custom_list,
.hotsite-custom_list .add-btn
{display:none;}

.metro-hover-container{display:none;z-index:1;width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
.hotsite-container{ height: 328px; }
div.hotsite-hist{height: 230px;}