.wrap-message{float: left;position: relative;}
.wrap-message-content{position: relative; background: #F0FFFB;width: 280px;}
.wrap-message-content li{border-bottom: 1px solid #BFF1E4;}
.wrap-message-content li:hover{background-color: #d6f8ef;}
.wrap-message-content .message-target{float:left;color: #666666;width: 255px;font-size: 12px;min-height: 58px;}
.message-target:hover span{color:#00ad72;}
a.message-target:hover span{text-decoration: underline;}
.message-over-item .message-target{color: #999999;}
.message-over-item .message-target:hover span{color: #777777;}
.message-target span{display: block;width: 200px;float: left;margin: 19px 0 10px 10px;}
.ico-message-delete{float: right;margin-top: 10px;margin-right:10px;display: none;width: 11px;height: 11px;background: url("../img/icon-delete.png?__sprite") no-repeat;}
.ico-message-delete:hover{cursor: pointer; background: url("../img/icon-delete-hover.png?__sprite") no-repeat;}
.wrap-message-content li:hover .ico-message-delete{display: block;}
.ico-message-new{position: absolute;right: 10px;top: 10px;width: 12px;height: 12px;background: url("../img/icon-msg-new.png?__sprite") no-repeat;}
.ico-message-type{width: 28px;height: 25px;float: left;margin-left: 15px;margin-top: 17px;background: url("../img/icon-msg-notice.png?__sprite") no-repeat;}
.ico-message-type1, .ico-message-type2{background: url("../img/icon-msg-notice.png?__sprite") no-repeat;}
.message-over-item .ico-message-type{background-image: url("../img/icon-msg-notice-over.png?__sprite");}
.message-over-item .ico-message-type1, .message-over-item .ico-message-type2{background-image: url("../img/icon-msg-notice-over.png?__sprite");}
.message-no-item{line-height: 58px;text-align: center;}
.message-no-item span{width: 100%;overflow: hidden;color: #aaaaaa;text-overflow:ellipsis;white-space: nowrap;}

/****** 固定页头调整 *****/
.header-fixed .ico-message-new{top: 4px;}