.box-how li{
	_width:100%;
}
.item-title {
	display:block;
	background-image: url(../img/repeat-x_normal.png?__sprite);
	background-repeat: repeat-x;
	line-height:28px;
	border:1px solid #e3e5e6;
	border-bottom:1px solid #dcddde;
	color:#00b075;
	font-size:14px;
	font-weight:bold	
}
.item-title:hover {
	text-decoration:none;
	background-image: url(../img/repeat-x_hover.png?__sprite);
}
.item-title:active{
	background-image: url(../img/repeat-x_active.png?__sprite);
}
.box-how .extend{
	border-bottom:1px solid #edeff0;
	/*background-position:0 -31px*/
}
/*.box-how .extend:hover{
	background-position:0 0
}*/
.icon-title {
	background:url(../img/bg_how.png) 9px 8px no-repeat;
	display:inline-block;
	float:left;
	height:28px;
	width:30px
}
.b-icon-l
{
	background-image: url(../img/how-plus.png?__sprite);
	background-repeat: no-repeat;
	display:inline-block;
	float:left;
	height:28px;
	width:19px
}
.extend .b-icon-l
{
	background-image: url(../img/how-minus.png?__sprite);
	background-repeat: no-repeat;
}
.b-icon-r{
	background-image: url(../img/how-row-bottom.png?__sprite);
	background-repeat: no-repeat;
	display:inline-block;
	float:right;
	height:28px;
	width:27px
}
.extend .b-icon-r
{
	background-image: url(../img/how-row-top.png?__sprite);
	background-repeat: no-repeat;
}
.icon-bro {
	background:url(../img/bg_how.png) 0 -53px no-repeat;
	display:inline-block;
	float:left;
	height:28px;
	width:25px
}
.b-icon-bro
{
	display:inline-block;
	float:left;
	height:28px;
	width:20px
}
.b-icon-msie{
	background-image: url(../img/how-ie.png?__sprite);
	background-repeat: no-repeat;
}
.b-icon-chrome
{
	background-image: url(../img/how-chrome.png?__sprite);
	background-repeat: no-repeat;
}
.b-icon-firefox
{
	background-image: url(../img/how-firefox.png?__sprite);
	background-repeat: no-repeat;
}
.b-icon-safari
{
	background-image: url(../img/how-safari.png?__sprite);
	background-repeat: no-repeat;
}
.b-icon-opera
{
	background-image: url(../img/how-oprea.png?__sprite);
	background-repeat: no-repeat;
}
/*.icon-ie {
	background-position:0 -53px
}
.icon-chrome {
	background-position:0 -82px
}
.icon-ff {
	background-position:0 -114px
}
.box-how {
	padding-bottom:50px;
	padding-top:40px;
}*/
.item-content {
	padding:10px 0 10px 9px;
	color:#666;
	line-height:25px;
	background:#fafcfc;
	border-left:1px solid #e3e5e6;
	border-right:1px solid #e3e5e6;
	border-bottom:1px solid #dcddde;
	display:none;
}
.item-content li {
	padding-bottom:3px
}
.item-content .fl {	
	/*margin-right:7px*/
	width:22px;
}
.mod{
	overflow:hidden;
	*display:inline;
	padding-right:8px;
}
.item-content li
{
	display: block;
}

.item-content a {
	font-weight:bold;
	color:#2850a3
}

.item-content img {
	zoom:1;
	margin-right:9px;
	float: left;
}
.item-content-box{
 	 margin-top:5px; 	 
 	 overflow: hidden;
 	 zoom:1;
 }
.box-how h1 {	
	padding-top:5px;
	padding-bottom:10px;
	text-align:center;
	color:#00b075;
	font:bold 14px/33px "Microsoft Yahei","新細明體",Tahoma,Helvetica,sans-serif
}
.box-how .title_icon{
	background-image: url(../img/how-set-homepage.png?__sprite);
	background-repeat: no-repeat;
	display:inline-block;
	width:39px;
	height:33px;
	margin-bottom:-9px;
	margin-right:5px;
}
.box-uninstall .title_icon{
	background-image: url(../img/how-remove-homepage.png?__sprite);
	background-repeat: no-repeat;
}