/* For 300px layout */
.flow-on .mod-charges_switch {
	width: 100%;
	height: 100px;
}
.flow-on .mod-charges img{
	width: 294px;
	height: 96px;
}
.flow-on .mod-charges .nav-item{width: 300px;}

.flow-on .mod-charges a {height: 102px; width: 300px;}
.flow-on .mod-charges_bg {height: 100px; width: 298px;}
.flow-on .mod-charges .prev, .flow-on .mod-charges .next{top: 40%;}

