.mod-score{
	position: relative;
}

.gradient-bg-green{
	width:100%;
	height:29px;
	line-height:29px;
	display:block;
	color:#fff;
	font-weight:600;
	text-align:center;
	background-color:#10b47d;
	background-image: -moz-linear-gradient(top , #10b47d, #3dc094 100.0%);
	background-image: -webkit-linear-gradient(top , #10b47d, #3dc094 100.0%);
	background-image: -o-linear-gradient(top , #10b47d, #3dc094 100.0%);
	background-image: -ms-linear-gradient(top , #10b47d, #3dc094 100.0%);
	background-image: linear-gradient(top , #10b47d, #3dc094 100.0%);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
a.gradient-bg-green{
	color:#fff;
}
.gradient-bg-green:hover{
	background-color:#0fa875;
	background-image: -moz-linear-gradient(top , #0fa875, #3cba90 100.0%);
	background-image: -webkit-linear-gradient(top , #0fa875, #3cba90 100.0%);
	background-image: -o-linear-gradient(top , #0fa875, #3cba90 100.0%);
	background-image: -ms-linear-gradient(top , #0fa875, #3cba90 100.0%);
	background-image: linear-gradient(top , #0fa875, #3cba90 100.0%);
	-webkit-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	-ms-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.gradient-bg-green:active{
	background-color:#0fa875;
	background-image: -moz-linear-gradient(top , #3cba90, #0fa875 100.0%);
	background-image: -webkit-linear-gradient(top , #3cba90, #0fa875 100.0%);
	background-image: -o-linear-gradient(top , #3cba90, #0fa875 100.0%);
	background-image: -ms-linear-gradient(top , #3cba90, #0fa875 100.0%);
	background-image: linear-gradient(top , #3cba90, #0fa875 100.0%);
}
.score-wrapper{
	height: 156px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
}
.mod-score .mod-side{
	padding: 10px 15px;
	border: 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.mod-score .scroll-container{
	border: 1px solid #d9d9d9;
}
.score-powerby{
	padding-top: 1px;
	padding-bottom: 9px;
	color: #ccc;
	font-size: 12px;
	text-align: right;
}
.score-title{
	padding-bottom: 13px;
	font-size: 12px;
}
.score-title span{
	font-size: 16px;
	color: #f67537;
}
.score-label{
	padding-bottom: 7px;
	color: #5a5a5a;
	font-size: 14px;
}
.score-item{
	display: block;
	line-height: 18px;
	padding: 4px 5px;
	cursor: pointer;
	font-size: 12px;
}
.score-item_hover{
	background: #e8eaeb;
}
.score-item_cur{
	background: #95dec6;
	color: #fff;
}

/*显示模块*/
.side-mod-preload-score{

}
.side-mod-preload-score > *{
    visibility: visible!important;
}
