/*hotsite*/
 .hotsite_b {
    border: 1px solid;
    border-color:#d7ddde #d7ddde #cacccc #dfe4e6;
    position: relative;
    z-index: 4;
    *zoom: 1;
    border-bottom: none;
}
.hotsite_wrap {
    width:100%;
    text-align: center;
    /*IE<=7 z-index hack*/
    /*overflow: hidden;*/
    background-color: #fcfdff;
    *position: relative;
}
.hotsite-custom {
    display: none;
}
.hotsite {
    background-color: #fcfdff;
    /*overflow:hidden;*/
    padding:0px 6px 0px 6px;
    border: 1px solid;
    border-color:#FFF;
    border-bottom:none;
    letter-spacing: -0.3em;
    word-spacing:-0.3em;
    float: right;
    width:944px;
}
.hotsite span {
    display: inline-block;
    *display:inline;
    *zoom:1;
    width: 110px;
    /*overflow: hidden; */
    vertical-align:top;
    white-space: nowrap;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 6px 0px 0px 0px;
}
.hotsite a {
    display: block;
    color:#454545;
    width:100%;
    /*float:left;*/
    overflow:hidden;
}
.hotsite .hotsite_link {
    padding-top: 10px;
    line-height: 28px;
    text-align:center;
    /*position:relative;z-index:1;*/
}
.hotsite .i-hot-sprites {
    width: 48px;
    height: 48px;
    display: block;
    margin: 0 auto;
}
.hotsite .more_trigger {
    border-top-color:#f56f2f;
    border-top-style:solid;
    border-width:5px;
    display:inline-block;
    vertical-align:middle;
    margin-top:2px;
}
.hotsite .hotsite-for_tn {
    display: none;
}
.hotsite .more_links, .hotsite .search-form {
    display: none;
    position: absolute;
    visibility: hidden;
}
.hotsite_link .span-hot-name {
    height:22px;
    margin:0;
}
.hotsite_wrap__s .hotsite-container {
    height: 398px;
    overflow: visible;
}
.hotsite_wrap__s .hotsite-hist {
    height: 285px;
}
.hotsite {
    position: relative;
    height: 100%;
}
.hotsite .hs-each {
    position: absolute;
    top: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
}
.hotsite .hs-each li {
	width: 117px;
}
.hotsite .hs-each .more_links li {
    width: auto;
}
.hotsite .hs-game {
    z-index: 10;
    right: 2px;
}
.hotsite .hs-normal {
    z-index: 30;
    right: 119px;
}
.hotsite .hs-video {
    z-index: 20;
    left: 2px;
}
.hotsite .hs-list {
    float: right;
}
.hotsite .hs-each h3,.hotsite .hs-win h3 {
    position: relative;
    white-space: nowrap;
    letter-spacing: normal;
    word-spacing: normal;
    font-size: 14px;
    font-weight: 700;
    color: #595959;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #E6EAEB;
    width: 92px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.hotsite .hs-normal h3 {
    width: 313px;
    text-align: right;
    right: 16px;
}
.hotsite .hs-video h3 {
    right: 128px;
}
.hotsite .hs-game h3 {
    right: 12px;
}
.hotsite .hs-hidden {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
    *display: none;
}
.hs-show-normal .hs-normal,.hs-show-game .hs-game,.hs-show-video .hs-video {
	z-index: 50;
}
.hs-show-normal .hs-normal .hs-hidden,.hs-show-game .hs-game .hs-hidden,.hs-show-video .hs-video .hs-hidden {
	*display: block;
	filter: alpha(opacity=100);
	opacity: 1;
}
.hs-show-normal .hs-normal h3,.hs-show-game .hs-game h3,.hs-show-video .hs-video h3 {
	visibility: hidden;
}
.hs-show-game .hs-normal h3 {
    right: 136px;
}
.hotsite .hs-win {
	position: absolute;
	border: 2px solid #00AE71;
	box-shadow: 0 0 8px #808080;
	z-index: 9;
	transition: 0.5s;
	height: 399px;
	top: -7px;
}
.hotsite .hs-win h3 {
	text-align: right;
	padding-right: 18px;
	height: 30px;
	line-height: 30px;
	width: auto;
	color: #ffffff;
	background-color: #00AF71;
	display: none;
}
.hotsite .hs-win img {
	margin-left: 8px;
}
.hs-show-normal h3.hs-normal-tle,.hs-show-game h3.hs-game-tle,.hs-show-video h3.hs-video-tle {
	display: block;
}
.hs-show-normal div.hs-win {
	width: 467px;
	right: 118px;
}
.hs-show-game div.hs-win {
	width: 238px;
	right: -3px;
}
.hs-show-video div.hs-win {
	width: 238px;
	right: 467px;
}
.hotsite .hs-hidden-left,.hotsite .hs-hidden-right {
	-webkit-transition: opacity .3s ease-in;
	-o-transition: opacity .3s ease-in;
	-moz-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in;
}
.hs-show-normal .hs-hidden-left,.hs-show-normal .hs-hidden-right {
	*display: block;
	opacity: 1;
	filter: alpha(opacity=100);
}
.hs-show-game .hs-hidden-left,.hs-show-video .hs-hidden-right {
	opacity: 0;
	filter: alpha(opacity=0);
	*display: none;
}