#ieSetHomePage {
	display: none;
}
.bar-addfav {
	font-size: 14px;
	position: relative;
	z-index: 400;
	background-color: #f1f1f1;
	background-image: -webkit-linear-gradient(top, #fff, #f1f1f1, #e2e2e2);
	background-image: -moz-linear-gradient(top, #fff, #f1f1f1, #e2e2e2);
	background-image: -ms-linear-gradient(top, #fff, #f1f1f1, #e2e2e2);
	background-image: linear-gradient(top, #fff, #f1f1f1, #e2e2e2);
	background-repeat: repeat-x;
}
.bar-addfav .l-wrap {
	overflow: hidden;
	height: 37px;
}
.bar-addfav .fav-title,
.bar-addfav .fav-text {
	line-height: 37px;
	float: right;
	padding-left: 5px;
	color: #3890e7;
}
.bar-addfav .fav-title {
	font-weight: 700;
}
.bar-addfav .fav-down {
	float: right;
	width: 21px;
	height: 20px;
	margin: 9px 0 0 5px;
}
.bar-addfav .fav-btn {
	line-height: 20px;
	float: right;
	max-width: 150px;
	height: 20px;
	margin: 8px 25px 0 0;
	padding-right: 20px;
	padding-left: 20px;
	cursor: pointer;
	color: #fff;
	border: 1px solid #c87d00;
	border-radius: 2px;
	outline: 0;
	background-color: #f08e00;
}