.mod-sidebar-iframe{
	position: relative;
}
.mod-sidebar-iframe .loading{
	position: relative;
	width: 16px;
	height: 16px;
	background: url(../img/widget_loading.gif) no-repeat;
	top: 100px;
	left: 50%;
	margin-left: -8px;
	z-index: 1;
}