.mod-sort-area .sortsites-tabs-container{
	display:block !important;
}
.mod-sort-area div.sortsites-tabs-container{
	*display:none !important;
}
.mod-sort-area .sortsite.select{
	border-color: #FF8C00;
	border-width:1px 2px;
}   
.mod-sort-area .sortsites-tabs-container{
	position: relative;
	overflow: visible;
	margin-top: 10px;
	*display:none;
}
.mod-sort-area .sortsites-tabs{
	width: 708px;
	height: 30px;
	line-height:30px;
	background-image:url(../img/btn-normal-bg.png?__sprite);
	background-repeat: repeat-x;
	margin-top: 10px;
	font-size: 12px;
	padding-top: 2px;
	overflow: hidden;
	border-left: 1px solid #E3E5E6;
	border-right:1px solid #E3E5E6;
}
.mod-sort-area .sortsites-tabs i,
.mod-sort-area .sortsites-tabs-container i{
	display: inline-block;
	height: 20px;
	width: 23px;
	margin-bottom: -3px;
	background-image:url(../img/i-sortsites-tabs.png);
	background-repeat: no-repeat;
}
.mod-sort-area .sortsites-tabs a:hover{
	color: #49B18E;
	text-decoration: underline;
}
.mod-sort-area .sortsites-tabs .tab-lists{
	position: relative;
	min-width: 55%;
	max-width:55%;
	float: left;
	top:0;
}
.mod-sort-area .sortsites-tabs .tab-lists li{
	float: left;
	min-width:21%;
	max-width: 33%;
	height: 30px;
	text-align: center;
	padding: 0 1px;
	position: relative;
}
.mod-sort-area .sortsites-tabs .tab-lists a:hover{
	text-decoration: none;
}
.mod-sort-area .sortsites-tabs .tab-item{
	display: inline-block;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: none;
}
.mod-sort-area .sortsites-tabs-refresh{
	float: right;
	padding-right: 8px;
}
.mod-sort-area .sortsites-tabs-refresh i{
	background-position: -84px 1px;
	margin-bottom: -4px;
	margin-right: 5px;
}
.mod-sort-area .sortsites-tabs-description{
	position: relative;
	float: left;
	padding-left: 15px;
	font-weight: bold;
}
.mod-sort-area .sortsites-tabs-description i{
	background-position: -61px 1px;
}
.mod-sort-area .sortsites-tabs-container .bubble-like{
	position: absolute;
	bottom: 30px;
	left: 0px;
	background-image: url(../img/i-sortsites-tabs.png);
	background-repeat: no-repeat;
	background-position: 0 -20px;
	height: 33px;
	min-width: 230px;
	z-index: 9;
	font-weight: bold;
	color: white;
	padding-left: 20px;
	padding-top: 2px;
}
.mod-sort-area .sortsites-tabs-container .bubble-like i{
	background-position: -119px 2px;
	margin-bottom: -3px;
	margin-left: 3px;
}
.mod-sort-area .sortsites-tabs-container .bubble-like i:hover{
	background-position: -146px 2px;
	margin-bottom: -3px;
	margin-left: 3px;
	cursor: pointer;
}
.mod-sort-area .sortsite_sep{
	border-left: 1px solid #E6E6E6;
	display: block;
	height: 14px;
	line-height: 6px;
	position: absolute;
	margin-top: 0px;
	left: 0;
	top: 8px;
	z-index: 0;
}
.mod-sort-area ul.block_sep {
	background-image:url(../img/btn-normal-bg.png?__sprite);
	background-repeat: repeat-y;
	display: block;
	height: 100%;
	left: -1px;
	position: absolute;
	top: -10px;
	width: 1px;
	z-index: 1;
}