/*form inline css*/
.userbar-date{ 
    display: none;
}
.userbar-date-wrapper {
    float: left;
    /*position: relative;*/
    z-index: 100;
    background-repeat: no-repeat;
    opacity: 0;
}


.userbar-date{
    white-space: nowrap;
    display: block;
    display: block !important;
    position: relative;
    float: right;
    padding: 11px 20px 9px 20px;
}
.userbar-date a {
    color: #fff;
}
.userbar-date span {
    color: #b8e1cf;
    font-size: 9px;
    padding: 0 2px;
}

/*for countdown*/
.userbar-date .down-wrapper {
    height: 30px;
    overflow: hidden;
}
.userbar-date .down-wrapper span {
    color: #ffffff;
    font-size: 12px;
    padding: 0;
}
.down-wrapper .down-time {
    float: left;
    overflow: hidden;
    height: 30px;
/*    width: 72px;*/
}
.userbar-date .down-wrapper .down-day {
    font-size: 30px;
    line-height: 30px;
    float: right;
    margin-left: 4px;
    color: #fff000;
}
.down-wrapper .down-dhm {
    float: left;
}
.userbar-date .down-wrapper .down-d {
    color: #9BD5C1;
    color: rgba(255,255,255,0.6);
}
.down-wrapper .down-tip {
    float: right;
    position: absolute;
    right: 18px;
}
.userbar-date .mod-calendar_ft a {
    display: inline;
}
.userbar-date .mod-calendar a {
    color: #FFFFFF;
}
.userbar-date .mod-calendar_weeks {
    color: #BACCEB;
    color: rgba(255,255,255,0.6);
    border-color: transparent;
}
.userbar-date .mod-calendar_next, .userbar-date .mod-calendar_prev {
    width: 30px;
    height: 50px;
    padding: 0;
    text-indent: -1000px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.userbar-date .mod-calendar_next {
    background: url(../img/prev_rtl.png?__sprite) no-repeat;
}
.userbar-date .mod-calendar_next:hover {
    background: url(../img/prev_hover_rtl.png?__sprite) no-repeat;
}
.userbar-date .mod-calendar_prev {
    background: url(../img/next_rtl.png?__sprite) no-repeat;
}
.userbar-date .mod-calendar_prev:hover {
    background: url(../img/next_hover_rtl.png?__sprite) no-repeat;
}
.userbar-date .mod-calendar_prev{ float: right; margin-right: 1px;margin-left: 0;}
.userbar-date .mod-calendar_next{ float: left; margin-left: 1px;margin-right: 0;}
.userbar-date .mod-calendar_grid li {float:right;}
.userbar-date .mod-calendar_ft {text-align: left;}
.userbar-date .mod-calendar_year {
    width: 61px;
}
.userbar-date .mod-calendar_month {
    width: 62px;
}
.userbar-date .dropdown,.calendar-wrapper span {
    font-size: 12px;
    color: #000000;
    padding: 0;
}
.userbar-date .mod-calendar_hd {
    padding: 6px 0;
}
#calYearDropDown {
    margin-left: 5px;
}
/*.userbar-date .mod-calendar-holder dd {
    display: none;
}*/
.userbar-date .mod-calendar-countdown dl {
    /*background: url(../img/bell.png) no-repeat center 4px;*/
    background-color: #FCA438;
    color: #fff;
}
/*.userbar-date .mod-calendar-countdown dt{
    text-indent: -1000px;
    overflow: hidden;
    white-space: nowrap;
}*/
.down-show {
    background-color: #049565;
}
.userbar-date .no-link {
    cursor: default;
}
.userbar-date .ui-bubble-t .ui-bubble_in, .userbar-date .ui-bubble-t .ui-bubble_out {
    right: 64px;
}
/*.userbar-date li.mod-calendar-today {
    border-bottom: 3px solid;
}*/
.userbar-date .mod-calendar_days a:hover dl {
    right: -2px;
    left: auto;
}
/*.userbar-date .mod-calendar-today a:hover dl {
    right: 1px;
}*/
.date-wrapper {
    max-height: 30px;
    line-height: 16px;
}
.userbar-date .mod-calendar_days li:nth-of-type(7n+7) a:hover dl {
    right: auto;
    left: -2px;
}


.userbar-date br {
    display: block !important;
}
.userbar-date .calendar_bg {
    display: inline !important;
    float: right;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    padding: 0;
    margin-left: 8px;
    text-align: center;
    color: #fff;
    background: url(../img/calendar.png?__sprite) no-repeat;
}


/***倒计时&&日历增强***/
body .userbar-date a {
    display: block;
    /*text-align: center;*/
}
.userbar-date-cal {
    cursor: pointer;
    padding: 11px 20px 9px 60px;
}
body .calendar-open,.userbar-date-cal:hover,body .date-open {
    background-color: #0265C9;
    background-color: rgba(0, 99, 199, 0.94);
}
.userbar-date-cal .date-tip {
    width: 12px;
    height: 12px;
    background: url(../img/more_trigger.png?__sprite) no-repeat;
    position: absolute;
    left: 20px;
    top: 18px;
    pointer-events: none;
    cursor: pointer;
}
.date-open .date-tip {
    background: url(../img/more_trigger-hover.png?__sprite) no-repeat;
}
.userbar-date-cal .calendar-wrapper {
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: #0265C9;
    background-color: rgba(0, 99, 199, 0.94);
    border-top-width: 0;
    cursor: default;
    display: none;
}
.date-open .calendar-wrapper {
    display: block;
}
.userbar-date-cal .ui-arrow-t {
    right: 52px;
    border-bottom-color: #F0FFFB;
}
.userbar-date-cal .cal-btn {
    display: inline-block;
    max-width: 94%;
    height: 34px;
    line-height: 34px;
    color: #07b67b;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 0;
    left: 12px;
}
.userbar-date .mod-calendar {
    border-color: transparent;
    background: #0F6CCA;
    background: rgba(0, 99, 199, 0.06);
    /*autopack*/
    width: 377px;
    position: relative;
}
.userbar-date .mod-calendar_bd,
.userbar-date .mod-calendar_weeks li,
.userbar-date .mod-calendar_days li,
.userbar-date .mod-calendar_days dl,
.userbar-date .mod-calendar_days a:hover dl,
.userbar-date .mod-calendar_days a,
.userbar-date .mod-calendar-holder dl {
    background: transparent;
    border-color: transparent;
}
.userbar-date .mod-calendar-festival a,
.userbar-date .mod-calendar-holiday a {
    background: url(../img/festval.png?__sprite) no-repeat;
}
.userbar-date .mod-calendar-event a {
    background: url(../img/events.png?__sprite) no-repeat;
}
.userbar-date .mod-calendar-countdown a {
    background: url(../img/countdown.png?__sprite) no-repeat;
}
.userbar-date .mod-calendar-football a {
    background: url(../img/football.png?__sprite) no-repeat;
}
.userbar-date .mod-calendar-festival a:hover,
.userbar-date .mod-calendar-holiday a:hover,
.userbar-date .mod-calendar-event a:hover,
.userbar-date .mod-calendar-countdown a:hover,
.userbar-date .mod-calendar-football a:hover {
    background: none;
}
.userbar-date .mod-calendar-festival a dd,
.userbar-date .mod-calendar-holiday a dd,
.userbar-date .mod-calendar-event a dd,
.userbar-date .mod-calendar-countdown a dd,
.userbar-date .mod-calendar-football a dd {
    visibility: hidden;
    color: #ffffff;
}
.userbar-date .mod-calendar-festival a:hover dl,
.userbar-date .mod-calendar-holiday a:hover dl {
    background-color: #F29C9F;
    border-radius: 34px;
    margin-right: -10px;
    min-width: 70px;
}
.userbar-date .mod-calendar-event a:hover dl {
    background-color: #7CD25F;
    border-radius: 34px;
    margin-right: -10px;
    min-width: 70px;
}
.userbar-date .mod-calendar-countdown a:hover dl {
    background-color: #F5C009;
    border-radius: 34px;
    margin-right: -10px;
    min-width: 70px;
}
.userbar-date .mod-calendar-football a:hover dl {
    background-color: #7CD25F;
    border-radius: 34px;
    margin-right: -10px;
    min-width: 70px;
}
.userbar-date .mod-calendar_days a:hover dd {
    visibility: visible;
}
.userbar-date .mod-calendar_days dt {
    color: #ffffff;
}
.userbar-date .mod-calendar-holder dt,
.mod-calendar_days dl dd {
    color: #6FA7DF;
    color: rgba(255,255,255,0.3);
}
.userbar-date .mod-calendar_days dd {
    margin-top: -4px;
}
.userbar-date .mod-calendar_bd li {
    border-bottom: 1px solid #1c81e5 !important;
    border-bottom: 1px solid rgba(28,129,229,0.96) !important;
}
.userbar-date .mod-calendar_splt {
    border-top: 1px solid #0F6CCA;
    border-top-color: rgba(0,99,199,.06);
    margin-top: -5px;
}

.userbar-date .mod-calendar-today dt {
    font-size: 24px;
    padding-top: 0 !important;
    line-height: 36px;
    background: #4ca6ff;
    width: 36px;
    height: 36px;
    margin-right: 6px;
    margin-top: 7px;
    text-align: center;
    border-radius: 18px;
}
.userbar-date .dropdown {
    margin-top: 8px;
}
.userbar-date .mod-calendar_ft {
    /* margin-top: -7px; */
}

.userbar-date .mod-calendar .mod-calendar_ft a {
    /* padding-top: 12px; */
    display: inline-block;
}
.userbar-date .dropdown-list {
    background: #1c81e5;
    border-width: 0;
    text-indent: 0;
}
.userbar-date .dropdown span, .userbar-date .dropdown-list li {
    font-size: 18px;
    color: #ffffff;
    background: transparent;
}
.userbar-date .dropdown-list li {
    line-height: 36px;
    height: 36px;
}
.userbar-date .dropdown-trigger,.userbar-date .dropdown-input {
    border-width: 0;
    height: 34px;
    line-height: 34px;
}
.userbar-date .dropdown-list li:hover, .userbar-date .dropdown-list .dropdown-list-hover {
    background-color: #1974CE;
    background-color: rgba(0,0,0,0.1);
}
.userbar-date .dropdown .dropdown-arrow {
    border-width: 0;
    width: 12px;
    height: 12px;
    top: 11px;
    left: 15px;
    background: url(../img/more_trigger.png?__sprite) no-repeat;
}
.userbar-date .dropdown .dropdown-arrow-up {
    background: url(../img/more_trigger-hover.png?__sprite) no-repeat;
}
.userbar-date .dropdown .dropdown-arrow i {
    display: none;
}
.userbar-date .dropdown .dropdown-ctrl-open {
    background: #1c81e5;
}


/**fix calendar style depend on UI**/
.userbar-date .mod-calendar_days a, .userbar-date .mod-calendar_days dl {
    height: 68px;
}
.userbar-date .mod-calendar_days dt {
    padding-top: 16px;
}

/*has skin*/
.skin-on .userbar-date-cal .date-tip {
    background: url(../img/more_trigger_sk.png?__sprite) no-repeat;
}
.skin-on .date-open .date-tip {
    background: url(../img/more_trigger-hover_sk.png?__sprite) no-repeat;
}
.skin-on .userbar-date .dropdown .dropdown-arrow {
    background: url(../img/more_trigger_sk.png?__sprite) no-repeat;
}
.skin-on .userbar-date .dropdown .dropdown-arrow-up {
    background: url(../img/more_trigger-hover_sk.png?__sprite) no-repeat;
}
.skin-on .calendar-open,
.skin-on .userbar-date-cal:hover,
.skin-on .date-open,
.skin-on .userbar-date-cal .calendar-wrapper {
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.8);
}
.skin-on .userbar-date .mod-calendar {
	background: none;
}
.skin-on .userbar-date .mod-calendar_bd li {
    border-bottom-color: #717171 !important;
    border-bottom-color: rgba(255,255,255,0.3) !important;
}
.skin-on .userbar-date .dropdown .dropdown-ctrl-open,
.skin-on .userbar-date .dropdown-list {
    background: #626262;
}
.skin-on .userbar-date .dropdown-list li:hover,
.skin-on .userbar-date .dropdown-list .dropdown-list-hover {
    background-color: #444444;
    background-color: rgba(0,0,0,0.3);
}
.skin-on .userbar-date .mod-calendar_next:hover {
    background: url(../img/prev_rtl.png?__sprite) no-repeat;
    background-color: #186EC0;
    background-color: rgba(28,129,229,0.8);
}
.skin-on .userbar-date .mod-calendar_prev:hover {
    background: url(../img/next_rtl.png?__sprite) no-repeat;
    background-color: #186EC0;
    background-color: rgba(28,129,229,0.8);
}

/*倒计时增强*/
.userbar-date-new_mod {
    /*box-shadow: rgba(0,0,0,0.1) 0px 0px 0px 1px inset;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 0px 1px inset;
    -o-box-shadow: rgba(0,0,0,0.1) 0px 0px 0px 1px inset;
    -moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 0px 1px inset;
    -ms-box-shadow: rgba(0,0,0,0.1) 0px 0px 0px 1px inset;*/
    background-position: right top;
}
.userbar-date-new_mod .userbar-date-cal {
    padding-left: 42px;
}
.userbar-date-new_mod:hover,
.userbar-date-new_mod.userbar-date-new_mod-show {
    background-color: #0164C8 !important;
    background-color: rgba(0,99,199,.97) !important;
}
.userbar-date-new_mod2 {
    background-position: left top;
}
.userbar-date-new_mod .userbar-date {
    background: none !important;
    width: auto !important;
    float: none !important;
}
/*.userbar-date-new_mod .date-tip {
    display: none !important;
}*/
/*@media \0screen {
    .userbar-date-new_mod .calendar-open {
        filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#33FFFFFF', endColorstr='#33FFFFFF');
    }
}*/
.userbar-date-new_mod .down-tip {
    visibility: hidden;
}
.userbar-date-new_mod .down-dhm .down-hm,
.userbar-date-new_mod .down-dhm br {
    display: none !important;
}
.userbar-date-new_mod .userbar-date .down-wrapper .down-day,
.userbar-date-new_mod .userbar-date .down-wrapper .down-dhm {
    float: none;
    display: block;
}
.userbar-date-new_mod .userbar-date .down-wrapper .down-day {
    margin-top: -4px;
    color: #f83a66;
    width: 40px;
    float: left;
    margin-left: 1px;
    overflow: hidden;
    letter-spacing: 2px;
}
.userbar-date-new_mod .userbar-date .down-wrapper .down-d {
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    -webkit-transform: scale(0.8);
    margin-top: 22px;
    padding-right: 2px;
    text-align: center;
}
.userbar-date-new_mod .userbar-date .down-wrapper,
.userbar-date-new_mod .down-wrapper .down-time {
    overflow: visible;
}
.userbar-date-new_mod .down-wrapper .down-time {
    background: url(../img/count_bg.png?__sprite) no-repeat;
    width: 45px;
    margin-top: -9px;
    padding-top: 10px;
}
.userbar-date-new_mod2 .down-wrapper .down-time {
    float: right;
}
.skin-on .userbar-date-new_mod:hover,
.skin-on .userbar-date-new_mod.userbar-date-new_mod-show {
    background-color: #333 !important;
    background-color: rgba(0,0,0,.8) !important;
}


/*head fixed*/
.header-fixed .userbar-date {
    width: auto !important;
}
.header-fixed .down-wrapper {
    display: none !important;
}
.header-fixed .date-wrapper {
    display: block !important;
    line-height: 20px;
}
.header-fixed .userbar-date .calendar_bg,
.header-fixed .userbar-date br {
    display: none !important;
}
.header-fixed-st .userbar-date-cal .calendar-wrapper {
    top: 40px;
}
.header-fixed-st .userbar-date-cal .date-tip {
    top: 15px;
}
.header-fixed .userbar-date-new_mod {
    background-image: none !important;
    width: auto !important;
}

.header-fixed-up .date-wrapper {
    line-height: 30px;
}

/**世界杯赛事**/
.userbar-data-worldcup .userbar-date-cal{
    padding: 0
}
.userbar-data-worldcup .worldcup{
    margin: 8px 16px 0 45px;
    height: 42px;
    overflow: hidden;
}
.userbar-data-worldcup .match-info{
    float: right;
    margin-left: 8px;
    color: #ffef00;
}
.userbar-data-worldcup .match-info .time{
    font-size: 21px;
}
.userbar-data-worldcup .team-vs{
    float: right;
}
.userbar-data-worldcup .team-vs .team-vs-icon{
    display: inline-block;
    width: 38px;
    height: 33px;
    background: url(../img/worldcup-vs.png?__sprite);
    vertical-align: middle;
}
.header-fixed .userbar-data-worldcup .worldcup{
    display: none;
}
.header-fixed .userbar-data-worldcup .userbar-date-cal{
    padding: 0 16px;
}
.header-fixed .userbar-data-worldcup .date-wrapper{
    line-height: 40px;
    margin-left: 25px;
    height: 40px;
    max-height: 40px;
}
.animate-opacity{
    -webkit-transition: opacity linear .6s;
    -moz-transition: opacity linear .6s;
    -ms-transition: opacity linear .6s;
    -o-transition: opacity linear .6s;
    transition: opacity linear .6s;
    opacity: 1; 
    filter: alpha(opacity=100);
}