.userbar-btn-hd {
    float: right;
    position: relative;
    max-width: 170px;
}
.userbar-btn-hd_item {
    float: left;
    position: relative;
}
.userbar-btn-hd_item .userbar-btn-hd_item-anchor {
    display: block;
    padding: 0 10px;
    height: 50px;
    line-height: 48px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    color: #ffffff;
    /*color: rgba(255, 255, 255, 0.5);*/
    max-width: 100px;
}
.userbar-btn-hd_item i {
    margin: 0 auto;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.userbar-btn-hd_item-tips {
    position: absolute;
    left: -50px;
    top: 46px;
    display: none;
}
.userbar-btn-hd_item-tips p {
    color: #676767;
    background-color: #F2F2F2;
    border: 1px solid #C7C0C0;
    height: 18px;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
}
.userbar-btn-hd_item-tips #shortCutBot a {
    display: block;
    height: 18px;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    color: #676767;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}
.userbar-btn-hd_item-arrow, .userbar-btn-hd_item-arrow-bg {
    position: absolute;
    height: 0;
    width: 0;
    border: 6px dashed transparent;
    pointer-events: none;
}
.userbar-btn-hd_item-arrow {
    border-bottom-color: #C7C0C0;
    border-bottom-style: solid;
    top: -11px;
    right: 46%;
}
.userbar-btn-hd_item-arrow-bg {
    border-bottom-color: #F2F2F2;
    border-bottom-style: solid;
    margin: -6px 0 0 -7px;
}
.userbar-btn-hd-addfav {
    background: url(../img/addfav.png?__sprite) no-repeat;
}
.userbar-btn-hd-down {
    background: url(../img/down.png?__sprite) no-repeat;
}
.userbar-btn-hd-sethome {
    background: url(../img/setHome.png?__sprite) no-repeat;
}


.header-fixed .userbar-btn-hd_item i {
    width: 14px;
    height: 14px;
}
.header-fixed .userbar-btn-hd_item .userbar-btn-hd_item-anchor {
    height: 30px;
    line-height: 28px;
}
.header-fixed .userbar-btn-hd_item-tips {
    top: 30px;
    left: -52px;
}
.header-fixed-up .userbar-btn-hd_item .userbar-btn-hd_item-anchor {
    height: 40px;
    line-height: 38px;
}
.header-fixed-up .userbar-btn-hd_item-tips {
    top: 40px;
}
.header-fixed .userbar-btn-hd-addfav {
    background: url(../img/addfav-small.png?__sprite) no-repeat;
}
.header-fixed .userbar-btn-hd-down {
    background: url(../img/down-small.png?__sprite) no-repeat;
}
.header-fixed .userbar-btn-hd-sethome {
    background: url(../img/setHome-small.png?__sprite) no-repeat;
}

body .mod-ff-sethome0 {
    z-index: 402;
    right: -4px;
    top: 46px;
    padding-top: 8px;
    width: 180px;
}
body .mod-ff-sethome0 .ui-bubble_in, body .mod-ff-sethome0 .ui-bubble_out {
    left: auto;
    right: 36px;
}
.mod-ff-sethome0 .ui-bubble_close {
    position: absolute;
    left: auto;
    right: 0;
    margin-right: 0;
    margin-left: -10px;
}
.header-fixed .mod-ff-sethome0 {
    right: -4px;
    top: 28px;
}
.header-fixed .mod-ff-sethome0 .ui-bubble_in, .header-fixed .mod-ff-sethome0 .ui-bubble_out {
    right: 32px;
}

.header-fixed-up .userbar-btn-hd_item {
    display: block !important;
}
.header-fixed-up .userbar-btn-hd .userbar_split {
    display: inline !important;
}