.flow-on .mod-pray .dropdown-input{
	width: 171px;
}
.flow-on .mod-pray-h12 .dropdown-input{
	width: 131px;
}
/*TODO find a better solution*/
/*.flow-on .mod-pray .dropdown-list{
	width: 201px!important;
}
.flow-on .mod-pray-h12 .dropdown-list{
	width: 162px!important;
}*/
