body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
figure,
blockquote,
th,
td{ margin:0; padding:0;}

fieldset, img, iframe{ border:0;}

address, caption, cite, code, dfn, em, th, var, i{font-style:normal;font-weight:normal;}

ul,
li,
ol{ list-style:none;}

caption,
th{text-align:left;}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
    background: #fff;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -o-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);

    vertical-align: baseline;
    background-color: transparent;

    font-family: Arial,sans-serif;
    font-size: small;

    _zoom: expression(function(el){
        document.execCommand('BackgroundImageCache', false, true);
        el.style.zoom = "1";
    }(this));
}

.cf{ zoom: 1;}
.cf:before, .cf:after{ content: ''; display: table;}
.cf:after { clear: both;}

.fl,
.fr{ display:inline; /*fix: IE6 border*/}
.fl{ float:left !important;}
.fr{ float:right !important;}

.l-w{ width: 960px; margin: 0 auto;}
.l-l{ width: 590px; float: left; padding-left: 20px;}
.l-r{ overflow: hidden; zoom: 1; padding-left: 45px;}
.l-hd .l-l{ width: 695px; position: relative;}
.l-hd .l-r{ padding: 0;}

.l-hd{ /*padding: 20px 10px;*/ height: 105px; /*height: 82px;*/ background: #f9f9f9; border-bottom: 1px solid #e7e7e7; border-top: 5px solid #cfdbef; margin-bottom: 10px;}

a{ text-decoration: none;}
a:hover{ text-decoration: underline;}
a:visited{ color: #4c2472;}
a:link{ color: #0e1bbb;}
/*a:link { color: #0000de;}*/

h3{ font-size: 123%; font-weight: normal;}
h3 a{ text-decoration: underline;}
h3 a:hover { color: #cc3434;}



/*提示层外框*/
.sug-wrap {
    position:absolute;
    top:26px;
    left:-1px;
    border:1px solid #aaa;
    background:#fff;
    width:438px;
    color:#000;
    z-index:999;
    line-height: 1;
}

/*ie6 shim*/
.sug-shim{ position:absolute; top:26px; left:-1px; z-index:-1; filter:alpha(opacity="0");
    width:438px;
    height:532px;
}

/*列表外框*/
.sug-wrap ol{ cursor: pointer;}

/*列表项*/
.sug-wrap li{ padding: 4px 6px 5px;}

/*选中样式*/
.sug-wrap .sug-select{ background:#f0f0f0;}

/*底部*/
.sug-wrap .bot{ position:relative; height:19px; line-height:19px; font-weight:normal; border-top:1px solid #666;}

/*高亮查询词*/
.sug-wrap .sug-query{ font-weight:bold;}

/*提示不能匹配查询词*/
.sug-wrap .sug-querynull{ font-weight:normal;}

.sug-bot{ height: 17px; line-height: 17px; padding-right: 10px; background: #f7f7f7;}
.sug-switch{ font-size: 85%;}
.sug-switch a{ font-weight: bold; text-decoration: none; color: #000; cursor: default;}
a.sug-switch_cur{ font-weight: normal; color: #0000de; cursor: pointer;}

.sug-bot .s-arr{ top: 18px; left: -1px; background-color: #999; border: none; background-position: 0 -239px; width: 42px; height: 11px;}
.sug-wrap ol p{ padding: 5px; color: #999; cursor: default;}

/*sprite*/
.s-btn,
.logo a,
.r-tip i,
/*.s-arr{ background-image: url(/img/yahoo_search_page.png);}*/
a.s-btn_close,
.s-arr{ background-image: url(../img/yahoo_search_page.png);}

.logo, .logo a{ overflow: hidden;}
.logo a{ display: inline-block;}

.logo-hao123{ position: absolute; top: 31px; left: 20px;}
.logo-yahoo{ margin: 38px 0 0 0;}
.logo-hao123 a{ background-position: 0px 0px; width: 116px; height: 29px;}
.logo-yahoo a{ background-position: 0px -31px; width: 51px; height: 24px;}

/*search*/
.s{ position: relative; top: -5px;}
.l-hd .s{ margin-left: 130px;}
.s-hd{ }
.s-hd li{ float: left;}
.s-hd li a{ display: block; padding: 5px 8px; font-size: small; color: #333; border-top: 5px solid #cfdbef;}
.s-hd li a:hover{ background: #eee;}
.s-hd li.cur a{ color: #B43C3E; text-decoration: none; background: none; border-top-color: #5f87cb; cursor: default;}
.s-bd{ margin-top: 10px; /*margin-top: 29px;*/}
.s-ipt{ border: 1px solid #999; border-top: 1px solid #7c7c7c; display: inline-block; margin-right: 5px; z-index: 999; position: relative; background: #fff;}
.s-ipt input{ width: 410px; font-size: 108%; height: 24px; padding: 2px 24px 0 4px; background-color: #fff; vertical-align: bottom; line-height: 1.3; border: none; top: 0; left: 0; float: left; position: relative;}
.s-ipt input::-ms-clear{
    display: none;
}
.s-btn{ display: inline-block; border: 0px solid #fff; background-color: #4070ff; background-position: 25px -84px;}
.s-btn button{ border: none; background: none; width: 110px; height: 28px; line-height: 30px; letter-spacing: 0.1em; padding: 0 0 0 16px; font-size: 108%; font-weight: bold; color: #fff; cursor: pointer;
}
.s-btn:hover{ background-color: #1155ee;}
.s-arr{ border: 1px solid #f9f9f9; border-top: none; background-position: 15px -119px; background-repeat: no-repeat; display: inline-block; width: 38px; height: 10px; cursor: pointer; position: relative; top: -1px;
}
.s-arr:hover{ background-color: #f0f0f0; border-color: #999;}
.s-tt{ color: #666; font-size: 12px; margin-top: 5px; /*margin-top: -1px;*/}
.s-tt em{ font-weight: bold;}

.s-btn_close{
    position: absolute;
    display: none;
    cursor: pointer;
    /*display: inline-block;*/
    width: 16px; height: 16px; top: 5px; right: 5px; background-position: 0 -57px;
}

.s-btn_close:hover{
    background-position: -20px -57px;
}

.s-btn_close__bot{
    top: 6px;
    /*right: 155px;*/
}

.s-ipt_tip{
    display: none;
    position: absolute;
    top: 4px;
    left: 5px;
    color: #999;
}

/*result*/
.r-wrap{ overflow: hidden;}
.r-li{
    margin: 0 20px 20px 0;
    
    max-width: none;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.4;
}
.r-li b{ font-weight: bold;}
.r-li_hd{ margin-bottom: 5px;}
.r-li_bd{ }
.r-li_ft{ margin-top: 3px;}
.r-li_tp{ margin-bottom: 3px;}

.r-li_u{ color: #008000; word-break: normal;}
.r-li_u abbr{ float: left; max-width: 460px; overflow: hidden; height: 18px; margin-right: 5px; text-decoration: none; border-width: 0;}
.r-li_a a{ color: #686ccd;}

.r-list{ 
    -moz-transition: opacity 0.5s ease-in;
    -webkit-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
    padding-top: 5px;
}
.r-padding{
    /*padding*/
    min-height: 500px; height: auto!important; height: 500px;
}
.r-list_ad{ position: relative; display: none; /*padding: 10px 0;*/}

.r-list_ad .r-li_bd{ font-size: 108%;}
.r-list_ad .r-list_more{ position: absolute; right: 10px;display: none;}
.r-list_ad .r-list_ad_title{ display:none; margin-bottom: 15px; }
.r-list_ad .r-list_adtitle_link{ color: #666; }

.r-list_ad_north{ border-bottom: 1px solid #ccc; margin-bottom: 10px;}
.r-list_ad_south{ border-top: 1px solid #ccc; padding-top: 10px; margin-top: -10px;}
.r-list_ad_north .r-li{ margin-bottom: 10px;}
.r-list_ad_east{ padding-top: 20px;}
.r-pos-east .r-list_ad_east{padding-top: 5px;}
.r-pos-east .ad-box{ display: none; }
.r-list_ad_east .r-list_more{ margin-bottom: 10px; position: static;}

.r-list_more{}
.r-list_more a{ font-size: 92%; color: #666;}
.r-li_host{ color: #008000; padding-bottom: 3px;}
.r-li_quick{ color: #999; font-size: small;}
.r-li_quick a:hover { color: #cc3434;}

/*.r-list_ad .r-li{ margin: 0 20px 20px 0;}*/

.r-tip{ display: none;}
.r-tip i{ display: inline-block; overflow: hidden; width: 13px; height: 13px; background-position: -72px -58px; position: relative; top: 2px;}
.r-error i{ background-position: -42px -58px;}
.r-abort i{ background-position: -56px -58px;}
.r-loading .r-list{ opacity: 0;}
.r-loading .r-tip{ display: block;}
.r-error .r-tip{ display: block;}
.r-abort .r-tip{ display: block;}

/*.r-loaded .r-list{ display: block;}
.r-loaded .r-tip{ display: none;}*/

.r-pn{ white-space: nowrap; padding: 15px 0 25px;}
.r-pn li{ float: left; line-height: 30px;}
.r-pn a{display: inline-block; height: 25px; line-height: 25px; padding: 0 .5em; margin: 2px; border: 1px solid #ddd; zoom: 1; background: #fff; font-size: 123%;}
.r-pn a:hover{ background: #039; border-color: #00d; color: #fff;}
a.r-pn_cur, a.r-pn_cur:hover{ border-color: #ddd; background: #eee; color: #333; text-decoration: none; cursor: default; font-weight: bold;}


.ad-box{}
.ad-quick{}
.r-list_quick{ padding-right: 20px;}
.r-list_quick h3{ font-size: 14px;}
.r-list_quick_t{ margin: 10px 0;}
.r-list_quick_t a{ font-size: 12px; color: #666;}

.l-ft{ text-align: center;}
.s-wrap{ background: #f9f9f9; border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; padding: 2px 0 13px 2px;}

.about-link{ display: inline-block; margin-top: 20px; color: #666;}
.about-link li{ display: inline;}
.about-link a{ color: #0e1bbb;}
.about-des{ margin: 10px 0; line-height:1.3; color: #999; display: block;}
.about-about{}

/***global***/
.c-ept {display: none;}
.ept-srch .c-ept {display: block;color: #5A5A5A;font-size: 14px;padding-left: 0;width: 640px;}
.ept-srch .c-rsl {display: none;}
.ept-srch .c-main .l-r {margin-top: 44px;padding-left: 20px;}

/*result*/
.c-ept .ept-result {min-height: 780px;margin-bottom: 77px;padding-top: 6px;}
.c-ept .ept-tip {display: none;text-align: center;margin-top: 60px;line-height: 40px;}

.ept-btn,.ept-ctrl,.ept-result {border: 1px solid #E3E5E6;}
.ept-btn,.ept-ctrl {border-bottom-width: 0;}
.ept-ctrl,.ept-result {border-top-width: 0;}

/*title*/
.ept-tle {height: 44px;line-height: 44px;font-weight: bold;font-size: 16px;}
.ept-tle img {vertical-align: middle;margin-right: 8px;margin-top: -3px;width: 34px;height: 21px;}
.ept-tle a {color: #5A5A5A; display: inline-block;}
.ept-tle a:hover {text-decoration: none;}

/*tab*/
.ept-btn {padding: 1px 1px 14px;overflow: hidden;}
.ept-btn li {float: left;height: 32px;line-height: 32px;border: 1px solid #EDEFF0;border-right-width: 0;border-top-width: 0;text-align: center;width: 158px;cursor: pointer;background: #F5F7F7;background-image: -webkit-linear-gradient(#ffffff, #FDFEFE, #FAFBFB, #F7F9F9, #f5f7f7);background-image: -ms-linear-gradient(#ffffff, #FDFEFE, #FAFBFB, #F7F9F9, #f5f7f7);background-image: -o-linear-gradient(#ffffff, #FDFEFE, #FAFBFB, #F7F9F9, #f5f7f7);background-image: -moz-linear-gradient(#ffffff, #FDFEFE, #FAFBFB, #F7F9F9, #f5f7f7);background-image: linear-gradient(#ffffff, #FDFEFE, #FAFBFB, #F7F9F9, #f5f7f7);}
.ept-btn li:first-child {border-left-color: #ffffff;}
.ept-btn li:hover {font-weight: bold;}
.ept-btn .cur {font-weight: bold; color: #00B075;cursor: default;background: #FEFEFE;background-image: -webkit-linear-gradient(#f5f7f7, #F7F9F9, #FAFBFB, #FDFEFE, #ffffff);background-image: -ms-linear-gradient(#f5f7f7, #F7F9F9, #FAFBFB, #FDFEFE, #ffffff);background-image: -o-linear-gradient(#f5f7f7, #F7F9F9, #FAFBFB, #FDFEFE, #ffffff);background-image: -moz-linear-gradient(#f5f7f7, #F7F9F9, #FAFBFB, #FDFEFE, #ffffff);background-image: linear-gradient(#f5f7f7, #F7F9F9, #FAFBFB, #FDFEFE, #ffffff);border-color: #fff;}

/*control*/
.ept-ctrl,.ept-result {text-align: center;}
.ept-ctrl .ctr-outer,.ept-result .ept-res {margin: 0 auto;width: 618px;}
.ept-ctrl .ctr-outer {border-top: 1px solid #ECECEC;padding-top: 1px;border-bottom: 1px solid #ECECEC;}
.ept-ctrl .ctr-inner {height: 42px;background-color: #F6F6F6;position: relative;}
.ept-ctrl .ctr-btn {position: absolute;display: block;top: 6px;height: 28px;line-height: 28px;width: 118px;right: 31px;border: 1px solid #D8D8D8;background-color: #FFFFFF;color: #6D6D6D;cursor: pointer;overflow: hidden;}
.ept-ctrl .ctr-btn:hover {border-color: #C3C3C3;font-weight: bold;}
.ept-ctrl .i-btn {position: absolute;font-weight: bold;color: #00B075;right: 20px;font-size: 16px;}
.ept-ctrl .i-pre {left: 20px;right: auto;}
.ept-ctrl .ctr-diable {border-color: #E7E7E7;font-weight: normal;background-color: #FDFDFD;color: #E0E0E0;cursor: default;}
.ept-ctrl .ctr-diable .i-btn {color: #ECECEC;}
.ept-ctrl .ctr-diable:hover {border-color: #E7E7E7;font-weight: normal;}
.ept-ctrl .ctr-prev {left: 31px;right: auto;}
.ept-ctrl .ctr-time {height: 42px;line-height: 44px;overflow: hidden;}

/*result*/
.ept-result .ept-res {text-align: left;margin-bottom: -1px;}
.ept-res li {height: 32px;line-height: 32px;padding: 12px 0;font-size: 15px;font-weight: bold;border-bottom: 1px dotted #E3E5E6;position: relative;overflow: hidden;}
.ept-res .i-rank {position: absolute;width: 26px;height: 26px;line-height: 26px;top: 14px;left: 10px;text-align: center;background-color: #C5C4C3;color: #ffffff;font-size: 16px;overflow: hidden;}
.ept-res .i-rank-1 {background-color: #FD0606;}
.ept-res .i-rank-2 {background-color: #FF7E00;}
.ept-res .i-rank-3 {background-color: #FFD200;}
.ept-res a {display: block;padding-left: 56px;color: #5A5A5A;font-size: 16px;white-space: nowrap;}

/*no search word && no ajax data*/
.no-data .ept-res {display: none;}
.no-data .ept-tip {display: block;}


/*amazon ads*/
.r-list_ama {
    border: 1px solid #ccc;
    margin: 12px 3px 12px 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    opacity: 0;
}
.amz-show {
    display: block;
    opacity: 1;
}
.r-list_ama .amz-li {
    position: relative;
}
.r-list_ama .amz-li-noimg .li-img {
    display: none !important;
}
.r-list_ama .li-img {
    width: 77px;
    height: 93px;
    margin: 5px 6px;
    overflow: hidden;
    text-align: center;
    float: left;
}
.r-list_ama .li-content {
    padding-right: 2px;
    position: absolute;
    top: 26px;
    left: 94px;
    z-index: 1;
}
.r-list_ama .amz-li-noimg .li-content {
    left: 8px;
}
.r-list_ama .amz-li h3 {
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 6px;
}
.r-list_ama .li-img img {
    border: 1px solid #636363;
    /*max-height: 75px;
    max-width: 75px;*/
}
.r-list_ama .li-img span {
    line-height: 16px;
    font-size: 12px;
    color: #001AFC;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-weight: bold;
}
.r-list_ama .amz-li a {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 5px;
    min-height: 100px;
    position: relative;
    z-index: 4;
}
.r-list_ama .amz-li:hover {
    background-color: #F2F2F2;
}
.r-list_ama .amz-li p {
    font-size: 13px;
}
.r-list_ama .dis-pri span {
    color: #676767;
    /*font-weight: bold;*/
}
.r-list_ama .ori-pri span {
    color: #CC0400;
    /*font-weight: bold;*/
}


/*mutiple line words*/
.ellipsis {
    overflow: hidden;
    height: 72px;
    line-height: 18px;
}
.ellipsis:before {
    content: "";
    float: left;
    width: 5px;
    height: 54px;
}
.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}
.ellipsis:after {
    content: "...";
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    float: right;
    position: relative;
    height: 24px;
    line-height: 24px;
    top: -2px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    /*background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);*/
}

/*r-word*/
#wordWrap{
    font-size: 106%;
    padding-bottom: 15px;
    border-bottom: 1px solid #F7F7F7;
    margin-bottom: 8px;
    display: none;
}
#wordWrap .word-title{
    display: inline-block;
    color: #666;
}
#resultWord{
    display: inline-block;
    width: 528px;
    overflow: hidden;
    height: 14px;
}
.r-li_w{
    display: inline-block;
    margin: 0 0 20px 15px;
}
.r-li_wa{
    text-decoration: underline;
}
.r-li_wa:hover{
    color: #cc3434;
}
.l-l-left{
    margin-left: -128px;
}
/*demo*/
/*.r-list_ama .li-img {
position: absolute;
top: 0;
left: 0;
width: 75px;
height: 92px;
border: 1px solid #636363;
background-color: #ffffff;
overflow: hidden;
text-align: center;
display: none;
display: block;
}
.r-list_ama .amz-li {
float: right;
padding-right: 20px;
width: 182px;
padding-left: 86px;
position: relative;
padding-bottom: 10px;
}
.r-list_ama .amz-li:first-child {
float: left;
margin-right: 0;
}
.r-list_ama .li-img {
position: absolute;
top: 0;
left: 0;
width: 75px;
height: 92px;
border: 1px solid #636363;
background-color: #ffffff;
overflow: hidden;
text-align: center;
display: none;
display: block;
}
.r-list_ama .li-img img {
    max-height: 75px;
    max-width: 75px;
}*/
#ClickUrl_amazon_center.r-list_ama > a {
    display: block;
    width: 100%;
}
#ClickUrl_amazon_center.r-list_ama .amz-li {
    float: left;
    width: 50%;
    margin-bottom: 10px;
}
#ClickUrl_amazon_center.r-list_ama .amz-li li a {
    margin-bottom: 0;
}