/*for lv2*/
body .userbar-wrap {
	background-image: none !important;
	background: #595959 !important;
	background: rgba(0,0,0,0.6) !important;
}
body .module-mask {
	background: rgba(0,0,0,0.2);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#33000000', endColorstr='#33000000');
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#33000000', endColorstr='#33000000')";
}
