@charset "utf-8";

body{
	background: none repeat scroll 0 0 #EDF0EF;
}
.l-wrap{
	width: 1280px;
}
.t-c{
	text-align: center;
}
.cb{
	clear: both;
}
.orange, .orange a {
	color: #F56F2F !important;
}
.green, .green a {
	color: #008000 !important;
}



.app-wrap{
	background: #FFF;
}



.box-fot {
	margin:19px 0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
}
.box-fot li {
	display: inline;
	text-align: right;
}
.box-fot a{
	color: #999;
}
.box-fot .space {
	display:inline-block;
	font-size:0;
	border-right:1px solid #999;
	height:10px;
	padding-left:10px;
	margin-right:10px;
	margin-bottom:-2px;
}
.bottom-copyright{
	margin-top: -10px;
	margin-bottom: 10px;
	line-height: 1.5;
	color: #999;
	display: block;
}
