.mod-sidebar-worldcup{
    background: #fff;
    position: relative;
}
/*顶部切换tab样式*/
.mod-sidebar-worldcup .sidebar-worldcup-control{
    height: 32px;
    font-size: 14px;
}
.mod-sidebar-worldcup .sidebar-worldcup-control li{
    height: 32px;
    width: 148px;
    border-right: 1px solid #e2e4e5;
    display: inline-block;
    background: #fcfcfc;
    text-align: center;
    line-height: 32px;
    color: #828282;
    cursor: pointer;
}
.mod-sidebar-worldcup .sidebar-worldcup-control li:hover{
    background: #fff;
    color: #499aea;
}
.mod-sidebar-worldcup .sidebar-worldcup-control li.last{
    border-right: none;
}
.mod-sidebar-worldcup .sidebar-worldcup-control li.cur{
    background: #fff;
    color: #499aea;
}

/*按时间排序赛事tab样式*/
/*按时间排序赛事tab样式——slideNav*/
.mod-sidebar-worldcup .worldcup-nav-wrap{
    height: 45px;
}
.mod-sidebar-worldcup .ui-nav {
    position: relative;
    overflow: hidden;
    background: #F5F6F7;
}
.mod-sidebar-worldcup .ui-nav .wrap {
    height: 45px;
    overflow: hidden;
    position: relative;
    left: 18px;
}
.mod-sidebar-worldcup .ui-nav .ctrl {
    position: absolute;
    width: 100%;
    height: 100%;
}
.mod-sidebar-worldcup .ui-nav p{
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    background-color: #898989;
    color: #666;
}
.mod-sidebar-worldcup .ui-nav p:hover{
    background-color: #1c81e5;
}
.mod-sidebar-worldcup .ui-nav p.prev {
    left: 0;
}
.mod-sidebar-worldcup .ui-nav p.next {
    right: 0;
}
.mod-sidebar-worldcup .ui-nav p span{
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    height: 100%;
    width:100%;
}
.mod-sidebar-worldcup .nav-item-list {
    position: absolute;
    right: 0px;
    list-style: none;
    white-space: nowrap;
    padding: 0;
}
.mod-sidebar-worldcup .nav-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 66px;
    height: 37px;
    line-height: 15px;
    text-align: center;
    background: #e9edf0; 
    position: relative;
    padding-top: 8px;
    color: #696a6b;
}
.mod-sidebar-worldcup .nav-item-hover {
    cursor: pointer;
}
.mod-sidebar-worldcup .nav-item-current {
    cursor: default;
}
.mod-sidebar-worldcup .nav-item-hover,
.mod-sidebar-worldcup .nav-item-current{
    background: #fff;
    color: #707070;
}

/*按时间排序赛事tab样式*/
/*按时间排序赛事tab样式——slideContent*/
.mod-sidebar-worldcup .worldcup-slide-panel{
    padding: 10px 20px;
    height: 400px;
}

.mod-sidebar-worldcup .match-unit{
    width: 255px;
    height: 90px;
    display: block;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
}
.mod-sidebar-worldcup .match-unit .match-unit-hd{
    height: 20px;
    background: #f2f4f5;
    line-height: 20px;
}
.mod-sidebar-worldcup .match-unit .match-unit-group{
    padding-left: 10px;
    color: #1c81e5;
    font-size: 13px;
}
.mod-sidebar-worldcup .match-unit .match-unit-info{
    float: right;
    color: #999;
    padding-right: 10px;
}
.mod-sidebar-worldcup .match-unit .match-unit-info b{
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
    color: #d7d9d9;
}
.mod-sidebar-worldcup .match-unit .match-unit-bd{
    padding: 9px 13px 2px;
    background: #fff;
}
.mod-sidebar-worldcup .match-unit .match-unit-team{
    width: 67px;
    display: inline-block;
    text-align: center;
}
.mod-sidebar-worldcup .match-unit .match-unit-team img{
    width: 34px;
    height: 34px;
    margin-bottom: 5px;
}
.mod-sidebar-worldcup .match-unit .match-unit-team span{
    display: inline-block;
    width: 67px;
    color: #858585;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mod-sidebar-worldcup .match-unit .match-unit-score{
    font-size: 40px;
    vertical-align: top;
    display: inline-block;
    margin-top: -5px;
    color: #696969;
    width: 25px;
    text-align: center;
}
.mod-sidebar-worldcup .match-unit .match-unit-line{
    font-size: 17px;
    vertical-align: top;
    display: inline-block;
    margin-top: 9px;
    padding: 0 5px;
    font-weight: 700;
    color: #adadad;
}

/*按组别排序赛事tab样式*/
.mod-sidebar-worldcup .team-tab{
    display:inline-block;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    background: #efefef;
    margin: 10px 0 20px 9px;
    color: #747474;
    font-size: 15px;
    cursor: pointer;
}
.mod-sidebar-worldcup .worldcup-scroll-panel{
    padding: 0 0 0 10px;
}
.mod-sidebar-worldcup .worldcup-scroll-container{
    height: 402px;
    overflow: hidden;
}
.mod-sidebar-worldcup .mod-scroll{
    left: -8px!important;
    position: absolute;
}
.mod-sidebar-worldcup .sidebar-worldcup-content{
    height: 465px;
    overflow: hidden;
}
/*底部banner样式*/
.mod-sidebar-worldcup .worldcup-banner{
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 298px;
    height: 30px;
}
.mod-sidebar-worldcup .worldcup-banner img{
    width: 100%;
    height: 100%;
}



