body {
	_background-image: url(about:blank);
	_background-attachment: fixed;
}
#backTop {
	position: fixed;
	_position:absolute;
	right: 50%;
	bottom: 50px;
	_top: expression((document).documentElement.clientHeight+document.documentElement.scrollTop-80);
	margin-right: 480px;
	display: none;
	z-index: 100;
}
#backTop a {
	display: block;
	height: 50px;
	width: 50px;
	outline: none;
	background: #F5F6F7 url(../img/w-back-normal.png?__sprite) 0 0 no-repeat;
}
#backTop a:hover {
	background: #1C81E5 url(../img/w-back-hover.png?__sprite) 0 0 no-repeat;
}
