/** from common.css
常用的命名样式，方便PM在CMS中配置 */

/*special status of links*/

/*large*/
/*.i-l{}*/
/*media*/
/*.i-m{} */
/*small*/
/*.i-s{}*/

.icon-hot, .icon-new, .icon-new_red{
	display: inline-block;
	*display: inline;
    zoom: 1;
	margin-left: 3px;
	cursor: pointer;
	_position: absolute;
	font-size:0;
}
.icon-hot{
	width: 30px;
	height: 11px;
	background: url(../../img/i-hot.png?__sprite) no-repeat;
}
.icon-new{
	width: 30px;
	height: 11px;
	background: url(../../img/i-new.png?__sprite) no-repeat;
}
.icon-new_red{
	width: 25px;
	height: 15px;
	background: url(../../img/i-big-new.png?__sprite) no-repeat;
}


/*
模块加载时的菊花

USAGE:

<div id="__elm_19" style="min-height:100px; height:auto !important; height:100px; width: 100px;">
    <div id="content" class="loading"><p>content</p></div>
</div>

 */
.mod-o{
	width: 100%;
    height: 100%;
	background: #fff url(../../img/o.gif) no-repeat center center;
	display: inline-block;
	*display: inline;
	zoom: 1;
}