.mod-recommand .layout3-main{
	padding-bottom: 10px;
}
.mod-recommand .layout3-main .main-item{
	display: block;
	position: relative;
}
.mod-recommand .layout3-main .des{
	position: absolute;
	height: 20px;
	line-height: 20px;
	width: 100%;
	bottom: 0;
	color: #fff;
	margin-left: 10px;
}
.mod-recommand .layout3-main:hover .des{
	color: #00b07f;
}
.mod-recommand .layout3-main .des-bg{
	display: block;
	height: 20px;
	width: 100%;
	position: absolute;
	bottom: 0;
	opacity: 0.8;
	filter:Alpha(opacity=80);
	background-color: #000;
}
.mod-recommand .layout3-main img{
	width: 238px;
	height: 106px;
	display: block;
}

.mod-recommand .layout3-detail{
	padding-bottom: 10px;
	padding-left: 10px;
	/* height: 68px; */
}
.mod-recommand .layout3-detail .detail-pic-wrap{
	float: left;
	display: block;
	/* width: 68px;
	height: 68px; */
}
.mod-recommand .layout3-detail .detail-pic-wrap img{
	display: block;
	width: 68px;
	height: 68px;
}
.mod-recommand .layout3-detail .detail-des-wrap{
	float: left;
	display: block;
	width: 138px;
	margin-left: 15px;
	margin-right: 2px;
	height: 68px;
	overflow: hidden;
}
.mod-recommand .layout3-detail .detail-des-wrap:hover{
	color: #00b07f;
}
.mod-recommand .layout3-detail .title{
	display: block;
	margin-top: 6px;
	font-weight: 700;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.mod-recommand .layout3-detail .desc{
	display: block;
	margin-top: 5px;
}

.mod-recommand .layout3-more{
	display:block;
	background:#f2f2f2;
	line-height:23px;
	height:23px;
	text-align:right;
	color:#00b075;
	border-top:1px solid #E3E5E6;
	padding-right:20px;
	position:relative;
	/*margin-top: 10px;*/
}
.mod-recommand .layout3-more:hover{
	background:#ebebeb;
}
.mod-recommand .layout3-more .arrow{
	position: absolute;
	color:#3dc094;
	right:10px;
	top:-1px;
	padding-left:5px;
	font-size:20px;
}

/*enhancement*/
.mod-recommand .layout3-1 .layout3-main:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.mod-recommand .layout3-1 .layout3-main .des-bg{
	height: 24px;
}
.mod-recommand .layout3-1 .layout3-main .des{
	height: 24px;
	line-height: 24px;
}
.mod-recommand .layout3-1 .i-speaker{
	background: url(../../img/i-speaker-l.png?__sprite);
	width: 22px;
	height: 17px;
	display: inline-block;
	*display: inline;
	*zoom:1;
	vertical-align: middle;
	margin: 0 5px;
}
.mod-recommand .layout3-1 .star-bg{
	display: inline-block;
	*display: inline;
	*zoom:1;
	width: 60px;
	height: 11px;
	background: url(../../img/hotsiteside-app-starbg-small.png?__sprite);
}
.mod-recommand .layout3-1 .layout3-main .star-bg{
	position: absolute;
	right: 20px;
	bottom: 6px;
}
.mod-recommand .layout3-1 .layout3-detail .star-bg{
	margin-top: 3px;
}
.mod-recommand .layout3-1 .star{
	float: left;
	display: inline-block;
	*display: inline;
	*zoom:1;
	height: 11px;
	background: url(../../img/hotsiteside-app-star-small.png?__sprite);
	background-position: left top;
}
.mod-recommand .layout3-1 .num{
	display: block;
	position: absolute;
	left: -1px;
	top: -4px;
	width: 15px;
	height: 15px;
	color: #fff;
	text-align: center;
	line-height: 17px;
	background: url(../../img/list-number-bg.png?__sprite);
}
.mod-recommand .layout3-1 .detail-pic-wrap{
	position: relative;
}
