body{
	background-color: #fff;
}
.plugin-intro_top{
	height: 367px;  
	margin-top: -1px;
}
.plugin-intro_topBg{
	width: 960px;
	height: 367px; 
	margin: 0 auto; 
}
#plugin-intro_btn{
	display:block;
	width: 301px; 
	height: 58px; 
	margin-right: 628px; 
	margin-top: 261px;
	position: absolute;
}
.plugin-intro_body{
	width: 960px; 
	height: 1024px; 
	margin: 0 auto;
}
.plugin-intro_body img{
	margin-top: -26px;
	margin-right:185px; 
}