.mod-sidebar-appbox{
    position: relative;
    width: 240px;
    height: 450px;
    background-color: #f0f3f5;   
}
.mod-sidebar-appbox .apps{
	padding-bottom: 9px;
}
.mod-sidebar-appbox .app-item{	
	padding: 7px 16px 0 9px;
}
.mod-sidebar-appbox .app-link{
	position: relative;
	display: block;
	border-radius: 2px;
	border: 1px solid #d9d9d9;
	border-bottom: 2px solid #d9d9d9;
	padding: 7px;
	background-color: #fff;
}
.mod-sidebar-appbox .app-link:hover{
	box-shadow: 2px 2px 5px #aaa;
}
.mod-sidebar-appbox .app-icon{
	display: inline-block;
	float: left;
	width: 35px;
	height: 35px;
	border: 1px solid #d2d4d5;
	border-radius: 2px;
}
.mod-sidebar-appbox .app-item.first .app-icon{
	width: 48px;
	height: 48px;
}
.mod-sidebar-appbox .app-name,
.mod-sidebar-appbox .app-num,
.mod-sidebar-appbox .app-des,
.mod-sidebar-appbox .app-played-number{
	display: inline-block;
	line-height: 14px;
	width: 152px;
	margin-left: 10px;
	position: relative;
	overflow: hidden;
}
.mod-sidebar-appbox .app-item.first .app-icon{

}
.mod-sidebar-appbox .app-name{
	padding-top: 2px;
	height: 19px;
	font-size: 13px;
	line-height: 19px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mod-sidebar-appbox .app-item.first .app-name{
	width: 132px;
	font-weight: 900;
}
.mod-sidebar-appbox .app-item.first .app-played-number{
	width: 132px;
	margin-top: 3px;
	color: #b3b3b3;
}
.mod-sidebar-appbox .app-num
.mod-sidebar-appbox .app-users{
	float: left;
	max-width: 110px;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mod-sidebar-appbox .app-des{
	color: #999999;
	overflow: hidden;
}
.mod-sidebar-appbox .app-item.first .app-des{
	width: 185px;
	margin-left: 0px;
	margin-top: 3px;
}
.mod-sidebar-appbox .app-icon-star{
	display: block;
	width: 19px;
	height: 24px;
	background: url(../img/sidebar-app-tool-star.png?__sprite) no-repeat;
	position: absolute;
	right: 5px;
	top: -2px;
}
.mod-sidebar-appbox .app-people-icon{
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url(../img/sidebar-app-tool-people.png?__sprite);
	margin-right: 5px;
}