.box-onesort-big {
	position: relative;
}
.box-onesort-big dt a{
	padding-left: 10px;
	color: #49b18e;
	text-indent: 0px;
}		
.box-onesort-big dd a{
	width: 242px;
	padding-left: 10px;
	border-left: 3px solid #fafafc;
	font-weight: bold;
	text-indent: 0px;
}
.box-onesort-big dd a:hover{
	border-left: 3px solid #00ac73;
}
.box-onesort-big dd a span {
	margin-left: 10px;
	font-size: 12px;
	color: #a9a9a9;
	font-weight: normal;
}
.box-onesort-big dt a span{
	float: right;
	margin-right: 10px;
	font-weight: 400;
	color: #3dc094;
}
.box-onesort-big i.i-sort-big {
	display: block;
	position: absolute;
	right: 25px;
	bottom: 20px;
	background-image: url("../img/i-onesort-big.png");
}
.i-sort-big.i-br-games {
	width: 71px;
	height: 54px;
	background-position: -54px -243px;
}
.i-sort-big.i-br-gameweb {
	width: 61px;
	height: 56px;
	background-position: 0 -63px;
}
.i-sort-big.i-br-image {
	width: 63px;
	height: 63px;
	background-position: 0px 0px;
}
.i-sort-big.i-br-tv {
	width: 59px;
	height: 56px;
	background-position: -63px -297px;
}
.i-sort-big.i-br-movie {
	width: 53px;
	height: 60px;
	background-position: 0px -119px;
}
.i-sort-big.i-br-tieba {
	width: 61px;
	height: 61px;
	background-position: -62px -180px;
}
.i-sort-big.i-br-bank {
	width: 63px;
	height: 57px;
	background-position: 0px -296px;
}
.i-sort-big.i-br-music {
	width: 63px;
	height: 63px;
	background-position: -63px 0px;
}
.i-sort-big.i-br-menhu {
	width: 61px;
	height: 56px;
	background-position: -61px -63px;
}
.i-sort-big.i-br-sports {
	width: 54px;
	height: 54px;
	background-position: 0px -242px;
}
.i-sort-big.i-br-software {
	width: 60px;
	height: 60px;
	background-position: -53px -119px;
}
.i-sort-big.i-br-shopping {
	width: 62px;
	height: 63px;
	background-position: 0px -179px;
}

.sortsites-tabs-container{
	position: relative;
	overflow: visible;
}
.sortsites-tabs,ul.block_sep{
	width: 708px;
	height: 30px;
	line-height: 30px;
	background:url(../img/btn-normal-bg.png?__sprite) repeat-x;
	margin-top: 10px; 
	font-size: 12px;
	padding-top: 2px;
	overflow: hidden;
}
.sortsites-tabs i,.sortsites-tabs-container i{
	display: inline-block;
	height: 20px;
	width: 23px;
	margin-bottom: -3px;
	background-image:url(../img/i-sortsites-tabs.png?__sprite);
	background-repeat: no-repeat;
}
.sortsites-tabs a:hover{
	color: #49B18E;
	text-decoration: underline;
}
.sortsites-tabs .tab-lists{
	position: relative;
	width: 55%;
	float: left;
	padding-left: 10px;
	top:0px;
}
.sortsites-tabs .tab-lists li{
	float: left;
	min-width: 21%;
	max-width: 33%;
	height: 30px;
	text-align: center;
}
.sortsites-tabs .tab-lists a:hover{
	text-decoration: none;
}
.sortsites-tabs .tab-item{
	display: inline-block;
	width: 100%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow: hidden;
}
.sortsites-tabs-refresh{
	float: right;
	padding-right: 5px;
}
.sortsites-tabs-refresh i{
	background-position: -84px 1px;
	margin-bottom: -4px;
}
.sortsites-tabs-description{
	float: left;
	padding-left: 15px;
	font-weight: bold;
	margin-right: -16px;
}
.sortsites-tabs-description i{
	background-position: -61px 1px;
}
.sortsites-tabs-container .bubble-like{
	position: absolute;
	display: none;
	bottom: 30px;
	left: -10px;
	background-image:url(../img/i-sortsites-tabs.png?__sprite);
	background-repeat: no-repeat;
	background-position: 0 -20px;
	height: 33px;
	min-width: 230px;
	z-index: 9;
	font-weight: bold;
	color: white;
	padding-left: 20px;
	padding-top: 2px;
}
.sortsites-tabs-container .bubble-like i{
	background-position: -119px 2px;
	margin-bottom: -3px;
	margin-left: 3px;
}
.sortsites-tabs-container i.i-hover{
	background-position: -146px 2px;
	margin-bottom: -3px;
	margin-left: 3px;
	cursor: pointer;
}

.sortsite_sep{ 
	border-left: 1px solid #E6E6E6;
    display: block;
    float: left;
    height: 14px;
    line-height: 6px;
    margin-left: -1px;
    margin-top: 8px;
    position: relative;
    z-index: 0;
}
ul.block_sep {
    background-repeat: repeat-y;
    display: block;
    height: 100%;
    left: 10px;
    position: absolute;
    top: -10px;
    width: 1px;
    z-index: 1;
}
