.userbar-btns {
    visibility: hidden;
    display: none;
    position: absolute;
}
body .box-search_hsrch {
    width: 582px;
    margin-right: 168px;
}
body .box-search_tab {
    margin-right: 170px;
}
body .box-search_form .radios label {
    padding-right: 24px;
}
body .box-search {
    margin-right: 22px;
}
body .sug-search, body .baidu_sug, body .baidu_video_sug {
    width: 487px;
    right: -1px;
}
body .baidu_sug,
body .baidu_video_sug {
    right: 0;
}
body .box-search .box-search_form .input input {
    width: 450px;
}
body .box-search .box-search_form .input {
    margin-right: 9px;
}
