html, body {
    border: 0 none;
    overflow: hidden;
}

.mod-pcfstatic-news {
    position: relative;
    overflow: hidden;
}

.mod-pcfstatic-news .wrap {
    height: 185px;
}

.mod-pcfstatic-news .mod {
    width: 280px;
}

.mod-pcfstatic-news .mod2 {
    width: 340px;
}

.mod-pcfstatic-news .top {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #169edc;
}

.mod-pcfstatic-news .i-client {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 7px;
    left: 9px;
    background-image: url(../img/i-client.png);
}

.mod-pcfstatic-news .i-close {
    position: absolute;
    display: inline-block;
    width: 11px;
    height: 10px;
    top: 7px;
    right: 10px;
    background-image: url(../img/i-close.png);
    cursor: pointer;
}

.mod-pcfstatic-news .client-title {
    color: #ffffff;
    padding-left: 32px;
    font-size: 12px;
}

.mod-pcfstatic-news .content {
    width: 100%;
    height: 124px;
    border-bottom: 1px solid #eaeaea;
    background-color: #ffffff;
    overflow: hidden;
    font-size: 12px;
}

.mod-pcfstatic-news .float {
    position: relative;
    float: left;
    display: inline-block;
    height: 100%;
}

.mod-pcfstatic-news .fl-right {
    padding: 12px 9px 0 12px;
}

.mod-pcfstatic-news .mod .fl-right {
    width: 259px;
}

.mod-pcfstatic-news .mod2 .fl-right {
    width: 216px;
    padding-left: 10px;
    padding-right: 4px;
}

.mod-pcfstatic-news .news-title {
    display: block;
    line-height: 17px;
    font-weight: 600;
    color: #076bd1;
    cursor: pointer;
}

.mod-pcfstatic-news .news-title:hover {
    text-decoration: underline;
}

.mod-pcfstatic-news .news-des {
    display: block;
    padding-top: 5px;
    line-height: 19px;
    color: #666666;
    cursor: pointer;
}

.mod-pcfstatic-news .news-des:hover {
    color: #2795db;
}

.mod-pcfstatic-news .bottom {
    line-height: 30px;
    height: 30px;
    background-color: #f9f9f9;
}

.mod-pcfstatic-news .readmore {
    color: #076dd1;
    float: right;
    padding-right: 11px;
    font-size: 12px;
}

.mod-pcfstatic-news .readmore:hover {
    cursor: pointer;
    text-decoration: underline;
}

.mod-pcfstatic-news .img {
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 12px;
    margin-left: 10px;
}

.mod-pcfstatic-news .img-wrap {
    display: block;
}