.mod-footer-seo{
	margin-top: 30px;
	color: #202020;
	background-color: #f5f6f7;
	display: block !important;
}

.mod-footer-seo .footer-links{
	padding-top: 20px;
}


.mod-footer-seo .sort{
	float: right;
}

.mod-footer-seo .sort-0{
	width: 33%;
	border-left: 1px solid #ffffff;
}

.mod-footer-seo .sort-1{
	width: 40%;
	margin-right: 3.3%;
	border-left: 1px solid #ffffff;
}

.mod-footer-seo .sort-2{
	width: 20%;
	margin-right: 3.3%;
}

.mod-footer-seo .sort ul{
	float: right;
}

.mod-footer-seo .sort-0 ul{
	width: 50%;
}

.mod-footer-seo .sort-1 ul{
	width: 25%;
}

.mod-footer-seo .sort-2 ul{
	width: 100%;
}

.mod-footer-seo .sort li{
	width: 90%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mod-footer-seo a, .mod-footer-seo .box-fot a{
	color: #202020;
}

.mod-footer-seo a:hover{
	text-decoration: underline;
}

.mod-footer-seo .box-fot{
	margin: 19px 0 5px 0;
}

.mod-footer-seo .footer-copyright{
	padding-bottom: 25px;
	text-align: center;
}