.mod-vote-tem-pray .vote-share{
	right: 15px;
	position: relative;
	cursor: pointer;
	width: 210px;
}
.flow-on .mod-vote-tem-pray .vote-share{
	width: 270px;
}
/*FB按钮*/
.mod-vote-tem-pray .vote-share-fb{
	float: right;
	background: #5170c5;
	color: white;
	height: 28px;
	border-radius: 2px;
	line-height: 28px;
	text-align: center;
}
.mod-vote-tem-pray .vote-share-fb:hover{
	background:#5c7cd3;
}
.mod-vote-tem-pray .vote-share-fb i{
	background: url(../img/vote-fb.png);
	width: 27px;
	height: 28px;
	display: inline-block;
	vertical-align: middle;
	float: right;
}
.mod-vote-tem-pray .vote-share-fb span,.mod-vote-tem-pray .vote-share-ter span{
	padding: 0 14px 0 10px;
}
/*Ter按钮*/
.mod-vote-tem-pray .vote-share-ter{
	float: right;
	background: #1694ff;
	color: #fff;
	height: 28px;
	border-radius: 2px;
	line-height: 28px;
	text-align: center;
}
.mod-vote-tem-pray .vote-share-ter:hover{
	background: #2f9fff;
}
.mod-vote-tem-pray .vote-share-ter i{
	background: url(../img/vote-ter.png);
	width: 27px;
	height: 28px;
	display: inline-block;
	vertical-align: middle;
	float: right;
}
.mod-vote-tem-pray .vote-tel-title{	
	color: #474848;
	padding: 10px;
	font-size: 14px;
	border-bottom: 1px solid #e3e5e6;
	background-image:-moz-linear-gradient(top, rgb(254,254,254), rgb(246,248,247));
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(254,254,254)), to(rgb(246,248,247)));
	background-image:-webkit-linear-gradient(top, rgb(254,254,254), rgb(246,248,247));
	background-image:-o-linear-gradient(top, rgb(254,254,254), rgb(246,248,247));
	background-image:-ms-linear-gradient(top, rgb(254,254,254), rgb(246,248,247));
	background-image:linear-gradient(top, rgb(254,254,254), rgb(246,248,247));
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe,endColorstr=#f6f8f7,GradientType=1)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe,endColorstr=#f6f8f7,GradientType=1) DXImageTransform.Microsoft.Alpha(enabled=false);
}
.mod-vote-tem-pray .vote-tel-title span{
	display: inline-block;
	width: 210px;
	overflow: hidden;
	max-height: 35px;
}
.flow-on .mod-vote-tem-pray .vote-tel-title span{	
	display: inline-block;
	width: 280px;
	overflow: hidden;
	max-height: 35px;
}
/*是非题分享*/
.mod-vote-tem-pray .pray-fb span{
	padding: 3px;
}
.mod-vote-tem-pray .pray-ter span{
	padding: 3px;
}
.vote-tel-active{
	background:#00ad73;
	color: white;
}
/*.vote-tel-active{
	background:#e3e3e3;
	color: #009a66;
}*/
.mod-vote-tem-pray .pray-template{
	width: 238px;
	border: 1px solid #e3e5e6;
	background: #f5f7f7;
	text-align: center;
}
.mod-vote-tem-pray .pray-template .pray-template-img{
	width: 238px;
	height: 118px;
}
/*响应式*/
.flow-on .mod-vote-tem-pray .pray-template .pray-template-img{
	width: 298px;
	height: 148px;
}
/*响应式*/
.flow-on .mod-vote-tem-pray .pray-template{
	width: 298px;
}
.mod-vote-tem-pray .pray-template .vote-handle-area-result{
	padding: 14px 0 14px 33px;
	display: inline-block;
}
/*响应式*/
.flow-on .mod-vote-tem-pray .pray-template .vote-handle-area-result{
	padding: 18px 0 10px 30px;
}
.mod-vote-tem-pray .pray-template .vote-agree-pray{
	background: #00ae74;
	color: #fff;
	border: 0;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	margin: 6px;
	width: 209px;
	height: 30px;
	line-height: 30px;
}
/*响应式*/
.flow-on .mod-vote-tem-pray .pray-template .vote-agree-pray{
	width: 271px;
}
.mod-vote-tem-pray .pray-template .vote-agree-ordis{
	top: 9px;
	position: relative;
}
.flow-on .mod-vote-tem-pray .pray-template .vote-agree-ordis{
	top: 12px;
}
.mod-vote-tem-pray .vote-common-line{
	width: 220px;
	height: 1px;
	background: #e3e5e6;
	display: inline-block;
	position: relative;
	top: 4px;
}
/*响应式*/
.flow-on .mod-vote-tem-pray .vote-common-line{
	width: 267px;
	top: 9px;
}
.mod-vote-tem-pray .pray-template .pray-title{
	text-align: right;
}
.mod-vote-tem-pray .pray-template .voted-check{
	background:#c5c5c5;
}