.hotsite-hist_wrap, .hotsite-tabs{
    visibility: hidden;
}

.hotsite-tabs{
    height: 28px;
    border-bottom: 1px solid #f2f9fa;
}


.hotsite-tabs .cur {
    border-bottom: 2px solid #3dc094;
    font-weight: bold;
}

.hotsite-ele {
    display: none;
}
.hotsite-container .cur{
    display: block;
}