.wrap-message {
	float: right;
	position: relative;
}
.wrap-message-content {
	position: relative;
	background-color: #0164C8;
    background-color: rgba(0,99,199,0.97);
	width: 277px;
}
.wrap-message-content li {
	border-bottom: 1px solid #1B80E4;
	border-bottom-color: rgba(28,129,229,0.96);
}
.wrap-message-content li:hover {
	background-color: #075DB5;
	background-color: rgba(0,0,0,.1);
}
.wrap-message-content .message-target {
	float: right;
	color: #fff;
	width: 255px;
	font-size: 12px;
	min-height: 58px;
}
/*.message-target:hover span {
	color: #00ad72;
}*/
a.message-target:hover span {
	text-decoration: underline;
}
span.message-target span {
	cursor: default;
}
.message-over-item .message-target {
	color: #999999;
}
/*.message-over-item .message-target:hover span {
	color: #777777;
}*/
.message-target span {
	display: block;
	width: 200px;
	float: right;
	margin: 19px 10px 10px 0;
}
.ico-message-delete {
	color: #9dd2bf;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	display: none;
	width: 11px;
	height: 11px;
	background: url("../img/icon-delete.png?__sprite") no-repeat;
}
.ico-message-delete:hover {
	cursor: pointer;
	background: url("../img/icon-delete-hover.png?__sprite") no-repeat;
}
.wrap-message-content li:hover .ico-message-delete {
	display: block;
}
.ico-message-new {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 12px;
	height: 12px;
	background: url("../img/icon-msg-new.png?__sprite") no-repeat;
}
.ico-message-type {
	width: 28px;
	height: 25px;
	float: right;
	margin-right: 15px;
	margin-top: 17px;
	background: url("../img/icon-msg-notice-rtl.png?__sprite") no-repeat;
}
.ico-message-type1,
.ico-message-type2 {
	background: url("../img/icon-msg-notice-rtl.png?__sprite") no-repeat;
}
.message-over-item .ico-message-type {
	background-image: url("../img/icon-msg-notice-over-rtl.png?__sprite");
}
.message-over-item .ico-message-type1,
.message-over-item .ico-message-type2 {
	background-image: url("../img/icon-msg-notice-over-rtl.png?__sprite");
}
.message-no-item {
	line-height: 58px;
	text-align: center;
}
.message-no-item span {
	width: 100%;
	overflow: hidden;
	color: #FFFFFF;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*head fixed*/
.header-fixed-st .ico-message-new{top: 6px;}