/*二级横版图片*/
.img-h-siteslist a{
	height: 183px;
	width: 209px;
	padding: 15px;
	padding-bottom: 0;
	margin:0;
	text-align: center;
}
.img-h-siteslist .img-mask{
	background-color: #000000;
	height: 100%;
	opacity: 0.4;
	position: absolute;
	-moz-border-right-colors:  0;
	top: 0;
	right: 0;
	width: 100%;
	filter:alpha(opacity=40);
	_height: 157px;
	z-index:1;
	display: none;
}
.img-h-siteslist .img-con{
	position: relative;
}
.img-h-siteslist .img-con img{
	height:157px;
	width:209px;
	margin-bottom: 2px;
}
.img-h-siteslist a:hover{
	background:none !important;
	text-decoration:underline;
	color:#00ac73;
}
.img-h-siteslist a:hover .img-mask{
	display: block;
	cursor: pointer;
}
.img-h-siteslist dd{
	padding: 0 0 15px 0 !important;;
}