body .hotsite_b {
    width: 708px;
    float: right;
    margin-left: 10px;
}
body .hotsite {
    width: 704px;
    padding: 0px 1px;
}
body .hotsite_link .hotsite span {
    float:right;
    *float:none;
    margin: 0px 4px 6px 4px;
}
body .hotsite .search-form {
    top:53px;
}
