/* Tab and container */
 .mod-notepad-container {
    width: 239px;
    height: 422px;
    overflow: hidden;
    background: #F5F5F5;
    position: relative;
}
.sidebar-notepad-wrapper {
    width: 500px;
    height: 422px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0px;
    transition: left 0.5s;
    -webkit-transition: left 0.5s;
    -o-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
}
.sidebar-notepad-second {
    left: -261px;
}
/* login */
 .sidebar-notepad-login {
    position: relative;
    width: 239px;
    height: 100%;
    background: #ffffff;
    text-align: center;
}
.sidebar-notepad-write-text, .sidebar-notepad-read-text {
    display: none;
}
.sidebar-notepad-lets-login {
    position: absolute;
    width: 100%;
    top: 186px;
}
.sidebar-notepad-login h1, .sidebar-notepad-login h2, .sidebar-notepad-login h3, .sidebar-notepad-login h4 {
    color: #8D8D8D;
    text-align: center;
    display: none;
}
.sidebar-notepad-login h1 {
    font-size: 12px;
    font-weight: 300;
    padding: 0 32px;
    display: block;
    line-height: 1.6;
}
.sidebar-notepad-login-btn {
    display: inline-block;
    overflow: hidden;
    background: url(../img/notepad-login.png?__sprite) repeat-x;
    border: 1px solid #314E8C;
    border-bottom-color: #314D8E;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 150px;
}
.sidebar-i-notepad-fb {
    display: inline-block;
    float: left;
    width: 32px;
    height: 31px;
    border-right: 1px solid #314E8C;
    border-top: 1px solid #6A85BC;
    background: url(../img/i-notepad-fb.png?__sprite) no-repeat;
}
.sidebar-notepad-login-text {
    display: inline-block;
    float: left;
    padding: 0 18px 0 12px;
    height: 31px;
    line-height: 31px;
    border-left: 1px solid #6A85BC;
    border-top: 1px solid #6A85BC;
    text-align: center;
    max-width: 170px;
    font-size: 12px;
    color: #fff;
}
.sidebar-notepad-login-btn:hover {
    background: url(../img/notepad-login-hover.png?__sprite) repeat-x;
}
.sidebar-notepad-login-btn:active {
    background: url(../img/notepad-login-click.png?__sprite) repeat-x;
}
/*user facebook message*/
 .sidebar-notepad-head {
    width: 100%;
    height: 73px;
    position: relative;
    background-color: #FFFFFF;
    color: #595959;
    font-size: 12px;
    border-bottom: 1px solid #E3E3E3;
}
.sidebar-notepad-head img {
    position: absolute;
    border: 1px solid #565656;
    left: 10px;
    top: 10px;
    width: 48px;
    height: 48px;
}
.sidebar-notepad-head-wrapper {
    position: absolute;
    left: 68px;
    top: 8px;
}
.sidebar-notepad-uname {
    max-width: 168px;
    font-weight: bold;
    white-space: nowrap;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebar-notepad-num {
    max-width: 168px;
    margin-top: 2px;
    white-space: nowrap;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebar-notepad-num #notepadNum {
    margin-right: 5px;
}
.sidebar-notepad-first {
    width: 239px;
    height: 100%;
    overflow: hidden;
    float: left;
    position: relative;
    background-color: #FAFCFC;
}
/* notepad content */
 .sidebar-notepad {
    position: relative;
    width: 239px;
    height: 100%;
    float: right;
    overflow: hidden;
}
.sidebar-notepad-list {
    position: relative;
    width: 100%;
    height: 332px;
}
.sidebar-notepad-notes {
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    position: relative;
}
.sidebar-notepad-list-title {
    position: absolute;
    bottom: 8px;
    right: 4px;
    border: 1px solid #01A26E;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    max-width: 168px;
    overflow: hidden;
}
.sidebar-notepad-add {
    text-align: center;
    border-top: 1px solid #38CA9B;
    padding: 0 9px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    background: url(../img/btn-notepad-new.png?__sprite) repeat-x;
}
.sidebar-notepad-add:hover {
    background: url(../img/btn-notepad-new-hover.png?__sprite) repeat-x;
}
.sidebar-notepad-add:active {
    background: url(../img/btn-notepad-new-active.png?__sprite) repeat-x;
}
.sidebar-notepad-add-add {
    line-height: 22px;
    font-size: 12px;
    color: #fff;
}
.sidebar-notepad-list-wrapper {
    position: relative;
    width: 239px;
    height: 332px;
    overflow: hidden;
}
.sidebar-notepad-list-container {
}
.sidebar-notepad-list-container li {
    position: relative;
    display: block;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #E1E1E1;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: #FAFAFA;
}
.sidebar-notepad-list-container li:hover {
    background-color: #FFFFFF;
}
.sidebar-notepad-list-container li:hover p {
    color: #049C69;
}
.sidebar-notepad-list-container li.sidebar-active {
    background-color: #F2F2F2;
}
.sidebar-notepad-list-container li.sidebar-active p {
    color: #049C69;
}
.sidebar-notepad-list-container li.sidebar-active span {
    color: #969696;
}
.sidebar-notepad-list-container p {
    text-align: left;
    color: #585858;
    font-size: 12px;
    font-weight: 600;
    float: left;
    max-width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-notepad-list-container span {
    display: block;
    text-align: left;
    color: #999999;
    font-size: 11px;
    float: right;
}
.sidebar-notepad-del {
    display: none;
    position: absolute;
    top: 7px;
    right: 64px;
    width: 16px;
    height: 17px;
    background: url(../img/i-notepad-del.png?__sprite) no-repeat;
    cursor: pointer;
}
.sidebar-notepad-del:hover {
    background: url(../img/i-notepad-del-hover.png?__sprite) no-repeat;
}
.sidebar-notepad-list-container li:hover .sidebar-notepad-del {
    display: block;
}
/* title & articles */
 .sidebar-notepad-title {
    position: relative;
    height: 44px;
    padding-left: 14px;
    border-bottom: 1px dashed #D7D7D7;
    overflow: hidden;
    margin-bottom: 2px;
}
.sidebar-notepad-title input {
    border: 1px solid #CBCBCB;
    background-color: #fff;
    width: 196px;
    height: 20px;
    line-height: 20px;
    padding:4px 7px;
    margin-top: 7px;
    font-size: 14px;
}
.sidebar-notepad-title input[disabled=disabled] {
    background-color: #f5f5f5;
}
.sidebar-notepad-title label {
    position: absolute;
    color: #b8b8b8;
    font-size: 14px;
    top: 14px;
    left: 24px;
    display: none;
    cursor: text;
}
.sidebar-notepad-create-time {
    line-height: 1.2;
    font-size: 11px;
    color: #a6a6a6;
    font-family: arial, Tahoma, helvetica, clean, sans-serif;
}
.sidebar-notepad-article-container {
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.sidebar-notepad-article-border {
    height: 4px;
    border-top: 1px solid #cdcdcd;
    background-color: #fff;
}
.sidebar-notepad-article {
    background-color: #fff;
}
/* ornaments */
 .sidebar-notepad-article-shadow {
    width: 238px;
    background-color: #F2F2F2;
    margin-top: -4px;
}
.sidebar-notepad-article-shadow1, .sidebar-notepad-article-shadow2 {
    margin: 0 auto;
    height: 1px;
    width: 234px;
    background-color: #f6f6f6;
    border: 1px solid #cdcdcd;
}
.sidebar-notepad-article-shadow2 {
    width: 232px;
    margin-top: -1px;
    background-color: #f3f3f3;
}
.sidebar-notepad-textarea {
    margin-top: 5px;
    border: 0 none;
    width: 224px;
    padding: 0 0 0 14px;
    height: 312px;
    line-height: 24px;
    font-size: 12px;
    color: #595959;
    background: url(../img/bg-notepad-article.png) repeat;
}
.sidebar-notepad-notice {
    position: absolute;
    top: 64px;
    left: 8px;
    background-color: #fff;
    width: 182px;
    padding: 4px 8px;
    border: 4px solid #CCCCCC;
    border: 4px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 14px;
    line-height: 1.4;
    color: #00AE73;
    display: none;
}
.sidebar-notepad-saved {
    position: absolute;
    top: 500px;
    left: 26px;
    text-indent: 60px;
    height: 90px;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 90px;
    border: 4px solid #CCCCCC;
    border: 4px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 14px;
    color: #00AE73;
    background: url(../img/tip-mark.png) no-repeat;
    background-color: #fff;
    transition: top 0.6s;
    -webkit-transition: top 0.6s;
    -o-transition: top 0.6s;
    -moz-transition: top 0.6s;
    -ms-transition: top 0.6s;
}
.sidebar-notepad-saved-show {
    top: 75px;
}
.sidebar-notepad-back {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    color: #039D69;
    text-decoration: underline;
    margin-left: 12px;
    _margin-left: 6px;
    margin-top: 8px;
    cursor: pointer;
    max-width: 100px;
}
.sidebar-notepad-save {
    display: inline-block;
    float: right;
    margin: 5px 4px 0 0;
    _margin-right: 2px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border: 1px solid #01a26d;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: url(../img/btn-notepad-save.png?__sprite) repeat-x;
    padding: 0 20px;
    box-shadow: 0 2px 0 #d3d3d3;
    cursor: pointer;
}
.sidebar-notepad-save:hover {
    background: url(../img/btn-notepad-save-hover.png?__sprite) repeat-x;
}
.sidebar-notepad-save-disable, .sidebar-notepad-save-disable:hover {
    background: url(../img/btn-notepad-save-disable.png?__sprite) repeat-x;
    border: 1px solid #adadad;
    box-shadow: none;
}
.sidebar-notepad-no-note {
    width: 239px;
    height: 348px;
    position: absolute;
    top: 74px;
    background-color: #F5F5F5;
    z-index: 4;
    display: none;
}
.sidebar-notepad-no-btn {
    margin: 136px auto 0;
    width: 188px;
    height: 32px;
    line-height: 32px;
    color: #EBFDF7;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #01A26E;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: url(../img/btn-notepad-new-first.png?__sprite) repeat-x;
    cursor: pointer;
    overflow: hidden;
}
.sidebar-notepad-no-btn:hover {
    background: url(../img/btn-notepad-new-first-hover.png?__sprite) repeat-x;
}
.sidebar-notepad-no-btn:active {
    background: url(../img/btn-notepad-new-first-active.png?__sprite) repeat-x;
}
.sidebar-notepad-no-icon {
    display: block;
    float: left;
    height: 26px;
    width: 42px;
    padding-top: 6px;
}
.sidebar-notepad-no-icon i {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 12px;
    background: url(../img/btn-notepad-addBtn.png?__sprite) no-repeat;
}
.sidebar-notepad-fresh .sidebar-notepad-no-note {
    display: block;
}
.sidebar-notepad-fresh .sidebar-notepad-list-title {
    display: none;
}
.sidebar-notepad-tle {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 225px;
    padding-left: 14px;
    z-index: 2;
    background-color: #F2F2F2;
    cursor: pointer;
}
.sidebar-notepad-tle-content {
    color: #595959;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}
