/* 部分迁移期间，加前缀复写 */
.fb-mod_btn {
    position: relative;
    z-index: 1;
    overflow: visible;
    display: inline-block;
    padding: 2px 10px 3px;
    border: 1px solid #999;
    border-bottom-color: #888;
    margin: 0;
    text-decoration: none;
    text-align: center;
    font: normal 13px/normal 'lucida grande',tahoma,verdana,arial,sans-serif;
    white-space: nowrap;
    cursor: pointer;
    color: #333;
    background-color: #eee;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f6f6),to(#e4e4e3));
    background-image: -moz-linear-gradient(#f5f6f6,#e4e4e3);
    background-image: -o-linear-gradient(#f5f6f6,#e4e4e3);
    background-image: linear-gradient(#f5f6f6,#e4e4e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6',EndColorStr='#e4e4e3');
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #fff;
    zoom: 1;
    *display: inline;
}
.fb-mod_btn:hover,.fb-mod_btn:focus,.fb-mod_btn:active {border-color: #777 #777 #666;}
.fb-mod_btn:active {border-color: #aaa;background: #ddd;filter: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.fb-mod_btn::-moz-focus-inner {padding: 0;border: 0;}
.fb-mod_btn-confirm {
    border-color: #29447e #29447e #1a356e;
    color: #fff;
    background-color: #5b74a8;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#637bad),to(#5872a7));
    background-image: -moz-linear-gradient(#637bad,#5872a7);
    background-image: -o-linear-gradient(#637bad,#5872a7);
    background-image: linear-gradient(#637bad,#5872a7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#637bad',EndColorStr='#5872a7');
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #8a9cc2;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #8a9cc2;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #8a9cc2;
}
.fb-mod_btn-confirm:hover {border-color: #29447e #29447e #1a356e;}
.fb-mod_btn-confirm:active {border-color: #29447e;background: #4f6aa3;filter: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.fb-mod_btn-special {
    border-color: #3b6e22 #3b6e22 #2c5115;
    color: #fff;
    background-color: #69a74e;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#75ae5c),to(#67a54b));
    background-image: -moz-linear-gradient(#75ae5c,#67a54b);
    background-image: -o-linear-gradient(#75ae5c,#67a54b);
    background-image: linear-gradient(#75ae5c,#67a54b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#75ae5c',EndColorStr='#67a54b');
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #98c286;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #98c286;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 1px 0 #98c286;
}
.fb-mod_btn-special:active {border-color: #3b6e22;background: #609946;filter: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.fb-mod_btn.disable {z-index: 0;border-color: #c8c8c8;color: #b8b8b8;background: #f2f2f2;cursor: default;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.fb-mod_btn-confirm.disable {color: #fff;border-color: #94a2bf;background: #adbad4;}
.fb-mod_btn-special.disable {color: #fff;border-color: #9db791;background: #b4d3a7;}
.fb-mod_btn-fuck,.fb-mod_btn-fuck:active {background: #bad5ee;border: 1px solid #a0b8d2;border-bottom-color: #8da9c1;color: #3b5998;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.fb-mod_btn-fuck:hover {background: #8ab3d3;border: 1px solid #7fa1bc;color: #fff;}
.fb-mod_submit_wrap {overflow: hidden;zoom: 1;border: 1px solid #b4bbcd;width: 100%;margin-top: 10px;display: inline-block;}
.fb-mod_submit {
    border: 0;
    background: #fff;
    height: 20px;
    _overflow-y: visible;
    width: 96%;
    padding: 5px 2%;
    vertical-align: top;
    -ms-transition: height .1s ease-out;
    -webkit-transition: height .1s ease-out;
    -moz-transition: height .1s ease-out;
    -o-transition: height .1s ease-out;
    transition: height .1s ease-out;
}
.fb-mod--submiting .fb-mod_submit {background: #fafafa;}
.fb-mod_submit_wrap--focus .fb-mod_submit{height: 115px;}
.fb-mod_submit_bar {background: #f2f2f2;border-top: 1px solid #e6e6e6;height: 29px;overflow: hidden;display: none;position: relative;}
.fb-mod_submit_bar .fb-mod_loader {float: left;margin: 7px 10px;display: none;}
.fb-mod_submit_btn {float: left;margin: 3px;padding-right: 15px;padding-left: 15px;}
.fb-mod_submit_wrap--focus .fb-mod_submit_bar {display: block;}
.fb-mod_list {line-height: 1.5;font-size: 13px;}
.fb-mod_li {padding: 15px;padding-left: 10px;position: relative;overflow: hidden;border-top: 1px solid #e9e9e9;}
.fb-mod_li_author {color: #3b5998;text-decoration: none;}
.fb-mod_li_author:hover {text-decoration: underline;}
.fb-mod_li_avatar {float: right;width: 40px;height: 40px;padding-left: 10px;overflow: hidden;}
.fb-mod_li_avatar img {vertical-align: top;}
.fb-mod_li_c {overflow: hidden;zoom: 1;}
.fb-mod_li_actice {line-height: 1.5;}
.fb-mod_li_bar {line-height: 15px;color: #999;font-size: 12px;}
.fb-mod_li_bar a {color: #8a9bdb;text-decoration: none;font-size: 11px;}
.fb-mod_li_bar a:hover {text-decoration: underline;}
.fb-mod_li_close {position: absolute;top: 7px;left: 10px;font-size: 18px;text-align: center;font-family: Tahoma;color: #adbdd5;width: 15px;height: 15px;line-height: 14px;overflow: hidden;display: none;}
.fb-mod_li_close:hover {background: #6584b2;color: #fff;}
.fb-mod_li_photo {text-align: right;}
.fb-mod_li_photo img {vertical-align: top;margin: 10px 0;max-width: 160px;}
.fb-mod_li_video {margin: 5px 0;background: #f7f7f7;border: 1px solid #e2e2e2;height: 68px;overflow: hidden;padding: 5px 0;padding-left: 5px;font-size: 12px;}
.fb-mod_li_video_cover {float: right;width: 130px;height: 68px;line-height: 68px;text-align: center;overflow: hidden;padding-left: 10px;*display: block;*font-size: 55.73px;*font-family: Arial;}
.fb-mod_li_video_cover img {vertical-align: middle;}
.fb-mod_li_video_c {overflow: hidden;zoom: 1;}
.fb-mod_li_video_t {color: #3b5998;text-decoration: none;}
.fb-mod_li_video_t:hover {text-decoration: underline;}
.fb-mod_li_video_des,.fb-mod_li_video_caption {color: #999;text-decoration: none;}
.fb-mod_li_link .fb-mod_li_video_cover {width: 60px;}
.fb-mod_li--hover .fb-mod_li_close {display: inline-block;}
.fb-mod_placeholder {height: 1px;font-size: 0;}
.fb-mod_body_loader {background: #e7ebf1;border: 1px solid #d8dfea;width: auto;height: 40px;overflow: hidden;margin: 15px;margin-top: 0;display: none;pointer-events: none;text-align: center;}
.fb-mod_body_loader .fb-mod_loader {margin-top: 13px;}
.fb-mod_tip {width: 100%;background-color: rgba(0,0,0,0.5);background: #000\9;filter: alpha(opacity=50);height: 20px;line-height: 20px;font-size: 12px;text-align: center;position: absolute;z-index: 99;display: none;top: 0;}
.fb-mod_tip span {position: relative;color: #fff;}
.fb-mod_li_likeded {color: #999!important;cursor: default!important;text-decoration: none!important;}

#sidebar-facebook{height: 450px;}
.fb-mod{background: #fff;overflow: hidden;font-family: "Helvetica Neue",Arial,sans-serif;display: block !important;}
.fb-mod--login .fb-mod_usrinfo,.fb-mod--login .fb-mod_logout,.fb-mod--login .fb-mod_refresh { display: none;}
.fb-mod--loading .fb-mod_c_loading {display: block;}
.fb-mod--pulling .fb-mod_body_loader {display: block !important;position: absolute;width: 210px;z-index: 1;bottom: -10px;}
.fb-mod_login{position: absolute;top: 0;z-index: 101;width: 100%;height: 100%;background: #e7ecf2;text-align: center;display: none;}
.fb-mod--login .fb-mod_login{display: block;}
.fb-mod--loading .fb-mod_login{display: none;}
.fb-mod_c{position: relative;width: 239px;height: 450px;}
.fb-mod_login_btn{margin-top: 120px;margin-bottom: 20px;display: inline-block;padding: 12px 30px;font-size: 13px;font-weight: normal;}
.fb-mod_login_label{color: #3b5998;font-size: 14px;}
.fb-mod_c_loading {z-index:101;position: absolute;top: 0;width: 100%;height: 100%;background: #e7ebf1;text-align: center;display: none;}
.fb-mod_c_loading .fb-mod_loader {margin-top: 40%;}
.fb-mod--loading .fb-mod_c_loading{display: block;}
.fb-mod_loader {zoom: 1;display: inline-block;*display: inline;width: 16px;height: 16px;margin: 15px auto;background: url("../img/fb_mod_loading.gif") no-repeat;}
.fb-mod_avatar {float: right;width: 40px;height: 40px;padding-left: 10px;overflow: hidden;}
.fb-mod_avatar img {vertical-align: top;}
.fb-mod_head{padding: 10px;}
.fb-mod_usrinfo{float: right;}
.fb-mod_usrinfo a, .fb-mod_logout{height:20px;line-height: 20px;color:#3b5998;display: inline-block;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.fb-mod_usrinfo a{font-size: 13px;font-weight: bold;width: 120px;}
.fb-mod_logout{text-decoration: underline;float: left;width: 45px;text-align: left;}
.fb-mod_usrinfo a:hover, .fb-mod_logout:hover{color: #15346f;text-decoration: underline;}

.fb-mod_body{height: 343px;position: relative;}
.fb-mod--focus .fb-mod_body{height:218px;}

.fb-mod--fixed .fb-mod_body{height: 401px;}
.fb-mod--fixed.fb-mod--focus .fb-mod_body{height: 276px;}
.fb-mod--fixed .fb-mod_ct{display: none;}
.fb-mod--fixed .fb-mod_refresh{display: none;}
.fb-mod--fixed .fb-mod_head{padding-top: 0px;padding-bottom: 5px;background: #edeff4;border-bottom:1px solid #d8dfea;}

.fb-mod_refresh{position: absolute;top: 101px;left: 15px;background: url("../img/i-fb-fresh.png?__sprite") no-repeat;width: 12px;height: 15px;z-index: 101;}
.fb-mod_refresh:hover{background: url("../img/i-fb-fresh-hover.png?__sprite") no-repeat}
.fb-mod--focus .fb-mod_refresh{top:226px;}

.fb-mod_tab_links{float: right;height: 20px;line-height: 20px;}
.fb-mod_tab_links a{display: inline-block;height: 19px;position: relative;}
.fb-mod_tab_links a:hover{background-color: #d8dfeb;}
.fb-mod_tab_friend{background: url("../img/i-fb-friends.png?__sprite") no-repeat;width: 21px;}
.fb-mod_tab_msg{background: url("../img/i-fb-message.png?__sprite") no-repeat;margin-right: 15px;width: 19px;}
.fb-mod_tab_notify{background: url("../img/i-fb-notification.png?__sprite") no-repeat;margin-right: 15px;width: 17px;}
.fb-mod_tab_links a em{position: absolute;z-index: 1;background: #f03d25;right: 15px;top: -5px;line-height: 12px;color: white;padding-right: 2px;padding-left: 2px;display: none;border: 1px solid #d83722;font-size: 11px;border-radius: 3px;}