/* 消息盒子的寄生于account，修改样式时麻烦留意一下 */
.account_wrap {
    float: left;
    position: relative;
    max-width: 170px;
}
.account_wrap:hover .account_trig {
    background-color: #0164C8;
    background-color: rgba(0, 99, 199, 0.97);
}
.account_trig {
    padding: 0 12px;
    height: 50px;
    min-width: 14px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: table-cell;
}
.account_title {
    width: auto;
    max-width: 150px;
    line-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    color: rgba(255, 255, 255, 0.5);
}
.account_login-tip {
    cursor: pointer;
}
.login-tip_con {
    padding-right: 28px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #587dc7;
    background: url(../img/btn-fb-logo_rtl.png?__sprite) no-repeat right top;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}
.account-loginfo_wrap {
    width: 237px;
    word-wrap: break-word;
    overflow: hidden;
    padding: 9px 20px 20px;
    position: relative;
    left: 0;
    top: 0;
    background-color: #0164C8;
    background-color: rgba(0, 99, 199, 0.97);
}
.account-loginfo_wrap img {
    width: 70px;
    height: 70px;
    margin-left: 12px;
    margin-right: 2px;
    margin-top: 4px;
    float: right;
    border-radius: 35px;
    box-shadow: -2px 0 3px #fff, 0 -2px 3px #fff, 0 2px 3px #fff, 2px 0 3px #fff;
}
.account_logout_content {
    float: right;
    width: 140px;
}
.account_logout_name {
    color: #ffffff;
    line-height: 16px;
    font-size: 12px;
    margin-bottom: 4px;
    word-wrap: break-word;
    overflow: hidden;
}
.account_logout_email {
    color: #9CC3E9;
    color: rgba(255,255,255,0.6);
    line-height: 16px;
    font-size: 12px;
    margin-bottom: 8px;
    word-wrap: break-word;
    overflow: hidden;
}
.accout_logout_sign {
    margin-bottom: 7px;
}
.account_logout_btn,
.account_logout_sign_btn {
    white-space: nowrap;
    display: inline-block;
    width: 94px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background-color: #1C81E5;
    color: #FFF;
    font-size: 12px;
    overflow: hidden;
}
.account_logout_sign_btn {
    background-color: #68A1DA;
    width: 130px;
}
.account_logout-act .account_logout_btn {
    width: 130px;
    background-color: #217DD9;
    color: rgba(255,255,255,0.6);
}
.account_logout-act .account_logout_btn:hover {
    background-color: #1775D3;
}
.account_logout-act .account_logout_sign_btn:hover {
    background-color: #3986D4;
}
.account-login_suc .account_trig img {
    width: 26px;
    height: 26px;
    cursor: default;
    border-radius: 13px;
    box-shadow: -2px 0 3px #ffffff, 0 -2px 3px #ffffff, 0 2px 3px #ffffff, 2px 0 3px #ffffff;
}
.account-dropdown_wrap {
    position: absolute;
    left: 0;
    top: 50px;
    display: none;
}

.userbar-wrap .account_wrap {
    visibility: visible;
}

/*has skin*/
.skin-on .account_wrap:hover .account_trig,
.skin-on .wrap-message-content,
.skin-on .account-loginfo_wrap {
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.8);
}
.skin-on .wrap-message-content li:hover {
    background-color: #0A0A0A;
    background-color: rgba(0,0,0,0.6);
}
.skin-on .wrap-message-content li {
    border-bottom-color: #717171;
    border-bottom-color: rgba(255,255,255,0.3);
}
.skin-on .account_logout_btn {
    background-color: #626262;
}
.skin-on .account_logout-act .account_logout_btn:hover {
    background-color: #555555;
}
.skin-on .account_logout_sign_btn {
    background-color: #8B8B8B;
}
.skin-on .account_logout-act .account_logout_sign_btn:hover {
    background-color: #666666;
}

/*head fixed*/
.header-fixed-st .account_trig {
    height: 40px;
}
.header-fixed-st .account-dropdown_wrap {
    top: 40px;
}
.header-fixed-st .account_title {
    line-height: 40px;
}

/*many accounts*/
.account_many .account_trig,
.account_many .account_login-tip {
    cursor: default;
}
.account_many .account_li {
    height: 44px;
    width: 44px;
    border-radius: 26px;
    border: 2px solid #fff;
    display: inline-block;
    margin-left: 13px;
    background-color: #ffffff;
    cursor: pointer;
}
.account_many .account_li:hover {
    background-color: #327dcc;
    background-color: rgba(50,125,204,0.7);
}
.account_many .account_li:active {
    background-color: #327dcc;
    border-color: rgba(255,255,255,0.5);
}
.account_many .account_li_last {
    margin-left: 0;
}
.account_many .account_li_facebook span {
    display: block;
    width: 12px;
    height: 26px;
    background: url(../img/fb.png?__sprite) no-repeat;
    margin-right: 16px;
    margin-top: 9px;
}
.account_many .account_li_gmail span {
    display: block;
    width: 21px;
    height: 16px;
    background: url(../img/gmail.png?__sprite) no-repeat;
    margin-right: 11px;
    margin-top: 14px;
}
.account_many .account_li_twitter span {
    display: block;
    width: 25px;
    height: 19px;
    background: url(../img/twitter.png?__sprite) no-repeat;
    margin-right: 9px;
    margin-top: 12px;
}
.account_many .account_li_yahoo span {
    display: block;
    width: 26px;
    height: 15px;
    background: url(../img/yahoo.png?__sprite) no-repeat;
    margin-right: 9px;
    margin-top: 14px;
}
.account_many .account_li_facebook:hover span {
    background: url(../img/fb_hover.png?__sprite) no-repeat;
}
.account_many .account_li_yahoo:hover span {
    background: url(../img/yahoo_hover.png?__sprite) no-repeat;
}
.account_many .account_list {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 0;
    letter-spacing: -4px;
    word-spacing: -4px;
}
.account_many .account_login-tip_m {
    font-size: 13px;
    /* font-weight: bold;*/
    text-align: center;
}


#bubbleaccount-guider2 {
    visibility: hidden !important;
}
.self-account-logged #bubbleaccount-guider {
    visibility: hidden !important;
}
.self-account-logged #bubbleaccount-guider2 {
    visibility: visible !important;
}