.userbar-logo_tip {
    position: absolute;
    top: 49px;
    left: 0;
    padding: 5px 13px 5px 7px;
    width: 230px;
    max-width: 230px;
    border: 1px solid #bee2d6;
    border-bottom-color: #98d7c2;
    color: #454545;
    background-color: #fcfefd;
    background-image:-moz-linear-gradient(50% 0% -90deg,rgb(254,255,255) 0%,rgb(253,254,254) 44%,rgb(251,253,252) 100%); 
    background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(254,255,255)),color-stop(0.44, rgb(253,254,254)),color-stop(1, rgb(251,253,252)));
    background-image:-webkit-linear-gradient(-90deg,rgb(254,255,255) 0%,rgb(253,254,254) 44%,rgb(251,253,252) 100%);
    background-image:-o-linear-gradient(-90deg,rgb(254,255,255) 0%,rgb(253,254,254) 44%,rgb(251,253,252) 100%);
    background-image:-ms-linear-gradient(-90deg,rgb(254,255,255) 0%,rgb(253,254,254) 44%,rgb(251,253,252) 100%);
    background-image:linear-gradient(-90deg,rgb(254,255,255) 0%,rgb(253,254,254) 44%,rgb(251,253,252) 100%);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    
    visibility: visible !important;
}
.userbar-logo_tip a{
    color: #00b075;    
}
.userbar-logo_tip p a:hover{
    text-decoration: underline;
}
.userbar-logo_tip .arrow, .userbar-logo_tip .arrow_bg {
    position: absolute;
    height: 0;
    width: 0;
    border: 8px dashed transparent;
}
.userbar-logo_tip .arrow {
    border-bottom-color: #bee2d6;
    border-bottom-style: solid;
    top: -17px;
    left: 19px;
}
.userbar-logo_tip .arrow_bg {
    border-bottom-color: #fcfefd;
    border-bottom-style: solid;
    margin: -7px 0 0 -8px;
    _margin-top: -22px;
}
.userbar-logo_tip .tip-close {
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    right: 4px;
    background: url(../img/i-logotips.png?__sprite) no-repeat;
    cursor: pointer;
}
.userbar-logo_tip .tip-close_hover {
    background: url(../img/i-logotips.png?__sprite) no-repeat;
}
.userbar-logo_tip .tipLinkArrow{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/i-logotips.png?__sprite) no-repeat -12px -1px;
}