/** from common.css
常用的命名样式，方便PM在CMS中配置 */

/*special status of links*/
.icon-hot{
	display: inline-block;
	width: 30px;
	height: 11px;
	margin-left: 3px;
	cursor: pointer;
	background: url(../img/i-rtl-hot.png?__sprite) no-repeat;
	_position: absolute;
	font-size:0;
}
.icon-new{
	display: inline-block;
	width: 30px;
	height: 11px;
	margin-left: 3px;
	cursor: pointer;
	background: url(../img/i-rtl-new.png?__sprite) no-repeat;
	_position: absolute;
	font-size:0;
}
.icon-new_red{
	display: inline-block;
	width: 25px;
	height: 15px;
	cursor: pointer;
	background: url(../img/i-big-rtl-new.png?__sprite) no-repeat;
	_position: absolute;
	font-size:0;
}
.orange,.orange a{color:#f56f2f!important;}
.red,.red a{color:#f00!important;}
.green,.green a{color:#008000!important;}
.bold,.bold a{font-weight:600!important;}
