/*big*/
.mod-recommand .layout2-big{
	overflow: hidden;
	position: relative;
	_width:232px;
	height: 184px;
}
.mod-recommand .layout2-big .big{
	float: right;
	position: relative;
}
.mod-recommand .layout2-big .des{
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	line-height: 22px;
	position: absolute;
	bottom:0px;
	color: #fff;
	padding-left:8px;
	filter:alpha(opacity=80);
	opacity:0.8;
	background-color: #000;
	width: 230px;
	_width:227px;
}
.mod-recommand .layout2-big:hover .nav-item-current p{
	color: #00b07f;
}
.mod-recommand .layout2-big .nav-item-list{
	position: relative;
}
.mod-recommand .layout2-big .nav-item{
	float: left;
}
.mod-recommand .layout2-big .prev,
.mod-recommand .layout2-big .next{
	position: absolute;
	top: 45%;
	font-size: 30px;
	font-weight: bold;
	color: #ddd;
	z-index: 1;
	display: none;
}
.mod-recommand .layout2-big .ui-nav-hover .prev,
.mod-recommand .layout2-big .ui-nav-hover .next{
	display: block;
}
.mod-recommand .layout2-big .prev:hover,
.mod-recommand .layout2-big .next:hover{
	color: #fff;
	cursor: pointer;
}
.mod-recommand .layout2-big .prev{
	left: 5px;
}
.mod-recommand .layout2-big .next{
	right: 5px;
}
.mod-recommand .layout2-big .nav-item-list .nav-item{
	float: left;
}

/*small*/
.mod-recommand .layout2-small{
	height:146px;
	margin-top: 10px;
	padding-left: 9px;
	_position: relative;
}
.mod-recommand .layout2-small a{
	position: relative;
	float: left;
}
.mod-recommand .layout2-small .mask{
	position: absolute;
	height: 73px;
	width: 73px;
	background-color: #fff;
	filter:alpha(opacity=30);
	opacity:0.3;
	top:0px;
	left:0px;
	display: none;
	visibility: hidden;
}
.mod-recommand .layout2-small a:hover .mask{
	display: block;
	visibility: visible;
}
/*more*/
.mod-recommand .layout2-more{
	display:block;
	background:#f2f2f2;
	line-height:23px;
	height:23px;
	text-align:right;
	color:#00b075;
	border-top:1px solid #E3E5E6;
	padding-right:20px;
	position:relative;
	margin-top: 10px;
}
.mod-recommand .layout2-more:hover{
	background:#ebebeb;
}
.mod-recommand .layout2-more .arrow{
	position: absolute;
	color:#3dc094;
	right:10px;
	top:-1px;
	padding-left:5px;
	font-size:20px;
}
