.hotsite-side-wrap{ overflow: hidden; background: #fafbfc; border: 1px solid #e4e6e5; width: 238px;_width:233px;font-size: 12px;}
#hotsite-side-container{min-height: 344px; margin-top: 32px;*margin-top: 0;}
.hotsiteside_menu{position: absolute; *position: static; width: 236px;*width: 237px; border-left:1px solid #fff;border-right:1px solid #fff;background:url(../img/tab-normal-bg.png?__sprite) repeat-x;visibility: visible !important;}
.hotsiteside_menu li{float:left; position: relative;}
.hotsiteside_menu li .icon-hot{
	position: absolute;
	top: -5px;
	right: 0px;
	z-index: 1;
}
.hotsiteside_menu a{display:block;line-height:30px;background:url(../img/tab-normal-bg.png?__sprite) repeat-x;text-align:center;border:1px solid #edeff0;border-top-color:#fff;border-left:0;}
.hotsiteside_menu .cur{background:#f5f7f7;border-bottom-color:#f5f7f7;font-weight:600;color:#00b075;cursor:default;}
.hotsiteside_menu .last{border-right:0px ;}
.hotsiteside_menu a:hover{border-right-color:#e6e8e9;border-bottom-color:#e3e5e5;-moz-box-shadow:0px 2px 0px 0px rgba(227, 229, 229, 0.1);-webkit-box-shadow:0px 2px 0px 0px rgba(227, 229, 229, 0.1);box-shadow:0px 2px 0px 0px rgba(227, 229, 229, 0.1);font-weight:600;color:#00b075;}
.hotsiteside_menu .cur:hover{border-right-color:#edeff0;border-bottom-color:#f5f7f7;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}

.hotsiteside_content{overflow: hidden; display: none;}
.hotsiteside_content .main-item-wrap{overflow: hidden;position: relative;_width:232px;}
.hotsite-side-wrap .content-more{display:block;background:#f2f2f2;line-height:23px;height:23px;text-align:right;color:#00b075;border-top:1px solid #E3E5E6;padding-right:20px;position:relative;margin-top: 10px;}
.hotsite-side-wrap .content-more:hover{background:#ebebeb;}
.hotsite-side-wrap .content-more .arrow_r{color:#3dc094;right:10px;top:-1px;padding-left:5px;font-size:20px;}
.hotsiteside_content .item-pic-wrap{float: left;display: block; width: 68px; height: 68px;}
.hotsiteside_content .item-literal-wrap{float: left;display: block; width: 138px;margin-left: 15px;margin-right:2px;height: 68px;overflow: hidden;}
.hotsiteside_content .item-title{display: block;margin-top: 6px; font-weight: bold;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.hotsiteside_content .item-desc{display: block;margin-top: 5px;}
.hotsiteside_content .item-literal-wrap:hover{color: #00b07f;}
.hotsiteside_content .item-slogon{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;line-height: 22px;position: absolute;bottom:0px;color: #fff;padding-left:8px;filter:alpha(opacity=80);opacity:0.8;background-color: #000;width: 230px;_width:227px;}
.hotsiteside_content .item-slogon-hover{color: #00b07f;}
.hotsiteside_content .detail-item{padding-top: 10px; padding-left: 10px; height: 68px;}
.hotsiteside_content .main-item-wrap .nav-item-current p{color: #fff;}
.hotsiteside_content .main-item-wrap:hover .nav-item-current p{color: #00b07f;}
.hotsiteside_content .main-item-wrap .main-item p{color: #fff;}
.hotsiteside_content .main-item-wrap:hover .main-item p{color: #00b07f;}


.hotsiteside-image{position: relative;}
.hotsiteside-image .main-item{float: left;position: relative;}
.hotsiteside-image .detail-item-wrap{width:100%; height:146px;margin-top: 10px;padding-left: 9px;_position: relative;}
.hotsiteside-image .detail-item-wrap a{position: relative;float: left;}
.hotsiteside-image .item-mask{position: absolute;height: 73px;width: 73px;background-color: #fff;filter:alpha(opacity=30);opacity:0.3;top:0px;left:0px;}

.slide-wrap .nav-item-list{position: relative;}
.slide-wrap .nav-item{float: left;}
.slide-wrap .prev, .slide-wrap .next{position: absolute;top: 45%;font-size: 30px;font-weight: bold; color: #ddd;z-index: 1;display: none;}
.slide-wrap .ui-nav-hover .prev, .slide-wrap .ui-nav-hover .next{display: block;}
.slide-wrap .prev:hover, .slide-wrap .next:hover{color: #fff;cursor: pointer;}
.slide-wrap .prev{left: 5px;}
.slide-wrap .next{right: 5px;}

/*app样式*/
.hotsiteside-app-big-content{
	position: relative;
}
.hotsiteside-app-big{
	display: block;
	position: relative;
	width: 238px;
	height: 106px;
}
.hotsiteside-app-big-content:hover .hotsiteside-app-mask{
	display: block;
}
.hotsiteside-app-num{
	display: block;
	position: absolute;
	left: -1px;
	top: -4px;
	width: 15px;
	height: 15px;
	color: #fff;
	text-align: center;
	line-height: 17px;
	background: url(../img/list-number-bg.png?__sprite);
}
.hotsiteside-app-layer{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.7;
	filter:alpha(opacity=70);
	width: 238px;
	height: 22px;
}
.hotsitesid-app-des{
	position: absolute;
	bottom: 0;
	left: 8px;
	display: inline-block;
	width: 125px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	line-height: 22px;
	color: #fff;
	font-weight: bold;
}
.hotsiteside-app-starbg{
	position: absolute;
	right: 5px;
	bottom: 4px;
	display: inline-block;
	width: 95px;
	height: 15px;
	background: url(../img/hotsiteside-app-starbg.png?__sprite);
}
.hotsiteside-app-star{
	float: left;
	display: inline-block;
	height: 15px;
	background: url(../img/hotsiteside-app-star.png?__sprite);
	background-position: left top;
}
.hotsiteside-app-small{
	padding: 6px;
	height: 222px;
}
.hotsiteside-app-small li{
	position: relative;
	margin: 4px;
	float: left;
}
.hotsiteside-app-small li a{
	display: inline-block;
	position: relative;
	width: 105px;
	height: 108px;
}
.hotsiteside-app-mask{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 238px;
	height: 106px;
	opacity: 0.2;
	filter:alpha(opacity=20);
	background-color: #fff;
}
.hotsiteside-app-small li:hover .hotsiteside-app-mask{
	display: block;
}
.hotsiteside-app-small .hotsiteside-app-mask{
	position: absolute;
	display: none;
	width: 105px;
	height: 108px;
}
.hotsiteside-app-small .hotsiteside-app-layer{
	width: 105px;
	height: 34px;
	opacity: 0.6;
	filter:alpha(opacity=60);
}
.hotsiteside-app-small .hotsitesid-app-des{
	position: absolute;
	bottom: 17px;
	font-weight: normal;
	width: 90px;
	line-height: 12px;
}
.hotsiteside-app-small .hotsiteside-app-starbg{
	position: absolute;
	left: 7px;
	bottom: 4px;
	width: 60px;
	height: 11px;
	background: url(../img/hotsiteside-app-starbg-small.png?__sprite);
}
.hotsiteside-app-small .hotsiteside-app-star{
	height: 11px;
	background: url(../img/hotsiteside-app-star-small.png?__sprite);
	background-position: left top;
}
/*app样式*/


/*soccer样式*/
.hotsiteside_content .soccer-title{
	height: 30px;
	background: url(../img/scor-title-bg.png?__sprite) repeat-x;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #cbcbcc;
}
.hotsiteside_content .soccer-info{
	border-top: 3px solid #e5e6e6;
}
.hotsiteside_content .soccer-info-ul{
	padding: 0 13px;
}
.hotsiteside_content .soccer-item{
	border-bottom: 1px dashed #afb0b0;
	text-align: center;
}
.hotsiteside_content .soccer-item .item-container{
	padding: 12px 0 5px;
	margin: 1px 0;
}
.hotsiteside_content .soccer-item .item-content span{
	display: inline-block;
	height: 21px;
	line-height: 21px;
	margin: 0 30px;
	color: #505050;
}
.hotsiteside_content .soccer-item .item-content i{
	width: 24px;
	height: 24px;
	display: inline-block;
	*display: inline;
	*zoom:1;
	background: url(/resource/br/hotsiteside/championship-bra-a1.png);
	vertical-align: middle;
}
.hotsiteside_content .soccer-item .item-content .ie0e{
	background-position: 0 -250px;
}
.hotsiteside_content .soccer-item .item-content .ife0{
	background-position: 0 -75px;
}
.hotsiteside_content .soccer-item .item-content .iec7{
	background-position: 0 -300px;
}
.hotsiteside_content .soccer-item .item-content .ice0{
	background-position: 0 -375px;
}
.hotsiteside_content .soccer-item .item-content .ib68{
	background-position: 0 -150px;
}
.hotsiteside_content .soccer-item .item-content .if3e{
	background-position: 0 -275px;
}
.hotsiteside_content .soccer-item .item-content .i414{
	background-position: 0 -200px;
}
.hotsiteside_content .soccer-item .item-content .ifee{
	background-position: 0 -425px;
}
.hotsiteside_content .soccer-item .item-content .ibe2{
	background-position: 0 -450px;
}
.hotsiteside_content .soccer-item .item-content .iea7{
	background-position: 0 -25px;
}
.hotsiteside_content .soccer-item .item-content .i5e6{
	background-position: 0 -400px;
}
.hotsiteside_content .soccer-item .item-content .iad7{
	background-position: 0 -475px;
}
.hotsiteside_content .soccer-item .item-content .i788{
	background-position: 0 -50px;
}
.hotsiteside_content .soccer-item .item-content .ida5{
	background-position: 0 -325px;
}
.hotsiteside_content .soccer-item .item-content .ib8c{
	background-position: 0 -350px;
}
.hotsiteside_content .soccer-item .item-content .i609{
	background-position: 0 -125px;
}
.hotsiteside_content .soccer-item .item-content .i739{
	background-position: 0 -225px;
}
.hotsiteside_content .soccer-item .item-content .i92d{
	background-position: 0 -0px;
}
.hotsiteside_content .soccer-item .item-content .id43{
	background-position: 0 -175px;
}
.hotsiteside_content .soccer-item .item-content .i5e7{
	background-position: 0 -100px;
}
.hotsiteside_content .soccer-item-even .item-container{
	background-color: #f3f4f4;
}
.hotsiteside_content .soccer-item .item-info{
	margin-top: 5px;
	color: #a4a4a4;
}
.hotsiteside_content .soccer-item .item-info .soccer-day, .hotsiteside_content .soccer-item .item-info .soccer-date{
	display: inline-block;
	margin-right: 3px;
}
.hotsiteside_content .soccer-item .item-info .soccer-place{
	display: inline-block;
	*display: inline;
	*zoom:1;
	text-overflow:ellipsis;
	white-space: nowrap;
	max-width: 92px;
	overflow: hidden;
	height: 18px;
	vertical-align: middle;
}
.hotsiteside_content .soccer-more{
	margin: 10px 13px;
}
.hotsiteside_content .soccer-more a{
	display: block;
	height: 29px;
	line-height: 29px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #119161;
	background-color: #00ae73;
	border-radius: 3px;
	color: #fff;
}
.hotsiteside_content .soccer-more a:hover{
	background-color: #04ba7c;
}
/*soccer样式*/

/*隐藏Facebook气泡*/
.fb-mod .fb-mod_bubble{display:none;}


/*显示模块*/
.side-mod-preload-hotsite-side{
	border:0!important;
	background: transparent!important;
}
.side-mod-preload-hotsite-side > *{
	visibility: visible!important;
}
