/* For 300px layout */
.l-flow-side .cycletabs {
	padding: 0;
	height: 81px;
	line-height: normal;
}
.l-flow-side .cycletabs .ui-nav {
	width: 296px;
}
.l-flow-side .cycletabs .ui-nav .prev, .l-flow-side .cycletabs .ui-nav .next {
	height: 81px;
}
.l-flow-side .cycletabs .ui-nav .arrow-prev, .l-flow-side .cycletabs .ui-nav .arrow-next {
	margin-top: 26px;
}
.l-flow-side .cycletabs .ui-nav .ctrl, .l-flow-side .cycletabs .ui-nav .wrap {
	height: 76px;
}
.l-flow-side .cycletabs .nav-item {
	width: 98px;
	height: 81px;
	background: #fafbfa;
	text-indent: 0;
}
.l-flow-side .nav-item i {
	display: block;
	width: 68px;
	height: 58px;
}
.l-flow-side .cycletabs .arrow-up {
	width: 98px;
	height: 0px;
	z-index: 10;
	border-bottom: 2px solid #43c196;
	left: 99px;
}
.l-flow-side .cycletabs .triangle {
	left: 45px;
}
.l-flow-side .widget-title {
	visibility: hidden;
}
