@charset 'utf-8';
.mod-exam {
	background:white;
	position: relative;
	/*height: 169px;*/
	overflow: hidden;
}
.exam_detail-info {
	text-align: center;
	margin-bottom: 5px;
	color:#5a5a5a;
}
.h-2 {
	margin-right: 13px;
	margin-top: 6px;
}
.h-2, .mod-side-result-test{
	color:#595959;
}
.exam_radio-p {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color:#595959;
}
.exam_submit {
	height: 25px;
	width: 43px;
	background: #1eb884;
	cursor: pointer;
	color: white;
	border: 0;
	border-radius: 5px;
	margin-right:6px;
	font-family: tahoma,arial,helvetica,clean,sans-serif;
}
.note-info {
	border:1px solid red;
}
#sideResultTest .icon-new_red {
	position: absolute;
	left: 10px;
	top: 8px;
}
.seatno-area {
	height:20px;
	width: 98px;
	/*top: 1px;*/
	position: relative;
	padding-right: 3px;
	vertical-align: bottom;
}
.exam_line {
	border:1px solid #edeff0;
}
.exam_line_limit {
	border:1px dotted #edeff0;
	width:200px;
}

/*显示模块*/
.side-mod-preload-resulttest{
    border:0!important;
    background: transparent!important;
}
.side-mod-preload-resulttest > *{
    visibility: visible!important;
}
