.app-wrapper {
    visibility: visible !important;
    max-width: 170px;
}
.app-head {
    height: 50px;
    max-width: 150px;
    text-align: center;
    padding: 0 10px;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    *display: block;
    cursor: default !important;
}
.header-fixed .app-head {
    height: 30px;
}
.header-fixed .app-head img {
    width: 14px;
    height: 14px;
}
.app-head_word {
    line-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    color: rgba(255,255,255, 0.5);
}
.header-fixed .app-head_word {
    line-height: 30px;
}
.app-group {
    position: absolute;
    right: 0;
    top: 50px;
    box-shadow: 2px 2px 2px #DEDEDE, -2px 0 2px #DEDEDE;
    background-color: #ebfcf7;
    border: 1px solid #bee2d6;
}
.app-group_content {
    padding: 16px 12px;
}
.app-item {
    float: left;
    margin: 8px 6px 4px;
    _margin-left: 3px;
    text-align: center;
}
.app-item img {
	margin: 0 auto;
}
.app-item span {
	display: block;
	text-align: center;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	color: #454545;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.app-arrow, .app-arrow_bg {
    position: absolute;
    height: 0;
    width: 0;
    border: 6px dashed transparent;
}
.app-arrow {
    border-bottom-color: #bee2d6;
    border-bottom-style: solid;
    top: -12px;
    right: 10px;
}
.app-arrow_bg {
    border-bottom-color: #EBFCF7;
    border-bottom-style: solid;
    margin: -6px 0 0 -7px;
}
.app-group_list {
	overflow: hidden;
	margin-left: 4px;
}
.header-fixed .app-group {
	top: 30px;
}

/*header-fixed-up*/
.header-fixed-up .app-head {
    height: 40px;
}
.header-fixed-up .app-head_word {
    line-height: 40px;
}
.header-fixed-up .app-group {
    top: 40px;
}
/*
.body-theme_2 .app-group {
	border: 1px solid #d4e0eb;
	background-color: #eef3f8;
}
.body-theme_2 .app-arrow {
	border-bottom-color: #d4e0eb;
}
.body-theme_2 .app-arrow_bg {
	border-bottom-color: #eef3f8;
}
.body-theme_3 .app-group {
	border: 1px solid #ecdfe1;
	background-color: #fcf6f7;
}
.body-theme_3 .app-arrow {
	border-bottom-color: #ecdfe1;
}
.body-theme_3 .app-arrow_bg {
	border-bottom-color: #fcf6f7;
}
*/