body .site-switch_container{ position: absolute; top: 28px; left: 140px; z-index: 99;}
body .site-switch{ position: static;}
/*.userbar{ position: relative;}*/



body .mod-joke .joke_refresh {
	background: url(/static/web/common/img/i-news_item.png?m6a55ad5ce7bd83c9ee12482edb38d563=1) 0 -168px no-repeat;
}

body .userbar-btn i,
body .custom_item .btn,
body .hotsite-custom_list .add-btn,
body .custom_item .sprite-del_normal,
body .custom_item .sprite-modify_normal,
body .site-switch a,
body .weather-days_click p,
body .userbar-weather_city-cur a,
body .bar-addfav_icon,
body .bar-addfav_btn,
body .userbar-btn a{ background: url("../img/bg.png") 0 0 no-repeat;}

/*.select_theme,
.select_theme_hover{ background: #EDF0EF url("../img/theme_bg.png") 0 0 no-repeat;}*/

body .hotsite-custom_bar a,
body .hotsite-custom_bar a:hover,
body .hotsite-custom .bar_open a,
body .hotsite-custom .bar_open a:hover,
body .hotsite-custom_list .add-btn,
body .news-item_txt,
body .news-btn_type i,
/*.news-label_type,*/
body .charts-order,
body .mod-joke .joke_refresh,
body .scroll-arrow,
body .top-arrow,
body .bottom-arrow,
body .hotsite-custom_list .add-btn-ico{ background: url("../img/i-news_item.png") no-repeat 0 0;}

body .news-item_txt{ background-position: 13px 10px;}
body .news-btn_type i{ background-position: -12px -96px;}
/*.news-label_type{ background-color: #fff; background-position: 10px -40px;}*/
body .charts-order{ background-position: 0 -150px;}
body .mod-joke .joke_refresh{ background-position:0 -168px;}
body .scroll-arrow{ background-position: 0 0;}

body .news-btn_type:hover{ border-color: #FFB2BF;}
body .mod-joke .joke_content:hover{ color: #FF617B;}
body .bar-addfav_icon {background-position: 0 -1068px;}

body #indexLogo{
	float: left; width: 130px; height: 50px;
	background: url(../img/logo_new.png);
	_background: url(/static/web/tw/img/logo_new.png);
}
body #indexLogoImg{display: none;}

body .custom_item .sprite-del_normal{ background-position: 0 -639px;}
body .custom_item .sprite-modify_normal{ background-position: -1px -931px;}
body .hotsite-custom_bar a{ background-position: -1px -234px;}
body .hotsite-custom_bar a:hover{ background-position: -1px -254px;}
body .hotsite-custom .bar_open a{ background-position: -1px -296px;}
body .hotsite-custom .bar_open a:hover{ background-position: -1px -317px;}
body .hotsite-custom_list .add-btn{ background-position: 0 -685px; background-repeat: repeat-x; border:1px solid; border-color:#ebebeb #ebebeb #d9dcde #ebebeb; color:#909191;}

body .bar-addfav_btn{ background-position: 0 -1008px; background-repeat: repeat-x;
	border-color: #EAB8C1;
}

body .bar-addfav_btn:hover{
	background-position: 0 -1028px; border-color: #EC8294;
}

body .site-switch a{ background-position: right -432px;}
body .hotsite-custom_list .add-btn-ico{ background-position: -12px -99px;}
body .bar-addfav_title, body .bar-addfav_text{ color: #EC8294;}
body .select_theme_hover{ background-position: 0 -31px;}

body .charts-song:hover, body .charts-singer:hover { color: #FE6F7B;}

body .sortsite dt .arrow_r{ border-left-color: #FFB2BF;}
body .charts_more .arrow_r{ color: #FF617B;}
body .ui-tip .arrow{border-top-color: #FFB2BF;}
body .ui-tip{ border-color: #FFB2BF;}
body .bar-addfav{ border-bottom: 1px solid #EC8294;}
body .top-arrow { background-position: -15px -114px;}
body .bottom-arrow{background-position: -15px -131px;}
body .userbar-wrap {
	background: #F98FA0;
	border-bottom: 1px solid #FB91A2;
	_border-bottom: 0 none;
	background-image:-moz-linear-gradient(50% 0% -90deg,rgb(255,148,166) 0%,rgb(235,129,147) 100%); 
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,148,166)),color-stop(1, rgb(235,129,147)));
	background-image:-webkit-linear-gradient(-90deg,rgb(255,148,166) 0%,rgb(235,129,147) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(255,148,166) 0%,rgb(235,129,147) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(255,148,166) 0%,rgb(235,129,147) 100%);
	background-image:linear-gradient(-90deg,rgb(255,148,166) 0%,rgb(235,129,147) 100%);
	/*-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffff94a6,endColorstr=#ffeb8193,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffff94a6,endColorstr=#ffeb8193,GradientType=0);*/
}

body .site-switch,
body .weather-days{
	background-image:-moz-linear-gradient(50% 0% -90deg,rgb(255,148,166) 0%,rgb(235,129,147) 100%); 
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,148,166)),color-stop(1, rgb(235,129,147)));
	background-image:-webkit-linear-gradient(-90deg,rgb(255,148,166) 0%,rgb(235,129,147) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(255,148,166) 0%,rgb(235,129,147) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(255,148,166) 0%,rgb(235,129,147) 100%);
	background-image:linear-gradient(-90deg,rgb(255,148,166) 0%,rgb(235,129,147) 100%);
	/*-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffff94a6,endColorstr=#ffeb8193,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffff94a6,endColorstr=#ffeb8193,GradientType=0);*/

	border: 1px solid #E76F83;
}

body .site-switch_hover,
body .weather-days:hover{
	background: #E76F83;
}

body .site-switch_content {
	border: 1px solid #fefefe;
	background: #EEE5E6;
}

body .site-switch_content a{ background-image: none;}

body .site-switch_container{ border: 1px solid #eee;}
body .site-switch_container a {
	color: #333;
}
body .site-switch_container a:hover {
	background-color: #EFC6CD;
}

body .ui-button .ui-button-text,
body .mod-btn_normal .ui-button-text{ color: #05ae76;}

/*?*/
body .box-prompt{ background: #FDF0F2;
	border: 1px solid #ceded9;
	border-bottom: 1px solid #beccc7;
}

body .weather-more_wrap {
	/*background: #0c815a;
	border-top: 1px solid #0a6f4e;
	border-bottom: 1px solid #0a6f4e;*/
}
body .weather-days {
	border-bottom: 0 none;
}

body .weather-days_click {
	border: 1px solid #F88D9F;
	border-bottom: 0 none;
}
body .weather-days_click p{ background-position: 50% -552px;}
body .userbar-btn a {
	background-position: 0 -84px;
	background-repeat: repeat-x;
	color: #FF617B;
	border: 1px solid #DF6A7E;
	border-bottom-color: #BE485C;
}
body .userbar-btn i{
	background-image: url("../img/bg.png") !important;
}
body .userbar-btn .userbar-sethome {
	background-position: 0 0;
}
body .userbar-btn .userbar-addfav {
	background-position: 0 -18px;
}
body .userbar-btn .userbar-down {
	background-position: 0 -38px;
}
body .userbar-btn .userbar-btn_click .userbar-sethome {
	background-position: 0 -710px;
}
body .userbar-btn .userbar-btn_click .userbar-addfav {
	background-position: 0 -729px;
}
body .userbar-btn .userbar-btn_click .userbar-down {
	background-position: 0 -748px;
}
body .userbar-weather_city-cur a{ background-position: right -431px;}

body .weather-more_wrap{ background: #DF6A7E;}
body .weather-more_show { height: auto; border-top: 1px solid #DF6A7E;}
body .weather-more_line{border-bottom: 1px solid #FB91A2;}
body .weather-more_odd{ background: #CC4C62;}
body .box-search_tab a.cur { color:#FF617B;}
body .hotsite_b{ border: 1px solid #D7DDDE;}

body .hotsite-custom{ border-color: #FFD9DF;}
body .sortsite dt a,
body .charts_menu a:hover,
body .charts_menu .cur,
body .charts_menu .cur:hover,
body .charts-imgitem a:hover,
body .toolbar-v .charts_menu a:hover,
body .charts_more{ color: #FF617B;}

body .mod-btn_cancel .ui-button-text{ color: #e25856;}
body .i-toolbar{ background: url(../img/i-news_item.png) no-repeat -16px -150px;}
body .i-toolbar-0,
body .i-toolbar-1,
body .i-toolbar-2{ background-position: 0 -150px;}

body .toolbar-v dd em{ color: #FB568B;}

body .cur .i-hotsite, body .hotsite-tabs_btn:hover .i-hotsite {
	background: url(../img/i-news_item.png) no-repeat 0 -360px;
}
body .cur .i-history, body .hotsite-tabs_btn:hover .i-history {
	background: url(../img/i-news_item.png) no-repeat 0 -376px;
}
body .hotsite-tabs_btn:hover {color: #ff617b;}
body .hotsite-tabs .cur {color: #ff617b;border-bottom: 2px solid #ff617b;}
body .hist-block {background: #ff617b;}
body .hotsite-hist_bg {color: #ff617b;}
body .hotsite-hist_bg i{
    background: url(../img/i-news_item.png) no-repeat 0 -390px;
}
body .hist-icon {background: url(../img/i-news_item.png) no-repeat 0 -462px;}

body .settings-btn {
	border: 1px solid #fd92a4;
	background: url(../img/bg.png) no-repeat 3px -1137px #fd92a4;
}
body .settings-btn_open {
	border: 1px solid #ecdfe1;
	border-bottom: 0 none;
	background: url(../img/bg.png) no-repeat 3px -1154px #fcf6f7;
}
body .settings-dropdown {
	border: 1px solid #ecdfe1;
	background-color: #fcf6f7;
}
body .select_theme {
	border-top: 1px solid #ecdfe1;
}
body .settings-site .cur {
	color: #ff617b;
}
body .settings-site a:hover {
	background-color: #f7e3e6;
}
body .box-bot .t a:hover{ color: #FF617B;}

body .news-tab li.nav-item-current{color: #FF617B;}
body .playlist .arrow_r{color:#FF617B;}
body .playlist .arrow_r_disabled{color:#DEDEDE;}
body #current_indicator{border-bottom:3px solid #FF617B;}
body .playlist-tab li.cur{color:#FF617B;}
body ul.playlist-tab .hover{color:#FF617B;}
body .playlist-body .cur .playlist-song, body .playlist-body .cur_pause .playlist-song {color:#FF617B;}
body .news-item a:hover .title, body .news-item_dbline a:hover .desc {color:#FF617B;text-decoration: underline;}
body .news-tab .ui-nav .arrow-prev, body .news-tab .ui-nav .arrow-next{background-image: url(../img/i-news-icon-pink.png) !important;}
body .news-tab .ui-nav .arrow-prev{background-position: -22px -1px;background-repeat:no-repeat;}
body .news-tab .ui-nav .arrow-next{background-position: -36px -1px;background-repeat:no-repeat;}
body .news-tab .ui-nav .prev-hover span.arrow-prev{background-position: -4px -1px;}
body .news-tab .ui-nav .next-hover span.arrow-next{background-position: -54px -1px;}
body .playing{background: url(../img/icon_playing.gif) no-repeat scroll 0 0 transparent;}
body .user_controller {background: url(../img/icon_player.png) no-repeat scroll 0 0 transparent;}
body .player-controller i{background-image: url(../img/icon_player.png);}
body .playlist-body .cur .playlist-order{background-image: url(../img/icon_player.png);}
body .playlist-body .cur_pause .playlist-order{background-image: url(../img/icon_player.png);}

body .mod-login{border-color: #e76f83;}
body .userbar-btn a{background:#fa8ea0;color:white;}
body .userbar-btn i{background-image:url(../img/bg.png);}
body .dot_img{background:url(../img/bg.png) 0 -1244px no-repeat;}
body .dot_img_head{background:url(../img/bg.png) -9px -1244px no-repeat;}

body .cur .i-notepad, body .hotsite-tabs_btn:hover .i-notepad {
	background: url(../img/i-news_item.png) no-repeat 0 -489px;
}
body .close .i-notepad, body .cur:hover .i-notepad {
	background: url(../img/i-news_item.png) no-repeat 0 -507px;
}
body .dot_img_head{background:url(../img/bg.png) -9px -1244px no-repeat;}

body .hsrch_word a:hover{color:#FF617B;}

body .news-slide .nav-item a:hover .title {
color: #FF617B;
text-decoration: underline;
}
body .charts-order {
    background-position: 0 -150px;
}
body i.charts-order_grey{
    background-position: -15px -150px;
}
body .mod-side .news-tab li.nav-item-current{color: #FF617B;}

/****** 皮肤盒子 ******/
body .skinbox-more-wrap{background: #df6a7e;border-top-color: #df6a7e;border-bottom-color:#fb91a2; }
body .skinbox-normal-wrap .switch-item{border-color: #df6a7e;}
body .skinbox-more-hide .ico-skinbox-triangle{border-bottom-color: #df6a7e;}
body .skinbox-normal-wrap .prev, body .skinbox-normal-wrap .next{background: #ce4a60;color: #e7a5b0;}
body .skinbox-item{border-color: #b75566;}
body .skinbox-item-selected, body .skinbox-item:hover{border-color: #f0b4be;}
body .skinbox-normal-wrap .switch-item{background: url("../img/pink-not-current.png?__sprite") no-repeat;}
body .skinbox-normal-wrap .switch-item-current{background: url("../img/pink-current.png?__sprite") no-repeat;}
body .skinbox-item-selected .ico-skinbox-selected{background-color: #f28597;}

/****** 消息盒子 ******/
body .wrap-message-content li{border-bottom-color:#ecdfe1;}
body .wrap-message-content{background-color: #FCF6F7;}
body .wrap-message-content li:hover{background-color: #FCE7EA}
body .message-target:hover span{color: #ff617b;}