.mod-gold{
	border-top: 1px solid #fff;
	position: relative;
}
.mod-gold .mod-side{
	position: relative;
	padding-left: 13px;
	padding-right: 2px;
	margin-top: 14px;
	margin-bottom: 10px;
	border: 0;
}
.mod-gold .gold-price{
	height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
}
.mod-gold .scroll-arrow{
	right: 3px;
}
.gradient-bg-silver{
	background-color:#fbfbfb;
	background-image: -moz-linear-gradient(top , #f1f0f0, #fff 100.0%);
	background-image: -webkit-linear-gradient(top , #f1f0f0, #fff 100.0%);
	background-image: -o-linear-gradient(top , #f1f0f0, #fff 100.0%);
	background-image: -ms-linear-gradient(top , #f1f0f0, #fff 100.0%);
	background-image: linear-gradient(top , #f1f0f0, #fff 100.0%);
}
.box-border .mod-gold dt,.mod-gold dd{
	/*width: 195px;*/
	width: 92%;
	margin-right: 9px;
	border: 1px solid #e2e5e6;
}
.box-border .mod-gold dt{
	border-bottom: 0;
	height: 23px;
	line-height: 23px;
	font-size: 12px;
}
.mod-gold dd{
	margin-bottom: 13px;
	border-top: 0;
	font-size: 0;
	text-align: center;
}
.mod-gold dd span{
	border-top: 1px solid #e2e5e6;
	display: inline-block;
	height: 23px;
	line-height: 23px;
	/*width: 99px;*/
	width: 52.5%;
	font-size:12px;
}
.mod-gold .gold-buy-title,.mod-gold .gold-sell-title{
	border-right: 1px solid #e2e5e6;
	/*width:93px;*/
	width: 46%;
	color:#fff;
}
.mod-gold .gold-buy-title{
	background: #fa9999;
}
.mod-gold .gold-sell-title{
	background: #86d7bc;
}
.mod-gold .gold-buy-price,.mod-gold .gold-sell-price{
	background: #fff;
	color: #686768;
	font-family: Tahoma;
}
.gold-icon{
	display: inline-block;
	width: 13px;
	height: 13px;
	background:url(../img/i-gold-title.png?__sprite) no-repeat;
	margin-left: 22px;
	margin-right: 6px;
	vertical-align: -1px;
}

/*显示模块*/
.side-mod-preload-gold{

}
.side-mod-preload-gold > *{
    visibility: visible!important;
}
