
.ui-bubble--new-user-guider{
	width: auto !important;
	border: none !important;
	background-color: transparent !important; 
	box-shadow: none !important;
	z-index: 110 !important;
	visibility: visible !important;
	font: 12px/1.7 tahoma !important;
	pointer-events: none;
}
.ui-bubble--new-user-guider .ui-arrow{
	display: none;
}
.ui-bubble--new-user-guider .ui-bubble_close{
	display: none;
}
.ui-bubble--new-user-guider .guider-close-btn{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	cursor: pointer;
	padding: 0;
	width: 17px;
	height: 17px;
	line-height: 15px;
	text-align: center;
	border-radius: 8px;
	background-color: #fc7425;
	pointer-events: auto;
}
.ui-bubble--new-user-guider .guider-close-btn:hover{
	background-color: #ef6e22;
}
.ui-bubble--new-user-guider .ui-bubble_t{
	color: #f86f1e;
	padding-right: 8px;
	padding-top: 10px;
	font: 12px/1.7 tahoma !important;
}
.ui-bubble--new-user-guider .guider-arrow{
	display: block;
	position: absolute;
}
.ui-bubble--new-user-guider .guider-arrow.up{
	width: 55px;
	height: 16px;
	background: url(../img/guider-line-up.png?__sprite) no-repeat;
}
.ui-bubble--new-user-guider .guider-arrow.down{
	width: 79px;
	height: 41px;
	background: url(../img/guider-line-down.png?__sprite) no-repeat;
}
.ui-bubble--new-user-guider .guider-arrow.right-bottom{
	width: 79px;
	height: 41px;
	background: url(../img/guider-line-right-bottom.png?__sprite) no-repeat;
}
.ui-bubble--new-user-guider .guider-arrow.right-top{
	width: 55px;
	height: 16px;
	background: url(../img/guider-line-up-right-top.png?__sprite) no-repeat;
}
.ui-bubble--new-user-guider .guider-arrow.left-bottom{
	width: 79px;
	height: 41px;
	background: url(../img/guider-line-left-bottom.png?__sprite) no-repeat;
}
.ui-bubble--new-user-guider .guider-arrow.left-top{
	width: 58px;
	height: 19px;
	background: url(../img/guider-line-left-top.png?__sprite) no-repeat;
}
.ui-bubble--new-user-guider .guider-close-btn.right-bottom{
	right: 0;
}
.ui-bubble--new-user-guider .guider-close-btn.left-bottom{
	left: 0;
}
.ui-bubble--new-user-guider .guider-close-btn.left-top{
	left: 0;
}
.ui-bubble--new-user-guider .guider-close-btn.right-top{
	right: 0;
}