.channel-top{position:relative;padding:20px 0 12px;zoom:1;}
.channel-top img{margin-left:-28px;position:relative;}
.channel-top a{position:absolute;width:330px;height:117px;bottom:41px;left:264px;background:#dbeddf;filter:alpha(opacity=0);opacity:0;}
.channel-bottom{margin-top:20px;padding:20px 0 60px;text-align:right;background:#dbeddf;border:1px solid #8ac695;}
.f0{font-size:0;}