.mod-sidebar-mum{
	width: 300px;
	height: 533px;
	color: #666;
	background-color: #fff;
}

.mod-sidebar-mum .banner{
	height: 145px;
}

.mod-sidebar-mum .description{
	height: 33px;
	line-height: 33px;
	background-color: #f5f6f6;
	color: #333333;
	padding-right: 20px;
	overflow: hidden; 
}

.mod-sidebar-mum .content{
	position: relative;
}

.mod-sidebar-mum .card-panel{
	/*display: none;*/
}

.mod-sidebar-mum .email-panel{
	position: absolute;
	background-color: #fff;
	top: 0;
	height: 355px;
	display: none;
}

.mod-sidebar-mum .list-outer{
	height: 310px;
}

.mod-sidebar-mum .list-inner{
	float: right;
}

.mod-sidebar-mum .more-link{
	display: block;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #f8f8fa;
}

.mod-sidebar-mum .item-wrapper{
	padding: 25px 20px 20px 15px;
	border-bottom: 1px solid #ededed;
	float: right;	
}

.mod-sidebar-mum .img-side{
	float: right;
	width: 105px;
}

.mod-sidebar-mum .text-side{
	padding-right: 8px;
	line-height: 16px;
	overflow: hidden;
	width: 152px;
	float: right;
}

.mod-sidebar-mum .card{
	display: block;
	width: 105px;
	height: 80px;
}

.mod-sidebar-mum .fb-time{
	padding: 5px 5px 5px 0;
	line-height: 17px;
	overflow: hidden;
}

.mod-sidebar-mum .share-text{
	float: left;
	margin-left: 8px;
}

.mod-sidebar-mum .num{
	float: left;
	border: 1px solid #d6d6d6;
	height: 17px;
	width: 40px;
	line-height: 17px;
	text-align: center;
	position: relative;
}

.mod-sidebar-mum .tri{
	position: absolute;
	height: 0;
	width: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.mod-sidebar-mum .triangle1{
	right: -5px;
	top: 3px;
	border-left: 5px solid #d6d6d6;
}

.mod-sidebar-mum .triangle2{
	right: -4px;
	top: 4px;
	border-left: 4px solid #fff;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

.mod-sidebar-mum .btn-g{
	margin-top: 5px;
}

.mod-sidebar-mum .btn{
	display: inline-block;
	width: 69px;
	height: 21px;
	border-radius: 2px;
	color: #fff;
	text-align: center;
	line-height: 21px;
	cursor: pointer;
}

.mod-sidebar-mum .fb-btn{
	background-color: #4c7cc9;
}

.mod-sidebar-mum .email-btn{
	background-color: #f96a85;
}

.mod-sidebar-mum .medium-card{
	height: 127px;
	width: 274px;
	padding: 13px 13px;
	border-bottom: 1px solid #dcdcdc;
}

.mod-sidebar-mum .input-g{
	position: relative;
}

.mod-sidebar-mum .my-input{
	border: 1px solid #dcdcdc;
	box-shadow: inset 0 1px #f5f5f5; 
	height: 27px;
	width: 252px;
	padding: 0 10px;
	margin: 10px 13px 0 13px;
}

.mod-sidebar-mum .my-input + span{
	line-height: 27px !important;
}

.mod-sidebar-mum .send-to{
	
}

.mod-sidebar-mum .send-from{

}

.mod-sidebar-mum .other-message{
	height: 50px;
	padding-top: 10px;
}

.mod-sidebar-mum .email-error{
	position: absolute;
	top: 19px;
	left: 20px;
	color: red;
	display: none;
	z-index: 5;
}

.mod-sidebar-mum .btn-g2{
	text-align: center;
	margin-top: 13px;
}

.mod-sidebar-mum .btn2{
	background-color: #3ec2c7;
}

.mod-sidebar-mum .send-result{
	position: absolute;
	top: 154px;
	z-index: 5;
	height: 150px; 
	width:100%;
	background-color: rgba(0,0,0,.8);
	color: #fff;
	display: none;
}

.mod-sidebar-mum .present{
	position: absolute;
	display: block;
	right: 50%;
	margin-right: -14px;
	top: 40px;
	width: 28px;
	height: 31px;
	background: url(../img/present.png?__sprite) no-repeat;
}

.mod-sidebar-mum .info{
	text-align: center;
	height: 70px;
	margin-top: 80px;
}

.mod-sidebar-mum .card-text{
	overflow: hidden;
	min-height: 80px;
}

.mod-sidebar-mum .item-leave .card-text{
	height: 80px;
}

.mod-sidebar-mum .item-leave .btn-g{
		display: none;
}