.mod-anchorbar .player-img{ background:url(./img/anchor-player.png?__sprite) no-repeat;}
.mod-anchorbar .astro-img{ background:url(./img/anchor-astro.png?__sprite) no-repeat;}
.mod-anchorbar .bus-img{ background:url(./img/anchor-bus.png?__sprite) no-repeat;}
.mod-anchorbar .football-img{ background:url(./img/anchor-football.png?__sprite) no-repeat;}
.mod-anchorbar .game-img{ background:url(./img/anchor-game.png?__sprite) no-repeat;}
.mod-anchorbar .gold-img{ background:url(./img/anchor-gold.png?__sprite) no-repeat;}
.mod-anchorbar .image-img{ background:url(./img/anchor-image.png?__sprite) no-repeat;}
.mod-anchorbar .lottery-img{ background:url(./img/anchor-lottery.png?__sprite) no-repeat;}
.mod-anchorbar .news-img{ background:url(./img/anchor-news.png?__sprite) no-repeat;}
.mod-anchorbar .speedtest-img{ background:url(./img/anchor-speedtest.png?__sprite) no-repeat;}
.mod-anchorbar .translate-img{ background:url(./img/anchor-translate.png?__sprite) no-repeat;}
.mod-anchorbar .video-img{ background:url(./img/anchor-video.png?__sprite) no-repeat;}

.mod-anchorbar .hotvideo-img{ background:url(./img/anchor-video.png?__sprite) no-repeat;}
.mod-anchorbar .videomusic-img{ background:url(./img/anchor-player.png?__sprite) no-repeat;}
.mod-anchorbar .music-img{ background:url(./img/anchor-player.png?__sprite) no-repeat;}
.mod-anchorbar .videogame-img{ background:url(./img/anchor-game.png?__sprite) no-repeat;}

.mod-anchorbar .anchor-nav .prev,
.mod-anchorbar .anchor-nav .next {
	text-indent: -9999em;
}
.mod-anchorbar .anchor-nav .arrow-prev,
.mod-anchorbar .anchor-nav .arrow-next {
	display: block;
	cursor: pointer;
	width: 17px;
	height: 18px;
	border: 1px solid rgb(230,230,230);
}
.mod-anchorbar .anchor-nav .arrow-prev{
	background: url(./img/anchor-prev.png?__sprite) no-repeat;
}
.mod-anchorbar .anchor-nav .arrow-next{
	background: url(./img/anchor-next.png?__sprite) no-repeat;
}
.mod-anchorbar .anchor-nav .arrow-prev:hover,
.mod-anchorbar .anchor-nav .arrow-next:hover{
	border: 1px solid rgb(155,222,200);
}

/*用于高亮显示的div，其parent为body*/
.anchor-highlight{
	display: none;
	position: absolute;
	z-index: 9999;
	border: 3px solid rgb(25,200,135);
}

.mod-anchorbar .anchor-item{
	-moz-opacity: 0.9;
	opacity: 0.9;
}
.mod-anchorbar .anchor-item:hover{
	-moz-opacity: 1;
	opacity: 1;
}

/*显示模块*/
.side-mod-preload-anchorbar{
	border:0!important;
	background: transparent!important;
	height: 64px!important;
}
.side-mod-preload-anchorbar > *{
	visibility: visible!important;
}
