html {
	background: #FFFFFF;
}
body .l-wrap {
	width: 1002px;
}
.se-content,
.se-wrap {
	min-height: 500px;
}
.se-head {
	border-top: 5px solid #BBDDD2;
	border-bottom: 1px solid #E7E7E7;
	height: 95px;
	margin-bottom: 10px;
	background: #F9F9F9;
}
.se-logo,
.se-bd,
.se-yaho,
.se-tab li {
	float: left;
}
.se-bd {
	position: relative;
	top: -5px;
	margin-right: 10px;
}
.se-tab {
	overflow: hidden;
	color: #333333;
}
.se-tab a {
	display: block;
	padding: 5px 10px;
	font-size: 13px;
	color: #333;
	border-top: 5px solid #BBDDD2;
}
.se-tab a:hover {
	background: #eee;
	text-decoration: underline;
}
.se-tab .cur a {
	color: #00AF74;
	text-decoration: none;
	background: 0 0;
	border-top-color: #00AF74;
	cursor: default;
}
.form {
	margin-top: 10px;
}
.se-input {
	display: inline-block;
	margin-right: 5px;
	z-index: 999;
	position: relative;
	float: left;
}
.form input {
	width: 430px;
	font-size: 108%;
	height: 24px;
	padding: 2px 4px 0 4px;
	background-color: #fff;
	vertical-align: bottom;
	line-height: 1.3;
	border: 1px solid #999;
	border-top: 1px solid #7c7c7c;
	top: 0;
	left: 0;
	float: left;
	position: relative;
}
.form input:focus {
	border-color: #7193CA;
}
.se-btn {
	display: inline-block;
	border: 0 solid #fff;
	background: #00AF74 url(../img/se-btn.png) no-repeat 35px 7px;
	float: left;
}
.se-btn:hover {
	background-color: #01A06A;
}
.se-submit {
	border: 0;
	background: 0 0;
	width: 110px;
	height: 28px;
	line-height: 26px;
	letter-spacing: .1em;
	padding: 0 0 0 16px;
	font-size: 108%;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
}
.form input::-ms-clear {
	display:none
}
.se-foot {
	height: 53px;
	background: #F9F9F9;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	margin-top: 10px;
}
.se-foot .form {
margin-top: 13px;
margin-left: 22px;
}
.se-logo {
	width: 130px;
	padding-top: 30px;
}
.se-yaho {
	padding-top: 37px;
}
body .sug-search {
	left: 0px;
	width: 438px;
}