.feedback-con{border:1px solid #e3e5e6;background-color:#fafcfc;padding-bottom: 14px;}
.feedback-inner_con{border:1px solid #FFF;border-bottom: none;padding-right: 8px}
.feedback-title_con{border-bottom: 1px solid #FFF;color:#666;line-height: 28px;padding-left: 8px;}
.feedback-title a{color:#0f996b}
.feedback-title span{float:right;}
.feedback-title .feedback-uninstall{float: left;}
.feedback-title .feedback-uninstall:hover{text-decoration:underline;}
.feedback-content_title{font-size: 14px;font-family:"Microsoft YaHei";font-weight:bolder;padding: 12px 0 8px 8px;color:#666;display: block;}
.feedback-content_title label{float: right;}
.feedback-content{position: relative; overflow: hidden;zoom:1;}
#feedback-word-count{float:left;color:#999;font-size: 12px;}
.feedback-contact_content{padding-bottom: 14px;position: relative; overflow: hidden;zoom:1;}
.feedback-contact_way{position: absolute;color:#d7d8d9;font-size:12px;top:7px;right:8px;*top:10px;}
#feedback-error-tip{color:#FF0000;font-size: 12px;display: none;top:2px;right:2px;position: absolute;}
.feedback-content-text{border:1px solid #d9d9d9;border-top-color: #bfbfbf;height: 112px;width: 938px;margin:0 auto;}
.feedback-inputtext{border:1px solid #d9d9d9;border-top-color:#bfbfbf;line-height: 27px;height:27px;width:308px;padding-right: 8px;}
.disclaimer-con{border:1px solid #e3e5e6;background-color:#f5f7f7;line-height: 27px;padding: 9px;}
.disclaimer-con dt{font-size: 14px;font-family:"Microsoft YaHei";font-weight:bolder;}
.disclaimer-con dd{font-size: 12px;color: #666;}
.feedback-con .btn-search {float: right;}
.catTitle{font-weight:bolder;float: right;}
.commenceName{float:left;margin-left:260px;color:#FF0000;}
.feedback-cat input{position: relative;top: 1px;margin-right: 10px;color:#666}
.safeDes{display: inline-block;padding-top: 10px;color: #666;}