/*.select_theme,
.select_theme_hover,*/
/*.select_theme .skin_1,
.select_theme .skin_1 span,
.select_theme .skin_2,
.select_theme .skin_2 span,
.select_theme .skin_3,
.select_theme .skin_3 span{
    background: url("./theme_bg.png") top left no-repeat;
}*/

.select_theme{
    /*display: none;
    position: absolute; z-index: 9; top: 0; right: 0; width: 25px; height: 25px; overflow: hidden; padding-right: 5px; padding-top: 5px;
    background-color: #EDF0EF; white-space:nowrap;

    -webkit-transition: width .2s ease-out;
    -moz-transition:    width .2s ease-out;
    -o-transition:      width .2s ease-out;
    transition:         width .2s ease-out;*/
    display: block;
    clear: both;
    overflow: hidden;
    border-top: 1px solid #bee2d6;
    padding: 5px 15px;
    zoom: 1;
}

/*.select_theme_hover{
    width: 90px;
}*/
.select_theme li{ width: 20px; height: 20px; /*background: #f00; float: right;*/ float: left; /*margin-right: 1px;*/ margin-right: 5px; cursor: pointer; /*display: none;*/}

/*.select_theme_hover{ background-position: 0 -31px;}
.select_theme_hover li{ background-position: 0 -31px; display: inline-block;}*/

.select_theme span{ /*display: none;*/ width: 20px; height: 20px;}

.select_theme .skin_cur{
    background: #ff0; cursor: default;
}
.select_theme .skin_cur  span{ display: inline-block;}
.select_theme .skin_1{ background: url(../img/i-theme-skin1.png?__sprite) no-repeat;}
.select_theme .skin_1 span{ background: url(../img/i-theme-skin1-hover.png?__sprite) no-repeat;}
.select_theme .skin_2{ background: url(../img/i-theme-skin2.png?__sprite) no-repeat;}
.select_theme .skin_2 span{ background: url(../img/i-theme-skin2-hover.png?__sprite) no-repeat;}
.select_theme .skin_3{ background: url(../img/i-theme-skin3.png?__sprite) no-repeat;}
.select_theme .skin_3 span{ background: url(../img/i-theme-skin3-hover.png?__sprite) no-repeat;}