.w960 .hotsite_b{
	width: 648px;
}
.w960 .hotsite{
	width: 650px;
}
.w960 .hotsite span{
	/* margin: 6px 0 0; */
	width: 100px;
}
.w960 .hotsite .more_links{
	width: 98px;
}
.w960 .hotsite_wrap .hotsite .search-form{
	width: 90px;
}
.w960 .search-form-input-text{
	width: 73px;
}
