/*for PS*/
.header-fixed-up .radios {
    display: none;
    display: none !important;
}
body.header-fixed-up .box-search_logo dt {
    padding-right: 15px;
    height: 33px;
    cursor: pointer;
    background: #F2F2F2 url(../img/i-arrow.png) no-repeat 26px 13px;
}
body.header-fixed-up .box-search_logos_show dt {
    width: 22px;
    background-image: url(../img/i-arrow-open.png);
}
