/*============userbar=============*/
.head-top-wrap{
    height:105px;
    margin-top:30px;
}
.userbar-logo {
    max-width: 230px;
    padding-top: 10px;
}
.userbar-wrap {
    background: #1c81e5;
    min-width: 960px;
    position: relative;
    height: 40px;
    zoom: 1;
    z-index: 100;
}
/*.userbar {
    height: 40px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    z-index: 9;
}*/
.userbar-tool{
    padding-right: 7px;
}
.userbar-tool .settings-btn{
    height: 16px;
    padding: 12px 10px;
}
.userbar-tool .settings-btn .btn-holder {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../site-switch/img/i-settings-btn-s.png?__sprite) no-repeat;
}
.userbar-tool .settings-dropdown{
    top: 40px;
}
.userbar-tool .account-loginfo_wrap{
    padding: 20px;
}
.userbar-tool .account_trig{
    height: 16px;
    padding: 12px 10px;
}
.userbar-tool .account-dropdown_wrap{
    top: 40px;
}
.userbar-tool .account-login_suc .account_trig img{
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
.userbar-tool .userbar-btn .btn-item-anchor{
    width: 16px;
    height: 16px;
    padding: 12px 10px;
}
.userbar-tool .userbar-btn .btn-sethome{
    margin-top: 0;
    background: url(../userbar-btn-header/img/setHome-s.png?__sprite) no-repeat;
}
.userbar-tool .userbar-btn .btn-addfav{
    margin-top: 0;
    background: url(../userbar-btn-header/img/addfav-s.png?__sprite) no-repeat;
}
.userbar-tool .userbar-btn .btn-down{
    margin-top: 0;
    background: url(../userbar-btn-header/img/down-s.png?__sprite) no-repeat;
}
