.sortsites-tabs-container{display:block !important; }
div.sortsites-tabs-container{*display:none !important;}

/*分类区快速导航栏*/
.sortsite.select{border-color: #FF8C00;border-width:1px 2px;}
.sortsites-tabs-container{position: relative;overflow: visible;*display:none;}
.sortsites-tabs{width: 708px;height: 30px;line-height: 30px;background:url(../img/btn-normal-bg.png?__sprite) repeat-x;margin-top: 10px;font-size: 12px;padding-top: 2px;overflow: hidden;}
.sortsites-tabs i,.sortsites-tabs-container i{display: inline-block;height: 20px;width: 23px;margin-bottom: -3px;background-image:url(../img/i-sortsites-tabs.png);background-repeat: no-repeat;}
.sortsites-tabs a:hover{color: #49B18E;text-decoration: underline;}
.sortsites-tabs .tab-lists{position: relative;min-width: 55%;max-width:55%;float: right;padding-left: 10px;top:0px;}
.sortsites-tabs .tab-lists li{float: right;min-width: 21%;max-width: 33%;height: 30px;text-align: center;padding: 0 1px;}
.sortsites-tabs .tab-lists a:hover{text-decoration: none;}
.sortsites-tabs .tab-item{display: inline-block;width: 100%;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;}
.sortsites-tabs-refresh{float: left;padding-right: 8px;}
.sortsites-tabs-refresh i{background-position: -84px 1px;margin-top: 4px;margin-right: 5px;float: left;display: inline-block;}
.sortsites-tabs-description{position: relative;float: right;padding-right: 15px;font-weight: bold;margin-left: -1px;margin-top: -1px;}
.sortsites-tabs-description i{background-position: -169px 1px;}
.sortsites-tabs-container .bubble-like{position: absolute;display: none;bottom: 30px;right: -40px;background-image:url(../img/i-sortsites-tabs.png);background-repeat: no-repeat;background-position: 0 -20px;height: 33px;min-width: 230px;z-index: 9;font-weight: bold;color: white;padding-top: 2px;}
.sortsites-tabs-container .bubble-like i{background-position: -119px 2px;margin-bottom: -2px;margin-left: 3px;float: right;}
.sortsites-tabs-container .bubble-like span{float: left;margin-top: 5px;margin-left: 10px;display: inline-block;}
.sortsites-tabs-container i.i-hover{background-position: -146px 2px;margin-bottom: -3px;margin-left: 3px;cursor: pointer;}
.sortsite_sep{border-left: 1px solid #E6E6E6;display: block;float: right;height: 14px;line-height: 6px;margin-left: -1px;margin-top: 8px;position: relative;z-index: 0;}
ul.block_sep {background:url(../img/btn-normal-bg.png?__sprite);background-repeat: repeat-y;display: block;height: 100%;right: 1px;position: absolute;top: -10px;width: 1px;z-index: 1;}
.sortsite .link-name{margin-right: 7px;}

.box-onesort-big {position: relative;}
div.box-onesort-big dd a{width: 242px;color:#a9a9a9;}
.box-onesort-big .link-name{font-weight: bold;}
.box-onesort-big dd a.have-pre-icon{width: 222px;}
.box-onesort-big .link-name{color: #595959;}
.box-onesort-big .link-description{margin-right: 10px;font-size: 12px;font-weight: normal;}
.box-onesort-big .i-sort-big {display: block;position: absolute;left: 25px;bottom: 20px;}

/*cool sort big image*/
.box-onesort-big .i-sort-big{background-image: url("../img/i-onesort-big.png");}
.i-sort-big.i-sort-games {width: 71px;height: 54px;background-position: -54px -243px;}
.i-sort-big.i-sort-gameweb {width: 61px;height: 56px;background-position: 0 -63px;}
.i-sort-big.i-sort-image {width: 63px;height: 63px;background-position: 0px 0px;}
.i-sort-big.i-sort-tv {width: 59px;height: 56px;background-position: -63px -297px;}
.i-sort-big.i-sort-movie {width: 53px;height: 60px;background-position: 0px -119px;}
.i-sort-big.i-sort-tieba {width: 61px;height: 61px;background-position: -62px -180px;}
.i-sort-big.i-sort-bank {width: 63px;height: 57px;background-position: 0px -296px;}
.i-sort-big.i-sort-music {width: 63px;height: 63px;background-position: -63px 0px;}
.i-sort-big.i-sort-menhu {width: 61px;height: 56px;background-position: -61px -63px;}
.i-sort-big.i-sort-sports {width: 54px;height: 54px;background-position: 0px -242px;}
.i-sort-big.i-sort-software {width: 60px;height: 60px;background-position: -53px -119px;}
.i-sort-big.i-sort-shopping {width: 62px;height: 63px;background-position: 0px -179px;}