

/** 分类导航区样式 */
.box-sort {overflow: hidden;}
.sortsite{ white-space: nowrap; overflow: hidden; border: 1px solid #E3E5E6; border-bottom:1px solid #dcddde; background: #fafcfc;}
.sortsite dt{ height: 30px; line-height: 30px; border-bottom: 1px solid #EDEFF0; color: #23C098; font-size: 14px; overflow: hidden; position: relative; background:url(../img/btn-normal-bg.png?__sprite) repeat-x;}
.sortsite dt.hover{border-bottom: 1px solid #cfd0d1; -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2); -o-box-shadow: 0 1px 2px rgba(0,0,0,0.2); box-shadow: 0 1px 2px rgba(0,0,0,0.2);}
.sortsite a:hover{text-decoration: none;}
.sortsite dt.click{background-position: 0 -31px;}
.sortsite a{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.sortsite dt a{_margin-left: 20px; font-weight: 600; padding-right: 10px;color: #49b18e;text-indent: 0px; _width: 89%;}
.sortsite dt a:hover{text-decoration: underline;}
.sortsite dt .more-content{float: left;margin-left: 10px;font-weight: 400;color: #3dc094;}
.sortsite dd{ overflow: hidden;border-left:1px solid #fff;border-right:1px solid #fff;}
.sortsite dd a{color: #595959;line-height:31px; height:31px; width:100%; padding-right: 3px;border-right: 3px solid #fafafc;text-indent: 0px;}
.sortsite dd a:hover{ background:#e8eaeb;border-right: 3px solid #00ac73;}
.sortsite_more{ font-family: Verdana; text-align: right; text-indent: 0; background: #F9FAFA; position: absolute; right: 0px; top: 0; float: right;}
.sortsite .link-name{margin-right:7px}
.sortsites-tabs-container{ display: none;}

/*新版 可配置气泡*/
.confAbleRed, .confAbleRed em, .confAbleRed span, .confAbleRed i,
.confAbleGreen, .confAbleGreen em, .confAbleGreen span, .confAbleGreen i{
	display: inline-block;
	*display: inline;
	*zoom:1;
	color: #fff;
	vertical-align: middle;
	height: 15px;
}
.confAbleRed em, .confAbleGreen em{
	float: right;
	width: 8px;
	
}
.confAbleRed i, .confAbleGreen i{
	width: 5px;
	float: right;

}
.confAbleRed span, .confAbleGreen span{
	float: right;
	line-height: 14px;
	font-size: 11px;
}
.confAbleRed em{
	background: url(../img/tips-front-bg-rtl.png?__sprite);
}
.confAbleGreen em{
	background: url(../img/tips-front-bg-rtl-green.png?__sprite);
}
.confAbleRed i{
	background: url(../img/tips-back-bg-rtl.png?__sprite);
}
.confAbleGreen i{
	background: url(../img/tips-back-bg-rtl-green.png?__sprite);
}
.confAbleRed span{
	background: url(../img/tips-middle-bg.png?__sprite) repeat-x;
}
.confAbleGreen span{
	background: url(../img/tips-middle-bg-green.png?__sprite) repeat-x;
}