.mod-nav-wrap{
	visibility: visible;
}
.mod-nav-wrap .nav-item{
	float: left;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	color: #fff;
}
.mod-nav-wrap .nav-item a{
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
}
.mod-nav-wrap .cur{
	background-color: #0A69C9;
	cursor: default;
}
.mod-nav-wrap .cur span{
	cursor: default;
}
.mod-nav-wrap .nav-item:hover{
	background-color: #0A69C9;
}
