/*右侧模块标题下方的分隔线，多个模块公用*/
.bot_line{
	border-top:1px solid #e3e5e6;
	border-bottom:1px solid #fff;
	border-left:0;
	border-right:0;
	margin-right:10px;
}

/*右侧各模块的公共样式，包括边框、标题等*/
.side{
	border: 1px solid #fff;
}
.box-border{
	border:1px solid #e3e5e6;
	border-bottom:1px solid #d7d8d9;
}
.mod-side{
	padding-bottom:10px;
}
.mod-side dt{
	color: #5a5a5a;
	height: 30px;
	line-height: 30px;
	font-weight:600;
	font-size:14px;
	/*padding-bottom:3px;*/
}
.mod-side,
.mod-side input[type="text"],
.mod-side a{
	color: #595959;
}

/*右侧滚动条jScrollPane样式，多个模块公用*/
.scroll{
	position:relative;
	margin:4px 0;
	width:100%;
}
.scroll-wrapper{
	overflow:hidden;
	position:relative;
}
.scroll-arrow{
	position:absolute;
	width:15px;
	height:17px;
	cursor:pointer;
	font-size:0;
	background:#f00;
	display:none;
}
.disabled{
	cursor:default;
}
.top-arrow{
	top:0;
	background: url(../img/i-scroll-arrow-top.png?__sprite) no-repeat;
}
.top-arrow:hover{
	background: url(../img/i-scroll-arrow-top-hover.png?__sprite) no-repeat;
}
.top-arrow.disabled{
	background: url(../img/i-scroll-arrow-top-disable.png?__sprite) no-repeat;
}
.bottom-arrow{
	bottom:0;
	background: url(../img/i-scroll-arrow-bottom.png?__sprite) no-repeat;
}
.bottom-arrow:hover{
	background: url(../img/i-scroll-arrow-bottom-hover.png?__sprite) no-repeat;
}
.bottom-arrow.disabled{
	background: url(../img/i-scroll-arrow-bottom-disable.png?__sprite) no-repeat;
}

/*更多按钮，多个模块公用*/
.charts_more{
	display:block;
	background:#f2f2f2;
	height:23px;
	line-height:23px;
	color:#00b075;
	border-top:1px solid #E3E5E6;
	position:relative;
}
.charts_more:hover{
	background:#ebebeb;
}
.charts_more .arrow_r{
	color:#3dc094;
	top:-1px;
	font-size:20px;
}

/*查询盒子error提示*/
.api-error{
	display: none;
	position: absolute;
	left: 0;
	top:150px;
	width: 100%;
	text-align: center;
	font-size: 15px;
}
.api-loading{
	display: none;
}
.api-error:hover{
	color:#00b075;
}

.status-success{height: auto;}
.status-success .mod-side, .status-success .charts_more{display: block;}
.status-success .api-error, .status-success .api-loading{display: none;}

.status-loading{height: 300px;}
.status-loading .mod-side{display: none;}
.status-loading .charts_more{display: none;}
.status-loading .api-error{display: none;}
.status-loading .api-loading{display: inline-block;}

.status-error{height: 300px;}
.status-error .mod-side{display: none;}
.status-error .charts_more{display: none;}
.status-error .api-error{display: inline;}
.status-error .api-loading{display: none;}

.status-bottom-loading{height: 100%;}
.status-bottom-loading .api-error{display: none;}
.status-bottom-loading .api-loading{display: inline-block;}

.status-bottom-error{height: 100%;}
.status-bottom-error .api-error{display: inline;pointer-events: none;}
.status-bottom-error .api-loading{display: none;}


/*round corner button sets*/
.round-corner-s{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
/*gradient button sets*/
/*green button*/
.gradient-bg-green {
	width: 100%;
	height: 29px;
	line-height: 29px;
	display: block;
	color: #fff;
	font-weight: 600;
	text-align: center;
	background-color: #10b47d;
	background-image: -moz-linear-gradient(top,#10b47d,#3dc094 100.0%);
	background-image: -webkit-linear-gradient(top,#10b47d,#3dc094 100.0%);
	background-image: -o-linear-gradient(top,#10b47d,#3dc094 100.0%);
	background-image: -ms-linear-gradient(top,#10b47d,#3dc094 100.0%);
	background-image: linear-gradient(top,#10b47d,#3dc094 100.0%);
	border:none;
}
a.gradient-bg-green{
	color: #fff;
}
.gradient-bg-green:hover {
	background-color: #0fa875;
	background-image: -moz-linear-gradient(top,#0fa875,#3cba90 100.0%);
	background-image: -webkit-linear-gradient(top,#0fa875,#3cba90 100.0%);
	background-image: -o-linear-gradient(top,#0fa875,#3cba90 100.0%);
	background-image: -ms-linear-gradient(top,#0fa875,#3cba90 100.0%);
	background-image: linear-gradient(top,#0fa875,#3cba90 100.0%);
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
	-o-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
	-ms-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
}
.gradient-bg-green:active {
	background-color: #0fa875;
	background-image: -moz-linear-gradient(top,#3cba90,#0fa875 100.0%);
	background-image: -webkit-linear-gradient(top,#3cba90,#0fa875 100.0%);
	background-image: -o-linear-gradient(top,#3cba90,#0fa875 100.0%);
	background-image: -ms-linear-gradient(top,#3cba90,#0fa875 100.0%);
	background-image: linear-gradient(top,#3cba90,#0fa875 100.0%);
}
/*gray button*/
.gradient-bg-gray {
	height: 20px;
	line-height: 20px;
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 0 10px;
	background-color: #b8b8b8;
	background-image: -moz-linear-gradient(top,#b8b8b8,#c9c9c9 100.0%);
	background-image: -webkit-linear-gradient(top,#b8b8b8,#c9c9c9 100.0%);
	background-image: -o-linear-gradient(top,#b8b8b8,#c9c9c9 100.0%);
	background-image: -ms-linear-gradient(top,#b8b8b8,#c9c9c9 100.0%);
	background-image: linear-gradient(top,#b8b8b8,#c9c9c9 100.0%);
	border:none;
}
a.gradient-bg-gray{
	color: #fff;
}
.gradient-bg-gray:hover {
	background-color: #8b8b8b;
	background-image: -moz-linear-gradient(top,#8b8b8b,#ababab 100.0%);
	background-image: -webkit-linear-gradient(top,#8b8b8b,#ababab 100.0%);
	background-image: -o-linear-gradient(top,#8b8b8b,#ababab 100.0%);
	background-image: -ms-linear-gradient(top,#8b8b8b,#ababab 100.0%);
	background-image: linear-gradient(top,#8b8b8b,#ababab 100.0%);
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
	-o-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
	-ms-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
}
.gradient-bg-gray:active {
	background-color: #ababab;
	background-image: -moz-linear-gradient(top,#ababab,#8b8b8b 100.0%);
	background-image: -webkit-linear-gradient(top,#ababab,#8b8b8b 100.0%);
	background-image: -o-linear-gradient(top,#ababab,#8b8b8b 100.0%);
	background-image: -ms-linear-gradient(top,#ababab,#8b8b8b 100.0%);
	background-image: linear-gradient(top,#ababab,#8b8b8b 100.0%);
}
/*orange button*/
.gradient-bg-orange {
	background-color: #f56f2f;
	background-image: -moz-linear-gradient(top,#f56f2f,#f88249 100.0%);
	background-image: -webkit-linear-gradient(top,#f56f2f,#f88249 100.0%);
	background-image: -o-linear-gradient(top,#f56f2f,#f88249 100.0%);
	background-image: -ms-linear-gradient(top,#f56f2f,#f88249 100.0%);
	background-image: linear-gradient(top,#f56f2f,#f88249 100.0%);
	border:none;
}
a.gradient-bg-orange{
	color: #fff;
}
.gradient-bg-orange:hover {
	background-color: #f45e16;
	background-image: -moz-linear-gradient(top,#f45e16,#f77334 100.0%);
	background-image: -webkit-linear-gradient(top,#f45e16,#f77334 100.0%);
	background-image: -o-linear-gradient(top,#f45e16,#f77334 100.0%);
	background-image: -ms-linear-gradient(top,#f45e16,#f77334 100.0%);
	background-image: linear-gradient(top,#f45e16,#f77334 100.0%);
}
.gradient-bg-orange:active {
	background-color: #f45e16;
	background-image: -moz-linear-gradient(top,#f77334,#f45e16 100.0%);
	background-image: -webkit-linear-gradient(top,#f77334,#f45e16 100.0%);
	background-image: -o-linear-gradient(top,#f77334,#f45e16 100.0%);
	background-image: -ms-linear-gradient(top,#f77334,#f45e16 100.0%);
	background-image: linear-gradient(top,#f77334,#f45e16 100.0%);
}
