#embedlv2 {
	margin-bottom: 10px;
}
#embed-iframe-nav {
	height: 34px;
	width: 958px;
	border: 1px solid #D0DAD6;
	border-width: 0 1px;
	background: #EDF0EF;
}
#embed-iframe-nav i {
	display: inline-block;
	width: 34px;
	height: 34px;
}
#embed-iframe-nav .nav-item {
	position: relative;
	float: right;
	line-height: 32px;
}
#embed-iframe-nav .nav-item,
#embed-iframe-nav .nav-item a,
#embed-iframe-nav .nav-item p
{
	text-align: center;
	display: block;
	height: 34px;
	color: #00AF71;
	font-size: 14px;
}
#embed-iframe-nav .nav-item span,
#embed-iframe-nav .nav-item i
{
	vertical-align: middle;
	margin-left: 5px;

}

#embed-iframe-nav .space {
	float:right;
	width: 18px;
	line-height: 34px;
	height: 34px;
	background: url(./space.png?__sprite) no-repeat;
}
#embed-iframe-nav .home {
	width: 38px;
}
#embed-iframe-nav .home i{
	background: url('./home-link.png?__sprite') no-repeat 0 0;
}
#embed-iframe-nav .home.current i{
	background: url('./home-current.png?__sprite') no-repeat 0 0;
}
#embed-iframe-nav .news {
	width: 286px;
}
#embed-iframe-nav .news i{
	background: url('./news-link.png?__sprite') no-repeat 0 0;
}
#embed-iframe-nav .news.current i{
	background: url('./news-current.png?__sprite') no-repeat 0 0;
}

#embed-iframe-nav .image {
	width: 290px;
}
#embed-iframe-nav .image i{
	background: url('./image-link.png?__sprite') no-repeat 0 0;
}
#embed-iframe-nav .image.current i{
	background: url('./image-current.png?__sprite') no-repeat 0 0;
}
#embed-iframe-nav .movie {
	width: 290px;
}
#embed-iframe-nav .movie i{
	background: url('./movie-link.png?__sprite') no-repeat 0 0;
}
#embed-iframe-nav .movie .icon-new_red_ltr{
	display: inline-block;
	width: 25px;
	height: 15px;
	vertical-align: middle;
	margin-left: -6px;
	background: url('./i-big-new.png?__sprite') no-repeat  0 0;
}
#embed-iframe-nav .movie.current i{
	background: url('./movie-current.png?__sprite') no-repeat 0 0;
}
#embed-iframe-nav .movie.current .icon-new_red_ltr{
	display: none;
}
#embed-iframe-nav .current-right {
	background: url('./current-right.png?__sprite') no-repeat;
}
#embed-iframe-nav .current-left {
	background: url('./current-left.png?__sprite') no-repeat;
}

#embed-iframe-nav .nav-item {
	background: url(./link-bg.png?__sprite) repeat-x;
}
#embed-iframe-nav .nav-item.current {
	background: url(./hover-bg.png?__sprite) repeat-x;
}
#embed-iframe-nav .nav-item.current a{
	color: white;
}

.embed-fixed {
	position: fixed;
	top: 0;
	z-index: 10;
}

#embed-iframe-loading {
	position: absolute;
	z-index:2;
	width: 960px;
	height: 400px;
	text-align: center;
	background-color: #edf0ef;
}
#embed-iframe-loading .loading {
	margin-top: 80px;
	width: 45px;
	height: 44px;
}
#embed-iframe-loading .loading-desc {
	margin-top: 20px;
	color: #999;
}


/*菜单翻转动画*/
#embed-iframe-nav .nav-item a,
#embed-iframe-nav .nav-item p {
	width: 100%;
}


#embed-iframe-nav .nav-item a{
	display: block\9;
	-webkit-transform: perspective(800px) rotateX(0deg);
	-moz-transform:perspective(800px) rotateX(0deg);
	position:absolute;
	-webkit-transform-origin: 0 5px;
	-moz-transform-origin: 0 5px;
	-webkit-transition: 0.7s ease;
	-moz-transition: 0.7s ease;
	-webkit-transition-property:all;
	-moz-transition-property:all;
	opacity: 1;
	text-decoration:none;
}
#embed-iframe-nav .nav-item p {
	display: none\9;
	-webkit-transform: perspective(800px) rotateX(-90deg);
	-moz-transform: perspective(800px) rotateX(-90deg);
	position: absolute;
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-webkit-transition-property:all;
	-moz-transition-property:all;

	-webkit-transform-origin: 0 34px;
	-moz-transform-origin: 0 34px;
	opacity: 0.5;
}
#embed-iframe-nav .nav-item.hover a,
#embed-iframe-nav .nav-item.hover-animate a

{
	display: none\9;
	-webkit-transform: perspective(800px) rotateX(90deg);
	-moz-transform: perspective(800px) rotateX(90deg);
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-webkit-transition-property:all;
	-moz-transition-property:all;
	opacity: 0.5;
}
#embed-iframe-nav .nav-item.hover p,
#embed-iframe-nav .nav-item.hover-animate p

{
	display: block;
	cursor: pointer;
	-webkit-transform: perspective(800px) rotateX(0deg);
	-moz-transform: perspective(800px) rotateX(0deg);

	-webkit-transition: 0.7s ease;
	-moz-transition: 0.7s ease;
	-webkit-transition-property:all;
	-moz-transition-property:all;
	opacity: 1;
}

#embed-iframe-nav .home.nav-item.hover a {  /* 一直在 */
	display: block;
	-webkit-transform: none;
	-moz-transform: none;
	opacity: 1;
}
#embed-iframe-nav .nav-item.current a,
#embed-iframe-nav .nav-item.current p {
	display: block\9;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
}
#embed-iframe-nav .nav-item.current p {
	display: none;
}

/* 收缩搜索框的距离，避免新闻模块下移太多 */
.box-search_inner {
	height: 55px !important;
}