@import url('/widget/magicbox/magicbox-common.css?__inline');

.mod-magicbox .cycletabs .ui-nav .prev{
	left:-2px;
}
.mod-magicbox .cycletabs .ui-nav .next{
	right:-2px;
}
.mod-magicbox .cycletabs .ui-nav .arrow-prev{
	background:url(../img/i-magicbox-prev-normal.png?__sprite) no-repeat;
}
.mod-magicbox .cycletabs .ui-nav .arrow-next{
	background:url(../img/i-magicbox-next-normal.png?__sprite) no-repeat;
}
.mod-magicbox .cycletabs .ui-nav .prev-hover .arrow-prev {
    background:url(../img/i-magicbox-prev-active.png?__sprite) no-repeat;
}
.mod-magicbox .cycletabs .ui-nav .next-hover .arrow-next {
	background:url(../img/i-magicbox-next-active.png?__sprite) no-repeat;
}
.magicbox-title .lock,.magicbox-title .refresh{
	margin-right:5px;
}
.magicbox-title i{
	float:right;
	display:inline;
}
.magicbox-title .refresh{
	width: 16px;
	background-color: transparent;
	border: 0;
	margin-top: 1px;
}
.mod-magicbox .cycletabs .nav-item{
	*float:left;
}
.mod-magicbox .speed-test{
	margin-left: -2px;
}
/*new tab*/
.magicbox-nav-others{
	float: right;
	border-left: 1px solid #d3d4d5;
}
body .ui-bubble-magicbox-newtab .ui-bubble_in,
body .ui-bubble-magicbox-newtab .ui-bubble_out{
	left: auto;
	right: 25px;
}
.ui-bubble-magicbox-newtab .magicbox-tab{
	float: left;
}
.magicbox-nav-others .icon-arrow{
	right: 10px;
}
.magicbox-nav-others .icon-rect{
	left: 10px;
}
.magicbox-nav-others .icon-line{
	left: 20px;
}
