.table-data {
    margin: 50px;
    
    .pagination {
        display: table;
        margin: 20px auto;
    }
}

.ui-pager{ clear:both;line-height:22px; overflow:hidden;zoom:1; white-space:nowrap;text-align: center;zoom:1; }
.ui-pager .pager-inner{ float:left; font-size:13px; }
.ui-pager a,
.ui-pager span{ float:left; width:23px; height:22px; margin-right:5px; line-height:22px; overflow:hidden; border:1px solid #e7ecf0; background:#fff; text-decoration:none; text-align:center;}
.ui-pager a:hover{ background:#e9f1f7;text-decoration:none;color:#0000cd; }
.ui-pager .cur{ width:25px; border:none; background:none; font-weight:700; color:#000; }
.ui-pager .els{ width:15px; border:none; color:#0000cd; background:none; }
.ui-pager .first,
.ui-pager .last{ width:41px;*line-height:24px; line-height:24px\9\0; }
.ui-pager .pre,
.ui-pager .next{ width:60px;line-height:23px; _line-height:24px; line-height:24px\9\0; }
.ui-pager .no4,
.ui-pager .no5{ width:40px; }
.ui-pager span.no4,
.ui-pager span.no5{ width:42px; }
.ui-pager .no6,
.ui-pager .no7{ width:50px; }
.ui-pager span.no6,
.ui-pager span.no7{ width:52px; }
.ui-pager .nums{ float:right; margin-left:65px; font-size:12px; color:#999; }
.pager-center .pager{ float:left;position:relative; left:50%;}
.pager-center .pager-inner{position:relative; right:50%;}
.pager-center .nums{ margin-left:290px;}

/*
<div class="ui-pager pager-center">
	<div class="pager">
		<div class="pager-inner">
			<a href="/list/13?od=1&amp;pn=50" class="first">首页</a>
			<a href="/list/13?od=1&amp;pn=50" class="pre">&lt;上一页</a>
			<a href="/list/13?od=1&amp;pn=0" class="no1">1</a>
			<a href="/list/13?od=1&amp;pn=25" class="no1">2</a>
			<a href="/list/13?od=1&amp;pn=50" class="no1">3</a>
			<span class="cur no1">4</span><a href="/list/13?od=1&amp;pn=100" class="no1">5</a>
			<a href="/list/13?od=1&amp;pn=125" class="no1">6</a>
			<a href="/list/13?od=1&amp;pn=150" class="no1">7</a>
			<a href="/list/13?od=1&amp;pn=175" class="no1">8</a>
			<a href="/list/13?od=1&amp;pn=200" class="no1">9</a>
			<a href="/list/13?od=1&amp;pn=225" class="no2">10</a>
			<a href="/list/13?od=1&amp;pn=100" class="next">下一页&gt;</a>
			<a href="/list/13?od=1&amp;pn=750" class="last">尾页</a>
		</div>
	</div>
</div>
*/

