/*============userbar=============*/

.userbar-wrap {
    background: #00ad73;
    border-bottom: 1px solid #009e69;
    _border-bottom: 0 none;
    min-width: 960px;
    position: relative;
    height: 50px;
}
.userbar {
    height: 50px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    z-index: 9;
}
.userbar-tool {
    display: none;
}
.weather-more {
    display: none;
}
.weather-more_wrap {
    border-bottom: 1px solid #fff;
}