.mod-sort-area .container{
	min-height: 800px;
	border: 1px solid;
	border-color: #d7ddde #d7ddde #cacccc #dfe4e6;
	background-color: #fff;
	border-top: none;
}
.mod-sort-area .container .loading{
	height: 60px;
	text-align: center;
	padding-top:120px;
	color: #999;
}
