.mod-lottery{
	position: relative;
}

.mod-lottery .charts_more{
	font-size:13px;
	color: #00b075;
}
.mod-lottery .mod-side{
	background: #f5f7f7;
	border: 1px solid #fff;
	border-bottom: 0;
	padding:15px;
	min-height:240px;
	/*fix ie7 dropdownlist z-index bug*/
	*position:relative;
	*z-index:1;
}
.mod-magicbox .mod-lottery .mod-side{
	border:0;
	padding:15px;
}
.mod-lottery .mod-side div.pr{
	_zoom:1;
}
.lottery-result{
	font-size: 12px;
	height: 100px;
	overflow-y: auto;
	line-height: 1.4;
	position: absolute;
	/*width: 220px;*/
	width: 90%;
	color: #595959;
}
.lottery-result table{
	width: 90%;
}
.precise-pos{
	font-size: 13px;
	padding: 20px 0 5px;
	font-weight: 600;
	color: #595959;
}
.lottery-result th{
	height: 6px;
}
.lottery-result td{
	border-bottom: 1px solid #e3e5e6;
	padding: 7px 0;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
}
.lottery-result .tc{
	text-align: left;
	/*width: 100px;*/
	width: 60%;
	font-weight: 600;
}
.lottery-result .col_l{
	/*width: 90px;*/
	width: 40%;
}
#preciseLottery{
	display: block;/*fix ie8 filter opacity bug*/
}
/*th*/
.mod-side .mod-lottery dt,.mod-lottery dt,.mod-lottery .mod-side-2 dd{
	height:25px;
	line-height:25px;
}
.mod-side .mod-lottery .gradient-bg-orange,.mod-lottery .gradient-bg-orange{
	background-color: #f56f2f;
}
.mod-lottery dd{
	color:#00ac72;
	background-color:#f0f0f0;
	border-bottom: 1px solid #f3f5f6;
}
.mod-side .mod-lottery dt,.mod-lottery dt{
	color:#fff;
	background-color:#c5e2d8;
	padding-bottom: 0;
}
#sideLottery .mod-side-2{
	padding:0;
	_zoom:1;
}
/*br*/
.mod-lottery .mod-side-br{
	padding: 10px 5px 10px 12px!important;
}
.mod-lottery .lottery-table-wrapper{
	height: 252px;
	/* overflow-y: auto;
	overflow-x: hidden;
	padding-right: 10px;*/
}
.mod-lottery .lottery-table-list{
	/*width: 200px;*/
	width: 92%;
	zoom: 1;
}
.mod-lottery .lottery-table{
	width: 100%;
	border: 1px solid #e2e5e6;
	background: #fff;
	font-size: 12px;
	margin-bottom: 5px;
}
.mod-lottery .lottery-table-title{
	height: 23px;
	border-bottom: 1px solid #e2e5e6;
	text-align: center;
	line-height: 23px;
	font-weight: 600;
	color: #fff;
	display: block;
}
.mod-lottery .lottery-table-title:hover{
	text-decoration: underline;
}
.lottery-table-title-green{
	background: #89d6bc;
}
.lottery-table-title-red{
	background: #f8999a;
}
.mod-lottery .lottery-table-draw,
.mod-lottery .lottery-table-date{
	height: 23px;
	line-height: 23px;
	border-bottom: 1px solid #e2e5e6;
}
.mod-lottery .lottery-table-draw{
	padding-left: 7px;
}
.mod-lottery .lottery-table-date{
	text-align: right;
	padding-right: 7px;
}
.mod-lottery .lottery-table-result{
	font-weight: 600;
	color: #686768;
	line-height: 20px;
	text-align: center;
	padding: 2px 0;
}
.status-bottom-error .lottery-result,
.status-bottom-error .precise-pos,
.status-bottom-loading .lottery-result,
.status-bottom-loading .precise-pos{
	display: none;
}
.status-bottom-loading .api-loading{
	position: absolute;
	top: 40px;
}

/*显示模块*/
.side-mod-preload-lottery{

}
.side-mod-preload-lottery > *{
    visibility: visible!important;
}
