.mod-pcfstatic-starthelper{
	position: relative;
	width: 380px;
	height: 124px;
	background-color: #eff4f7;
	overflow: hidden;
	float: left;
}
.mod-pcfstatic-starthelper .div-con{
	margin: 0 31px;
	overflow: hidden;

}
.mod-pcfstatic-starthelper div.type2{
	margin: 0;
}
.mod-pcfstatic-starthelper .ul-content{
	position: relative;
	width: 320px;
	height: 127px;
	overflow: hidden;
}
.mod-pcfstatic-starthelper .type2 .ul-content{
	width: 380px;
	height: 127px;
}
.mod-pcfstatic-starthelper .li-item{
	position: relative;
	float: right;
	display: inline-block;
	width: 147px;
	height: 84%;
	margin-top: 5px;
	margin-right: 21px;
}
.mod-pcfstatic-starthelper .type2 .li-item{
	width: 100%;
	height: 100%;
	margin: 0;
}
.mod-pcfstatic-starthelper .li-item:first-child{
	margin-right:0px;
}
.mod-pcfstatic-starthelper .a-item{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.mod-pcfstatic-starthelper .item-img{
	display: inline-block;
	width: 147px;
	height: 86px;
	border: 1px solid #97a6ab;
	margin-bottom: 5px;
}
.mod-pcfstatic-starthelper .type2 .item-img{
	width: 100%;
	height: 100%;
	border: 0 none;
	margin: 0;
}
.mod-pcfstatic-starthelper .text{
	display: inline-block;
	width: 100%;
	text-align: right;
	font-size: 12px;
	color: #a4a8a9;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	padding-right: 3px;
}
.mod-pcfstatic-starthelper .type2 .text{
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 60%;
	text-align: right;
	font-size: 12px;
	color: white;
	overflow: hidden;
	margin-right: 114px;
	margin-top: -2px;
}

.mod-pcfstatic-starthelper .type2 .opacity-title{
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
	width: 100%;
	height: 27px;
	line-height: 27px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	background-color: black;
}
.mod-pcfstatic-starthelper .type1 .a-item-hover .text{
	text-decoration: underline;
	color: #0f996b;
}
.mod-pcfstatic-starthelper .ctrl span{
	position: absolute;
	display: inline-block;
	width: 8px;
	height: 13px;
	top: 54px;
	font-size: 0;
	z-index: 2;
}
.mod-pcfstatic-starthelper .type2 .ctrl span{
	width: 26px;
	height: 51px;
	top: 27px;
	z-index: 2;
}
.mod-pcfstatic-starthelper .ctrl span:hover{
	cursor: pointer;
}
.mod-pcfstatic-starthelper .type1 .ctrl .arrow-prev{
	background: url(../img/i-arrow-normal.png?__sprite) no-repeat;
	left: 12px;
}
.mod-pcfstatic-starthelper .type1 .ctrl .arrow-next{
	background: url(../img/i-arrow-normal-r.png?__sprite) no-repeat;
	right: 12px;
}
.mod-pcfstatic-starthelper .type2 .ctrl .arrow-prev{
	background: url(../img/switch-left.png?__sprite) no-repeat;
	left: 0;
}
.mod-pcfstatic-starthelper .type2 .ctrl .arrow-next{
	background: url(../img/switch-right.png?__sprite) no-repeat;
	right: 0;
}
.mod-pcfstatic-starthelper .type1 .ctrl .arrow-prev:hover{
	background: url(../img/i-arrow-hover.png?__sprite) no-repeat;
}
.mod-pcfstatic-starthelper .type1 .ctrl .arrow-next:hover{
	background: url(../img/i-arrow-hover-r.png?__sprite) no-repeat;
}
.mod-pcfstatic-starthelper .type1 .ctrl .arrow-down span.arrow-prev{
	background: url(../img/i-arrow-down.png?__sprite) no-repeat;
}
.mod-pcfstatic-starthelper .type1 .ctrl .arrow-down span.arrow-next{
	background: url(../img/i-arrow-down-r.png?__sprite) no-repeat;
}
.mod-pcfstatic-starthelper div.arrow-disabled .ctrl .prev span.arrow-prev{
	background: url(../img/i-arrow-disabled.png?__sprite) no-repeat;
}
.mod-pcfstatic-starthelper div.arrow-disabled .ctrl .next span.arrow-next{
	background: url(../img/i-arrow-disabled-r.png?__sprite) no-repeat;
}
.mod-pcfstatic-starthelper .switch{
	position: absolute;
	left: 50%;
	bottom: 3px;
	cursor: pointer;
	z-index: 1;
}
.mod-pcfstatic-starthelper .type2 .switch{
	left: 72%;
	bottom: 5px;
}

.mod-pcfstatic-starthelper .switch span{
	display: inline-block;
	width: 7px;
	height: 3px;
	background-color: #b8b8b8;
	margin-left: 7px;
}
.mod-pcfstatic-starthelper .type2 .switch span{
	width: 8px;
	height: 8px;
	background: url(../img/quick-normal-c.png?__sprite) no-repeat;
}
.mod-pcfstatic-starthelper .switch  .switch-item-current{
	background-color: #0087ff;
}
.mod-pcfstatic-starthelper .type2 .switch .switch-item-current{
	background: url(../img/quick-cur-c.png?__sprite) no-repeat;
}
.mod-pcfstatic-starthelper .nav-item{
	float: right;
}
.mod-pcfstatic-starthelper .nav-item-list{
	position: relative;
}
.mod-pcfstatic-starthelper .block{
	position: absolute;
	display: none;
	*+display: inline-block;
	z-index: 1;
	height: 100%;
	width: 32px;
	top: 0;
	background-color: #eff4f7;
}
.mod-pcfstatic-starthelper .bl2{
	display: none !important;
}
.mod-pcfstatic-starthelper .block-left{
	left: -1px;
}
.mod-pcfstatic-starthelper .block-right{
	right: 0;
}

