/* weather */
/*@require common:widget/ui/prompt/prompt.css*/

#weatherView img{ width: 32px;}
.userbar-weather {
    color: #fff;
    font-size: 11px;
    height: 45px;
    padding-top: 5px;
    margin-right: 20px;
    white-space: nowrap;
    position: relative;
    *z-index: 9;


    display: block !important;
}
.userbar-weather .fl{ 
    height: 50px;
    overflow: hidden;
    margin-left: 10px;
    width:228px;
}

.userbar-weather_console{ display: none;}
.userbar-weather ul {
    margin-top: 5px;
}
.userbar-weather_console, .userbar-weather img, .userbar-weather .weather-info {
    float: left;
}
.userbar-weather li {
    display: block;
    float: left;
    margin-right: 45px;
    _margin-right: 35px;
}
.userbar-weather li.weather_last {
    margin-right: 0;
}
.userbar-weather img {
    margin-right: 10px;
}
.userbar-weather span {
    font-weight: bold;
}
.userbar-weather p {
    margin: 2px 0;
}
.weather_last{
    visibility: hidden;
}
.text{
    visibility: hidden;
}
.dot_img{
    background:url(../img/i-weather-hum.png?__sprite) no-repeat;
    width:9px;
    height:16px;
    display:inline-block;
    margin-left: 20px;
    margin-bottom:-5px;
    left: 10px; 
    margin-right:5px;
}

/*--------more---------*/




/* weather */
/*@require common:widget/ui/prompt/prompt.css*/
.userbar-weather_console {
    height: 38px;
    margin-right: 20px;
    _margin-right: 11px;
    _width: 200px;
	display: inline-block;
}
.userbar-weather_console a {
    color: #fff;
}
.userbar-weather_city {
    padding-right: 7px;
    text-align: right;
    position: relative;
    line-height: 15px;
    z-index: 11;
}
.userbar-weather_city-cur {
    height: 15px;
}
.userbar-weather_city-cur a {
    padding-right: 10px;
    background: url(/widget/img/bg.png) right 6px no-repeat;
}
.userbar-weather_city-click a {
    background-position: right -442px;
}
.city-select {
    right:-8px;
    top:16px;
    z-index:11;
    text-align:left;
}
.city-select .box-prompt-inner {
    *width: 100%;
    _width: auto;
}
.city-select p {
    margin: 0;
    font-size:12px;
}
.city-select label {
    display: block;
    margin-bottom: 5px;
}
.city-select select {
    width: 160px;
    margin-bottom: 7px;
    border: 1px solid #d7d7d9;
}
.city-select .btn-bar {
    width: 160px;
    text-align:center;
}
.weather-days {
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 0 7px;
    margin-top: 5px;
    border: 1px solid #009e69;
    border-bottom: 0 none;  
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    _float: right;
}
.weather-days_click {
    border: 1px solid #00ad73;
    border-bottom: 0 none;
}
.weather-days p {
    display: block;
    line-height: 25px;
    background: url(/widget/img/bg.png) 50% -12px no-repeat;
    margin: 0;
}
.weather-days_click p {
    background-position: 50% -35px;
}
.weather-days:hover {
    background: #009e69;
    -moz-border-top-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -o-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -o-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}
.weather-more_show .weather-more {
    display: block;
}
.weather-more li {
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
    color: #fff;
}
.weather-more li a{
    display: block;
    width: 100%;
    height: 100%;
}
.weather-more li img {
    padding: 10px 0;
}
.weather-more span {
    padding: 0 5px;
}
.weather-more_odd {
    background: #117a57;
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1) inset;
    -o-box-shadow: 0 0 4px rgba(0,0,0,0.1) inset;
    box-shadow: 0 0 4px rgba(0,0,0,0.1) inset;
}
.weather-more_today p {
    font-weight: bold;
}
.weather_last{
    width:40px
}
.humidity{
    left:5px;
}
.dot_img_head{
    background:url(../img/i-weather-more-hum.png?__sprite) no-repeat;
    width:9px;
    height:16px;
    display:inline-block;
    margin-left: 10px;
    margin-bottom:-5px;
    left: 10px;
}
.userbar-weather_tip {
    position: absolute;
    top: 49px;
    right: -28px;
    padding: 2px 32px 2px 12px;
    width: 190px;
    border: 1px solid #FFA97E;
    color: #454545;
    font-size: 12px;
    background-color: #FFF8F4;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    z-index: 10;
}
.userbar-weather_tip .arrow, .userbar-weather_tip .arrow_bg {
position: absolute;
height: 0;
width: 0;
border: 8px dashed transparent;
}
.userbar-weather_tip .arrow {
border-bottom-color: #FFB793;
border-bottom-style: solid;
border-width: 9px;
top: -18px;
left: 19px;
}
.userbar-weather_tip .arrow_bg {
border-bottom-color: #fcfefd;
border-bottom-style: solid;
margin: -7px -8px 0 -8px;
_margin-top: -22px;
}
.userbar-weather_tip .tips-close {
display: block;
width: 12px;
height: 12px;
position: absolute;
top: 5px;
right: 5px;
background: url(../img/del_gray.png?__sprite) no-repeat;
cursor: pointer;
}
.userbar-weather_tip .tips-close_hover {
background: url(../img/del_ative.png?__sprite) no-repeat;
}
.userbar-weather_tip p {
    text-indent: 16px;
    white-space: normal;
    line-height: 1.5;
}
.userbar-weather_tip .tips-light {
    width: 12px;
    height: 16px;
    display: inline-block;
    background: url(../img/light.png?__sprite) no-repeat;
    position: absolute;
    left: 12px;
    top: 4px;
}