.mod-football{
	border-top: 1px solid #fff;
	font-size:12px;
	position: relative;
}
.mod-football .mod-side{
	min-height: 240px;
	padding:8px 13px;
}
.football-games{
	color: #686768;
	text-align: center;
}
.football-tab{
	font-size:0;
	padding: 5px 0 13px;
}
.football-tab li{
	display:inline-block;
	*display:inline;
	*zoom: 1;
	width: 33%;
	font-size: 12px;
	cursor:pointer;
}
.football-tab .cur{
	font-weight: 600;
	color: #00B075;
	cursor: default;
}
.football-arrow-up,.football-arrow-down{
	display: inline-block;
	width: 47px;
	height: 14px;
	background: #a1e6cf;
	/*text-align: center;*/
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.football-arrow-up:hover,
.football-arrow-down:hover{
	background: #64d2ad;
}
.football-arrow-disable,
.football-arrow-disable:hover{
	background: #e3e3e3;
	cursor:default;
}
.i-pointer{
	width: 11px;
	height: 6px;
	display: inline-block;
}
.football-arrow-up .i-pointer,
.football-arrow-down .i-pointer{
	margin-bottom: 2px;
	*margin-bottom: 0;
	*margin-top:4px;
}
.football-arrow-up .i-pointer{
	background: url(../../astro/img/i-arrow-top-white.png?__sprite) no-repeat;
}
.football-arrow-down .i-pointer{
	background: url(../../astro/img/i-arrow-bottom-white.png?__sprite) no-repeat;
}
.football-game-list-wrapper{
	height: 177px;
	overflow: hidden;
	display: none;
	position: relative;
}
.football-game-list{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 177px;
}
.football-game-list .football-game-head span{
	width:33%;
	display: inline-block;
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.football-game-body span{
	float: right;
	display: inline-block;
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.football-game-list .football-game-head .football-game-type{
	color: #fff;
	width: 34%;
	*width: 33.5%;
	font-weight: 600;
}
.football-game-inprogress,
.football-game-notstarted,
.football-game-finished{
	border: 1px solid #e2e5e6;
	margin-bottom: 10px;
	background: #fff;
	height: 47px;
}
.football-game-inprogress .football-game-type{
	background-color: #509cff;
	background-image: -moz-linear-gradient(top , #509cff, #256eff 100.0%);
	background-image: -webkit-linear-gradient(top , #509cff, #256eff 100.0%);
	background-image: -o-linear-gradient(top , #509cff, #256eff 100.0%);
	background-image: -ms-linear-gradient(top , #509cff, #256eff 100.0%);
	background-image: linear-gradient(top , #509cff, #256eff 100.0%);
}
.football-game-notstarted .football-game-type{
	background-color: #509cff;
	background-image: -moz-linear-gradient(top , #509cff, #256eff 100.0%);
	background-image: -webkit-linear-gradient(top , #509cff, #256eff 100.0%);
	background-image: -o-linear-gradient(top , #509cff, #256eff 100.0%);
	background-image: -ms-linear-gradient(top , #509cff, #256eff 100.0%);
	background-image: linear-gradient(top , #509cff, #256eff 100.0%);
}
.football-game-finished .football-game-type{
	background-color: #509cff;
	background-image: -moz-linear-gradient(top , #509cff, #256eff 100.0%);
	background-image: -webkit-linear-gradient(top , #509cff, #256eff 100.0%);
	background-image: -o-linear-gradient(top , #509cff, #256eff 100.0%);
	background-image: -ms-linear-gradient(top , #509cff, #256eff 100.0%);
	background-image: linear-gradient(top , #509cff, #256eff 100.0%);
}
.football-game-status {
	color: #a0a0a0;
}
.football-game-score{
	font-weight: 600;
	color: #000;
	float: right;
	/*width: 64px;*/
	width: 33%;
}
.foot-team-home {
    width: 47px;
    float: right;
	color: #4087fb;
	text-align: right;
}
.foot-team-home-non {
	width: 33%;
    float: right;
	color: #4087fb;
	text-align: center;
}
.football-game-body img{
	margin: 2px 2px 0 2px;
	float: right;
}
.foot-team-away {
    width: 47px;
    float: right;
	color: #4087fb;
	text-align: left;
}
.foot-team-away-non {
    width: 33%;
    float: right;
	color: #4087fb;
	text-align: center;
}
.football-game-head{
	border-bottom: 1px solid #e2e5e6;
	background-color:#fbfbfb;
	background-image: -moz-linear-gradient(top , #fff, #f1f0f0 100.0%);
	background-image: -webkit-linear-gradient(top , #fff, #f1f0f0 100.0%);
	background-image: -o-linear-gradient(top , #fff, #f1f0f0 100.0%);
	background-image: -ms-linear-gradient(top , #fff, #f1f0f0 100.0%);
	background-image: linear-gradient(top , #fff, #f1f0f0 100.0%);
}
.football-game-body{
	height: 23px;
	padding-right:4px;
}
.football-nodata{
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
}
#footballType{
	display: none;
}
.football-type{
	height: 26px;
	*z-index:1;
}
.football-type label{
	line-height: 25px;
	vertical-align: middle;
}
#footballGameLists{
	height: 177px;
}


/*显示模块*/
.side-mod-preload-football{

}
.side-mod-preload-football > *{
    visibility: visible!important;
}
