html{
	background: #fff;
}
.box-lv2 {
    border: 1px solid #e6e6e6;
    background-color: #fff;
}
.box-lv2 dt {
    height: 44px;
    background-color: #f7f6f6;
    color: #4e4e4e;
    font-size: 16px;
    line-height: 44px;
    border-bottom: 1px solid #e6e6e6;
    text-indent: 16px;
}
.box-lv2 dd {
    padding: 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    overflow: hidden;
    zoom: 1;
}
.box-lv2 a {
    display: inline-block;
    color: #595959;
    height: 28px;
    line-height: 28px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.box-lv2 a:hover {
    background-color: #e8eaeb;
}
/* 快捷方式安装 */
.box-how .item-title {
    display: block;
    line-height: 28px;
    padding: 4px 5px 4px 15px;
    border: 1px solid #e3e5e6;
    color: #353636;
    font-size: 16px;
    background: #f7f6f6;
}
/* 展开状态下的左侧图标 加号 */
.box-how .b-icon-l {
    background: url(../img/how-plus.png?__sprite) no-repeat;
    display: inline-block;
    float: left;
    height: 28px;
    width: 20px;
    margin-right: 5px;
}
/* 收起状态下的左侧图标 减号*/
.box-how .extend + .item-content{
	display: block;
}
.box-how .extend .b-icon-l {
    background: url(../img/how-minus.png?__sprite) no-repeat;
}
/* 展开状态下的右侧图标 向下箭头*/
.box-how .b-icon-r {
    background: url(../img/how-row-bottom.png?__sprite) no-repeat;
    display: inline-block;
    float: right;
    height: 28px;
    width: 28px
}
/* 收起状态下的右侧图标 向上箭头*/
.box-how .extend .b-icon-r {
    background: url(../img/how-row-top.png?__sprite) no-repeat;
}
/* 中间的浏览器图标 */
.box-how .b-icon-bro {
    display: inline-block;
    float: left;
    height: 28px;
    width: 20px;
    margin-right: 3px;
}
.box-how .b-icon-msie {
    background: url(../img/how-ie.png?__sprite) no-repeat
}
.box-how .b-icon-chrome {
    background: url(../img/how-chrome.png?__sprite) no-repeat
}
.box-how .b-icon-firefox {
    background: url(../img/how-firefox.png?__sprite) no-repeat
}
.box-how .b-icon-safari {
    background: url(../img/how-safari.png?__sprite) no-repeat
}
.box-how .b-icon-opera {
    background: url(../img/how-oprea.png?__sprite) no-repeat;
}


.box-how .item-content {
    padding: 20px 15px;
    color: #717171;
    line-height: 25px;
    border: 1px solid #e3e5e6;
    border-top: 0;
    display: none;
}
.box-how .item-content li {
    padding-bottom: 10px
}
.box-how .item-content .fl {
    width: 22px;
}
.box-how .mod {
    overflow: hidden;
    *display: inline;
    padding-right: 8px;
}
.box-how .item-content li {
    display: block;
}
.box-how .item-content a {
    font-weight: bold;
    color: #2850a3
}
.box-how .item-content img {
    zoom: 1;
    margin-right: 9px;
    float: left;
    width: 48%;
}
.box-how .item-content-box {
    margin-top: 5px;
    overflow: hidden;
    zoom: 1;
}
.box-how h1 {
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    color: #2489ee;
    line-height: 48px;
    font-weight: bold;
    font-size: 20px;
}
.box-how .title_icon {
    background: url(../img/how-set-homepage.png?__sprite) no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 15px;
}
/* 快捷方式卸载 */
.box-uninstall .title_icon {
    background: url(../img/how-remove-homepage.png?__sprite) no-repeat;
}
/* 关于 */
.box-about dd{
	padding: 20px 0 30px;
	margin: auto 15px;
	color: #666;
	border-bottom: 1px dotted #E6E6E6;
}
.box-about .title {
	font-size: 16px;
    padding-bottom: 10px;
    color: #353636;
}
.box-about .desc {
    line-height: 15px;
    font-size: 13px;
    color: #8F8F8F;
}
/* 图片友情链接 */
dd.fl-imgLink {
    padding-bottom: 15px;
}
.box-lv2 .link-row{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.fl-imgLink span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 168px;
    padding-right: 20px;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    letter-spacing: normal;
    word-spacing: normal
}
.fl-imgLink a {
    display: block;
    color: #454545;
    width: 100%;
    text-overflow: ellipsis;
    text-align: center;
    padding-top: 20px;
    line-height: 28px;
    float: left;
    height: auto;
    padding-left: 0;
    margin-right: 0;
}
.fl-imgLink img {
    width: 116px;
    height: 46px;
    display: block;
    margin: 0 25px;
    border: 1px solid #e6e6e6;
}
/* 文字友情链接 */
.fl-textLink a{
	width: 23%;
	margin-right: 2%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 5px;
}
/* 如何加Hao123外链 */
.box-howToLink .intro {
    padding: 0 0 10px;
    line-height: 17px;
    color: #595959;
}
.box-howToLink .intro .item {
    margin-bottom: 10px;
}
.box-howToLink .intro .item_r {
    overflow: hidden;
    zoom: 1;
    display: block;
    padding-left: 5px;
}
.box-howToLink .intro .title {
    color: #717171;
    margin-bottom: 20px;
    line-height: 1.5;
}
.box-howToLink .intro .linkInfo {
    margin-top: 20px;
}
.box-howToLink .intro .linkInfo p {
    margin-bottom: 10px;
}
.box-howToLink .intro .linkInfo .t-hd {
    display: inline-block;
    width: 190px;
    font-weight: 600;
    color: #353636;
}
.box-howToLink .intro .linkInfo .t-show {
    color: #1c81e5;
    padding-right: 10px;
    padding-left: 5px;
}
.box-howToLink .intro .linkInfo .r2 .t-show {
    height: 48px;
    display: block;
    padding: 5px 0 0;
}
.box-howToLink .intro .linkInfo .t-show img {
    width: 116px;
    height: 46px;
    border: 1px solid #f2f2f2;
    vertical-align: top;
}
.box-howToLink .intro .linkInfo textarea {
    border: solid 1px #dfdfdf;
    vertical-align: top;
    padding: 7px;
}
/* private */
.links {
    margin-top: 10px;
    background: #fff;
    border: solid 1px #c6d6e8;
    margin-bottom: 0;
    padding: 0;
    line-height: 31px;
}
.links_inner {
    height: auto;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.links .t {
    letter-spacing: normal;
    font-weight: bold;
    line-height: 30px;
    color: #5C645F;
    background: #F4F8FC url(../img/bg_x.png) repeat-x 0 0;
    padding-left: 20px;
    zoom: 1;
    /*fix ie6 padding*/
    overflow: hidden;
}
.imgLink span {
    display: inline-block;
    width: 150px;
    height: 100px;
    border: solid 1px #d9d9d9;
    overflow: hidden;
    margin: 10px 4px 0 0;
}
.imgLink span a {
    float: left;
}
.imgLink span a img {
    width: 148px;
    height: 98px;
    margin: 1px;
}
.textLink span {
    display: inline-block;
    width: 155px;
    height: 30px;
    overflow: hidden;
}
/* 声明 */
.box-disclaimer dd,
.box-textblock {
    padding: 10px 10px 13px;
    color: #717171;
    line-height: 20px;
}
