.mod-rate{
	padding-top: 15px;
}
.mod-rate .mod-side{
	margin-bottom: 10px;
	padding: 0 19px 0 10px;
	height: 250px;
	overflow: hidden;
	position:relative;
	font-size: 12px;
}
/* .mod-rate select{
	font-size: 12px;
} */
.mod-rate label{
	text-align: right;
	width: 41px;
	padding-right: 5px;
	display: inline-block;
	font-size: 12px;
}
.rate-result{
	text-align: center;
	padding: 10px 0 15px;
}
.rate-table{
	width: 100%;
	border: 1px solid #e2e5e6;
	background: #fff;
	font-size: 12px;
	margin-bottom: 5px;
	table-layout: fixed;
}
.rate-table-title{
	height: 24px;
	line-height: 24px;
	border-bottom: 1px solid #e2e5e6;
	font-weight: 600;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
}
.rate-icon{
	margin: 0 3px -4px 5px;
	display: inline-block;
	width: 24px;
	height: 16px;
}
.rate-icon-usd{
	background: url(../img/usd.png?__sprite) no-repeat;
}
.rate-icon-kwd{
	background: url(../img/kwd.png?__sprite) no-repeat;
}
.rate-icon-eur{
	background: url(../img/eur.png?__sprite) no-repeat;
}
.rate-icon-gbp{
	background: url(../img/gbp.png?__sprite) no-repeat;
}
.rate-icon-sar{
	background: url(../img/sar.png?__sprite) no-repeat;
}
.rate-table td{
	height: 23px;
	line-height: 23px;
	border-bottom: 1px solid #e2e5e6;
	text-align: center;
	width: 50%;
}
.rate-from2to,
.rate-to2from{
	color: #fff;
}
.rate-from2to{
	background: #f8999a;
}
.rate-to2from{
	background: #89d6bc;
}
.rate-f0{
	font-size: 0;
}
.rate-ovh{
	overflow: hidden;
}
.rate-input{
	margin-bottom: 10px;
	font-size: 0;
	position: relative;
}

.rate-amount-wrapper{
	display: inline-block;
	border: 1px solid #d9d9d9;
	padding: 5px 5px;
	background: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*width: 148px;*/
}
.rate-input-s{
	padding-right: 25px;
	width: 160px;
}
.rate-amount{
	border: 0;
	width: 147px;
	font-size: 12px;
	ime-mode: disabled;
	padding-right: 1px;
}
.rate-input-s .rate-amount{
	width: 127px;
}
.rate-placeholder{
	font-size: 12px;
	position: absolute;
	right: 5px;
	background: #fff;
	top: 7px;
	top: 6px\9;
	line-height: 12px;
	color: #ccc;
}
.rate-amount{
	text-align: right;
}
.rate-amount::-ms-clear{
    display: none;
}
.mod-rate .rate-input-error{
	border: 1px solid #f00;
}
