@charset "utf-8";
* {
	margin: 0;
	padding: 0
}
fieldset, img, iframe {
	border: 0
}
address, caption, cite, code, dfn, em, i, th, var {
	font-style: normal;
	font-weight: 400
}
ul, li, ol {
	list-style: none
}
caption, th {
	text-align: left
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400
}
html {
	font-size: 100%
}
body {
	vertical-align: baseline;
	background-color: transparent;
	-webkit-backface-visibility: hidden
}
a:focus, a:hover, a:active, input:focus, textarea:focus {
	outline: 0
}
img {
	vertical-align: middle
}
table {
	font-size: inherit;
	font: 100%;
	border-collapse: collapse;
	border-spacing: 0
}
td {
	vertical-align: top
}
th {
	text-align: inherit
}
iframe {
	display: block
}
textarea {
	resize: none;
	overflow: auto;
	vertical-align: top
}
button, input, select, textarea {
	font-size: 100%;
	vertical-align: baseline
}
button, input {
	*overflow: visible;
	line-height: normal;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
button {
	cursor: pointer
}
button[disabled], input[disabled] {
	cursor: default
}
abbr, acronym {
	border: 0;
	font-variant: normal
}
strong, .strong {
	font-weight: 700
}
img {
	-ms-interpolation-mode: bicubic
}
button, input, select, textarea {
	*vertical-align: middle
}
button, input {
	*overflow: visible
}
.l-fl {
	float: left
}
.l-fr {
	float: right
}
.l-g {
	width: 100%
}
.l-g:before, .l-g:after {
	content: '';
	display: table
}
.l-g:after {
	clear: both
}
[class*=l-g]:first-child {
	margin-left: 0
}
.l-g {
	zoom: 1;
}
.unselect, i, .i, .icon {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none
}
b, .b, .border {
	display: block;
	font: 0/0 a
}
.hide {
	display: none !important;
	visibility: hidden
}
.cf:before, .cf:after {
	content: '';
	display: table
}
.cf:after {
	clear: both
}
.fl {
	float: left
}
.fr {
	float: right
}
.ibw {
	word-spacing: -.35em;
	letter-spacing: -.32em
}
.ib, .ibw .ib, s, .s, .space, .btn {
	display: inline-block
}
.ibw .ib {
	word-spacing: normal;
	letter-spacing: normal;
	vertical-align: top
}
.unselect, i, .i, .icon {
	-khtml-user-select: none
}
.cf {
	zoom: 1
}
.fl, .fr {
	display: inline
}
.mod {
	*overflow: visible;
	zoom: 1
}
.ib, .ibw .ib, s, .s, .space, .btn {
	*display: inline;
	zoom: 1
}
body {
	font: 12px/1.231 arial, Tahoma, helvetica, clean, sans-serif;
	position: relative
}
a {
	text-decoration: none;
	color: #333
}
a:hover {
	text-decoration: none
}



/*------------------------suggest------------------------*/
/*提示层外框*/
.sug-search {
	position:absolute;
	top: 30px;
	left: 0px;
	border:1px solid #e3e4e6;
	border-top: 0 none;
	background:#fff;
	width: 589px;
	color:#454545;
	z-index:999;
	white-space:nowrap;
	overflow:hidden;
}
/*ie6 shim*/
.sug-shim {
	position:absolute;
	top:-1px;
	left:-2px;
	z-index:-1;
	filter:alpha(opacity="0");
	width:430px;
	height:250px;
}
/*列表外框*/
.sug-search ol {
	font:bold 12px/23px Tahoma,arial,helvetica,clean,sans-serif;
	cursor:default;
}
/*列表项*/
.sug-search li {
	padding: 3px 10px;
	cursor: pointer;
}
.sug-search li b {
	font: inherit;
	display: inline;
}
/*选中样式*/
.sug-search .sug-select {
	background: #f5f7f7;
}
/*头部*/
.sug-search .top {
	font-weight:normal;
	color:#999;
	height:21px;
	line-height:21px;
	background:#eee;
	padding:0 2px;
}
/*底部*/
.sug-search .bot {
	position:relative;
	height:19px;
	line-height:19px;
	font-weight:normal;
	border-top:1px solid #666;
}
/*高亮查询词*/
.sug-search .sug-query {
	font-weight:normal;
}
.sug-search font {
	font-weight:normal !important;
	color:#333 !important;
}





.l-wrap {
	min-width: 960px;
}
.l-content {
	overflow: hidden;
	width: 100%;
	min-width: 960px;
}
.l-main {
	float: left;
	width: 540px;
	margin-left: 130px;
}
.l-side {
	float: left;
	min-width: 250px;
	width: 26%;
	margin-left: 34px;
	display: none;
}
#mainResults {
	margin-top: 14px;
	margin-bottom: 14px;
}
.l-content a:hover, .l-content a:active {
	text-decoration: underline !important;
}

/* search box */
.se-hd {
	position: relative;
	padding: 15px;
	background-color: #f1f1f1;
}
.se-lg {
	position: absolute;
	left: 0;
	top: 0;
}
.se-lg a {
	display: block;
	margin: 2px 20px 0 0;
}
.se-lg img {
	width: 120px;
}
.se-search {
	margin-left: 112px;
}
.se-input {
	font-size: 16px;
	padding: 2px 12px 4px 8px;
	height: 22px;
	width: 569px;
	border: 0;
	float: left;
	border: 1px solid #CCCCCC;
	border-right-width: 0;
}
.se-input:hover {
	border-color: #A8A8A8;
}
.se-input:focus {
	border-color: #4285F4;
}
.se-submit {
	border-radius: 2px;
	-webkit-user-select: none;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 30px;
	margin: 0;
	outline: none;
	padding: 0 0;
	width: 60px;
	box-shadow: none;
	box-sizing: border-box;
	background: #4285f4 url(../img/i-search.png) no-repeat center center;
	border: 0;
	float: left;
}
.se-submit:hover {
	background-color: #4081EC;
}
.se-submit:active {
	-webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
	background-color: #3c78dc;
}
.se-list {
	padding: 2px 8px 0 120px;
	border-bottom: 1px solid #ebebeb;
	height: 57px;
}
.se-list li {
	float: left;
}
.se-list a {
	display: block;
	margin: 0 8px;
	padding: 0 8px;
	line-height: 54px;
	color: #777;
	font-size: 14px;
	white-space: nowrap;
}
.se-list a:hover {
	color: #222;
}
.se-list a:active {
	color: #dd4b39;
}
.se-list .cur {
	border-bottom: 3px solid #dd4b39;
	color: #dd4b39;
	font-weight: bold;
}
.se-num {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 132px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 8px;
	color: #808080;
	line-height: 43px;
	font-size: 14px;
	display: none;
}

#tipResults,#tipQuery {
	line-height: 24px;
	font-size: 16px;
	display: none;
}

#PageNavigation {
	display: none;
}


.r-pn {
	white-space: nowrap;
	padding: 15px 0 25px;
}
.r-pn li {
	float: left;
	line-height: 30px;
}
.r-pn a {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 .5em;
	margin: 2px;
	border: 1px solid #ddd;
	zoom: 1;
	background: #fff;
	font-size: 123%;
}
.r-pn a:hover {
	background: #039;
	border-color: #00d;
	color: #fff;
}
a.r-pn_cur, a.r-pn_cur:hover {
	border-color: #ddd;
	background: #eee;
	color: #333;
	text-decoration: none;
	cursor: default;
	font-weight: bold;
}








.full-result .se-num, 
.full-result #PageNavigation,
.ept-query #tipQuery,
.ept-result #tipResults {
	display: block;
}



/*for image category*/
.l-images .l-main {
	width: 780px
}
.l-images #spellResults {
	width: 792px;
	position: relative;
	z-index: 2;
	overflow: visible
}
.l-images #topResults {
	width: 580px
}
.l-images #mainResults {
	width: 792px;
	margin: 0 0 8px 0;
	padding: 0;
	position: relative;
	z-index: 99;
	overflow: visible
}
.l-images #insp_result_main_0 {
	padding: 0 0 0 16px
}
.l-images .imageResult {
	border: 1px solid #ccc;
	float: left;
	height: 160px;
	margin: 5px 5px 0 0;
	width: 170px;
	padding: 0 4px 4px 4px
}
.l-images .imageResult .resultTitle {
	display: none
}
.l-images .imageResult .resultThumbnailInfoWrapper {
	float: left !important;
	padding: 7px 0 0 0 !important
}
.l-images .imageResult .resultDisplayUrl {
	text-decoration: underline !important;
	line-height: 1.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 30px;
	padding: 10px 0 0 0;
	width: 155px;
	display: block;
	white-space: nowrap
}
.l-images .imageResult img {
	width: 150px;
	height: 100px;
	padding: 5px
}
.l-images .innerImageResult {
	bottom: 0;
	position: absolute;
	word-wrap: break-word
}
.l-images .innerImageResult .resultDisplayUrl a {
	color: #58a33f
}
.l-images .innerImageResult a.resultThumbnailLink {
	text-decoration: none
}
.l-images .innerImageResult .resultThumbnail {
	border: 2px solid #00e
}
.l-images .innerImageResult .resultAttribution {
	display: block
}
.l-images .resultThumbnailPane {
	height: 90px;
	width: 120px;
}

/*video category*/
.l-video .videoResult {
	overflow: hidden;
	padding: 4px 4px 4px 2px
}
.l-video .videoResult .resultTitle {
	font-size: 1.3em;
	word-wrap: break-word
}
.l-video .videoResult .resultSource {
	display: none
}
.l-video .videoResult .resultDisplayDate {
	color: #093 !important;
	font-size: 1.1em !important;
	margin-right: 3px
}
.l-video .videoResult .resultThumbnail {
	border: 0 solid #fff;
	height: 90px;
	width: 120px
}
.l-video .videoResult a.resultThumbnailLink {
	float: left;
	text-decoration: none;
	height: 90px;
	width: 130px
}
.l-video .videoResult img {
	width: 120px !important
}
.l-video .videoResult a {
	text-decoration: underline !important
}
.l-video .resultThumbnailPane {
	float: left;
	height: 90px;
	width: 120px
}
.l-video .resultVideoThumbnail {
	padding: 5px 0
}

.se-lg-ya {
	position: absolute;
	top: 0;
	left: 784px;
}
.se-lg-ya img {
	margin: 15px 20px 0 15px;
}

.ad-title {
	font-size: 14px;
	margin: 12px 4px 4px;
}
#topResults,
#bottomResults {
	visibility: hidden;
}