.login-popup-content {
	width: 260px;
	margin: 0px auto;
}
.login-popup-content .popup-login-btn{
	display: block;
	width: 230px;
	margin: 25px auto 0px;
	background: url(../img/popup-login.png?__sprite) repeat-x;
	border-top: 1px solid #6b90dc;
	border-left: 1px solid #476bba;
	border-bottom: 1px solid #1d3e91;
	border-right: 1px solid #476bba;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 1px 3px #555;
    height: 35px;
}
.login-popup-content .i-popup-fb {
	display: inline-block;
	float: right;
	width: 29px;
	height: 35px;
	border-left: 1px solid #5476b9;
	background: url(../img/i-popup-fb.png?__sprite) no-repeat;
}
.login-popup-content .popup-login-text {
	display: inline-block;
	float: right;
	height: 35px;
	line-height: 35px;
	border-right: 1px solid #6086cf;
	padding: 0 20px;
	font-size: 14px;
	color: #fff;
}
.login-popup-content .popup-login-desc{
	margin-top: 20px;
	color: #999999;
}
.login-popup-content .popup-login-btn:hover {
	background: url(../img/popup-login-hover.png?__sprite) repeat-x;
	border-top: 1px solid #f67a35;
	border-left: 1px solid #df551e;
	border-bottom: 1px solid #c72f07;
	border-right: 1px solid #ee671c;
}
.login-popup-content .popup-login-btn:hover .i-popup-fb {
	border-left: 1px solid #cf6d24;
	background: url(../img/i-popup-fb-hover.png?__sprite) no-repeat;
}
.login-popup-content .popup-login-btn:hover .popup-login-text {
	border-right: 1px solid #d68a57;
}
.login-popup-content .popup-login-btn:active {
	background: url(../img/popup-login-click.png?__sprite) repeat-x;
	border-top: 1px solid #f67a35;
	border-left: 1px solid #df551e;
	border-bottom: 1px solid #c72f07;
	border-right: 1px solid #ee671c;
}
.login-popup-content .popup-login-btn:active .i-popup-fb {
	border-left: 1px solid #cf762c;
	background: url(../img/i-popup-fb-click.png?__sprite) no-repeat;
}
.login-popup-content .popup-login-btn:active .popup-login-text {
	border-right: 1px solid #d6915d;
}

/*popup modify*/
.popup-title-wrap .popup-title{float: right;margin-right: 18px;}
.popup-title-wrap i.i-popup-close{float: left;margin-left: 10px;}