.mod-pcf-evedn .politic .big-wrap {
    position: relative;
    float: left;
    width: 204px;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.mod-pcf-evedn .politic .big:hover{
    border-color: #61a7ed;
}
.mod-pcf-evedn .politic .big:hover .title-mask{
    background-color: #3e87d1;
    opacity: 1;
    filter: alpha(opacity=100);
}
.mod-pcf-evedn .politic .big, .mod-pcf-evedn .politic .big-img {
    position: relative;
    display: block;
    width: 202px;
    height: 135px;
    margin-bottom: 8px;
}

.mod-pcf-evedn .politic .title-mask {
    height: 25px;
}


.mod-pcf-evedn .politic .big-title {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 25px;
    line-height: 12px;
    padding-left: 2px;
    overflow: hidden;
    color: #ffffff;
    font-size: 12px;
    z-index: 2;
}

.mod-pcf-evedn .politic .text-wrap {
    position: relative;
    display: inline-block;
    float: left;
    width: 240px;
    height: 260px;
    margin-top: 10px;
    overflow: hidden;
    margin-left: 8px;
}

.mod-pcf-evedn .politic .text {
    position: relative;
    display: block;
    height: 26px;
    line-height: 26px;
    width: 237px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    padding-left: 11px;
    color: #666666;
}

.mod-pcf-evedn .politic .text:hover {
    text-decoration: underline;
    color: #1c81e5;
}

.mod-pcf-evedn .politic .text:first-child {
    font-size: 14px;
    color: #3e87d1 !important;
}
