.feedback-con{
	border:1px solid #e6e6e6;
	background-color:#f7f6f6;
}
.feed-com-title{
	display: block;
}
.feedback-title_con{
	border-bottom: 1px solid #e6e6e6;
	color: #4e4e4e;
	line-height: 28px;
	padding: 15px;
}
.feedback-title a{
	color: #1c81e5;
}
.feedback-title span{
	float:right;
	width: 960px;
}
.feedback-title .feedback-uninstall{
	float: left;
}
.feedback-title .feedback-uninstall:hover{
	text-decoration:underline;
}
.feedback-bd{
	padding: 20px 20px 30px;
}
.feedback-bd .feedback-cat,
.feedback-bd .feedback-emotion {
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px dotted #e6e6e6;
}
.feedback-bd .feedback-emotion {
    padding-top: 0;
}
.feedback-bd .feed-com-title{
	display: block;
	font-size: 16px;
	color: #353636;
}
.feedback-bd .w500{
	width: 500px;
}
.feedback-bd .ui-form_radio{
	margin-top: 20px;
	width: 300px;
	display: inline-block;
}
.feedback-bd .feed-count{
	line-height: 19px;
	display: block;
	font-weight: normal;
	float:left;
	color:#999;
	font-size: 12px;
}
.feedback-content_title{
	 padding: 20px 0 10px; 
}
.feedback-content_title label{
	float: right;
}
.feedback-content{
	position: relative;
}
.feedback-contact_content{
	padding-bottom: 20px;
	position: relative;
}
.feedback-contact_way{position: absolute;color:#d7d8d9;font-size:12px;top:7px;right:8px;*top:10px;}
.feedback-content-text{
	border:1px solid #d9d9d9;
	border-top-color: #bfbfbf;
	height: 145px;
	width: 500px;
}
.feedback-bd .feedback-way-tip {
    color: #f00;
    margin-right: 5px;
}
#feedback-error-tip {
    color: #d7d8d9;
    font-size: 12px;
    top: 2px;
    right: 2px;
    position: absolute;
}
.feedback-inputtext{border:1px solid #d9d9d9;border-top-color:#bfbfbf;line-height: 27px;height:27px;width:308px;padding-left: 8px}
.disclaimer-con{border:1px solid #e3e5e6;background-color:#f5f7f7;line-height: 27px;padding: 9px;padding-top: 0;}
.disclaimer-con dt{font-size: 14px;font-family:"Microsoft YaHei";font-weight:bolder;color: #666;}
.disclaimer-con dd{font-size: 12px;color: #666;}
.commenceName{float:left;margin-right:260px;color:#FF0000;}
/*.feedback-cat input{position: relative;top: 1px;margin-left: 10px;color:#666}*/
.safeDes{display: inline-block;padding-top: 10px;color: #666;}