.dialog-mask{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
}
.g-dialog .close{
	cursor: pointer;
	font-family: tahoma;
	font-size: 17px;
	float: right;
}
.freeze-scroll{
	overflow: hidden;
}
