.imageSort{
	width: 100%;
	height: 95px;
	position: relative;
	margin-right: 15px;
	padding-top: 15px;
}
.bottomImagePre,.bottomImageNext{
	position: absolute;
	display: inline-block;
	height: 33px;
	width: 15px;
	top:40px;
	cursor: pointer;
	z-index: 1;
}
.bottomImagePre{
	left: 37px;
	background: url(../img/i-image-pre.png?__sprite) no-repeat;
}
.bottomImageNext{
	right: 0;
	background: url(../img/i-image-next.png?__sprite) no-repeat;
}
.imageContainer{
	position: relative;
	width: 876px;
	margin: 0 18px;
	height: 81px;
	overflow: hidden;
}
.imageContainer .ul-list{
	height: 100%;
	float: left;
}
.ul-list .ul-list-li{
	height: 100%;
	width: 876px;
	margin-right: 50px;
	float: left;
}
.imageContainer .bottom-image-ul{	
	height: 100%;
	width: 100%;	
}
.bottom-image-ul .bottomImageItem{
	float: right;
	display: inline-block;
	width: 136px;
	height: 79px;
	margin-right: 10px;
	overflow: hidden;
}
.bottomImageItem a,.bottomImageItem img{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.bottomImageItem a .image-title{
	position: absolute;
	display: inline-block;
	height: 19px;
	line-height: 19px;
	width: 100%;
	background-color: #113414;
	opacity: 0.6;
	filter:alpha(opacity=60);
	bottom: 0;
	transition: height 0.3s;
	color: white;
	padding-right: 2px;
	font-weight: 900;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bottomImageItem a .i-play{
	position: absolute;
	display: inline-block;
	height: 33px;
	width: 33px;	
	bottom: 30%;
	left: 40%;
	background: url(../img/i-play.png?__sprite) no-repeat;
}
.bottomImageItem a .i-play_hover{
	background: url(../img/i-play-hover.png?__sprite) no-repeat;
}
.loadMessage{
	position: absolute;
	font-size: 22px;
	text-align: center;
	left: 350px;
	top:25px;
}