body .notepad-login {background: url(../img/bg-notepad-login-test.png) no-repeat;}
body .notepad-container {width: 100%;height: 377px;}
body .notepad-write-text {left: 158px;top: 82px;}
body .notepad-read-text {left: 158px;top: 208px;}
body .notepad-lets-login {left: 428px;top: 55px;}
body .notepad-login-btn {left: 442px;top: 138px;}
body .notepad-list {width: 289px;height: 337px;}
body .notepad-add {width: 257px;}
body .notepad-list-wrapper {height: 282px;}
body .notepad-list-container {min-height: 281px;}
body .notepad-ring {left: 291px;}
body .notepad {width: 678px;height: 343px;}
body .notepad-notes {width: 375px;height: 334px;}
body .notepad-title input {width: 199px;}
body .notepad-article {height: 277px;}
body .notepad-textarea {width: 340px;height: 216px;}
body .notepad-article-shadow1, body .notepad-article-shadow2 {top: 348px;left: 317px;width: 371px;}
body .notepad-article-shadow2 {top: 350px;left: 319px;width: 367px;}
body .notepad-notice {padding: 4px 0 0 8px;max-width: 260px;}