.mod-hotsite-newtab {background-color: #fcfdff; overflow:hidden;padding:0px 1px;border: 1px solid;border-color:#FFF;border-bottom:none;letter-spacing: -0.3em;word-spacing:-0.3em;float: left; width: 710px;display: none;}
.mod-hotsite-newtab  span{ display: inline-block; *display:inline;*zoom:1;width: 110px; /*overflow: hidden; */vertical-align:top;white-space: nowrap;letter-spacing: normal;word-spacing: normal;margin: 6px 4px 0px 4px;/*position:relative;*/}        
.mod-hotsite-newtab   a{display: block;color:#454545;width:100%;/*float:left;*/overflow:hidden;}
.mod-hotsite-newtab  .hotsite_link{padding-top: 10px;line-height: 28px;text-align:center;/*position:relative;z-index:1;*/}        
.mod-hotsite-newtab  .i-hot-sprites{ width: 41px; height: 41px; display: block;  margin: 0 auto;}
.mod-hotsite-newtab  .more_trigger{border-top-color:#f56f2f;border-top-style:solid;border-width:5px;display:inline-block;vertical-align:middle;margin-top:2px;}
.mod-hotsite-newtab  .hotsite-newtab{display: block !important;}
.mod-hotsite-newtab  .hotsite-for_tn {display: none;}
.mod-hotsite-newtab .hotsite_link .span-hot-name{height:22px;margin:0;}
.mod-hotsite-newtab .hotsite_hover .more_trigger{border-top-color:transparent;border-top-style:dashed;border-bottom-color:#f56f2f;border-bottom-style:solid;margin-top:-6px;}
.mod-hotsite-newtab .more_links{position:absolute;z-index:2;border:1px solid #E3E4E6;width:108px;background:#fff;display:none; visibility: visible;}
.mod-hotsite-newtab .more_links a{text-align:left;line-height:32px;text-indent:10px;text-overflow:ellipsis;white-space:nowrap;}
.mod-hotsite-newtab .hotsite_hover {background: #ebebeb;}
.mod-hotsite-newtab .more_links a:hover{background:#f5f7f7;}
.mod-hotsite-newtab .more_links .site-icon{border-bottom:1px solid #dedede;vertical-align:-4px;background-color:#fff;/*IE6 line-height hack*/_margin:7px 0;}
.mod-hotsite-newtab .description{position: absolute;bottom: -14px;right: 0px;color: #e39d55;text-align: right;width: auto;cursor: default;}
.i-hotsite-newtab{background: url(../img/i-newtab.png?__sprite) no-repeat;}
.cur .i-hotsite-newtab,.hotsite-tabs_btn:hover .i-hotsite-newtab {background: url(../img/i-newtab-hover.png?__sprite) no-repeat;}

/*第一行*/
.mod-hotsite-newtab .a-1{background-position: 0px 0px; }
.mod-hotsite-newtab .a-2{background-position:-41px 0px; }
.mod-hotsite-newtab .a-3{background-position: -82px 0px; }
.mod-hotsite-newtab .a-4{background-position: -123px 0px; }
.mod-hotsite-newtab .a-5{background-position: -164px 0px; }
.mod-hotsite-newtab .a-6{background-position: -205px 0px; }
.mod-hotsite-newtab .a-7{background-position: -246px 0px; }
.mod-hotsite-newtab .a-8{background-position: -287px 0px; }
.mod-hotsite-newtab .a-9{background-position: -328px 0px; }
.mod-hotsite-newtab .a-10{background-position: -369px 0px; }
.mod-hotsite-newtab .a-11{background-position: -410px 0px; }
.mod-hotsite-newtab .a-12{background-position: -451px 0px; }
/*第二行*/
.mod-hotsite-newtab .b-1{background-position: 0px -41px; }
.mod-hotsite-newtab .b-2{background-position:-41px -41px; }
.mod-hotsite-newtab .b-3{background-position: -82px -41px; }
.mod-hotsite-newtab .b-4{background-position: -123px -41px; }
.mod-hotsite-newtab .b-5{background-position: -164px -41px; }
.mod-hotsite-newtab .b-6{background-position: -205px -41px; }
.mod-hotsite-newtab .b-7{background-position: -246px -41px; }
.mod-hotsite-newtab .b-8{background-position: -287px -41px; }
.mod-hotsite-newtab .b-9{background-position: -328px -41px; }
.mod-hotsite-newtab .b-10{background-position: -369px -41px; }
.mod-hotsite-newtab .b-11{background-position: -410px -41px; }
.mod-hotsite-newtab .b-12{background-position: -451px -41px; }
/*第三行*/
.mod-hotsite-newtab .c-1{background-position: 0px -82px; }
.mod-hotsite-newtab .c-2{background-position:-41px -82px; }
.mod-hotsite-newtab .c-3{background-position: -82px -82px; }
.mod-hotsite-newtab .c-4{background-position: -123px -82px; }
.mod-hotsite-newtab .c-5{background-position: -164px -82px; }
.mod-hotsite-newtab .c-6{background-position: -205px -82px; }
.mod-hotsite-newtab .c-7{background-position: -246px -82px; }
.mod-hotsite-newtab .c-8{background-position: -287px -82px; }
.mod-hotsite-newtab .c-9{background-position: -328px -82px; }
.mod-hotsite-newtab .c-10{background-position: -369px -82px; }
.mod-hotsite-newtab .c-11{background-position: -410px -82px; }
.mod-hotsite-newtab .c-12{background-position: -451px -82px; }
/*第四行*/
.mod-hotsite-newtab .d-1{background-position: 0px -123px; }
.mod-hotsite-newtab .d-2{background-position:-41px -123px; }
.mod-hotsite-newtab .d-3{background-position: -82px -123px; }
.mod-hotsite-newtab .d-4{background-position: -123px -123px; }
.mod-hotsite-newtab .d-5{background-position: -164px -123px; }
.mod-hotsite-newtab .d-6{background-position: -205px -123px; }
.mod-hotsite-newtab .d-7{background-position: -246px -123px; }
.mod-hotsite-newtab .d-8{background-position: -287px -123px; }
.mod-hotsite-newtab .d-9{background-position: -328px -123px; }
.mod-hotsite-newtab .d-10{background-position: -369px -123px; }
.mod-hotsite-newtab .d-11{background-position: -410px -123px; }
.mod-hotsite-newtab .d-12{background-position: -451px -123px; }
/*第五行*/
.mod-hotsite-newtab .e-1{background-position: 0px -164px; }
.mod-hotsite-newtab .e-2{background-position:-41px -164px; }
.mod-hotsite-newtab .e-3{background-position: -82px -164px; }
.mod-hotsite-newtab .e-4{background-position: -123px -164px; }
.mod-hotsite-newtab .e-5{background-position: -164px -164px; }
.mod-hotsite-newtab .e-6{background-position: -205px -164px; }
.mod-hotsite-newtab .e-7{background-position: -246px -164px; }
.mod-hotsite-newtab .e-8{background-position: -287px -164px; }
.mod-hotsite-newtab .e-9{background-position: -328px -164px; }
.mod-hotsite-newtab .e-10{background-position: -369px -164px; }
.mod-hotsite-newtab .e-11{background-position: -410px -164px; }
.mod-hotsite-newtab .e-12{background-position: -451px -164px; }
/*第六行*/
.mod-hotsite-newtab .f-1{background-position: 0px -205px; }
.mod-hotsite-newtab .f-2{background-position:-41px -205px; }
.mod-hotsite-newtab .f-3{background-position: -82px -205px; }
.mod-hotsite-newtab .f-4{background-position: -123px -205px; }
.mod-hotsite-newtab .f-5{background-position: -164px -205px; }
.mod-hotsite-newtab .f-6{background-position: -205px -205px; }
.mod-hotsite-newtab .f-7{background-position: -246px -205px; }
.mod-hotsite-newtab .f-8{background-position: -287px -205px; }
.mod-hotsite-newtab .f-9{background-position: -328px -205px; }
.mod-hotsite-newtab .f-10{background-position: -369px -205px; }
.mod-hotsite-newtab .f-11{background-position: -410px -205px; }
.mod-hotsite-newtab .f-12{background-position: -451px -205px; }
/*第七行*/
.mod-hotsite-newtab .g-1{background-position: 0px -246px; }
.mod-hotsite-newtab .g-2{background-position:-41px -246px; }
.mod-hotsite-newtab .g-3{background-position: -82px -246px; }
.mod-hotsite-newtab .g-4{background-position: -123px -246px; }
.mod-hotsite-newtab .g-5{background-position: -164px -246px; }
.mod-hotsite-newtab .g-6{background-position: -205px -246px; }
.mod-hotsite-newtab .g-7{background-position: -246px -246px; }
.mod-hotsite-newtab .g-8{background-position: -287px -246px; }
.mod-hotsite-newtab .g-9{background-position: -328px -246px; }
.mod-hotsite-newtab .g-10{background-position: -369px -246px; }
.mod-hotsite-newtab .g-11{background-position: -410px -246px; }
.mod-hotsite-newtab .g-12{background-position: -451px -246px; }
/*第八行*/
.mod-hotsite-newtab .h-1{background-position: 0px -287px; }
.mod-hotsite-newtab .h-2{background-position:-41px -287px; }
.mod-hotsite-newtab .h-3{background-position: -82px -287px; }
.mod-hotsite-newtab .h-4{background-position: -123px -287px; }
.mod-hotsite-newtab .h-5{background-position: -164px -287px; }
.mod-hotsite-newtab .h-6{background-position: -205px -287px; }
.mod-hotsite-newtab .h-7{background-position: -246px -287px; }
.mod-hotsite-newtab .h-8{background-position: -287px -287px; }
.mod-hotsite-newtab .h-9{background-position: -328px -287px; }
.mod-hotsite-newtab .h-10{background-position: -369px -287px; }
.mod-hotsite-newtab .h-11{background-position: -410px -287px; }
.mod-hotsite-newtab .h-12{background-position: -451px -287px; }
/*第九行*/
.mod-hotsite-newtab .i-1{background-position: 0px -328px; }
.mod-hotsite-newtab .i-2{background-position:-41px -328px; }
.mod-hotsite-newtab .i-3{background-position: -82px -328px; }
.mod-hotsite-newtab .i-4{background-position: -123px -328px; }
.mod-hotsite-newtab .i-5{background-position: -164px -328px; }
.mod-hotsite-newtab .i-6{background-position: -205px -328px; }
.mod-hotsite-newtab .i-7{background-position: -246px -328px; }
.mod-hotsite-newtab .i-8{background-position: -287px -328px; }
.mod-hotsite-newtab .i-9{background-position: -328px -328px; }
.mod-hotsite-newtab .i-10{background-position: -369px -328px; }
.mod-hotsite-newtab .i-11{background-position: -410px -328px; }
.mod-hotsite-newtab .i-12{background-position: -451px -328px; }
/*第十行*/
.mod-hotsite-newtab .j-1{background-position: 0px -369px; }
.mod-hotsite-newtab .j-2{background-position:-41px -369px; }
.mod-hotsite-newtab .j-3{background-position: -82px -369px; }
.mod-hotsite-newtab .j-4{background-position: -123px -369px; }
.mod-hotsite-newtab .j-5{background-position: -164px -369px; }
.mod-hotsite-newtab .j-6{background-position: -205px -369px; }
.mod-hotsite-newtab .j-7{background-position: -246px -369px; }
.mod-hotsite-newtab .j-8{background-position: -287px -369px; }
.mod-hotsite-newtab .j-9{background-position: -328px -369px; }
.mod-hotsite-newtab .j-10{background-position: -369px -369px; }
.mod-hotsite-newtab .j-11{background-position: -410px -369px; }
.mod-hotsite-newtab .j-12{background-position: -451px -369px; }
/*第十一行*/
.mod-hotsite-newtab .k-1{background-position: 0px -410px; }
.mod-hotsite-newtab .k-2{background-position:-41px -410px; }
.mod-hotsite-newtab .k-3{background-position: -82px -410px; }
.mod-hotsite-newtab .k-4{background-position: -123px -410px; }
.mod-hotsite-newtab .k-5{background-position: -164px -410px; }
.mod-hotsite-newtab .k-6{background-position: -205px -410px; }
.mod-hotsite-newtab .k-7{background-position: -246px -410px; }
.mod-hotsite-newtab .k-8{background-position: -287px -410px; }
.mod-hotsite-newtab .k-9{background-position: -328px -410px; }
.mod-hotsite-newtab .k-10{background-position: -369px -410px; }
.mod-hotsite-newtab .k-11{background-position: -410px -410px; }
.mod-hotsite-newtab .k-12{background-position: -451px -410px; }
/*第十二行*/
.mod-hotsite-newtab .l-1{background-position: 0px -451px; }
.mod-hotsite-newtab .l-2{background-position:-41px -451px; }
.mod-hotsite-newtab .l-3{background-position: -82px -451px; }
.mod-hotsite-newtab .l-4{background-position: -123px -451px; }
.mod-hotsite-newtab .l-5{background-position: -164px -451px; }
.mod-hotsite-newtab .l-6{background-position: -205px -451px; }
.mod-hotsite-newtab .l-7{background-position: -246px -451px; }
.mod-hotsite-newtab .l-8{background-position: -287px -451px; }
.mod-hotsite-newtab .l-9{background-position: -328px -451px; }
.mod-hotsite-newtab .l-10{background-position: -369px -451px; }
.mod-hotsite-newtab .l-11{background-position: -410px -451px; }
.mod-hotsite-newtab .l-12{background-position: -451px -451px; }
/*第十三行*/
.mod-hotsite-newtab .m-1{background-position: 0px -492px; }
.mod-hotsite-newtab .m-2{background-position:-41px -492px; }
.mod-hotsite-newtab .m-3{background-position: -82px -492px; }
.mod-hotsite-newtab .m-4{background-position: -123px -492px; }
.mod-hotsite-newtab .m-5{background-position: -164px -492px; }
.mod-hotsite-newtab .m-6{background-position: -205px -492px; }
.mod-hotsite-newtab .m-7{background-position: -246px -492px; }
.mod-hotsite-newtab .m-8{background-position: -287px -492px; }
.mod-hotsite-newtab .m-9{background-position: -328px -492px; }
.mod-hotsite-newtab .m-10{background-position: -369px -492px; }
.mod-hotsite-newtab .m-11{background-position: -410px -492px; }
.mod-hotsite-newtab .m-12{background-position: -451px -492px; }