.mod-fontsize-swtich{visibility: visible !important;width: 42px;float: right;text-align: center;}
.mod-fontsize-swtich:hover{background-color: #0A69C9;background-color: rgba(0,99,199,0.96);}

.mod-fontsize-swtich li{width: 42px;height: 50px;line-height: 50px;cursor: pointer;}
.mod-fontsize-swtich li.cur{cursor: default;}
.mod-fontsize-swtich .switcher-next i{display: inline-block;width: 26px;height: 25px;background-image: url(../img/fontsize.png?__sprite);margin-top: 12px;}
.mod-fontsize-swtich .switcher{display: none;color: #fff;}
.mod-fontsize-swtich:hover .switcher{display: block;}
.mod-fontsize-swtich .switcher:hover{background-color: #075DB5;background-color: rgba(0,0,0,.1);}

/*has skin*/
.skin-on .mod-fontsize-swtich:hover,
.skin-on .mod-fontsize-swtich .switcher:hover{background-color: #333333;background-color: rgba(0, 0, 0, 0.8);}