.userbar-logo {
    height: 50px;
    position: relative;
    z-index: 10;
    font-size: 12px;
}
.userbar-logo_slogan {
    position: absolute;
    font-size: 13px;
    right: 133px;
    top: 26px;
    white-space: nowrap;
}
.userbar-logo_tip {
    display: none;
    visibility: hidden;
}