.userbar-logo_tip {
    position: absolute;
    top: 49px;
    right: 0;
    padding: 5px 7px 5px 17px;
    width: 230px;
    max-width: 230px;
    border: 1px solid #e6e6e6;
    color: #666;
    background-color: #fff;
    border-radius: 2px;
    
    visibility: visible !important;
}
.userbar-logo_tip a{
    color: #666;    
}
.userbar-logo_tip p a:hover{
    color: #1c81e5;
}
.userbar-logo_tip .arrow, .userbar-logo_tip .arrow_bg {
    position: absolute;
    height: 0;
    width: 0;
    border: 8px dashed transparent;
}
.userbar-logo_tip .arrow {
    border-bottom-color: #e6e6e6;
    border-bottom-style: solid;
    top: -16px;
    right: 19px;
}
.userbar-logo_tip .arrow_bg {
    border-bottom-color: #fff;
    border-bottom-style: solid;
    margin: -7px -8px 0 0;
}
.userbar-logo_tip .tip-close {
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 4px;
    background: url(../img/flat-i-logotips.png?__sprite) no-repeat;
    cursor: pointer;
}
.userbar-logo_tip .tip-close_hover {
    background: url(../img/flat-i-logotips.png?__sprite) no-repeat;
}
.userbar-logo_tip .tipLinkArrow{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/flat-i-logotips.png?__sprite) no-repeat -3px -13px;
}
.userbar-logo_tip a:hover .tipLinkArrow{
    background: url(../img/flat-i-logotips-hover.png?__sprite) no-repeat -3px -13px;
}

/**yellow logoTips***/
.userbar-logo_tip.yellow{
    border: none;
    background-color: #f3a534;
    color: #fff;
}
.userbar-logo_tip.yellow .tip-close{
    background: url(../img/flat-i-logotips-yellow.png?__sprite) no-repeat;
}
.userbar-logo_tip.yellow .tip-close_hover {
    background: url(../img/flat-i-logotips-yellow.png?__sprite) no-repeat;
}
.userbar-logo_tip.yellow .tipLinkArrow{
    background: url(../img/flat-i-logotips-yellow.png?__sprite) no-repeat -3px -13px;
}
.userbar-logo_tip.yellow .arrow{
    border-bottom-color: #f3a534;
}
.userbar-logo_tip.yellow .arrow_bg{
    border-bottom-color: #f3a534;
}
.userbar-logo_tip.yellow a{
    color: #fff;
}


/*head fixed*/
.header-fixed-st #indexLogo, 
.header-fixed-st .userbar-logo {
    height: 40px;
}
.header-fixed #indexLogo {
    float: right;
    width: 94px;
    background: url(../img/logo_test.png) no-repeat right center;
}
.header-fixed #indexLogo img, 
.header-fixed .userbar-logo_slogan,
.header-fixed .userbar-logo_tip {
    display: none !important;
}
.header-fixed-up #indexLogo, 
.header-fixed-up .userbar-logo {
    height: 50px;
}