
.userbar-btns {
    height: 28px;
    font-size: 12px;
    color: #676767;
    visibility: visible !important;
    background-color: #F5F5F5;
    border: 1px solid #D2D2D2;
    width: 170px;
   /* overflow: hidden;*/
}
.userbar-btns a {
    color: #676767;
    float: right;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.userbar-btns i {
    display: block;
    width: 20px;
    height: 20px;
    margin: 4px auto 0;
}
.userbar-btns .userbar-btns-content {
    width: 140px;
    height: 28px;
    line-height: 28px;
    float: left;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
}
.userbar-btns .userbar-btns-icon {
    float: right;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border-left: 1px solid #D2D2D2;
    background-color: #ECEDEC;
}
.userbar-btns .userbar-btns-icon:hover {
    background-color: #F1F1F1;
}
.userbar-btns .userbar-btns-sethome {
    background: url(../img/1/setHome-1.png?__sprite) no-repeat;
}
.userbar-btns .userbar-btns-addfav {
    background: url(../img/1/addfav-1.png?__sprite) no-repeat;
}
.userbar-btns .userbar-btns-down {
    background: url(../img/1/down-1.png?__sprite) no-repeat;
}
.userbar-btns-icon:hover .userbar-btns-sethome {
    background: url(../img/1/setHome-1-hover.png?__sprite) no-repeat;
}
.userbar-btns-icon:hover .userbar-btns-addfav {
    background: url(../img/1/addfav-1-hover.png?__sprite) no-repeat;
}
.userbar-btns-icon:hover .userbar-btns-down {
    background: url(../img/1/down-1-hover.png?__sprite) no-repeat;
}
/*
.body-theme_2 .userbar-btns .userbar-btns-sethome {
    background: url(../img/2/setHome-2.png?__sprite) no-repeat;
}
.body-theme_2 .userbar-btns .userbar-btns-addfav {
    background: url(../img/2/addfav-2.png?__sprite) no-repeat;
}
.body-theme_2 .userbar-btns .userbar-btns-down {
    background: url(../img/2/down-2.png?__sprite) no-repeat;
}
.body-theme_2 .userbar-btns-icon:hover .userbar-btns-sethome {
    background: url(../img/2/setHome-2-hover.png?__sprite) no-repeat;
}
.body-theme_2 .userbar-btns-icon:hover .userbar-btns-addfav {
    background: url(../img/2/addfav-2-hover.png?__sprite) no-repeat;
}
.body-theme_2 .userbar-btns-icon:hover .userbar-btns-down {
    background: url(../img/2/down-2-hover.png?__sprite) no-repeat;
}

.body-theme_3 .userbar-btns .userbar-btns-sethome {
    background: url(../img/3/setHome-3.png?__sprite) no-repeat;
}
.body-theme_3 .userbar-btns .userbar-btns-addfav {
    background: url(../img/3/addfav-3.png?__sprite) no-repeat;
}
.body-theme_3 .userbar-btns .userbar-btns-down {
    background: url(../img/3/down-3.png?__sprite) no-repeat;
}
.body-theme_3 .userbar-btns-icon:hover .userbar-btns-sethome {
    background: url(../img/3/setHome-3-hover.png?__sprite) no-repeat;
}
.body-theme_3 .userbar-btns-icon:hover .userbar-btns-addfav {
    background: url(../img/3/addfav-3-hover.png?__sprite) no-repeat;
}
.body-theme_3 .userbar-btns-icon:hover .userbar-btns-down {
    background: url(../img/3/down-3-hover.png?__sprite) no-repeat;
}*/

body .mod-ff-sethome1 {
    z-index: 402;
    left: -2px;
    top: 30px;
    padding-top: 8px;
    width: 180px;
}
body .mod-ff-sethome1 .ui-bubble_in, body .mod-ff-sethome1 .ui-bubble_out {
    left: 36px;
}
.mod-ff-sethome1 .ui-bubble_close {
    position: absolute;
}
.mod-ff-sethome1 a {
    float: none;
    overflow: visible;
    width: auto;
    height: auto;
}