// #edui1_toolbarbox {
//     top: 40px!important;
// }

// .submit {
//     position: fixed;
//     bottom: 0;
//     z-index: 1000;
//     width: 100%;
// }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
}

@-webkit-keyframes fade{
    form {
        background: #000;
    }

    to {
        background: #fff;
    }
}
