.copyright{
    margin-top:-10px;
    margin-bottom:10px;
    line-height:1.5;
    color: #999;
    display: block;
}
.t-c{ 
    text-align: center;
}
.box-fot {
    margin:19px 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 12px;
}
.box-fot li {
    float:left;
}
.box-fot a{
    color: #999;
}
.box-fot .space {
    display:inline-block;
    font-size:0;
    border-right:1px solid #999;
    height:10px;
    padding-left:10px;
    margin-right:10px;
    margin-bottom:-2px;
}
.fb_like {
    margin-left: 10px;
    margin-top: -3px;
}
.fb_like_label {
    display:inherit;
    color:red;
}
p.fb_like_label a {
    color: red;
}