.mod-event-water{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
}

/*因为热区原本z-index = 4 , 所以-1时仍可交互*/
.event-water-hide{
	z-index: -1;
}

.mod-event-water:after{
	content:'';
	height: 0;
	width: 0;
	display: none;
	clear: both;
}

.mod-event-water .canvas-wrapper{
	overflow: hidden;
	position: relative;
}

.mod-event-water canvas{
	background: transparent;
}

.w1020 .event-water-ctrl{
	margin-left: 514px;
}

.event-water-ctrl{
	position: fixed;
	left: 50%;
	top: -100px;
	margin-left: 484;
	height: 54px;
	width: 61px;
	background: url('./img/songkran_btn.png?__sprite') no-repeat; 
	cursor: pointer;
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
	-moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;

    z-index:5000;
}

.event-water-ctrl-show{
	top:300px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.mod-event-water .girl{
	position: absolute;
	left: 15px;
	height: 253px;
	width: 190px;
	bottom: -260px;
	background: url('./img/mascot.png') no-repeat;
}