/*form inline css*/
.settings {
    visibility: hidden;
}
.settings-dropdown {
    display: none;
}

.settings {
    visibility: visible !important;
    float: right;
    position: relative;
}
.settings-dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    width: 120px;
    text-align: right;
    background-color: #0868C9;
    background-color: rgba(0, 99, 199, 0.97);
    padding-top: 8px;
    padding-bottom: 5px;
}
.settings:hover .settings-dropdown {
    display: block;
}
.settings:hover .settings-btn {
    background-color: #0063c7;
}
.settings-btn {
    display: block;
    height: 34px;
    padding-top: 16px;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
}
.settings-btn .btn-holder {
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/i-settings-btn.png?__sprite) no-repeat;
}
.settings-site a {
    color: #FFFFFF;
    display: block;
    padding-right: 20px;
    height: 31px;
    line-height: 31px;
}
.settings-site a:hover {
    background-color: #075DB5;
    background-color: rgba(0,0,0, 0.1);
}
.settings-site a.cur {
    cursor: default;
    position: relative;
    overflow: hidden;
}
.settings-site .cur:after {
    content: "\2022";
    position: absolute;
    right: 5px;
    top: -1px;
    line-height: 34px;
    height: 34px;
    font-size: 34px;
    color: #ffffff;
    font-family: arial;
}
.settings-site a.cur:hover {
    background-color: transparent;
}

/*has skin*/
.skin-on .settings:hover .settings-btn,
.skin-on .settings-dropdown {
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.8);
}
.skin-on .settings-site a:hover {
    background-color: #0A0A0A;
    background-color: rgba(0,0,0,0.6);
}


/*head fixed*/
.header-fixed-st .userbar-tool .settings-dropdown {
    top: 40px;
}
.header-fixed-st .settings .settings-btn {
    height: 29px;
    padding-top: 11px;
}
