/* Tab and container */
.notepad-tab {
	float: right !important;
	border-bottom: 0 none !important;
}
	.notepad-tab .icon-new_red{
		right: 3px;
	}
.i-notepad {
	display: inline-block;
    width: 16px;
    height: 17px;
    background: url(../img/i-notepad.png?__sprite) no-repeat;
    margin: 0 4px -5px 0;
    _margin-top: 5px;
}
.cur .i-notepad, .hotsite-tabs_btn:hover .i-notepad {
	background: url(../img/i-notepad-hover.png?__sprite) no-repeat;
}
.close .i-notepad, .cur:hover .i-notepad {
	background: url(../img/i-notepad-close.png?__sprite) no-repeat;
}
.notepad-container {
	width: 958px;
	height: 293px;
	overflow: hidden;
}
/* login */
.notepad-login {
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../img/bg-notepad-login.jpg) no-repeat;
}
.notepad-write-text, .notepad-read-text, .notepad-lets-login {
	position: absolute;
}
.notepad-write-text {
	left: 55px;
	top: 50px;
}
.notepad-read-text {
	left: 305px;
	top: 50px;
}
.notepad-lets-login {
	left: 650px;
	top: 55px;
}
.notepad-login h1, .notepad-login h2, .notepad-login h3, .notepad-login h4 {
	color: #236589;
	text-shadow: 2px 2px 2px #fff;
	text-align: center;
}
.notepad-login h1 {
	font-size: 27px;
	font-style: italic;
}
.notepad-login h2 {
	font-size: 20px;
	font-style: italic;
}
.notepad-login h3 {
	font-size: 22px;
	text-align: left;
}
.notepad-login h4 {
	font-size: 13px;
	text-align: left;
}
.notepad-login-btn {
	display: block;
	position: absolute;
	left: 665px;
	top: 150px;
	background: url(../img/notepad-login.png?__sprite) repeat-x;
	border-top: 1px solid #6b90dc;
	border-right: 1px solid #476bba;
	border-bottom: 1px solid #1d3e91;
	border-left: 1px solid #476bba;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 3px #555;
}
.i-notepad-fb {
	display: inline-block;
	float: left;
	width: 41px;
	height: 50px;
	border-right: 1px solid #5476b9;
	background: url(../img/i-notepad-fb.png?__sprite) no-repeat;
}
.notepad-login-text {
	display: inline-block;
	float: left;
	height: 50px;
	line-height: 50px;
	border-left: 1px solid #6086cf;
	padding: 0 25px 0 20px;
	font-size: 18px;
	color: #fff;
}
.notepad-login-btn-hover {
	background: url(../img/notepad-login-hover.png?__sprite) repeat-x;
	border-top: 1px solid #f67a35;
	border-right: 1px solid #df551e;
	border-bottom: 1px solid #c72f07;
	border-left: 1px solid #ee671c;
}
.notepad-login-btn-click {
	background: url(../img/notepad-login-click.png?__sprite) repeat-x;
	border-top: 1px solid #f67a35;
	border-right: 1px solid #df551e;
	border-bottom: 1px solid #c72f07;
	border-left: 1px solid #ee671c;
}
.notepad-login-btn-hover .i-notepad-fb {
	border-right: 1px solid #cf6d24;
	background: url(../img/i-notepad-fb-hover.png?__sprite) no-repeat;
}
.notepad-login-btn-hover .notepad-login-text {
	border-left: 1px solid #d68a57;
}
.notepad-login-btn-click .i-notepad-fb {
	border-right: 1px solid #cf762c;
	background: url(../img/i-notepad-fb-click.png?__sprite) no-repeat;
}
.notepad-login-btn-click .notepad-login-text {
	border-left: 1px solid #d6915d;
}
/* notepad content */
.notepad {
	position: relative;
	width: 928px;
	height: 259px;
	background-color: #fcfdff;
	border: 1px solid #fff;
	border-bottom: 1px solid #e2f2ed;
	padding: 13px 14px 19px;
}
.notepad-list {
	position: relative;
	float: left;
	width: 333px;
	height: 257px;
	border: 1px solid #cdcdcd;
	background-color: #f1f1f1;
	-moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    margin-right: 10px;
    overflow: hidden;
}
.notepad-notes {
	float: left;
	width: 581px;
	height: 253px;
	background-color: #f1f1f1;
	border: 1px solid #cdcdcd;
	-moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.notepad-list-title {
	padding: 6px 0 10px 9px;
	border-top: 1px solid #fff;
	border-bottom: 1px dashed #d7d7d7;
	overflow: hidden;
}
.notepad-add {
	height: 33px;
	width: 291px;
	float: left;
	border: 1px solid #01a26d;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: url(../img/btn-notepad-new.png?__sprite) repeat-x;
    cursor: pointer;
    box-shadow: 0 2px 0 #d3d3d3;
}
.notepad-add-hover {
    background: url(../img/btn-notepad-new-hover.png?__sprite) repeat-x;
}
.i-notepad-add {
	display: inline-block;
	float: left;
	height: 24px;
	width: 33px;
	padding-top: 9px;
	border-right: 1px solid #078e61;
    background: url(../img/btn-notepad-new-add.png?__sprite) repeat-x;
}
.i-notepad-add i {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/i-notepad-add.png?__sprite) no-repeat;
}
.notepad-add-add {
	display: inline-block;
	float: left;
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	color: #fff;
	border-left: 1px solid #0bc185;
	padding-left: 10px;
}
.notepad-list-wrapper {
	position: relative;
	width: 100%;
	height: 203px;
	overflow-x: hidden;
	overflow-y: scroll;
	border-top: 1px dashed #f7f7f7;
	padding-top: 1px;
}
.notepad-list-container {
	background-color: #fff;
	min-height: 202px;
}
.notepad-list-container li {
	position: relative;
	display: block;
	height: 34px;
	background: url(../img/bg-notepad-list.png?__sprite) repeat-x;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e3e3e3;
	padding: 5px 15px 0 17px;
	vertical-align: top;
	cursor: default;
}
.notepad-list-container li.hover {
	background-image: none;
	background-color: #ededed; 
}
.notepad-list-container li.active {
	background: url(../img/bg-notepad-list-active.png?__sprite) repeat-x;
	border-top: 1px solid #aedece;
	border-left: 4px solid #02a06b;
	padding-left: 13px;
}
.notepad-list-container p {
	text-align: left;
	color: #595959;
	font-size: 12px;
	margin-bottom: 1px;
	height: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.notepad-list-container span {
	display: block;
	text-align: left;
	color: #a6a6a6;
	font-size: 11px;
}
.notepad-del {
	display: none;
	position: absolute;
	top: 12px;
	right: 10px;
	width: 16px;
	height: 17px;
	background: url(../img/i-notepad-del.png?__sprite) no-repeat;
	cursor: pointer;
}
.notepad-del-hover {
	background: url(../img/i-notepad-del-hover.png?__sprite) no-repeat;
}
.notepad-list-container li.hover .notepad-del {
	display: block;
}
/* title & articles */
.notepad-title {
	position: relative;
	height: 35px;
	border-top: 1px solid #fff;
	border-bottom: 1px dashed #d7d7d7;
	padding: 6px 10px 0 25px;
	overflow: hidden;
}
.notepad-title input {
	border: 1px solid #cccccc;
	background-color: #fff;
	width: 411px;
	height: 28px;
	line-height: 28px \9;
	padding: 0 7px;
	font-size: 14px;
	float: left;
}
.notepad-title input[disabled=disabled] {
	background-color: #f5f5f5;
}
.notepad-title label {
	position: absolute;
	color: #b8b8b8;
	font-size: 14px;
	top: 12px;
	left: 33px;
	display: none;
	cursor: text;
}
.notepad-create-time {
	float: right;
	line-height: 30px;
	font-size: 11px;
	color: #a6a6a6;
	font-family: arial,Tahoma,helvetica,clean,sans-serif;
}
.notepad-article-container {
	padding-top: 1px;
	border-top: 1px dashed #f7f7f7;
	overflow: hidden;
	position: relative;
	z-index: 3;
}
.notepad-article-border {
	height: 10px;
	border-top: 1px solid #cdcdcd;
	background: url(../img/bg-notepad-border.png?__sprite) no-repeat;
	background-color: #fff;
}
.notepad-article {
	height: 197px;
	background-color: #fff;
}
/* ornaments */
.notepad-ring {
	position: absolute;
	top: 33px;
	left: 333px;
	width: 41px;
	height: 8px;
	background: url(../img/notepad-ring.png?__sprite) no-repeat;
	z-index: 4;
}
.notepad-article-shadow1, .notepad-article-shadow2 {
	position: absolute;
	top: 267px;
	left: 361px;
	height: 1px;
	width: 577px; 
	background-color: #f7f6f6;
	border: 1px solid #cdcdcd;
	z-index: 2;
}
.notepad-article-shadow2 {
	top: 269px;
	left: 363px;
	width: 573px;
	z-index: 1;
}
.notepad-textarea {
	margin-top: 5px;
	border: 0 none;
	width: 546px;
	height: 144px;
	line-height: 24px;
	font-style: 12px;
	color: #595959;
	background: url(../img/bg-notepad-article.png) repeat;
}
.notepad-notice {
	font-style: 12px;
	color: #595959;
	float: left;
	padding: 10px 0 0 20px;
	display: none;
}
.notepad-save {
	display: inline-block;
	float: right;
	margin: 5px 20px 0 0;
	height: 28px;
	line-height: 28px;
	color: #fff;
	text-align: center;
	font-size: 14px;
	border: 1px solid #01a26d;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: url(../img/btn-notepad-save.png?__sprite) repeat-x;
    padding: 0 20px;
    box-shadow: 0 2px 0 #d3d3d3;
    cursor: pointer;
}
.notepad-save-hover {
    background: url(../img/btn-notepad-save-hover.png?__sprite) repeat-x;
}
.notepad-save-disable {
    background: url(../img/btn-notepad-save-disable.png?__sprite) repeat-x;
    border: 1px solid #adadad;
    box-shadow: none;
}