

.app-list-side{
	height: 684px;
	border: 1px solid rgb(227,229,230);
	background: rgb(245,247,247);
	width: 265px;
	padding: 8px 5px;
	float: right;
}
.app-list-side .app-item {
	font-size: 12px;
	height: 35px;
	line-height: 14px;
	padding: 7px 57px 7px 0;
	text-align: left;
}
.app-list-side .app-item:hover {
	background-color: #E8EAEB;
	cursor: pointer;
}
.app-list-side .app-item.current {
	background-color: #E8EAEB;
}
.app-list-side .app-icon {
	background-color: gray;
	float: left;
	height: 35px;
	margin-left: 11px;
	width: 35px;
	margin-right: 10px;
}
.app-list-side .app-name {
	color: #595959;
	font-size: 12px;
}
.app-list-side .app-type {
	color: #999999;
	margin-top: 4px;
}




.app-iframe-wrap{
	width: 1000px;
	float: left;
}



.app-title{
	font-size: 16px;
	background: #FAFAFA;
	background-image:-moz-linear-gradient(top, rgb(255,255,255), rgb(245,247,247));
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(245,247,247)));
	background-image:-webkit-linear-gradient(top, rgb(255,255,255), rgb(245,247,247));
	background-image:-o-linear-gradient(top, rgb(255,255,255), rgb(245,247,247));
	background-image:-ms-linear-gradient(top, rgb(255,255,255), rgb(245,247,247));
	background-image:linear-gradient(top, rgb(255,255,255), rgb(245,247,247));
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f5f7f7,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f5f7f7,GradientType=0);
	padding-top: 7px;
	height: 30px;
	border: 1px solid;
	border-color: #E3E5E6 #E3E5E6 #EDEFF0;
	padding-left: 10px;
}