/**
 * “默认”状态小图整体div的显示
 */
.mod-login{
    height: 16px;
    width: 170px;
    background: url("../img/bg-account.png?__sprite") repeat-x;
    margin-top: 2px;
    margin-left: 2px;
    float: right;
    overflow: hidden;
    position: absolute;
    right:22px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 2px; 
    z-index: 3;
    display: block !important;
}
/**
 * ”默认状态小图的显示
 */
.mod-login_avatar{
    width: 16px;
    height: 12px;
    margin-top: 2px;
    float: left;
    overflow: hidden;
    border-right: 1px solid #a0b8d2;
    position:relative;
    overflow:hidden;
}
/**
 * “默认”状态小图“body”区域的显示
 */
.mod-login_body{
    background: #e0e7ee;
    overflow: hidden;
}
/**
 * “默认”状态小图“头像”的显示
 */
.mod-login_img{
    width: auto;
    height: auto;
    float: left;
    position:relative;
    top:-132px;
    left:2px;
    margin-left: 2px;
}
/**
 * “默认”状态小图“姓名”的显示
 */
.mod-login_name{
    color:#456bb6;
    text-align:center;
    word-wrap: break-word;
    margin-bottom: 4px;
    height:10px;
    font-size:12px;
    margin-top: 1px;
}
/*------------more:------------*/

/**
 * “默认”状态大图“邮箱”的显示(默认为影藏)
 */
.mod-login_email{
	margin-left: 10px;
	color:#353535;
	word-wrap:break-word;
	height:30px;
	font-size: 12px;
}
/**
 * “默认”状态小图“退出按钮”的显示(默认为影藏)
 */
.mod-login_logout{
	width: 60px;
	height: 20px;
	background: #bdd8ef;
	text-align: center;
	line-height: 20px;
	right:5px;
	border: 1px solid #a0b8d2;
	position: absolute;
	bottom: 5px;
	display: none; 
	overflow: hidden;
	padding: 0 3px;
}
.mod-login_logout a {
	color: #3b5998;
}
/**
 * 登录状态时整个div的显示
 */
.mod-login--on{
	background: #e0e7ee;
	border: 1px solid #009e69;
}
/**
 * 登录状态时小图的显示
 */
.mod-login--on .mod-login_img{
	width: 12px;
	height: 12px;
	position: static;
	margin-left: 2px;
}
/**
 * 登录状态时“展开”显示大图后真个div的显示
 */
body .mod-login--unfold{
	height: 92px;
	cursor: default;
	background-image: none;
}
/**
 * 登录状态“展开”显示大图后“头像”的显示
 */
.mod-login--unfold .mod-login_avatar{
	width:40px;
	height:40px;
	margin-left:5px;
	margin-top: 7px;
	background-image: none;
}
/**
 * 登录状态“展开”显示大图后“姓名”的显示
 */
.mod-login--unfold .mod-login_name{
	margin-top: 10px;
	margin-left: 10px;
	text-align: left;
	height: 15px;
	overflow: hidden;
	font-weight: bold;
}
/**
 * 登录状态“展开”显示大图后“退出按钮”的显示
 */
.mod-login--unfold .mod-login_logout{
	display: block;
}
/**
 * 登录状态“展开”显示大图后“头像”的显示
 */
.mod-login--unfold .mod-login_img{
	width: 40px;
	height: 40px;
}

.layoutBg {
    width: 100%;
    height: 4250px;
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8888;
    background: url(http://mat1.gtimg.com/www/images/qq2012/alphabg.png);
}
.login_div {
    position: fixed; 
    /*width: 446px; */
    height: 416px; 
    padding: 0px; 
    top: 50%; 
    left:50%;
    margin: -164px 0px 0px -245px; 
    z-index: 9999; 
    visibility: hidden;
    overflow:hidden;
}
.fake_pageheader{
    background: #6d84b4;
    color: #fff;
    height:33px;
    position:relative;
    z-index:9999;
}
.homelink{
    background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 10px 50%;
    color: #fff;
    margin: 0;
    padding: 8px 10px 8px 30px;
    font-size: 14px;
    font-weight: bold;
}
.closeBtn {
    float:right;
    margin-right: 10px;
    margin-top: 10px;
    cursor:pointer;
    font-weight: bold;
}
.cancelBtn{
    width: 43px;
    height: 22px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #ccc;
    position: absolute;
    top: 277px;
    right: 5px;
    cursor: pointer;
}
.fake_booklet{
    position:relative;
    z-index:99999
}
.fake_booklet_lv2{
    height:277px;
    background:white;
}
.fake_booklet_lv2_msg{
    position:absolute;
    width:440px;
}
.p_msg {
    margin-top:50px;
    text-align:center;
    font-size: 14px;
}
.msg_img {
    margin-left:45px;
    margin-top:20px;
}
.fake_booklet_lv2_info{
    width:410px;
    /*height:50px;*/
    border:1px solid #cccccc;
    color:#909090;
    background:#f2f2f2;
    overflow:hidden;
    margin: 20px auto;
    margin-left:45px;
}
.info_msg {
    position: relative;
    margin: 10px;
    display: inline-block;
    line-height: 1.3;
}
.login_frame {
    position:relative;
    top:-33px;
}