.mod-recommand{
	overflow: hidden;
	background: #fafbfc;
	border: 1px solid #e4e6e5;
	/* width: 238px; */
	font-size: 12px;
	visibility: visible !important;
}

/*tabs  tab绝对定位是因为框架设置了overflow hidden，导致无法在框架之外显示icon*/
.mod-recommand .tabs{
	position: absolute;
	*position: static;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	background: url(../img/tab-normal-bg.png?__sprite) repeat-x;
	width: 236px;
	*width: 235px;
}
.mod-recommand .tabs li{
	float: right;
	position: relative;
}
.mod-recommand .tabs .tab{
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #edeff0;
	border-top-color: #fff;
	border-right: 0;
	cursor: pointer;
	-moz-box-shadow: 0px 2px 0px 0px rgba(227, 229, 229, 0.1);
	-webkit-box-shadow: 0px 2px 0px 0px rgba(227, 229, 229, 0.1);
	box-shadow: 0px 2px 0px 0px rgba(227, 229, 229, 0.1);
}
.mod-recommand .tabs .cur{
	background: #f5f7f7;
	border-bottom: 0;
	box-shadow: none;
	font-weight: 600;
	color: #00b075;
	cursor: default;
}
.mod-recommand .tabs .last{
	border-left: 0px;
}
.mod-recommand .tabs .tab:hover{
	border-left-color:#e6e8e9;
	border-bottom-color:#e3e5e5;
	-moz-box-shadow:0px 2px 0px 0px rgba(227, 229, 229, 0.1);
	-webkit-box-shadow:0px 2px 0px 0px rgba(227, 229, 229, 0.1);
	box-shadow:0px 2px 0px 0px rgba(227, 229, 229, 0.1);
	font-weight:600;color:#00b075;
}
.mod-recommand .tabs .icon-hot{
	position: absolute;
	top: -5px;
	left: 0;
	z-index: 1;
}
/*container*/
.mod-recommand .container{
	margin-top: 32px;
	*margin-top: 0px;
	min-height: 344px;
	position: relative;
}
.mod-recommand .content{
	overflow: hidden;
}

/*对more链接的样式，后续全放到各个tab内容区维护，过渡用*/
.mod-recommand .content-more{
	display:block;
	background:#f2f2f2;
	line-height:23px;
	height:23px;
	text-align:left;
	color:#00b075;
	border-top:1px solid #E3E5E6;
	padding-left:20px;
	position:relative;
	margin-top: 10px;
}
.mod-recommand .content-more:hover{
	background:#ebebeb;
}
.mod-recommand .content-more .arrow_r{
	position: absolute;
	color:#3dc094;
	left:10px;
	top:-1px;
	padding-right:5px;
	font-size:20px;
}

/*菊花**/
.mod-recommand .ui-o{
	position: absolute;
	top: 0;
}
