/*app样式*/
.mod-recommand .layout1-big{
	position: relative;
}
.mod-recommand .layout1-big .big{
	display: block;
	position: relative;
	width: 238px;
	height: 106px;
}
.mod-recommand .layout1-big .mask{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 238px;
	height: 106px;
	opacity: 0.2;
	filter:alpha(opacity=20);
	background-color: #fff;
}
.mod-recommand .layout1-big:hover .mask{
	display: block;
}
.mod-recommand .layout1-big .layer{
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.7;
	filter:alpha(opacity=70);
	width: 238px;
	height: 22px;
}
.mod-recommand .layout1-big .des{
	position: absolute;
	bottom: 0;
	right: 8px;
	display: inline-block;
	width: 125px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	line-height: 22px;
	color: #fff;
	font-weight: bold;
}
.mod-recommand .layout1-big .star-bg{
	position: absolute;
	left: 5px;
	bottom: 4px;
	display: inline-block;
	*display: inline;
	*zoom:1;
	width: 95px;
	height: 15px;
	background: url(../img/hotsiteside-app-starbg.png?__sprite);
}
.mod-recommand .layout1-big .star{
	float: right;
	display: inline-block;
	*display: inline;
	*zoom:1;
	height: 15px;
	background: url(../img/hotsiteside-app-star.png?__sprite);
	background-position: right top;
}
.mod-recommand .layout1-small{
	padding: 6px;
	height: 222px;
}
.mod-recommand .layout1-small li{
	position: relative;
	margin: 4px;
	float: right;
}
.mod-recommand .layout1-small li a{
	display: inline-block;
	position: relative;
	width: 105px;
	height: 108px;
}
.mod-recommand .layout1-small .num{
	display: block;
	position: absolute;
	right: -1px;
	top: -4px;
	width: 15px;
	height: 15px;
	color: #fff;
	text-align: center;
	line-height: 17px;
	background: url(../../img/list-number-bg.png?__sprite);
}
.mod-recommand .layout1-small .mask{
	position: absolute;
	display: none;
	width: 105px;
	height: 108px;
	right: 0;
	top: 0;
	opacity: 0.2;
	filter:alpha(opacity=20);
	background-color: #fff;
}
.mod-recommand .layout1-small li:hover .mask{
	display: block;
}
.mod-recommand .layout1-small .layer{
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #000;
	width: 105px;
	height: 34px;
	opacity: 0.6;
	filter:alpha(opacity=60);
}
.mod-recommand .layout1-small .des{
	position: absolute;
	right: 8px;
	bottom: 17px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	color: #fff;
	width: 90px;
	line-height: 12px;
}
.mod-recommand .layout1-small .star-bg{
	display: inline-block;
	*display: inline;
	*zoom:1;
	position: absolute;
	right: 7px;
	bottom: 4px;
	width: 60px;
	height: 11px;
	background: url(../../img/hotsiteside-app-starbg-small.png?__sprite);
}
.mod-recommand .layout1-small .star{
	float: right;
	display: inline-block;
	*display: inline;
	*zoom:1;
	height: 11px;
	background: url(../../img/hotsiteside-app-star-small.png?__sprite);
	background-position: right top;
}

.mod-recommand .layout1-more{
	display:block;
	background:#f2f2f2;
	line-height:23px;
	height:23px;
	text-align:left;
	color:#00b075;
	border-top:1px solid #E3E5E6;
	padding-left:20px;
	position:relative;
	margin-top: 10px;
}
.mod-recommand .layout1-more:hover{
	background:#ebebeb;
}
.mod-recommand .layout1-more .arrow{
	position: absolute;
	color:#3dc094;
	left:10px;
	top:-1px;
	padding-right:5px;
	font-size:20px;
}
/*app样式*/
