/* For 300px layout */
@import url('/widget/magicbox/flow/magicbox.flow.css?__inline');
.flow-on .mod-magicbox .cycletabs .ui-nav .wrap {
	right: 0;
}
.flow-on .mod-magicbox .nav-item i{
	margin: 3px 15px 0 0;
}
.flow-on .mod-magicbox .cycletabs .nav-item{
	border-left: 1px solid #e3e5e6;
}
