/*.box-search_form .input div{ float: left;}*/ /*为啥加？会导致ps sug出现问题*/
.box-search_keyboard {
    padding: 1px;
}
/*============box_search=============*/
.box-search {
    margin: 20px auto 0;
    width: 780px;
}
.box-search_inner {
    height:68px;
}
/*box-search_tab*/
.box-search_tab {
    white-space: nowrap;
    margin-right: 161px;
    position: relative;
    z-index: 8;
    clear: both;
}
.box-search_tab a {
    /*font-size: 12px;*/
    float:right;
    padding: 4px 12px 3px;
    margin-right: -1px;
    text-decoration: none;
    letter-spacing: normal;
    position: relative;
    z-index: 1;
}
.box-search_tab a:hover {
    text-decoration: none;
    background: #dcdcde;    
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
/*.box-search_more {
    line-height:normal;
    position: absolute;
    float:right;
    cursor:pointer;
    z-index:8;
    top: -8px;
    left: -7px;
    border: 1px solid #edf0ef;
    border-bottom: 0 none;
}
.box-search_more dt {
    position: relative;
    margin-top: 6px;
}
.box-search_more a:hover {
    background: transparent;    
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}
.box-search_more dt a  {
    margin: 0;
    padding: 4px 9px 3px 17px;
    color: #4c4c4c;
    text-align: right;
    display: block;
    float: none;
    line-height: 14px;
    width: 30px;
    overflow: hidden;
}
.box-search_more dt a:focus {
    outline: none;
}
.box-search_more_hover {    
    background-color: #dcdcde;  
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.box-search_more .arrow, .box-search_more .arrow_bg {
    position: absolute;
    height: 0;
    width: 0;
    border: 3px dashed transparent;
}
.box-search_more .arrow {
    border-top-color: #4ac29a;
    border-top-style: solid;
    top: 10px;
    right: 42px;
}
.box-search_more .arrow_bg {
    border-top-color: #edf0ef;
    border-top-style: solid;
    margin: -5px -3px 0 0;
    _display: none;
}
.box-search_more_hover .arrow_bg {
    border-top-color: #dcdcde;
}
.box-search_more_show .arrow {
    border-top-color: transparent;
    border-top-style: dashed;
    border-bottom-color: #4ac29a;
    border-bottom-style: solid;
    top: 12px;
}
.box-search_more_show .arrow_bg {
    border-top-color: transparent;
    border-top-style: dashed;
    border-bottom-color: #fff;
    border-bottom-style: solid;
    margin-top: -1px;
}
.box-search_more_show .box-search_more_hover .arrow_bg {
    border-bottom-color: #f5f7f7;
}
.box-search_more_show {
    border:1px solid #e3e4e6;
    background: #fff;
    left: auto;
    right: 472px;
}
.box-search_more_show dt {
    margin-top: 0px;
    padding-top: 6px;
}
.box-search_more_show dt a {
    background-position:left -351px !important;
}
.box-search_more_show .box-search_more_hover {
    background-color: #f5f7f7;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}
.box-search_more_show dd {
    line-height: 31px;
}
.box-search_more_show dd a {
    padding:0 9px 0 15px;
    display:block;
    float:none;
    color: #666;
    text-align: right;
    margin:0;
    overflow: hidden;
}
.box-search_more_hide {
    display: none;
}*/
.box-search_tab a:focus {
    outline:none;
}   /*clear FF's focusborder*/
.box-search_tab a.cur {
    color:#00b075; /*font-weight:bold;*/
    cursor:default;
    text-decoration: none;
    font-weight: bold;
}
.box-search_sep {
    display: block;
    float: right;
    height: 6px;
    line-height: 6px;
    margin-top: 8px;
    border-left: 1px solid #b3b3b3;
    position: relative;
    z-index: 0;
    margin-right: -1px;
}
/*box-search_logo*/
.box-search_logo_wrap {
    position: relative;
    width: 155px;
    height: 67px;
    margin:-16px 0 0 5px;
    float: right;
    z-index: 6;
}
.box-search_logo {
    position: absolute;
    right: 0;
    overflow:hidden;
    vertical-align:bottom;
    text-align:center;
}
.box-search_logo a {
    padding-left: 18px;
    display: block;
}
.box-search_logo a:focus {
    outline: none;
}
.box-search_logo dt , .box-search_logo dd {
    padding: 10px 7px 10px 8px;
    /*cursor: pointer;*/
}
.box-search_logo dt a { 
    background: url(/widget/img/bg.png) -10px -61px no-repeat;
}
dt.box-search_logo_hover {
    background-color: #e3e4e6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.box-search_logos_show .box-search_logo_hover {
    background-color: #f5f7f7;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}
.box-search_logos_show {
    background-color: #fff;
    border: 1px solid #e3e4e6
}
.box-search_logos_show dt a {
    background-position: -10px -390px;
}
.box-search_logo_hide {
    display: none;
}
.box-search_logo img {
    width:120px;
    height:45px;    
}
.box-search_logo_disabled {
    background: none;
    border: 1px solid #EDF0EF;
}
.box-search_logo_disabled dt.box-search_logo_hover, .box-search_logo_disabled dt a {
    background: none;
    cursor: default;
}

/*box-search_form*/
.box-search_form {
    padding:3px 113px 5px 0px;
}
.box-search_form .input {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #bfbfbf;
    margin-left: 13px;
    position: relative;
    z-index:5;
}
.box-search_form .input input {
    border:none;
    background:#fff;
    width:491px;
    float:right;
    overflow:hidden;
    height:20px;
    font-size: 14px;
    line-height:20px\9;
    padding:4px 9px 3px 0px;
    *width: 488px;
    *float: none;
    /*fix ie10 bug*/
    margin-right: 1px;
}
.box-search_form input, .box-search_form button:focus {
    outline:none;
}
.box-search_form .input label {
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 14px;
    color: #D7D8D9;
    white-space: nowrap;
}
.box-search_form .box-search_focus {
    border: 1px solid #4d90fe;
}
.btn-search {
    white-space:nowrap;
    line-height:27px;
    overflow: hidden;
    _float: left;
    *margin:0;/*fix non-IE'problem because of vertical-align*/


    /*--css3--*/
    width: 70px;
    border-radius: 2px;
    border: 1px solid #3079ED;
    background-color: #4787ED;
    background-image: -o-linear-gradient(-90deg, #4D8FFD 0%, #4787ED 100%);
    background-image: -moz-linear-gradient(-90deg, #4D8FFD 0%, #4787ED 100%);
    background-image: -webkit-linear-gradient(-90deg, #4D8FFD 0%, #4787ED 100%);
    background-image: -ms-linear-gradient(-90deg, #4D8FFD 0%, #4787ED 100%);
    background-image: linear-gradient(-180deg, #4D8FFD 0%, #4787ED 100%);
}
.btn-search_l, .btn-search_r {
    display: none !important;
}

.btn-search_c {
    /*background:url(../img/bg-search-btn.png?__sprite) repeat-x;*/
    vertical-align:top;
    border:none;
    color:#fff;
    height:27px;
    text-align:center;
    width:70px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    float: left;
    background: none;
}
.btn-search_ico {
    display: block;
    margin: 0 auto;
    width: 17px;
    height: 17px;
    background: url(../img/i-search.png?__sprite) no-repeat;
    line-height: 27px;
}

.btn-search_hover{
    border-color: #2F5BB7;
    background-color: #357AE8;
    background-image: -o-linear-gradient(-90deg, #4C8FFD 0%, #357AE8 100%);
    background-image: -moz-linear-gradient(-90deg, #4C8FFD 0%, #357AE8 100%);
    background-image: -webkit-linear-gradient(-90deg, #4C8FFD 0%, #357AE8 100%);
    background-image: -ms-linear-gradient(-90deg, #4C8FFD 0%, #357AE8 100%);
    background-image: linear-gradient(-180deg, #4C8FFD 0%, #357AE8 100%);
}

.btn-search_click{
    border-color: #2B79E6;
    background-color: #357AE8;
    background-image: -o-linear-gradient(-90deg, #4A8DFB 0%, #357AE8 100%);
    background-image: -moz-linear-gradient(-90deg, #4A8DFB 0%, #357AE8 100%);
    background-image: -webkit-linear-gradient(-90deg, #4A8DFB 0%, #357AE8 100%);
    background-image: -ms-linear-gradient(-90deg, #4A8DFB 0%, #357AE8 100%);
    background-image: linear-gradient(-180deg, #4A8DFB 0%, #357AE8 100%);
    -moz-box-shadow:    inset 0px 2px 3px 0px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.50);
    box-shadow:         inset 0px 2px 3px 0px rgba(0,0,0,0.50);
}
/*
.btn-search_hover .btn-search_l {
    background:url(../img/bg-search-btn-side-hover.png?__sprite) no-repeat;
}
.btn-search_hover .btn-search_r {
    background:url(../img/bg-search-btn-side-hover.png?__sprite) no-repeat;
    background-position:-3px 0;
}
.btn-search_hover .btn-search_c {
    background:url(../img/bg-search-btn-hover.png?__sprite) repeat-x;
}
.btn-search_hover .btn-search_ico {
    background: url(../img/i-search-hover.png?__sprite) no-repeat;
}
.btn-search_click .btn-search_l {
    background:url(../img/bg-search-btn-side-click.png?__sprite) no-repeat;
}
.btn-search_click .btn-search_r {
    background:url(../img/bg-search-btn-side-click.png?__sprite) no-repeat;
    background-position:-3px 0;
}
.btn-search_click .btn-search_c {
    background:url(../img/bg-search-btn-click.png?__sprite) repeat-x;
}
.btn-search_click .btn-search_ico {
    background: url(../img/i-search-click.png?__sprite) no-repeat;
}*/
.box-search_form .radios {
    padding-top:4px;
    width:480px;/*for IE9*/
}
.box-search_form .radios label {
    display:block;
    padding-right:15px;
    text-indent:-15px;
    float:right;
    margin-left:18px;
    color:#666;
    font-size: 13px;
    white-space: nowrap;
}
.box-search_form .radios input {
    vertical-align:top;
    width:13px;
    height:13px;
    margin-left:5px;
    vertical-align:bottom;
    position:relative;
    top:-1px;
    overflow:hidden;
}

/*set hot search words & search button*/
.box-search_hsrch {
    width: 620px;
    margin-right: 160px;
    overflow: hidden;
    padding-top: 2px;
    color: #919191;
    white-space: nowrap;
    _margin-top:-14px;
}
.hsrch_title {
    font-weight: bold;
    margin-left: 8px;
    /*padding-right: 10px;*/
    color: #919191;
}
.hsrch_word span {
    display: inline-block;
    margin-left: 15px;
}
.hsrch_word a{
    color: #919191;
    text-align: right;
}
.hsrch_word a:hover {
    color: #00B075;
    text-decoration: underline;
}
/*size setting*/
.box-search-m .box-search_logo img {
    width:107px;
    height:40px;    
}
.box-search-m .box-search_logo_wrap {
    width: 142px;
    height: 62px;
    margin-top: -14px;
}
.box-search-m .box-search_logo dt a {
    background-position: -10px -62px;
}
.box-search-m .box-search_logos_show dt a {
    background-position: -10px -87px;
}
.box-search-m .box-search_tab {
    margin-right: 148px;
}
.box-search-m .box-search_hsrch {
    margin-right: 148px;
}
.box-search-s .box-search_logo img {
    width:85px;
    height:32px;    
}
.box-search-s .box-search_logo_wrap {
    width: 120px;
    height: 54px;
    margin-top: -9px;
}
.box-search-s .box-search_logo dt a {
    background-position: -10px -67px;
}
.box-search-s .box-search_logos_show dt a {
    background-position: -10px -93px;
}
.box-search-s .box-search_tab {
    margin-right: 126px;
}
.box-search-s .box-search_hsrch {
    margin-right: 126px;
}

/**************************** 深色换肤搜索框优化 *******************************/
.skin-type-dark .box-search_logo{border-width:0px;}
.skin-type-dark .box-search_tab a{color: #ffffff;}
body.skin-type-dark .box-search_tab a.cur{color: #ffffff;}
.skin-type-dark .box-search_tab a:hover{background: #595959;background: rgba(0,0,0,0.6);}
.skin-type-dark #searchGroupRadios label{color: #ffffff;}
.skin-type-dark .box-search_logo_disabled dt.box-search_logo_hover, .skin-type-dark .box-search_logo_disabled dt a{background: 0;}
.box-search_logo_disabled, .box-search_logos_show{border: 0;}

/*fi chrome radio white background box bug*/
/*chrome 22-28*/
@media \\0 screen {
    body .box-search_form .radios label span {
        display: inline-block;
        text-indent: 0;
        border-radius: 100px;
        margin-left: 5px;
        width: 14px;
        height: 14px;
        overflow: hidden;
        vertical-align: -3px;
    }
    body .box-search_form .radios input {
        margin-left: 0;
        vertical-align: top;
        position: static;
    }
}
/*chrome 29+*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    body .box-search_form .radios label span {
        display: inline-block;
        text-indent: 0;
        border-radius: 100px;
        margin-left: 5px;
        width: 14px;
        height: 14px;
        overflow: hidden;
        vertical-align: -3px;
    }
    body .box-search_form .radios input {
        margin-left: 0;
        vertical-align: top;
        position: static;
    }
}