.mod-sitemap-content{
    margin-top: 18px;
}

.mod-sitemap-content h3{
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #222222;
    font-weight: bold;
    margin-bottom: -19px;
}

.mod-sitemap-content .container{
    padding-bottom: 30px;
    border-bottom: 1px solid #d8d8d8;
}

.mod-sitemap-content .container a{
    float: right;
    display: block;
    width: 168px;
    height: 68px;
    margin-top: 29px;
    margin-right: 20px;
    background-color: #f7fbff;
    border: 1px solid #3a9af9;
}

.mod-sitemap-content .container a.first-column{
    margin-right: 0;
}

.mod-sitemap-content .name{
    width: 152px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #0063c4;
    margin: 8px;
    text-decoration: underline;
}

.mod-sitemap-content .desc{
    width: 152px;
    height: 28px;
    margin-right: 8px;
    line-height: 14px;
    font-size: 10px;
    color: #2d2d2d;
}

.mod-sitemap-content .desc:after{
    top: -14px;
}