/* for PS */
body .sg_tri input,
body .sg_v_tri input {
  width: 509px !important;
}
.sg_btn,
.sg_v_btn {
  position: absolute;
}
/*fix label*/
body .box-search_form .radios label {
  padding-left: 22px;
}
.w960 .sg_tri input,
.w960 .sg_v_tri input {
  width: 430px !important;
}