@import url('/widget/sidetoolbar/sidetoolbar-common.css?__inline');
.sidebar-right .mod-sidetoolbar-container{
	position: fixed;
	right: 0;
	top: 163px;
	height: auto;
	width: 45px;	
	z-index:300;
	display: block !important;
}
.sidebar-right .mod-sidetoolbar-container .sidetoolbar{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #70767d;
	right: -51px;
    transition: all 0.3s;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.sidebar-right .mod-sidetoolbar-container .sidetoolbar_fold{
	right: 0;
    transition: all 0.3s;
}
.sidebar-right .mod-sidetoolbar-container .applist{
	position: relative;
	top: 0;
	width: 100%;
	height: auto;
	text-align: center;
	border-bottom: 1px solid #878c92;
}
.sidebar-right .mod-sidetoolbar-container .applist-li{
	width: 100%;
	height: 57px;
	line-height: 57px;
	display: inline-block;
	border-bottom: 1px solid #646c76;
	border-top: 1px solid #878c92;
	position: relative;
}
.sidebar-right .mod-sidetoolbar-container .applist-li:first-child{
	border-top: none;
}
.sidebar-right .mod-sidetoolbar-container .applist-li:hover,.sidebar-right .mod-sidetoolbar-container .applist-li_fold{
	background-color: #54585e;
	cursor: pointer;
}

.sidebar-right .mod-sidetoolbar-container .applist-li img{
	display: inline-block;
	width: 34px;
	height: 34px;
}
.sidebar-right .mod-sidetoolbar-container .applist-div,.sidebar-right .mod-sidetoolbar-container .guide-bubble{
	position: absolute;
	height: 100%;
	width: 150px;
	background-color: #878888;
	right: 45px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: white;
    text-align: center;
    display: none;
    z-index: 1;
    text-align: left;
}
.sidebar-right .mod-sidetoolbar-container .applist-div{
	top: 0;	
	padding: 0 10px;
}
.sidebar-right .mod-sidetoolbar-container .applist-div span{
	display: table-cell;
	vertical-align: middle;
	line-height: 16px;
}
.sidebar-right .mod-sidetoolbar-container .applist-i{
	position: absolute;
	min-width: 19px;
	*min-width: 14px;
	height: 16px;
    border-radius: 8px;
    background-color: #f71e01;
    right: 30px;
    top:0;
    background-image:linear-gradient(180deg, #fd5025 0%, #ef0703 100%);
    text-shadow:0 -1px 1px #6f1e00;
    line-height: 16px;
    color: white;
    font-size: 14px;   
    z-index: 2;
    border-bottom:2px solid rgba(0,0,0,.5);
    padding: 1px 1px 0px 0px;
    padding: 0px\0;
    font-family: arial,tahoma,helvetica,clean,sans-serif;
}
.sidebar-right .mod-sidetoolbar-container .sidetoolbar-closebtn{
	position: absolute;
	width: 25px;
	height: 25px;
	background: url(../img/close-btn_normal.png?__sprite) no-repeat;
	bottom:13px;	
	cursor: pointer;
	display: none;

    transition: -webkit-transform 0.5s;
    transition: -moz-transform 0.5s;
    transition: -ms-transform 0.5s;
    transition: transform 0.5s;
}

.sidebar-right .mod-sidetoolbar-container .sidetoolbar-closebtn:hover,.sidebar-right .mod-sidetoolbar-container .sidetoolbar-closebtn_hover{
	background: url(../img/close-btn_hover.png?__sprite) no-repeat;
}
.sidebar-right .mod-sidetoolbar-container .closebtn_close{
	right: 10px;
	-moz-transform: rotate(-45deg); 
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.sidebar-right .mod-sidetoolbar-container .closebtn_open{
	right: 23px;
	-moz-transform: rotate(-360deg); 
	-webkit-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
}
.sidebar-right .mod-sidetoolbar-container .contents-container{
	position: absolute;
	right: 45px;
	top:-35px;
	width: 240px;
	height: auto;
	z-index: -1;
}
.sidebar-right .mod-sidetoolbar-container .contents{
	position: absolute;
	width: 240px;
	height: auto;
	right: -302px;
    transition: all 0.3s;
    visibility: hidden;
}
.sidebar-right .mod-sidetoolbar-container .contents_unfold{
	right: 0;
 	visibility: visible;	
}
.sidebar-right .mod-sidetoolbar-container .contents-title{
	width:100%;
	height: 35px;
	line-height: 35px;
	background: url(../img/content-bk.png?__sprite) repeat-x;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow:-6px 0px 10px #d0d3d2;
}
.sidebar-right .mod-sidetoolbar-container .contents-title_t{
	display: inline-block;
	float: left;
	width:auto;
	height: 100%;
	color: #e0e0e0;
	margin-left: 12px;
	font-size: 15px;
}
.sidebar-right .mod-sidetoolbar-container .contents-title_ar{
	display: inline-block;
	float: right;
	width:21px;
	height: 21px;
	margin-top: 8px;
	margin-right: 11px;
	background: url(../img/title-rtl-normal.png?__sprite) no-repeat;
}
.sidebar-right .mod-sidetoolbar-container .contents-title_ar:hover{
	background: url(../img/title-rtl-hover.png?__sprite) no-repeat;
	cursor: pointer;
}
.sidebar-right .mod-sidetoolbar-container .contents-substance{
	width:239px;
	min-height: 300px;
	height: auto;
	border-left:1px solid white;
	border-bottom:1px solid white;
	background-color: #f5f7f7;
	box-shadow: -6px 6px 10px #d0d3d2
}
.sidebar-right .mod-sidetoolbar-container .contents-substance .loading{
	height: 250px;
}
.sidebar-right .mod-sidetoolbar-container .widget-load{
	position: absolute;
	display: block;
	top: 150px;
	left: 110px;
	width: 100%;
	height: 16px;
	background: url(../img/widget_loading.gif) no-repeat;
}
.sidebar-right .mod-sidetoolbar-container .sidetoolbar-close_flod{
	position: absolute;
	width: 62px;
	height: 48px;
	background: url(../img/sidebar-rtl-close.png?__sprite) no-repeat;
	bottom: 3px;
	top: auto;	
	right: -18px;
	z-index: -1;
	transition: all 0.3s;
}
.sidebar-right .mod-sidetoolbar-container .sidetoolbar_unfold{
	right: 50px;
    transition: all 0.3s;
    cursor: pointer;
}
.sidebar-right .mod-sidetoolbar-container .sidetoolbar-close_flod i{
	text-align: center;
	right:42px;
	top: -10px;
}
.sidebar-right .mod-sidetoolbar-container .sidetoolbar b.ui-arrow-r{
	border-left-color:white;
	left: 0px;
	right: auto;
}
.sidebar-right .mod-sidetoolbar-container .sidetoolbar b.ui-arrow{
	display: none;
}
.sidebar-right .mod-sidetoolbar-container .guide-bubble{
	display: inline;
	height: 57px;
	width: 150px;
	text-align: right;
	top: 0;
}
.sidebar-right .mod-sidetoolbar-container .bubble-close{
	position: absolute;
	display: inline-block;
	width: 18px;
	height: 18px;
	top: -5px;
	left: -5px;
	background: url(../img/guid-close.png?__sprite) no-repeat;

}
.sidebar-right .mod-sidetoolbar-container .bubble-close:hover{
	cursor: pointer;
	background: url(../img/guid-close_hover.png?__sprite) no-repeat;
}
.sidebar-right .mod-sidetoolbar-container .open-content{
	cursor: pointer;
}
.sidebar-right .mod-sidetoolbar-container .bubble-wrap{
	height: 100%;
	width: 100%;
	cursor: default;
	display: table;
	cursor: pointer;
}
.sidebar-right .mod-sidetoolbar-container .bubble-text{
	display: table-cell;
	line-height: 16px;
	vertical-align: middle;
	padding-right: 10px;
}
.sidebar-right .mod-sidetoolbar-container .lottery label{
	margin-right: 5px;
}
/* For 300px layout */
.sidebar-right .mod-sidetoolbar-container .mod-news {
    width: auto;
}
.sidebar-right .mod-sidetoolbar-container .mod-news .news-tab .ui-nav {
    width: auto;
}
.sidebar-right .mod-sidetoolbar-container .mod-news .news-tab .ui-nav .wrap {
    width: auto;
}
.sidebar-right .mod-sidetoolbar-container .mod-news .news-tab .nav-item {
    width: 66px;
}
.sidebar-right .mod-sidetoolbar-container .mod-news .scroll-pane {
    width: auto;
}
.sidebar-right .mod-sidetoolbar-container .mod-news .news-slide .nav-item {
    width: 296px;
}
.sidebar-right .mod-sidetoolbar-container .mod-news .news-slide .nav-item img,
.sidebar-right .mod-sidetoolbar-container .mod-news .news-item_img a,
.sidebar-right .mod-sidetoolbar-container .mod-news .news-item_img img{
     height: 149px;
     width: 296px;
}
.sidebar-right .mod-sidetoolbar-container .mod-news .news-slide .nav-item .title{
    width: 276px;
}
.sidebar-right .mod-sidetoolbar-container .mod-news .news-item_img span{
    width: 276px;
}
.sidebar-right .mod-sidetoolbar-container .mod-news .news-item_tip {
    width: 248px;
    height: 151px;
    padding-top: 80px;
}

/*图文混排*/
.sidebar-right .mod-sidetoolbar-container .mod-news .news-item_imgtxt img{
    width: 100px;
    height: 58px;
}
/* For 300px layout */
.sidebar-right .mod-sidetoolbar-container .astro_name{
	width: 128px;
}
.sidebar-right .mod-sidetoolbar-container .astro-tab li {
	width: 132px;
}
.sidebar-right .mod-sidetoolbar-container .astro-luck span{
	width: 54px;
}
body .astro-list{
	width: 223px;
}
.sidebar-right .mod-sidetoolbar-container .astro-head{
	width: 233px;
}
.sidebar-right .mod-sidetoolbar-container .astro-luck span{
	padding-left:22px;
	margin-right: 20px;
}
.sidebar-right .mod-sidetoolbar-container .astro-luck i {
	margin-right: 11px;
}
.sidebar-right .mod-pray .dropdown-input{
	width: 171px;
}
.sidebar-right .mod-pray-h12 .dropdown-input{
	width: 131px;
}
.sidebar-right .speed-test,
.sidebar-right .speed-test_show,
.sidebar-right .speed-test_panel,
.sidebar-right .speed-test .speed-test_control,
.sidebar-right .speed-test--result .speed-test_result {
	background-image: url(../../speed-test/panel-box-wide.jpg);
}
.sidebar-right .speed-test{
	background-position: 0 0;
	/*width: 300px;*/
}
.sidebar-right .speed-test_panel {
	/*width: 300px;*/
}
.sidebar-right .speed-test_needle {
	left: 67px;
}
.sidebar-right .speed-test_chart_wrap {
	left: 60px;
}
.sidebar-right .speed-test_bandwidth,
.sidebar-right #sidetoolbarContainer .speed-test_bandwidth{
	left: 71px;
}
.sidebar-right .speed-test--result .speed-test_result {
	/*width: 300px;*/
}
.sidebar-right .speed-test--result .speed-test_result_more {
	left: 6px;
}
.sidebar-right .speed-test--result .speed-test_result_down {
	margin-left: 57px;
}
.sidebar-right #sidetoolbarContainer .speed-test,
.sidebar-right #sidetoolbarContainer .speed-test_panel,
.sidebar-right #sidetoolbarContainer .speed-test_control,
.sidebar-right #sidetoolbarContainer .speed-test .speed-test_control,
.sidebar-right #sidetoolbarContainer .speed-test--cover .speed-test_control,
.sidebar-right #sidetoolbarContainer .speed-test--error .speed-test_control,
/* .sidebar-right #sidetoolbarContainer .speed-test_result_more, */
.sidebar-right #sidetoolbarContainer .speed-test_show,
.sidebar-right #sidetoolbarContainer .speed-test--result .speed-test_result{
    background-image: url(../../speed-test/panel-box-wide.jpg);
}


