@import url('/widget/ad-switch/ad-switch-common.css?__inline');

/**
广告模块样式，需要和/common/css/adswitch.css合并
*/

.mod-charges{display:block;}
.mod-charges li {position: relative; _position:static; _background:#fff;}
.mod-charges a {display: table-cell; *display: block; *font-size: 55px; _font-size: 59px; height: 66px; width: 240px; text-align: center; vertical-align: middle; overflow: hidden;}
.mod-charges_bg {position: absolute; left: 0; top: 0; z-index: -1; background: #fff; border: 1px solid #e3e5e6; height: 64px; width: 238px; *font-size: 12px;}
.mod-charges img{vertical-align: middle;}

.mod-charges .ctrl{display: none;}
.mod-charges_havectrl .ctrl{display: block;}

.mod-charges .nav-item-list{position: relative;}
.mod-charges .nav-item{float: left;width: 240px; overflow: hidden;}
.mod-charges .prev, .mod-charges .next{position: absolute;top: 30%;font-size: 20px;font-weight: 600; color: #ccc;z-index: 1;background-color: #000;opacity: 0.4;filter:alpha(opacity=40);width: 16px;}
.mod-charges .arrow-next{margin-left:6px;}
.mod-charges .arrow-prev{margin-left:3px;}
.mod-charges .prev:hover, .mod-charges .next:hover{color: #fff;cursor: pointer;}
.mod-charges .prev{left: 0px;border-top-right-radius:11px;border-bottom-right-radius:11px;}
.mod-charges .next{right: 0px;border-top-left-radius:11px;border-bottom-left-radius:11px;}
