body div.userbar-wrap {
    border: none;
    z-index: 100;
    zoom: 1;
}
.header-fixed .userbar-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
}
div.userbar-tool {
    margin-top: 0;
    width: auto;
}
.settings {
    max-width: 170px;
}
.settings .settings-btn {
    position: relative;
    height: 50px;
    width: auto;
    max-width: 150px;
    padding: 0 10px;
    border: none;
    vertical-align: middle;
    display: table-cell;
    *display: block;
    background: none;
    overflow: hidden;
    cursor: default;
    color: #fff;
}
.settings .settings-btn_word {
    line-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    color: rgba(255,255,255, 0.5);
}
div.setting-btn-wrap {
    height: 50px;
    overflow: hidden;
}
.userbar_split {
    float: left;
    width: 3px;
    height: 100%;
    font-size: 16px;
    line-height: 50px;
    overflow: hidden;
    opacity: 0.3;
    filter:alpha(opacity=30);
    visibility: hidden;
}
.userbar-logoSibling .userbar_split {
    float: right;
    width: 1px;
    background-color: #fff;
    opacity: 0.2;
    filter:alpha(opacity=20);
}
div.settings-dropdown {
    width: 118px;
}
.userbar-btns {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 24px;
}
/*.box-search .box-search_form .input input {
    width: 450px;
}
.box-search .box-search_form .input {
    margin-right: 9px;
}*/
.userbar-logo {
    /*margin-left: 200px;*/
    max-width: 345px;
}
.userbar-date-wrapper {
    float: right;
    position: relative;
    z-index: 100;
    background-repeat: no-repeat;
}
div.userbar-date {
    position: relative;
    right: auto;
    float: right;
    /*margin-left: 20px;
    margin-right: 20px;*/
    margin-top: 0;
    /*overflow: hidden;*/
    width: 130px;
    padding: 11px 18px 9px;
    /*padding-top: 9px;
    padding-bottom: 9px;*/
}
.userbar-date br {
    display: block !important;
}
.userbar-date .calendar_bg {
    display: inline !important;
    float: right;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    padding: 0;
    margin-left: 8px;
    text-align: center;
    color: #fff;
    background: url(../img/calendar.png?__sprite) no-repeat;
}
.weather-wrap {
    position: relative;
    float: right;
}
body .userbar-weather {
    width: auto;
    float: right;
}

