/*music player*/
.mod-player .mod-side dt{padding-left:15px;padding-bottom:0;border-bottom:1px solid #edeff0;background:url(../img/repeat-x.png) repeat-x;}
.mod-player .mod-side dt i{width:39px;height:20px;background:url(icon_player.png) 0 -159px no-repeat;margin-right:15px;margin-top:4px;}
.player{padding:5px 15px 12px;color:#595959;overflow:hidden;zoom:1;}
.player-song{line-height:30px;position:relative;_width:183px;}
.player-pic{float:left;display:inline-block;width:15px;height:7px;margin:13px 5px 0 0;background:url(icon_player.png) no-repeat;}
.playing{background:url(icon_playing.gif) no-repeat;height:12px;margin-top:7px;}
.player-title{white-space:nowrap;position:relative;left:0;/*left:-10px;*/display:inline-block;}
.song-title{padding-right:8px;}
.song-artist{color:#999;/*padding-right:15px;*/}
.player-song,.player-volume{overflow:hidden;zoom:1;}
.player-progressbar{padding:3px 0 8px;}
.player-indicator-wrapper{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;padding:5px 0;width:72.81%;}
.player-indicator{position:relative;height:0;/*width:150px;*/border-bottom:3px solid #D7D8D9;cursor:pointer;}
#current_indicator{position:absolute;top:0;left:0;height:0;border-bottom:3px solid #3dc094;/*background:url(icon_player.png) 100% 0 no-repeat;*/}
#loaded_indicator{position:absolute;top:0;left:0;height:0;border-bottom:3px solid #a6a6a6;}
.user_controller{background:url(icon_player.png) no-repeat;display:inline-block;position:absolute;}
.player-indicator .user_controller{background-position:-16px 0px;width:9px;height:13px;top:-5px;right:-9px;}
.player-indicator .active{background-position:-116px 0px;right:-10px;width:11px;}
#current_time{display:inline-block;vertical-align:middle;color:#D7D8D9;/*padding-left:18px;*/width: 25%;text-align: right;}
.player-controller{clear:both;float:left;}
.player-controller i{background-color:transparent;background-image:url(icon_player.png);background-repeat:no-repeat;width:35px;height:35px;display:inline-block;border:0;cursor:pointer;}
#prevSong{background-position:0 -51px;}
.pause{background-position:-35px -51px;}
#nextSong{background-position:-70px -51px;}
.play{background-position:-110px -51px;}
#prevSong.disabled,#prevSong.disabled:hover{background-position:0 -16px;cursor:default;}
.pause_disabled{background-position:-35px -16px;}
#nextSong.disabled,#nextSong.disabled:hover{background-position:-70px -16px;cursor:default;}
.play_disabled{background-position:-110px -16px;}
#prevSong.hover{background-position:0 -87px;}
.pause_hover{background-position:-35px -87px;}
#nextSong.hover{background-position:-70px -87px;}
.play_hover{background-position:-110px -87px;}
#prevSong.active{background-position:0 -123px;}
.pause_active{background-position:-35px -123px;}
#nextSong.active{background-position:-70px -123px;}
.play_active{background-position:-110px -123px;}
.player-volume{font-size:0;/*padding-right:10px;*/margin-top:10px;float:right;}
#mute{background:url(icon_player.png) -36px 0;width:11px;height:12px;border:0;cursor:pointer;vertical-align:middle;}
.ismute{background-position:-85px 0!important;}
#volume_range{display:inline-block;border-bottom:2px solid #D7D8D9;width:50px;height:0;cursor:pointer;position:relative;margin-left:5px;vertical-align:middle;}
#volume{position:absolute;top:0;left:0;height:0;border-bottom:2px solid #A6A6A6;zoom:1;}
.player-volume .user_controller{background-position:-27px -1px;width:6px;height:6px;top:-2px;right:-6px;}
.playlist{zoom:1;position:relative;}
.playlist-order{display:inline-block;background:url(icon_player.png) -49px 0 no-repeat;width:15px;height:12px;padding-top:3px;text-align:center;color:#fff;font-family:Tahoma;font-size:10px;margin-right:9px;line-height:1;vertical-align:middle;}
.playlist-order_grey{background:#c0c3c4 none;padding-top:0;height:15px;line-height:15px;}
.playlist-name{overflow:hidden;zoom:1;display:inline-block;line-height:30px;width:185px;_width:183px;text-overflow:ellipsis;white-space:nowrap;/*word-wrap:break-word;*/_margin-left:-3px;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.playlist-tabwrapper{padding:0 17px;overflow:hidden;height:23px;margin-left:15px;margin-bottom:6px;width:157px;}
.playlist-tab{display:inline-block;white-space:nowrap;/*position:relative;*/}
.playlist-tab li{display:inline-block;*display:inline;*zoom:1;cursor:pointer;line-height:21px;width:86px;text-align:center;background:url(../img/repeat-x.png) repeat-x;border:1px solid #EBEBEB;border-bottom:1px solid #D9DCDE;margin-left:-1px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.playlist-tab .hover{color:#00b075;background-position:0 -31px;}
.playlist-tab .cur{z-index:2;position:relative;border:1px solid #D9DCDE;border-bottom:1px solid #F5F7F7;background:#F5F7F7;font-weight:600;color:#00B075;}
.playlist-tab .filler{background:none;border-width:0 0 1px 0;cursor:default;}
.scroll-lists{height:120px;/*white-space:nowrap;display:inline-block;position:relative;*/}
.playlist .scroll-inner{/*width:236px;*/height:120px;color:#595959;display:none;}
.playlist .scroll-list{/*float:left;width:219px;*/}
.playlist .scroll-list li{padding-right:10px;padding-left:15px;}
.playlist .scroll-item_hover{background-color:#e8eaeb;}
.playlist-body .play .playlist-order{background:transparent url(icon_player.png) -66px 0 no-repeat;font-size:0}
.playlist-body .pause .playlist-order{background:transparent url(icon_player.png) -98px 0 no-repeat;font-size:0}
.playlist-body .play .playlist-name,.playlist-body .pause .playlist-name{color:#00b075;}
.playlist .arrow_r{width:15px;text-align:center;background:#fff;color:#3DC094;font-size:20px;line-height:21px;display:inline-block;top:0;background:url(../img/repeat-x.png) repeat-x;border:1px solid #EBEBEB;border-bottom:1px solid #D9DCDE;cursor:pointer;}
.playlist .arrow_r_disabled{color:#dedede;cursor:default;}
#prevTab{left:15px;-moz-border-radius:2px 0 0 2px;-webkit-border-radius:2px 0 0 2px;border-radius:2px 0 0 2px;}
#nextTab{right:14px;-moz-border-radius:0 2px 2px 0;-webkit-border-radius:0 2px 2px 0;border-radius:0 2px 2px 0;}


.mod-player .scroll-arrow{display:none;}
.mod-player .top-arrow{top:29px;}


.mod-player .mod-side{ background:#f5f7f7; border:1px solid #fff; border-bottom:0;}

/*player search box*/
.player-search{
	padding: 5px 15px 12px;
	position: relative;
}
.player-search-box{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	display: block;
	background: #fff;
	width: 100%;
	/*height: 25px;*/
	border: 1px solid #d9d9d9;
	overflow: hidden;
	zoom: 1;
	position: relative;
}
.player-search-outer{
	display: block;
	margin: 3px 38px 3px 5px;
}
.player-search-input{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	border: 0;
	width: 100%;
	height: 17px;
	line-height: 17px;
	padding-right: 1px\9;/*enable textfield's end cursor visible for ie8*/
}
.player-search-btn{
	width: 32px;
	/* height: 23px;
	line-height: 23px; */
	border-left: 1px solid #d9d9d9;
	position: absolute;
	right: 0;
	top: 0;
	outline: 0;
}
.player-search-btn button{
	border: none;
	width: 100%;
	background: transparent;
}
.player-search-btn button:focus{
	outline: 0;
}
.player-search-btn i{
	display: inline-block;
	text-align: center;
	background: url(./icon_player.png) -44px -159px no-repeat;
	width: 20px;
	height: 22px;
}
.player-search-placeholder{
	color: #bfbfbf;
	display: inline-block;
	height: 23px;
	line-height: 23px;
	position: absolute;
	top: 0;
	left: 5px
}
.playlist-tab .refresh{
	display: inline-block;
	background: url(./icon_player.png) -75px -161px no-repeat;
	width: 19px;
	height: 17px;
	margin-bottom: -4px;
	margin-left: 5px;
}
.mod-player .no-arrow{
	width: 187px;
	margin-left: 0;
}
.no-arrow .arrow_r{
	display: none;
}
.no-arrow .playlist-tab li{
	width: 101px;
}

/*显示模块*/
.side-mod-preload-music-player{
    border:0!important;
    background: transparent!important;
}
.side-mod-preload-music-player > *{
    visibility: visible!important;
}

