.l-wrap .box-search_hsrch {
    margin-right: 171px;
}
.l-wrap .hsrch_word a:hover{
    color: #1c81e5;
}
body .l-wrap .box-search {
    width: 834px;
    margin-right: 98px;
    margin-top: 15px;
}

/* .box-search .box-search_inner {
    height: 58px;
}
*/
body .box-search_logo_wrap {
    margin-top: -14px;
}
.box-search .box-search_wrap .box-search_form .input {
    border-left-width: 0;
    margin-left: 0;
    margin-right: 6px;
}
body .box-search .box-search_tab {
    margin-right: 168px;
}
.box-search .box-search_wrap .box-search_form .input input {
    height: 26px;
    width: 512px;
}
body .btn-search_c {
    height: 35px;
}
body .btn-search_c,
body .btn-search {
    line-height: 35px;
    width: 90px;
}
body .btn-search {
    border-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #2085E9;
    background-image: linear-gradient(#258BEF, #248AEE, #2287EC, #2085e9, #1e83e7, #1C81E5);
}
.box-search .box-search_logo dt,
.box-search .box-search_logo dd {
    padding: 10px 14px 10px 12px;
}
/*.box-search .box-search_logos_show dt,
.box-search .box-search_logos_show dd {
    padding: 10px 13px 10px 11px;
}
.box-search .box-search_logos_show dt {
    padding-top: 9px;
}*/
.box-search .box-search_logo_disabled dt,
.box-search .box-search_logo_disabled dd {
    padding: 10px 14px 10px 12px !important;
}
.box-search .box-search_logo a {
    padding-left: 15px;
}
.box-search .box-search_logo_wrap {
    width: 161px;
    height: 65px;
    margin-top: -13px;
}
/*.box-search .box-search_form .box-search_focus {
    border-color: #4CA6FF;
}*/

/* search tab */
.box-search .box-search_tab a:hover,
.box-search .box-search_tab a.cur {
    color: #1C81E5;
}

/* .box-search .box-search_tab a:hover + s {
    visibility: hidden;
}
*/
.box-search .box-search_logos_show {
    border: 1px solid #E5E6E7;
}
.box-search .box-search_logo_disabled {
    border: 0 !important;
}
.box-search .box-search_tab a:hover,
.box-search dt.box-search_logo_hover,
.box-search .box-search_logos_show .box-search_logo_hover,
body .sug-search .sug-select {
    background-color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.05);
}
.box-search .box-search_logo_disabled .box-search_logo_hover {
    background-color: transparent !important;
}

/* sug */
body .box-search .sug-search,
body .box-search .baidu_sug,
body .box-search .baidu_video_sug {
    top: 34px;
    width: 548px;
}
body .box-search .baidu_sug,
body .box-search .baidu_video_sug {
    top: 0;
    margin-top: 34px;
    border-top: 0;
}
body .box-search .sug-search,
body .box-search_logo {
    overflow: visible;
}
body .box-search .sug-search {
    left: 0;
}
